<div class="question-set">
    <div class="question-triangle"></div>
    <kind-editor ng-model="question.name"></kind-editor>
    <div class="table-responsive question-table">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>选项文字</th>
                <th>分数</th>
                <th>上移下移</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in question.option">
                <td class="label-box">
                    <input type="text" class="choicetxt" ng-model="row.label">
                    <i class="fa fa-plus-circle fa-fw" ng-click="addOption(question.option, $index)" title="在此选项下面插入一个新的选项"></i>
                    <i class="fa fa-minus-circle fa-fw" ng-click="del(question.option, $index, 'option')" title="删除当前选项（最少保留2个选项）"></i>
                </td>
                <td class="score-box">
                    <input type="text" class="choicetxt" ng-model="row.score">
                </td>
                <td>
                    <i class="fa fa-arrow-circle-up fa-fw" ng-click="moveUp(question.option, $index, 'option')" title="将当前选项上移一个位置"></i>
                    <i class="fa fa-arrow-circle-down fa-fw" ng-click="moveDown(question.option, $index, 'option')" title="将当前选项下移一个位置"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="question-option clearfix">
        <div class="col-md-6">
            <a ng-click="addOption(question.option.length - 1)"><i class="fa fa-plus-square-o"></i>添加选项</a>
            <a data-backdrop="false" data-target="#optionModal" data-toggle="modal"><i class="fa fa-object-ungroup"></i>批量增加</a>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="question-logic">
        <span>逻辑设置：</span>
        <a ng-click="">跳题逻辑</a>
    </div>
    <div class="question-btn" ng-click="question.editing = false">完成编辑</div>
</div>
