
.safe-insidemap-search-panel {
    overflow: hidden;
    position: relative;
}

.safe-insidemap-search-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
}

.safe-insidemap-search-close:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.safe-insidemap-search-result {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.safe-insidemap-search-result:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.safe-insidemap-search-list {
    height: 300px;
}

.safe-insidemap-search-list > div {
    position: relative;
}

.safe-insidemap-search-list-tr {
    height: 120px;
    text-align: center;
}

.safe-insidemap-search-list-tr td {
    word-break: break-all;
}

.safe-insidemap-search-list-info > label {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
}

.safe-insidemap-search-list-button {
    background-color: rgba(0,0,0,0.3);
}

.safe-insidemap-search-list-button:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.safe-insidemap-search-list-photo {
    background: no-repeat center center;
    background-size: cover;
}

.safe-insidemap-search-list-photo:hover {
    cursor: pointer;
}

.safe-insidemap-search-list-police {
    background-color: rgba(0,0,255,0.8);
}

.safe-insidemap-search-list-police:nth-child(2n+1) {
    background-color: rgba(0,0,255,0.6);
}

.safe-insidemap-search-list-criminal {
    background-color: rgba(0,125,0,0.8);
}

.safe-insidemap-search-list-criminal:nth-child(2n+1) {
    background-color: rgba(0,125,0,0.6);
}

.safe-insidemap-search-list-device {
    background-color: rgba(255,125,0,0.8);
}

.safe-insidemap-search-list-device > td:nth-child(1) {
    background-color: rgba(0,0,0,0.2);
}

.safe-insidemap-search-list-device:nth-child(2n+1) {
    background-color: rgba(255,125,0,0.6);
}

.safe-insidemap-search-bottom {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border-top: 1px solid rgba(255,255,255,0.2);
}