<div class="modal-header">

    <div class="col-lg-4">
        <div class="col-lg-4">设备类型：</div>
        <div class="col-lg-8">
            <select class="form-control" ng-model="device.filter.type" ng-options="rows.content as rows.name for rows in device.type">
                <option value="">全部类型</option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-4">设备厂商：</div>
        <div class="col-lg-8">
            <select class="form-control" ng-model="device.filter.company" ng-options="rows.id as rows.name for rows in device.company">
                <option value="">全部厂商</option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-4">模糊过滤：</div>
        <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="device.filter.searchText"/>
        </div>
    </div>

</div>
<div class="modal-body">
    <table>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col width="150px"/>
        <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>编号</th>
            <th>类型</th>
            <th>所属单位</th>
            <th>厂商</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rows in device.list">
            <td>{{$index + 1}}</td>
            <td>{{rows.name}}</td>
            <td>{{rows.code}}</td>
            <td>{{rows.typename}}</td>
            <td>{{rows.syouname}}</td>
            <td>{{rows.company}}</td>
            <td>
                <button class="btn btn-success" ng-if="!device.ids[rows.id]" ng-click="device.addID(rows)">选择</button>
                <button class="btn btn-danger" ng-if="device.ids[rows.id]" ng-click="device.delId(rows)">取消</button>
            </td>
        </tr>
        </tbody>
    </table>



</div>
<div class="modal-footer">

    <div class="iiw-safe-modal-choose-devices-page text-center">
        <div class="message">统计信息： 每页{{device.params.pageSize || 0}}行， 共{{device.params.totalSize||0}}行， 共{{device.params.totalPage||0}}页</div>
        <uib-pagination style="margin: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;"
                    class="pagination"
                    total-items="device.params.totalSize"
                    ng-model="device.params.pageNo"
                    ng-change="device.getList()"
                    items-per-page="device.params.pageSize"
                    previous-text="上一页"
                    next-text="下一页"
                    max-size="5">

        </uib-pagination>
    </div>

    <button class="btn btn-danger" ng-click="device.close()">关闭</button>
</div>