.system-dataSafe-container {
    background-color: rgba(0, 0, 0, 0.3);
}
.system-dataSafe-header {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.system-dataSafe-main {
    padding: 10px;
}
.system-dataSafe-footer {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}