<div class="safe-rollcall" ui-view>
    <div class="safe-rollcall-list">
        <div class="safe-rollcall-list-top"
             ng-style="{'background-image': 'url('+ rollcall.path +'/img/listImg_03.png)'}">
            <div class="list-header">
                <!--                <div class="btn-wrapper">-->
                <!--                    <button class="btn btn-info" ng-click="rollcall.look()"><i class="fa fa-eye fa-fw"></i>详情-->
                <!--                    </button>-->
                <!--                </div>-->
                <h3 class="title">广西监狱管理局指挥中心视频点名情况</h3>
                <div class="subtext clearfix">
                    <div class="col-md-2">
                        <label class="label">指挥长:</label>
                        <input type="text" class="form-control" ng-model="rollcall.obj.dutyleader" readonly="readonly"/>
                    </div>
                    <div class="col-md-2">
                        <label class="label">值班长:</label>
                        <input type="text" class="form-control" ng-model="rollcall.obj.dutychief" readonly="readonly"/>
                    </div>
                    <div class="col-md-3">
                        <label class="label">值班员:</label>
                        <input type="text" class="form-control" ng-model="rollcall.obj.dutymember" readonly="readonly"/>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <div class="date">
                            <input class="form-control" type="text" ng-model="rollcall.dutytime" safe-picker
                                   p!format="Y年m月d日" p!timepicker="false" ng-change="rollcall.getList()"
                                   placeholder="值班时间"/>
                            <i class="fa fa-sort-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-body i-scroll2">
                <div class="table-responsive">
                    <table class="transparent-table table-responsive">
                        <thead>
                        <tr>
                            <th>监狱单位</th>
                            <th>押犯总数</th>
                            <th>在押人数</th>
                            <th>暂予监外<br/>执行人数</th>
                            <th>监外住院<br/><span>(新康住院)</span></th>
                            <th>监外住院<br/><span>(社会医院)</span></th>
                            <th>总新收押犯</th>
                            <th>总释放人数</th>
                            <!--                            <th>新收押犯<br/><span>11时</span></th>-->
                            <!--                            <th>新收押犯<br/><span>16时</span></th>-->
                            <!--                            <th>释放人数<br/><span>11时</span></th>-->
                            <!--                            <th>释放人数<br/><span>16时</span></th>-->
                            <th>狱内执勤警力</th>
                            <th>监管秩序<br/>是否正常</th>
                            <th>报告人姓名</th>
                            <th>报告人职务</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rows in rollcall.list">
                            <td>{{rows.alias}}</td>
                            <td style="color:#0090FF;">{{rows.total}}</td>
                            <td>{{rows.inmates}}</td>
                            <td style="color:#FFE50E;">{{rows.outcriminal}}</td>
                            <td><div class="bg-td">{{rows.newcon}}</div></td>
                            <td><div class="bg-td">{{rows.social}}</div></td>
                            <td style="color:#F83737;">{{rows.allnewin}}</td>
                            <td style="color:#29DCA3;">{{rows.allrelease}}</td>
                            <!--                            <td>{{rows.newin11}}</td>-->
                            <!--                            <td>{{rows.newin16}}</td>-->
                            <!--                            <td>{{rows.release11}}</td>-->
                            <!--                            <td>{{rows.release16}}</td>-->
                            <td style="color:#FFE50E;">{{rows.police}}</td>
                            <td>{{rows.isorder}}</td>
                            <td>{{rows.reportername}}</td>
                            <td>{{rows.reporterduty}}</td>
                            <td ng-if="rows.alias !== '未管所'">{{rows.note}}</td>
                            <td style="font-size: 12px;" ng-if="rows.alias === '未管所'">
                                女犯：{{rows.femalecriminal}}<br>
                                未成年：{{rows.underage}}<br>
                                收容：{{rows.accept}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="transparent-table table-responsive newcon" ng-if="!rollcall.newcon && rollcall.newcon != null">
                        <thead>
                        <tr>
                            <th>监狱单位</th>
                            <th>本监罪犯</th>
                            <th>住院罪犯</th>
                            <th>在押嫌疑人</th>
                            <th>新收押陪护犯<br/><span>(男)</span></th>
                            <th>新收押陪护犯<br/><span>(女)</span></th>
                            <th>新收押病犯<br/><span>(男)</span></th>
                            <th>新收押病犯<br/><span>(女)</span></th>
                            <th>新收押嫌疑人<br/><span>(男)</span></th>
                            <th>新收押嫌疑人<br/><span>(女)</span></th>
                            <th>释放<br/><span>(男)</span></th>
                            <th>释放<br/><span>(女)</span></th>
                            <th>狱内执勤警力</th>
                            <th>监管秩序<br/>是否正常</th>
                            <th>报告人姓名</th>
                            <th>报告人职务</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{rollcall.newcon.alias}}</td>
                            <td style="color:#0090FF;">{{rollcall.newcon.hospitalcriminal}}</td>
                            <td>{{rollcall.newcon.suspect}}</td>
                            <td style="color:#FFE50E;">{{rollcall.newcon.newescortmale}}</td>
                            <td><div class="bg-td">{{rollcall.newcon.newescortfemale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.newescortfemale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.newsickmale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.newsickfemale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.newsuspectmale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.newsuspectfemale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.releasemale}}</div></td>
                            <td><div class="bg-td">{{rollcall.newcon.releasefemale}}</div></td>
                            <td>{{rollcall.newcon.police}}</td>
                            <td>{{rollcall.newcon.isorder}}</td>
                            <td>{{rollcall.newcon.reportername}}</td>
                            <td>{{rollcall.newcon.reporterduty}}</td>
                            <td>{{rollcall.newcon.note}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="safe-rollcall-list-bottom">
            <div class="rollcall-bottom-left">
                <div class="title">情况汇总</div>
            </div>
            <div class="rollcall-bottom-right">
                <ul>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">456789<span>人</span></div>
                    </li>
                    <li>
                        <div class="name">全区押犯总数</div>
                        <div class="value">正常</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
