.week {
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
}

.safe-insidemap-view {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.safe-insidemap-info {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
}

.safe-insidemap-info-slider {
    position: absolute;
    width: 150px;
    height: 150px;
    left: -75px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 50%;
    z-index: 2;
}

.safe-insidemap-info-slider:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.safe-insidemap-info-slider > div {
    display: table;
    text-align: right;
}

.safe-insidemap-info-slider > div > div {
    display: table-cell;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding-right: 20px;
}

.mapMoveBtn:hover {
    background-color: rgba(0,0,0,0.5);
}
.mapMoveBtn {
    text-align: center;
    cursor: pointer;
    width: 100%;
    line-height: 25px;
    height: 25px;
    background-color: rgba(0,0,0,0.2);
}

.mapMoveBtn > div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/*颜色更替间隔为向左动画时间间隔/步长/2*/
.mapMoveBtnLeft {
    color: rgba(255,255,255,0);
    width: 20px;
    position: absolute;
    right: 10%;
    font-size:19px;
    margin-top:4px;
    animation: mapMoveBtnLeftFrames 6s steps(6) infinite, mapMoveBtnLeftFramesColor 0.5s alternate infinite;
    -webkit-animation: mapMoveBtnLeftFrames 6s steps(6) infinite, mapMoveBtnLeftFramesColor 0.5s alternate infinite;
    -moz-animation: mapMoveBtnLeftFrames 6s steps(6) infinite, mapMoveBtnLeftFramesColor 0.5s alternate infinite;
}
@-webkit-keyframes mapMoveBtnLeftFrames {
    to {right: 99%}
}
@-moz-keyframes mapMoveBtnLeftFrames {
    to {right: 99%}
}
@keyframes mapMoveBtnLeftFrames {
    to {right: 99%}
}
@-webkit-keyframes mapMoveBtnLeftFramesColor {
    to {color: rgba(255,255,255,0.3)}
}
@-moz-keyframes mapMoveBtnLeftFramesColor {
    to {color: rgba(255,255,255,0.3)}
}
@keyframes mapMoveBtnLeftFramesColor {
    to {color: rgba(255,255,255,0.3)}
}

.safe-insidemap-info-panel-box {
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.5);
}

.safe-insidemap-info-panel-box-police {
    border-radius: 0 15px 0 0;
}

.safe-insidemap-info-panel-box-criminal {
    border-radius: 0 0 15px 0;
}

.safe-infocard-panel-loading .table {
    display: table;
    text-align: center;
}

.safe-infocard-panel-loading .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.safe-insidemap-area {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    overflow: hidden;
}

.safe-insidemap-area .areainfo.ng-hide-remove {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


.safe-insidemap-area .loading.ng-hide-add {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.safe-insidemap-area .table {
    display: table;
}

.safe-insidemap-area .table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.safe-insidemap-area .table-cell i {
    margin-right: 5px;
}

.safe-insidemap-area-info-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.safe-insidemap-area-info-panel .panel-top {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.safe-insidemap-area-info-panel .panel-top .back {
    float: left;
    width: 125px;
    font-size: 75px;
    cursor: pointer;
}

.safe-insidemap-area-info-panel .panel-top .back i:hover {
    text-shadow: 0 0 10px #fff;
}

.safe-insidemap-area-info-panel .panel-top .back:active {
    color: #000;
}

.safe-insidemap-area-info-panel .panel-top .title {
    float: left;
}

.safe-insidemap-area-info-panel .panel-top .title b {
    font-size: 25px;
    vertical-align: 5px;
}

.safe-insidemap-area-info-panel .panel-top .title b.ng-hide-remove {
    -webkit-animation: bounceIn .5s;
    animation: bounceIn .5s;
}

.safe-insidemap-area-info-panel .panel-top .roomcount {
    float: right;
    font-size: 48px;
    margin-right: 15px;
}

.safe-insidemap-area-info-panel .panel-content {
    flex: 1;
    display: flex;
    flex-flow: row;
}

.safe-insidemap-area-info-panel .panel-content .safe-insidemap-loading-panel-left {
    width: 125px;
    position: absolute;
    left: 0;
    top: 100px;
    height: 100%;
    padding-bottom: 100px;
}

.safe-insidemap-area-info-panel .panel-content .panel-left {
    width: 125px;
    position: relative;
}

.safe-insidemap-area-info-panel .panel-content .panel-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.safe-insidemap-area-info-panel .panel-content .panel-right .panel-dtl {
    /*flex: 1;*/
    position: relative;
}
.safe-insidemap-area-info-panel .panel-content .panel-right .panel-dtl:first-child {
    height: 50%;
}
.safe-insidemap-area-info-panel .panel-content .panel-right .panel-dtl:nth-child(n+2) {
    height: 25%;
}

.safe-insidemap-area-info-panel .panel-content .panel-right .panel-line {
    height: 5px;
}

.safe-insidemap-loading-panel-camera {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.safe-insidemap-area-info-panel-camera-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.safe-insidemap-loading-panel-people {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.safe-insidemap-people-panpel {
    position: absolute;
    width: 100%;
}

.safe-insidemap-people-box {
    float: left;
    position: relative;
    cursor: pointer;
    font-size: 100%;
}

.safe-insidemap-people-box p {
    margin: 10px 0 0 25px;
    font-size: 15%;
}

.safe-insidemap-people-box .mattress.mattressStatus {
    font-size: 35%;
    padding-right: 23%;
    text-align: center;
}

.safe-insidemap-people-box .mattress.mattressStatus b i {
    text-shadow: 0 0 10px white;
}

.safe-insidemap-people-box p:first-child {
    font-size: 20%;
}

.safe-insidemap-people-box p:first-child b {
    margin-right: 2%;
    color: white;
}

.safe-insidemap-people-box p:first-child b i {
    text-shadow: 0 0 10px white;
}

.safe-insidemap-people-box p:first-child b label {
    font-size: 25%;
}

.safe-insidemap-people-box img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

.safe-insidemap-people-box:hover {
    text-shadow: 0 0 15px #fff;
}

.safe-insidemap-people-box::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
}

.safe-insidemap-people-box:hover::after {
    opacity: 1;
}

.safe-insidemap-people-box-important {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: contain;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/importantFont.png);
}

.safe-insidemap-area-infolist {
    position: absolute;
    background: #033445;
    display: flex;
    flex-flow: column;
}

.safe-insidemap-area-infolist p {
    height: 30px;
    line-height: 30px;
    margin: 10px 0 0 10px;
}

.safe-insidemap-area-infolist p:first-child i {
    font-size: 30px;
    margin-left: 5px;
}

.safe-insidemap-area-infolist div {
    flex: 1;
    position: relative;
    margin-top: 10px;
}

.safe-insidemap-area-infolist div ul {
    margin-left: 10px;
    line-height: 30px;
    list-style: none;
    letter-spacing: 2px;
}

.safe-insidemap-control-panel {
    position: absolute;
    width: 100%;
}

.safe-insidemap-control-box {
    margin: 0px 5px 5px 5px;
    display: table;
    width: 115px;
}

.safe-insidemap-control-box .table-cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 0px;
    border: 0px;
    word-wrap:break-word;
    word-break:normal;
    -webkit-transition: background 0.3s, text-shadow 0.3s, color 0.3s;
}

.safe-insidemap-control-box .table-cell:hover {
    text-shadow: 0 0 10px #fff;
}

.safe-insidemap-control-box .table-cell::before {
    content: attr(data-content);
    width: 55px;
    height: 100%;
    display: table-caption;
    margin-left: 32.5px;
}

.safe-insidemap-control-box .table-cell::after {
    content: '';
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 1;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .1);
    opacity: 0;
    -webkit-transition: opacity 0.2s, width 0.2s, height 0.2s, left 0.2s, top 0.2s;
}

.safe-insidemap-control-box .table-cell:hover::after {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 1;
}

.safe-insidemap-control-box.ng-enter {
    -webkit-animation: fadeInUp 0.5s;
    animation: fadeInUp 0.5s;
}

.safe-insidemap-control-box.ng-leave {
    -webkit-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}

.safe-insidemap-yjtinfo {
    position: absolute;
    z-index: 90;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.safe-insidemap-yjtinfo > div {
    position: relative;
}

.safe-insidemap-yjtinfo > div > div:nth-child(1) {
    position: absolute;
    z-index: 1;
}

.safe-insidemap-yjtinfo > div > div:nth-child(2) {
    position: absolute;
    width: 98%;
    height: 98%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.safe-insidemap-yjtinfo-panel {
    position: relative;
    box-shadow: 0 0 25px #000;
    background: #fff;
}

.safe-insidemap-yjtinfo.ng-hide-add {
    -webkit-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}

.safe-insidemap-yjtinfo.ng-hide-remove {
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

.safe-insidemap-view .hardware-list {
    position: absolute;
    z-index: 7;
    bottom: 25px;
    height: 36px;
    width: 80%;
    margin: 0 10%;
}

.safe-insidemap-view .hardware-list.ng-hide-remove {
    animation: fadeInUp 0.5s;
    -webkit-animation: fadeInUp 0.5s;
}

.safe-insidemap-view .hardware-list.ng-hide-add {
    width: 100%;
    margin: 0 auto;
    animation: fadeOutDown 0.5s;
    -webkit-animation: fadeOutDown 0.5s;
}

.safe-insidemap-view .hardware-list .safe-main-timebar {
    margin: 0 auto;
    padding: 0 15px;
    width: 900px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.safe-insidemap-view .hardware-list .safe-main-timebar ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.safe-insidemap-searchbox {
    width: 300px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 500px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 2px rgba(0,0,0,0.6) inset;
    z-index: 11;
    display: none;
}

/*电子地图-全屏动作图层*/
.insidesafe-map-device-tag-box {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.insidesafe-map-device-tag-box > div {
    position: relative;
    overflow: hidden;
}

.insidesafe-map-device-tag-box .device-tag-box-actions {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .mytable {
    width: 100%;
    height: 100%;
    display: table;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-span {
    margin: 0 auto;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-box {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;

}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-box .mybutton {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    display: table;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 25px #000;
    cursor: pointer;
    padding: 5px;
    border: 0px;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-box .mybutton:hover {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 50px #000;
    border: 0px;
}

.insidesafe-map-device-tag-box .device-tag-box-actions .table-box .mybutton:focus,
.insidesafe-map-device-tag-box .device-tag-box-actions .table-box .mybutton:active {
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    color: #000;
    box-shadow: 0 0 50px #fff;
    border: 0px;
    outline: none;
}

.safe_personalprofile .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5555
}

.safe_personalprofile .wrap .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    z-index: 1500;
}



.safe_personalprofile .wrap .detail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 768px;
    margin-left: -480px;
    margin-top: -384px;
    background: rgba(33,33,33,1);
    box-shadow: 0 0 25px rgba(0,0,0,0.9);
    border-radius: 10px;
    padding: 10px;
    z-index: 9999;
}

.safe_personalprofile .wrap .detail form{
    padding: 15px 0;
}

.safe_personalprofile .wrap .detail form label{
    font-size: 15px;
}

.safe_personalprofile .wrap .detail select{
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.14902);
    background-color: #485563;
}

.safe_personalprofile .wrap .detail div[i-scroll2]>div{
    width: 100%;
}

.safe_personalprofile .wrap .detail select>option{
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.14902);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.14902);
}

.safe_personalprofile .panel-default>.panel-heading+.panel-collapse>.panel-body{
    background: rgba(255,255,255,.25);
    padding: 0px;
    margin-left: 30px;
}

.panel-item{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.panel-item:hover{
    background-color: rgba(120, 200, 250,0.4);
}

.panel-item.select{
    background-color: rgba(120, 200, 250,0.4);
}

.panel-item input{
    width: 25px;
    height: 20px;
    vertical-align: middle;
}

.accordion-toggle { display: block; }

.InfoFormBackground{
    /*background-color: rgba(0,0,0,0.4);*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.InfoFormBackground .formBox{
    width: 100%;
    height: 800px;
    padding-top: 15px;
    color: white;
    border-radius: 5px;
    /*overflow-y: scroll;*/

}
.InfoFormBackground .formBox table{
   width: 100%;
}

.InfoFormBackground .formBox table .white{
   background-color: rgba(190, 190, 190, 0.31);
}
.InfoFormBackground .formBox table .black{
   background-color: rgba(121, 121, 121, 0.42);
}
.InfoFormBackground .formBox table .strong{
   font-size: 20px;
    font-weight: bold;
    height: 45px;
    background-color: rgba(121, 121, 121, 0.42);
}
.InfoFormBackground .formBox table tbody{
   font-size: 16px;
}

.InfoFormBackground .formBox .items{
    overflow-y: scroll;
    height: 770px;
}

.InfoFormBackground .formBox table tbody .item{
    height: 45px;
}
