.safe-decision-add{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.2);
    overflow: hidden;
    background-size: 100% 100%;
    position: relative;
}

.safe-decision-add-scroll{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.safe-decision-add-form{
    padding: 20px;
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.safe-decision-add-form-syou-submit{
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
}

.safe-decision-add-form textarea,
.safe-decision-add-form select,
.safe-decision-add-form input{
    background-color: #eee;
    resize: none;
}

.safe-decision-add-form .work select,
.safe-decision-add-form .work input{
    float: left;
    width: 22%;
    margin-right: 3%;
}

.safe-decision-add-form .work input:nth-child(5){
    margin-right: 0;
}

.safe-decision-add-form-name{
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
}

.safe-decision-add-form-input{
    margin-right: 100px;
}

.safe-decision-add-submits button{
    width: 100%;
}

.safe-decision-add-submits{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1% 20%;
    width: 100%;
    height: auto;
}

.safe-decision-add-form-span{
    position: absolute;
    left: 100%;
    top: 0;
    width: 85px;
    color: #d55;
}

.safe-decision-add-submits-submit{
    padding: 0 20px;
    width: 50%;
    height: auto;
    float: left;
}
