<div class="iiw-system-page-container yStyle">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row"  ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="widget layout-full">
                    <div class="ui-layout-row"  ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="widget-header ui-layout-container" size="47px" ui-layout-container>
                            <div class="iiw-system-menu-bar-container">
                                <button ng-style="{margin: 0}" class="btn btn-success" ng-click="modelManage.add()" ng-disabled="bigmonitor.length == '0'"><i class="fa fa-plus"></i>添加</button>
                                <button ng-style="{margin: 0}" class="btn btn-warning" ng-click="modelManage.mod()" ng-disabled="modBtnFlag"><i class="fa fa-edit"></i>修改</button>
                                <button ng-style="{margin: 0}" class="btn btn-danger" ng-click="modelManage.delete()" ng-disabled="delBtnFlag"><i class="fa fa-minus"></i>删除</button>
                                <button ng-style="{margin: 0}" class="btn btn-info" ng-click="modelManage.testModel.toogle()" ng-disabled="testBtnFlag"><i class="fa fa-eye"></i>测试</button>
                                <button ng-style="{margin: 0}" class="btn btn-primary" ng-click="modelManage.setAlarmRelation()" ng-disabled="testBtnFlag"><i class="fa fa-bell"></i>设置默认报警联动</button>
                                <button ng-style="{margin: 0}" class="btn btn-warning" ng-click="modelManage.setAlarmRestore()" ng-disabled="testBtnFlag"><i class="fa  fa-mail-reply-all"></i>设置联动后恢复的模式</button>
                                <button ng-style="{margin: 0}" class="btn btn-primary" ng-click="modelManage.delAlarmRestore()" ng-disabled="!alarmResumeTheme"><i class="fa  fa-close"></i>取消联动后恢复的模式</button>
                            </div>
                            <div class="col-lg-2">
                                <div class="col-md-3">
                                    <p>电视墙：</p>
                                </div>
                                <div class="col-md-9">
                                    <select class="col-md-12 monitors" ng-model="modelManage.bigmonitoId" ng-change="modelManage.bigmonitorChooce()" ng-options="rows.id as rows.name for rows in bigmonitor">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content ui-layout-container" i-scroll ui-layout-container>
                            <div class="models">
                                <div class="col-lg-6" ng-repeat="num in modelManage.listing.theme">
                                    <h3>{{num.name}}
                                        <label class="text-warning" style="font-size:22px;letter-spacing:1px; margin: 0">{{alarmRelatedTheme.bigmonitorthemefk == num.id ? '【报警默认联动模式】' : ''}}</label>
                                        <label class="text-warning" style="font-size:22px;letter-spacing:1px; margin: 0">{{alarmResumeTheme.bigmonitorthemefk == num.id ? '【联动后恢复的模式】' : ''}}</label>
                                    </h3>
                                    <div ng-click="modelManage.listing.chooce(this);" class="table" ng-style="{position: 'relative', padding: 2 + 'px'}">
                                        <div ng-repeat="rows in num.themeShow track by $index">
                                            <div class="modelFruit" ng-repeat="cols in rows" ng-style="{
                                                height:{{cols.style.height}} + '%',
                                                width:{{cols.style.width}} + '%',
                                                position: 'absolute',
                                                left: {{cols.style.left}} * (cols.index - 1) + '%',
                                                top: {{cols.style.top}} * $parent.$index + '%',
                                                'line-height': {{cols.style.height}} * 5 + 'px',
                                                padding: 2 + 'px'}">
                                                <div ng-style="{
                                                    'background-color': 'rgba(0,0,0,.3)',
                                                    height: 100 + '%',
                                                    'text-align': 'center',
                                                    'font-size': {{cols.style.height * cols.style.width}} / 50 + 'px'}">
                                                    {{cols.value}}
                                                </div>
                                            </div>
                                        </div>
                                        <mask><i class="fa fa-check text-success" ng-if="num.select"></i></mask>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="modelManage.testModel.button" class="test">
        <div>
            <h2>{{modelManage.updataMonitor.name}}</h2>
            <i ng-click="modelManage.testModel.toogle()" class="fa fa-remove"></i>
            <div class="table" ng-style="{'font-size': modelManage.updataMonitor.fontSize + 'px',height: 88 + '%'}">
                <div ng-if="modelManage.request" class="testBigmonitor">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-repeat="rows in modelManage.updataMonitor.themeShow track by $index">
                    <div class="modelFruit" ng-repeat="cols in rows" ng-style="{
                                                height:{{cols.style.height}} + '%',
                                                width:{{cols.style.width}} + '%',
                                                position: 'absolute',
                                                left: {{cols.style.left}} * (cols.index - 1) + '%',
                                                top: {{cols.style.top}} * $parent.$index + '%',
                                                'display': 'table',
                                                padding: 2 + 'px'}">
                        <div ng-if="cols.request" class="proceed">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div class="{{cols.class}}" title="{{cols.message}}" ng-model="cols.testMonitor" ng-click="modelManage.testModel.testMonitor(this)" ng-style="{
                                                    'background-color': 'rgba(0,0,0,1)',
                                                    height: 100 + '%',
                                                    'text-align': 'center',
                                                    border: '1px solid #2f2f2f',
                                                    display: 'table-cell',
                                                    'vertical-align': 'middle',
                                                    'font-size': {{cols.style.height * cols.style.width}} / 20 + 'px'}">
                            {{cols.value}}<br>
                            <p ng-style="{'font-size': {{(cols.style.height + 500) * cols.style.width}} / 1150 + 'px',
                                width: 100 + '%',
                                display: 'table-cell',
                                'vertical-align': 'middle',
                                'margin-top': '-' + ({{cols.style.height * cols.style.width}} / 85 - 10) + 'px'
                                }">
                                {{cols.relevanse}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p>当前测试监控： {{modelManage.testModel.monitor.name}}（ip: {{modelManage.testModel.monitor.ip}}）</p>
            <button class="btn btn-primary" ng-click="modelManage.testModel.changeModel()"><i class="fa fa-eye"></i>测试电视墙模式</button>
            <button class="btn btn-success" ng-click="modelManage.testModel.changeMonitor()"><i class="fa fa-plus"></i>切换测试监控</button>
        </div>
    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除选中电视墙模式？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="modelManage.confirmDelete()">确定</button>
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>