<div class="iiw-system-page-container iiw-system-tax-3dphoto">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="60px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="layout-full">
                    <div class="ui-layout-row system-expert-page-content" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="ui-layout-container" size="47px" ui-layout-container>
                            <div class="system-expert-header layout-full">
                                <button class="btn btn-primary" style="margin: 4px; width:83px;" ng-click="add()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-success" style="margin-left: -4px; width:83px;" ng-click="mod()" ng-disabled="modBtnFlag"><i class="fa fa-edit"></i>修改</button>
                                <button class="btn btn-danger" style="width: 83px;" ng-click="delete()" ng-disabled="delBtnFlag"><i class="fa fa-minus"></i>删除</button>
                                <!--<button class="btn btn-warning" ng-click="goType()"><i class="fa fa-minus"></i>管理类型</button>-->
                                <label class="pull-right">
                                    <input type="text" id="searchKeyword" ng-model="data.searchText" ng-keyup="$event.keyCode == 13 && getList()" placeholder="请输入查找的内容!"/>
                                </label>
                                <!--<label class="pull-right">-->
                                    <!--<select ng-model="data.filter.typefk" ng-options="rows.id as rows.name for rows in data.typeArray" ng-click="getList();" class="form-control">-->
                                        <!--<option value="">全部</option>-->
                                    <!--</select>-->
                                <!--</label>-->
                            </div>
                        </div>
                        <div class="ui-layout-container" ui-layout-container>
                            <div class="layout-full system-expert-container" i-scroll2 style="position: relative;">

                                <div style="position: relative;" class="iiw-system-tax-3dphoto-type" ng-click="checkBtnFlag()" ng-repeat="rows in data.typeArray | filter: {name: data.searchText}">
                                    <div class="images">
                                        <div class="image" ng-click="rows.checked = true" ng-repeat="imgs in data.list[rows.id]" ng-if="$index < 3" ng-style="{transform: 'translate(-20%, -50%) rotate(' + imgs.deg + 'deg)'}">
                                            <img ng-src="{{imgs.imagePath}}" alt=""/>
                                        </div>
                                        <div class="bgColor" ng-if="rows.checked" ng-click="rows.checked = false">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <!--<div style="position: absolute;left: 40%;top: 90%;width: 20%;height: 0;box-shadow: 0 0 60px 5px #000;"></div>-->
                                    <div class="name">
                                        {{rows.name}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <export-excel></export-excel>
    </div>
</div>

<div class="iiw-system-tax-photo-image3D" style="width: 0;height: 0;overflow: hidden;">
    <div class="image-container" safe-viewer ng-repeat="rows in data.list"><img ng-src="{{rows.loadPath}}" data-original="{{rows.loadPath}}" alt="" /></div>
</div>