<div class="layout-full iiw-safe-comments" ng-style="{'background-color': 'rgba(0,0,0,.3)'}">
    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
        <div ng-style="{ 'padding': '0'}" class="ui-layout-container" size="47px" ui-layout-container style="background: rgba(0,0,0,.2)">

        </div>
        <div ng-style="{ 'padding': '0'}" class="ui-layout-container" ui-layout-container>

            <div class="layout-full" style="overflow: hidden; padding: 20px">
                <div class="col-lg-4" style="text-align: center;font-size: 22px">
                    勾选其他权限，共享***权限配置的评价信息
                </div>
                <div class="col-lg-6" style="height: 100%">
                    <!--<div class="mulitdev-container" style="height: 100%">-->
                        <table class="table iiw-system-table-container" style="margin-bottom: 0;height: 46px;table-layout:fixed;" style="height: 47px">
                            <col width="5%"/>
                            <col width="10%"/>
                            <col width="25%"/>
                            <col width="60%"/>
                            <thead>
                            <tr>
                                <th> <input type="checkbox" ng-model="mulitdev.selectAll" ng-change="share.selAll()" style="width: 20px;height: 20px;"></th>
                                <th>序号</th>
                                <th>编号</th>
                                <th>权限名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div style="height: calc(100% - 47px); position: relative;" i-scroll2>
                            <!--<div style="">-->
                            <table class="table iiw-system-table-container" style="margin-bottom: 0;table-layout:fixed;position: absolute;">
                                <col width="5%"/>
                                <col width="10%"/>
                                <col width="25%"/>
                                <col width="60%"/>
                                <thead>
                                </thead>
                                <tbody>

                                <tr ng-repeat="zrow in shareList">
                                    <td class="text-center">
                                        <input type="checkbox" ng-model="zrow.checked" style="width:20px;height:20px;">
                                    </td>
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{zrow.code}}</td>
                                    <td>{{zrow.name}}</td>
                                </tr>
                                <tr ng-repeat="zrow in shareList">
                                    <td class="text-center">
                                        <input type="checkbox" ng-model="zrow.checked" style="width:20px;height:20px;">
                                    </td>
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{zrow.code}}</td>
                                    <td>{{zrow.name}}</td>
                                </tr>
                                <tr ng-repeat="zrow in shareList">
                                    <td class="text-center">
                                        <input type="checkbox" ng-model="zrow.checked" style="width:20px;height:20px;">
                                    </td>
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{zrow.code}}</td>
                                    <td>{{zrow.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--</div>-->
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="ui-layout-container" size="60px" style=" padding: 10px;overflow: hidden;background: rgba(0, 0, 0, 0.3);height: 100%;" ui-layout-container>
            <button class="btn btn-success btn-s-md" ng-disabled="entityItemForm.$invalid" ng-click="submit()">保存
            </button>
            <button class="btn btn-danger btn-s-md" ng-click="cancel()">返回</button>
        </div>
    </div>

</div>