.iiw-system-diagnosisplan-container {
    position: relative;
    height: 100%;
}
.iiw-system-diagnosisplan-content {
    background-color: rgba(0,0,0,0.3);
    padding: 15px;
}
.iiw-system-diagnosisplan-content-box{
    background-color: rgba(0,0,0,0.3);
    height: 100%;
}
.iiw-system-diagnosisplan-header{
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    overflow: hidden;
}
.iiw-system-diagnosisplan-table {
    padding: 15px;
}
.iiw-system-diagnosisplan-container-deviceTable {
    width: 1440px;
    height: 700px;
    font-size: 16px;
}
.iiw-system-diagnosisplan-container-deviceTable table tr{
    height: 30px;
}
.iiw-system-diagnosisplan-container-deviceTable table tr th,
.iiw-system-diagnosisplan-container-deviceTable table tr td{
    /*line-height: 30px;*/
    font-size: 16px;
}
.iiw-system-diagnosisplan-container-deviceTable table thead tr{
    background-color: rgba(255,255,255,0.3)
}
.iiw-system-diagnosisplan-container-deviceTable table tbody tr:nth-child(even){
    background-color: rgba(255,255,255,0.3)
}
.iiw-system-diagnosisplan-container-deviceTable  .addScroll{
    overflow: auto;
}
.iiw-system-diagnosisplan-container-deviceTable  .addScroll::-webkit-scrollbar{
    width: 6px;
}
.iiw-system-diagnosisplan-container-deviceTable  .addScroll::-webkit-scrollbar-thumb{
    background-color: rgba(200,200,200,.7);
    border-radius: 50px;
}