<div class="iiw-system-page-container iiw-system-tax-file">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="60px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="layout-full">
                    <div class="ui-layout-row system-expert-page-content" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="ui-layout-container" size="47px" ui-layout-container>
                            <div class="system-expert-header layout-full">
                                <button class="btn btn-primary" style="margin: 4px; width:83px;" ng-click="add()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-success" style="margin-left: -4px; width:83px;" ng-click="mod()" ng-disabled="modBtnFlag"><i class="fa fa-edit"></i>修改</button>
                                <button class="btn btn-danger" style="width:83px;" ng-click="delete()" ng-disabled="delBtnFlag"><i class="fa fa-minus"></i>删除</button>
                                <button class="btn btn-warning" ng-click="goType()"><i class="fa fa-minus"></i>管理类型</button>
                                <!--<button class="btn btn-warning" style="width:83px;" ng-click="export()"><i class="fa fa-minus"></i>导出</button>-->
                                <!--<button class="btn btn-default" style="width:83px;" ng-click="import()"><i class="fa fa-minus"></i>导入</button>-->
                                <!--<input type="file" accept=".xls" id="uploadFileExcle" name="uploadFileExcle" onchange="angular.element(this).scope().selectFileExcle(this)" style="display: none"/>-->
                                <label class="pull-right">
                                    <input type="text" id="searchKeyword" ng-model="data.filter.filter" ng-keyup="$event.keyCode == 13 && getList()" placeholder="请输入查找的内容!"/>
                                </label>
                                <label class="pull-right">
                                    <select ng-model="data.filter.typefk" ng-options="rows.id as rows.name for rows in data.typeArray" ng-click="getList();" class="form-control">
                                        <option value="">全部</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="ui-layout-container" i-scroll ui-layout-container>
                            <div class="layout-full system-expert-container">
                                <div class="layout-full" style="border: 1px solid rgba(0, 0, 0, 0.2); overflow: hidden;">
                                    <table class="table table-hover iiw-system-table-container">
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col width="15%"/>
                                        <thead>
                                        <tr>
                                            <th class="iiw-system-table-header-container">
                                                <input id="checkAll" type="checkbox" ng-model="selectAll" ng-change="selAll()">
                                            </th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>格式</th>
                                            <th>上传时间</th>
                                            <th>大小</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="rows in data.list " ng-class="{'select': rows.checked}" ng-click="checkBtnFlag()">
                                            <td class="iiw-system-table-header-container">
                                                <system-row-check ng-model="rows.checked" class="rowCheck"></system-row-check>
                                            </td>
                                            <td>{{rows.name}}</td>
                                            <td>{{rows.typename}}</td>
                                            <td>{{rows.filetype}}</td>
                                            <td>{{rows.cretime}}</td>
                                            <td>{{rows.filesize}}</td>
                                            <td>
                                                <button class="btn btn-success" ng-click="lookFile(rows)">预览</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ui-layout-container class="announcement-container-foot" size="49px">
                            <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;">统计信息： 每页{{expert.pageSize}}行， 共{{expert.totalSize||0}}行， 共{{expert.totalPage||0}}页</label>
                            <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="true" boundary-links="true" boundary-link-numbers="true" rotate="false" total-items="params.totalSize" ng-model="params.pageNo" ng-change="pageChange()" items-per-page="params.pageSize" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <export-excel></export-excel>
    </div>
</div>

<div class="iiw-system-tax-file-look">
    <div class="close" ng-click="closeLook()"><i class="fa fa-close"></i></div>
    <div class="content"></div>
</div>