<div class="layout-full debugger">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header fz-5">
                <a class="navbar-brand">设备调试工具</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="row in menu" ng-class="{ 'active' : row.active }" ng-click="view(row)"><a>{{row.name}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <ng-include src="'debugger-hardware-'+type+'-view.html'"></ng-include>
    </div>
</div>


<script type="text/ng-template" id="debugger-hardware-alarm-view.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<button class="button button-glow button-rounded button-raised button-primary" ng-click="addrow()"><i class="fa fa-plus-square"></i>新增一行</button>
            <button class="button button-glow button-rounded button-raised button-action" style="margin-left: 15px;" ng-click="save()"><i class="fa fa-floppy-o"></i>暂存（仅在本机有效）</button>
            <button class="button button-glow button-rounded button-raised button-highlight pull-right">批量触发报警</button>-->
            <div class="row form-inline">
                <div class="col-md-3">
                    <label>单位：</label>
                    <select ng-change="getAlarmList()" ng-model="filter.syoufk" class="form-control">
                        <option ng-repeat="(key, syou) in syouList track by key" value="{{syou.id}}">{{syou.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>厂家：</label>
                    <select ng-change="getAlarmList()" ng-model="filter.searchText" class="form-control">
                        <option value="">全部厂商</option>
                        <option ng-repeat="(key, type) in vendorList track by key" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>模糊搜索：</label>
                    <input class="form-control" ng-model="filter.searchFilter" ng-keyup="keyup($event)" placeholder="（按回车键搜索）" />
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4>触发报警结果：</h4>
            <pre>{{result || ' '}}</pre>
            <table class="table table-bordered">
                <col width="50px">
                <col>
                <col>
                <col width="320px">
                <thread>
                    <tr>
                        <th>#</th>
                        <th>设备ID</th>
                        <th>报警描述</th>
                        <th>操作</th>
                    </tr>
                </thread>
                <tbody>
                <tr ng-repeat="row in list">
                    <td style="line-height: 33px;">{{$index+1}}</td>
                    <td><input type="text" class="form-control" ng-model="row.deviceid" placeholder="请到DEVICE表中获取对应设备的ID"></td>
                    <td><input type="text" class="form-control" ng-model="row.alarmstr" placeholder="请输入完整的报警描述"></td>
                    <td>
                        <button class="button button-highlight button-small table-button" style="width: 190px" ng-click="alarm(row)"><i class="fa fa-bell"></i>触发报警</button>
                        <button class="button button-caution button-small pull-right table-button" ng-click="delrow($index)"><i class="fa fa-times"></i>删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="debugger-footer text-center">
            <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" total-items="params.totalSize" ng-model="params.pageNo"
                            ng-change="getAlarmList()" items-per-page="params.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
        </div>
    </div>
</script>

<script type="text/ng-template" id="debugger-hardware-control-view.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="button button-glow button-rounded button-raised button-primary" ng-click="addrow()"><i class="fa fa-plus-square"></i>新增一行</button>
            <button class="button button-glow button-rounded button-raised button-action" style="margin-left: 15px;" ng-click="save()"><i class="fa fa-floppy-o"></i>暂存（仅在本机有效）</button>
            <!--<button class="button button-glow button-rounded button-raised button-highlight pull-right">批量触发报警</button>-->
        </div>
        <div class="panel-body">
            <h4>控制返回结果：</h4>
            <pre>{{result || ' '}}</pre>
            <table class="table table-bordered">
                <col width="50px">
                <col>
                <col>
                <col>
                <col width="320px">
                <thread>
                    <tr>
                        <th>#</th>
                        <th>设备ID</th>
                        <th>动作</th>
                        <th>参数</th>
                        <th>操作</th>
                    </tr>
                </thread>
                <tbody>
                <tr ng-repeat="row in list">
                    <td style="line-height: 33px;">{{$index+1}}</td>
                    <td><input type="text" class="form-control" ng-model="row.deviceid" placeholder="请到DEVICE表中获取对应设备的ID"></td>
                    <td><input type="text" class="form-control" ng-model="row.action" placeholder="请到DEVICECOMM表中获取对TYPE为action的COMMANDKEY"></td>
                    <td><input type="text" class="form-control" ng-model="row.args" placeholder="控制附带的参数，如播放广播对应的歌曲名称，无则不填"></td>
                    <td>
                        <button class="button button-highlight button-small table-button" style="width: 190px" ng-click="control(row)"><i class="fa fa-rss"></i>发送命令</button>
                        <button class="button button-caution button-small pull-right table-button" ng-click="delrow($index)"><i class="fa fa-times"></i>删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
