.iiw-safe-affairs-manage-header {
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.iiw-safe-affairs-manage-header button {
    margin: 0 10px;
}

.iiw-safe-affairs-manage-body-left,
.iiw-safe-affairs-manage-body-right {
    height: 100%;
    float: left;
}

.iiw-safe-affairs-manage-body-left {
    width: 25%;
    background-color: rgba(0, 0, 0, .4);
    border-right: 1px solid rgba(0, 0, 0, .1);
    position: relative;
}

.iiw-safe-affairs-manage-body-left > div {
    width: 100%;
}

.iiw-safe-affairs-manage-body-left-list {
    width: 100%;
    /*height: 80px;*/
    height: auto;
    float: left;
    border-bottom: 1px solid rgba(200, 200, 200, .1);
    position: relative;
    transition: .3s;
}

.iiw-safe-affairs-manage-body-left-list .del {
    position: absolute;
    right: 10px;
    top: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: -15px;
    background-color: rgba(200, 200, 200, .5);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    opacity: 0;
    transition: .3s;
}

.iiw-safe-affairs-manage-body-left-list .del:hover {
    background-color: rgba(200, 200, 200, .8);
    color: #d44;
}

.iiw-safe-affairs-manage-body-left-list:hover .del {
    display: block;
    opacity: 1;
}

.iiw-safe-affairs-manage-body-left-list-time,
.iiw-safe-affairs-manage-body-left-list-name {
    height: 100%;
    float: left;
}

.iiw-safe-affairs-manage-body-left-list-time {
    width: 25%;
    font-size: 25px;
    line-height: 80px;
}

.iiw-safe-affairs-manage-body-left-list-name {
    width: 75%;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 70px;
}

.iiw-safe-affairs-manage-body-right {
    width: 75%;
    background-color: rgba(0, 0, 0, .1);
    padding: 30px 160px;
    position: relative;
    overflow: auto;
}

.iiw-safe-affairs-manage-body-right-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
}

.iiw-safe-affairs-manage-body-right button {
    margin-right: 20px;
}

.iiw-safe-affairs-manage-body-left-list:hover {
    cursor: pointer;
    background-color: rgba(223, 105, 26, 0.8);
}

.iiw-safe-affairs-manage-body-right > .col-lg-12 {
    line-height: 40px;
    margin: 12px 0;
}

.iiw-safe-affairs-manage-body-right input,
.iiw-safe-affairs-manage-body-right select {
    background-color: rgba(0, 0, 0, .2);
    color: #eee;
}

.iiw-safe-affairs-manage-body-right-device {
    width: 100%;
    height: 380px;
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    border: 2px solid rgba(0, 0, 0, .1);
}

.iiw-safe-affairs-manage-body-right-device .col-lg-12 > div {
    padding: 0;
    position: relative;
}

.iiw-safe-affairs-manage-body-right-device .sign {
    position: absolute;
    top: 35px;
    left: 0;
    width: 120px;
    background-color: #e8e8e8;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.iiw-safe-affairs-manage-body-right-device .sign div {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #333;
}

.iiw-safe-affairs-manage-body-right-device .sign div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}

.iiw-safe-affairs-manage-body-right-device > div {
    width: 100%;
}

.iiw-safe-affairs-manage-body-right-device .close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 7px;
}

.iiw-safe-affairs-manage-body-right-device .container {
    position: relative;
    padding: 5px;
    width: 33.33%;
    height: 186px;
    float: left;
}

.iiw-safe-affairs-manage-body-right-device .device {
    background-color: #5e6d7c;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    line-height: 35px;
}

.iiw-safe-affairs-manage-body-right-device .device > div:not(:first-child) {
    padding: 5px 15px;
}

.iiw-safe-affairs-manage-body-right-device .device > div:first-child {
    line-height: 35px;
}

.iiw-safe-affairs-manage-body-right-device .device .col-lg-12:first-child {
    text-align: center;
}

.iiw-safe-affairs-manage-body-right-device .device select,
.iiw-safe-affairs-manage-body-right-device .device input {
    background-color: rgba(0, 0, 0, .1);
    float: right;
    height: 33px;
    padding: 0 10px;
    color: #eee;
}

.iiw-safe-affairs-manage-body-right-device .polling {
    background-color: #5e6d7c;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    line-height: 35px;
}

.iiw-safe-affairs-manage-body-right-device .polling > div:not(:first-child) {
    padding: 5px 15px;
}

.iiw-safe-affairs-manage-body-right-device .polling > div:first-child {
    line-height: 35px;
}

.iiw-safe-affairs-manage-body-right-device .polling .col-lg-12:first-child {
    text-align: center;
}

.iiw-safe-affairs-manage-body-right option {
    background-color: rgba(0, 0, 0, .8);
}

.iiw-safe-affairs-manage-body-right button {
    margin-bottom: 10px;
}

.iiw-safe-affairs-manage-body-right-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 40px;
}

.iiw-safe-affairs-manage-body-right-button button {
    margin-right: 15px;
}

.iiw-safe-affairs-manage .chooseTimeContainer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 200px;
    padding: 10px;
    overflow: auto;
}

.iiw-safe-affairs-manage .chooseTimeContainer-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.3)
}

.iiw-safe-affairs-manage .chooseTimeContainer-box-header {
    position: absolute;
    top: -8px;
    right: 7px;
    cursor: pointer;
}

.iiw-safe-affairs-manage .chooseWeekContainer {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
    padding: 10px;
}