<div class="iiw-system-bigmonitorthemerelevanceitem-showTable-container">
    <div style="height: 40px;">
        <table class="table iiw-system-bigmonitorthemerelevanceitem-showTable">
            <colgroup><col width="8%"/><col width="46%"/><col width="46%"/></colgroup>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>模式名称</th>
                    <th>电视墙模式</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="height: 460px;overflow:auto;">
        <table class="table table-hover iiw-system-bigmonitorthemerelevanceitem-showTable">
            <colgroup><col width="8%"/><col width="46%"/><col width="46%"/></colgroup>
            <tbody>
                <tr ng-repeat="item in bigMonitorThemeRelevance.tempList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.minorthemename}}</td>
                    <td>{{item.minordevicename}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>