.time-picker {
    position: relative;
    width: 100%;
    height: 100%;
}

.time-picker .time-picker-selector {
    position: absolute;
    width: 65px;
    top: 50%;
    left: 20px;
    display: none;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-sizing: content-box;
}

.time-picker .time-picker-selector.show {
    display: block;
}

.time-picker .time-picker-selector .time-container {
    float: left;
    color: rgba(0, 0, 0, 0.8);
    height: 55px;
}

.time-picker .time-picker-selector .time-container.dot {
    line-height: 60px;
}

.time-picker .time-picker-selector .time-container input {
    width: 15px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: 0px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.time-picker .time-picker-selector .time-container .time-select {
    font-size: 5pt;
    width: 100%;
    height: 25%;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    display: block;
}

.time-picker .time-picker-selector .time-container .time-select:hover {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.time-picker .time-picker-selector .time-container .time-input {
    width: 100%;
    height: 50%;
}

.time-picker .time-picker-show {
    width: 100%;
    height: 100%;
}

.time-picker .time-picker-show input {
    background: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: .3s all ease;
    -webkit-transition: .3s all ease;;
    cursor: pointer;
    color: #FFFFFF;
}


.time-picker .time-picker-show input:hover {
    text-shadow: 0px 0px 3px #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}