<div class="layout-full">
    <div class="safe-bid-loading-1">
        <div class="safe-bid-loading-1-center">
            <div class="safe-bid-loading-1-content">
                0%
            </div>
        </div>
    </div>
    <div class="safe-bid-loading-2">
        <div class="safe-bid-loading-2-center">
            <div class="safe-bid-loading-2-content">
                <div class="safe-bid-loading-2-logo">
                    <i-logo logo-notitle="true"></i-logo>
                </div>
                <h1>{{titles.title}}</h1>
                <h3>{{titles.subtitle}}</h3>
            </div>
        </div>
        <safe-bid-loading-bottom></safe-bid-loading-bottom>
    </div>
</div>