<div class="safe-bid-menu">
    <div class="safe-bid-menu-container">
        <div class="safe-bid-index-title">
            <div class="toolbar">
                <div class="center">
                    <i-logo></i-logo>
                </div>
            </div>
            <div class="buttons">
                <button i-exit><i class="fa fa-sign-out"></i>退　出</button>
            </div>
        </div>
        <div class="safe-bid-menu-body">
            <div class="bg-round"></div>
            <div class="bg-map"></div>
            <div class="basic">
                <div class="box znyw" ng-click="go('fxyp', '重新犯罪分析研判子平台', $event)">
                    <button>
                        <!--<div class="inner"></div>-->
                        <div class="outer"></div>
                        <div class="text">重新犯罪分析研判子平台</div>
                    </button>
                </div>
                <div class="box sjyp" ng-click="go('sjgx', '数据治理共享交换子平台', $event)">
                    <button>
                        <!--<div class="inner"></div>-->
                        <div class="outer"></div>
                        <div class="text">数据治理共享交换子平台</div>
                    </button>
                </div>
                <div class="box znaf" ng-click="go('wjdc', '重新犯罪结构化问卷调查子平台', $event)">
                    <button>
                        <!--<div class="inner"></div>-->
                        <div class="outer"></div>
                        <div class="text">重新犯罪结构化问卷调查子平台</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>