.iiw-safe-affairs{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/*头部*/
/*.iiw-safe-affairs-header{*/
    /*background-color: rgba(0,0,0,.3);*/
/*}*/

/*导航*/
.iiw-safe-affairs-header-menu{
    position: absolute;
    left: 0;
    top: 0;
    height: 55px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 5px 10px;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,.2);
}

.iiw-safe-affairs-header-menu button{
    margin-left: 15px;
}

.iiw-safe-affairs-header-menu .fa{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: top;
    line-height: 39px;
    margin-right: 7px;
    opacity: .9;
    font-size: 25px;
}

.iiw-safe-affairs-header-menu-fa div{
    height: 40px;
    text-align: center;
}

.iiw-safe-affairs-header-menu-fa div:first-child .fa{
    background-color: #22ba25;
}

.iiw-safe-affairs-header-menu-fa div:nth-child(2) .fa{
    background-color: #888;
    line-height: 43px;
}

.iiw-safe-affairs-header-menu-fa div:nth-child(3) .fa{
    background-color: #ce3030;
}

/*正在执行事务*/
/*.iiw-safe-affairs-header-going{*/
    /*height: 90px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
/*}*/

/*.iiw-safe-affairs-header-going-title{*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*width: 200px;*/
    /*margin-left: -100px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*height: 30px;*/
    /*font-size: 14px;*/
    /*color: #aaa;*/
/*}*/

/*.iiw-safe-affairs-header-going-content{*/
    /*padding-top: 20px;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*.iiw-safe-affairs-header-going-content > div{*/
    /*height: 100%;*/
    /*padding: 0;*/
/*}*/

/*.iiw-safe-affairs-header-going-content > div{*/
    /*line-height: 60px;*/
    /*text-align: center;*/
    /*font-size: 25px;*/
/*}*/


/*日常事务时间轴*/
.iiw-safe-affairs-body{
    overflow-y: hidden;
    /*padding-top: 20px;*/
}

.iiw-safe-affairs-body-shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

.iiw-safe-affairs-body-left-list-scroll{
    width: 100%;
    height: auto;
    position: absolute;
}

/*时间轴*/
.iiw-safe-affairs-body-left{
    height: 100%;
    background-color: rgba(0,0,0,.3);
    width: 60%;
    float: left;
    padding-top: 55px;
    position: relative;
}


/*时间轴-过滤导航*/
.iiw-safe-affairs-body-left-filter{
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px 0;
}

.iiw-safe-affairs-body-left-filter-container{
    width: 220px;
    height: 100%;
    margin: 0 30px;
    float: right;
}

.iiw-safe-affairs-body-left-filter-container .time{
    width: 75%;
    height: 100%;
    float: left;
}

.iiw-safe-affairs-body-left-filter-container .time input{
    height: 100%;
    background-color: rgba(100,100,100,.3);
    border: 1px solid rgba(0,0,0,.5);
    color: #eee;
}

.iiw-safe-affairs-body-left-filter-container .button{
    width: 25%;
    height: 100%;
    float: left;
    padding: 0;
    background-color: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
    color: #ccc;
}

.iiw-safe-affairs-body-left-list{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30px;
}

.iiw-safe-affairs-body-left-list > div{
    width: 100%;
    padding-bottom: 20px;
}
.iiw-safe-affairs-body-left .col-lg-12{
    height: 250px;
}
.iiw-safe-affairs-body-left-dateTime,
.iiw-safe-affairs-body-left-axis,
.iiw-safe-affairs-body-left-message{
    float: left;
}


/*时间轴-时间*/
.iiw-safe-affairs-body-left-dateTime{
    width: 22%;
    height: 100%;
}

.iiw-safe-affairs-body-left-dateTime > div{
    height: 25%;
    padding: 0;
    margin-top: -7px;
}

.iiw-safe-affairs-body-left-dateTime .col-lg-2{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

.iiw-safe-affairs-body-left-dateTime-date{
    width: 100%;
    height: 30%;
    font-size: 14px;
    color: #aaa;
}

.iiw-safe-affairs-body-left-dateTime-time{
    width: 100%;
    height: 70%;
    font-size: 24px;
    line-height: 45px;
}


/*时间轴-线*/
.iiw-safe-affairs-body-left-axis{
    width: 5%;
    height: 100%;
    position: relative;
}

.iiw-safe-affairs-body-left-axis-dot{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -3px;
    margin-left: -25px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
}

.iiw-safe-affairs-body-left-axis-wire{
    width: 10px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -5px;
    background-color: rgba(0,0,0,.3);
}


/*时间轴-信息*/
.iiw-safe-affairs-body-left-message{
    width: 68%;
    height: 100%;
}

.iiw-safe-affairs-body-left-message-frame{
    width: 95%;
    height: 80%;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;
    float: right;
    position: relative;
    padding: 5px 20px;
}

.iiw-safe-affairs-body-left-message-frame .corner{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(0,0,0,.3);
    position: absolute;
    left: -15px;
    top: 10px;
}

.iiw-safe-affairs-body-left-message-title{
    width: 100%;
    height: 35%;
    font-size: 28px;
    border-bottom: solid 1px rgba(200,200,200,.8);
    position: relative;
    line-height: 70px;
}

.iiw-safe-affairs-body-left-message-title .safe-icon{
    margin: 0 7px;
}

.iiw-safe-affairs-body-left-message-title span{
    font-size: 20px;
    color: #ccc;
}

.iiw-safe-affairs-body-left-message-content{
    width: 100%;
    height: 15%;
    padding: 10px 5px;
}

.iiw-safe-affairs-body-left-message-content p{
    margin: 0;
    color: #999;
}

.iiw-safe-affairs-body-left-message-frame-button{
    position: absolute;
    right: 20px;
    bottom: 5px;
    height: 25%;
    width: 140px;
}

.iiw-safe-affairs-body-left-message-frame-button button{
    border-radius: 5px;
}

.iiw-safe-affairs-body-left-message-title-way{
    position: absolute;
    right: 20px;
    top: 50%;
    height: 12px;
    width: 60px;
    background-color: #aaa;
    border-radius: 20px;
    margin-top: -6px;
    cursor: pointer;
}

.iiw-safe-affairs-body-left-message-title-way > div{
    position: absolute;
    left: -30%;
    top: 0;
    width: 60px;
    height: 34px;
    border: 1px solid rgba(0,0,0,.1);
    margin-top: -11px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    transition: .1s;
}


/*设备*/

.iiw-safe-affairs-body-right{
    height: 100%;
    background-color: rgba(0,0,0,.3);
    width: 39%;
    float: right;
    padding-top: 55px;
    position: relative;
}
.iiw-safe-affairs-body-right-title{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 20px;
    line-height: 55px;
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
}

.iiw-safe-affairs-body-right-class{
    height: 85%;
    width: 100%;
    /*padding: 5px;*/
    position: relative;
}

/*事务信息-事务情况*/
.iiw-safe-affairs-body-right-result{
    width: 100%;
    height: 15%;
    position: relative;
}

.iiw-safe-affairs-body-right-result .content{
    height: 100%;
    width: 100%;
}

.iiw-safe-affairs-body-right-result .content > div{
    height: 100%;
    padding: 0;
}

.iiw-safe-affairs-body-right-result .content > div > div{
    padding: 4% 0 0 0;
}

.iiw-safe-affairs-body-right-result .content > div textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgba(0,0,0,.3);
    border: none;
    color: #eee;
}

.iiw-safe-affairs-body-right-result .content > div textarea,
.iiw-safe-affairs-body-right-result .content > div button{
    width: 100%;
}

.iiw-safe-affairs-body-right-result .content > div button{
    width: 100%;
    height: 50.5%;
}

.iiw-safe-affairs-body-right-class > div{
    width: 100%;
}

/*设备列表*/
.iiw-safe-affairs table{
    width: 100%;
}

.iiw-safe-affairs table thead tr{
    height: 42px;
    background-color: rgba(0,0,0,.3);
}

.iiw-safe-affairs table tbody tr{
    height: 40px;
}

.iiw-safe-affairs table tbody tr td:first-child,
.iiw-safe-affairs table thead tr th:first-child{
    padding-left: 20px;
}

.iiw-safe-affairs table tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,.1);
}

.iiw-safe-affairs table tbody tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}


.iiw-safe-affairs .warning{
    position: relative;
    background-color: #6DA807;
    border: 1px solid #6DA807;
    border-radius: 10px;
    /*box-shadow: 1vw 3vh 10vh rgba(109, 168, 7, 0.8);*/
    background-size: 3em 3em;
    background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #84bf1f 0.9em, #84bf1f 2.1em, transparent 2.1em, transparent 2.9em, #84bf1f 3.1em);
    -webkit-animation: warning-animation 750ms infinite linear;
    -moz-animation: warning-animation 750ms infinite linear;
    animation: warning-animation 750ms infinite linear;
}
@-webkit-keyframes warning-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 3em 0;
    }
}
@-moz-keyframes warning-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 3em 0;
    }
}
@keyframes warning-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 3em 0;
    }
}

.iiw-safe-affairs .warning:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #639806, rgba(171, 226, 77, 0.6) 15%, transparent 60%, #639806);
}

.iiw-safe-affairs #ss{
    width: 5%;
    float: left;
    padding: 0;
}

.iiw-safe-affairs .container .warning {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}



.iiw-safe-modal-choose-unit .modal-body {
    height: 630px;
}

.iiw-safe-affairs-body-left-list-notAffairs{
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 26px;
    font-weight: 600;
}