<div class="layout-full">
    <div class="safe-insidemap-view layout-full overflow-h" hm-panstart="area.touchStart" hm-panright="area.touchRight"
         hm-panend="area.touchStop">
        <safe-map btn-mode="area.mapbutton" init-map-code="area.mapcode" init-focus-shape="area.areacode"
                  api="area.api"></safe-map>

        <div class="hardware-list" ng-show="area.count.length && type == 'M'">
            <div class="safe-main-timebar safe-main-panelbg">
                <ul ng-style="{'font-size':(area.count.length <= 7)?'20px':(20-(area.count.length-5)*1.5)}">
                    <data ng-repeat="row in area.count">
                        <li><b>{{row.name}}：{{row.count}}</b></li>
                        <li ng-hide="$last" class="safe-main-timebar-step"></li>
                    </data>
                </ul>
            </div>
        </div>
    </div>

    <div class="safe-insidemap-area bcb-opacity4">
        <div class="layout-full loading table" ng-show="loading">
            <div class="table-cell"><i class="fa fa-spinner fa-pulse"></i>加载中……</div>
        </div>
        <div class="layout-full areainfo" ng-hide="loading">
            <div class="safe-insidemap-area-info-panel">
                <div class="panel-top fz-1">
                    <div class="back" ng-click="area.hideAreaInfo()">
                        <i class="fa fa-arrow-circle-left"></i>
                    </div>
                    <div class="title">
                        {{area.title}}<b ng-show="area.hardwarestatetext">{{area.hardwarestatetext}}</b>
                    </div>
                    <div class="roomcount"><i class="fa fa-bed"></i>{{area.plist.length}}</div>
                </div>
                <div class="panel-content layout-full">
                    <div class="safe-insidemap-loading-panel-left" ng-show="area.hardwareLoading">
                        <div class="layout-full loading table safe-insidemap-loading">
                            <div class="table-cell" style="font-size:12px;"><i class="fa fa-spinner fa-pulse"></i>加载中……
                            </div>
                        </div>
                    </div>
                    <div class="panel-left" i-scroll>
                        <div class="safe-insidemap-control-panel">
                            <div class="safe-insidemap-control-box fz-2" safe-insidemap-controlbox
                                 ng-repeat="row in area.clist">
                                <button class="table-cell" data-ripple ng-click="area.clickControlButton(row, $event)"
                                        data-content="{{row.alias || row.name}}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-right">
                        <div class="panel-dtl">
                            <div class="safe-insidemap-area-info-panel-camera-box"></div>
                            <div class="safe-insidemap-loading-panel-camera" ng-show="area.hardwareLoading">
                                <div class="layout-full loading table safe-insidemap-loading">
                                    <div class="table-cell" style="font-size:12px;"><i
                                            class="fa fa-spinner fa-pulse"></i>加载中……
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-line"></div>
                        <div class="panel-dtl" style="background:#008D78;" i-scroll>
                            <div class="safe-insidemap-people-panpel">

                                <!--sign等于0 || 数量等于1时显示-->
                                <div class="safe-insidemap-people-box" ng-repeat="people in area.plist"
                                     ng-if="area.plist.length != 0 && !(area.plist.length != 1 && area.sign == '1')"
                                     ng-click="showCriminal(people, $event)"
                                     data-ripple safe-insidemap-peoplebox="four">
                                    <p ng-style="{'font-size':people.xm.length>12?( people.xm.length>17?'12px':'14px' ):'15%'}">
                                        <b><span style="display:inline-block;">{{people.xm}}{{people.zzlb ? ('('+people.zzlb+')') : ''}}</span><span
                                                style="margin:0 10px;">{{people.bedno}}</span></b> <i
                                            ng-click="commenting(people, $event)"
                                            class="fa fa-commenting-o" style="position: relative;z-index: 800"></i>
                                        <b ng-if="people.mattressStatus.hb && people.sign == 'checkleader'"
                                           class="heartbeat"><i class="fa fa-heartbeat fa-flip-horizontal"></i><label>{{people.mattressStatus.hb}}次/分</label></b>
                                        <b ng-if="(people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on') && people.sign == 'checkleader'"
                                           class="bed"><i class="fa fa-bed"></i></b>
                                    </p>
                                    <p class="mattress mattressStatus" ng-if="people.sign == 'checknormal'">
                                        <b ng-if="people.mattressStatus.hb" class="heartbeat"><i
                                                class="fa fa-heartbeat fa-flip-horizontal"></i><label>{{people.mattressStatus.hb}}次/分</label></b>
                                        <b ng-if="people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on'"
                                           class="bed"><i class="fa fa-bed"></i></b>
                                    </p>
                                    <p ng-if="people.sign == 'checkleader'">{{people.begintime}} -
                                        {{people.endtime}}</p>
                                    <p ng-if="people.sign == 'checkleader'"
                                       ng-style="{'font-size': people.zm.length > 20 ? '12px' : ( people.zm.length > 15 ? '11%' : '15%' ) }">
                                        {{people.zm}}</p>
                                    <img ng-src="{{people.photo}}"/>
                                    <div ng-if="people.key == '1'" class="safe-insidemap-people-box-important"></div>
                                </div>

                                <!--五到七个采用模板-->
                                <!--<div class="safe-insidemap-people-box" ng-repeat="people in area.plist" hm-tap="showCriminal(people)" data-ripple safe-insidemap-peoplebox="eight">-->
                                <!--<p>-->
                                <!--<b><span style="display:inline-block;">{{people.xm}}{{people.zzlb ? ('('+people.zzlb+')') : ''}}</span><span style="margin:0 30px;">{{people.bedno}}</span></b>-->
                                <!--<b ng-if="people.mattressStatus.hb && people.sign == 'checkleader'" class="heartbeat"><i class="fa fa-heartbeat fa-flip-horizontal"></i><label>{{people.mattressStatus.hb}}次/分</label></b>-->
                                <!--<b ng-if="(people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on') && people.sign == 'checkleader'" class="bed"><i class="fa fa-bed"></i></b>-->
                                <!--</p>-->
                                <!--<p class="mattress mattressStatus" ng-if="people.sign == 'checknormal'">-->
                                <!--<b ng-if="people.mattressStatus.hb" class="heartbeat"><i class="fa fa-heartbeat fa-flip-horizontal"></i><label>{{people.mattressStatus.hb}}次/分</label></b>-->
                                <!--<b ng-if="people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on'" class="bed"><i class="fa fa-bed"></i></b>-->
                                <!--</p>-->
                                <!--<div class="safe-insidemap-people-box-eight" ng-if="people.sign == 'checkleader'">{{people.begintime}}</div>-->
                                <!--<div class="safe-insidemap-people-box-eight" ng-if="people.sign == 'checkleader'">{{people.endtime}}</div>-->
                                <!--<div class="safe-insidemap-people-box-eight" ng-if="people.sign == 'checkleader'">{{people.zm}}</div>-->
                                <!--<img ng-src="{{people.photo}}"/>-->
                                <!--<div ng-if="people.key == '1'" class="safe-insidemap-people-box-important"></div>-->
                                <!--</div>-->

                                <!--sign等于1 && 数量大于1时显示-->
                                <div ng-style="{'line-height': '30px'}" class="safe-insidemap-people-box"
                                     ng-if="area.plist.length != 0 && area.plist.length != 1 && area.sign == '1'"
                                     ng-repeat="people in area.plist" ng-click="showCriminal(people)" data-ripple
                                     safe-insidemap-peoplebox="eight">
                                    <p>
                                        <b>
                                            <span style="display:inline-block;font-size: 18px">{{people.xm}}{{people.zzlb ? ('('+people.zzlb+')') : ''}}</span>
                                        </b>
                                        <b ng-if="people.mattressStatus.hb && people.sign == 'checkleader'"
                                           class="heartbeat">
                                            <i class="fa fa-heartbeat fa-flip-horizontal"></i>
                                            <label>{{people.mattressStatus.hb}}次/分</label>
                                        </b>
                                        <b ng-if="(people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on') && people.sign == 'checkleader'"
                                           class="bed"><i class="fa fa-bed"></i></b>
                                    </p>
                                    <p class="mattress mattressStatus" ng-if="people.sign == 'checknormal'">
                                        <b ng-if="people.mattressStatus.hb" class="heartbeat"><i
                                                class="fa fa-heartbeat fa-flip-horizontal"></i><label>{{people.mattressStatus.hb}}次/分</label></b>
                                        <b ng-if="people.mattressStatus.st == 'mov' || people.mattressStatus.st == 'on'"
                                           class="bed"><i class="fa fa-bed"></i></b>
                                    </p>

                                    <div class="safe-insidemap-people-box-eight" ng-if="people.sign == 'checkleader'"
                                         ng-style="{'font-size': '18px','height': '40px'}">{{people.bedno}}201
                                    </div>
                                    <div class="safe-insidemap-people-box-eight" ng-if="people.sign == 'checkleader'"
                                         ng-style="{'font-size': '18px','height': '40px'}">{{people.zm}}
                                    </div>

                                    <img ng-src="{{people.photo}}"/>
                                    <div ng-if="people.key == '1'" class="safe-insidemap-people-box-important"></div>
                                </div>

                            </div>
                            <div class="safe-insidemap-loading-panel-people" ng-show="area.plistLoading">
                                <div class="layout-full loading table safe-insidemap-loading">
                                    <div class="table-cell" style="font-size:12px;"><i
                                            class="fa fa-spinner fa-pulse"></i>加载中……
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-line"></div>
                        <div class="panel-dtl">
                            <div class="layout-full safe-insidemap-area-infolist">
                                <p class="fz-2">区域动态<i ng-show="area.areaDynamicInfo.loading"
                                                       class="fa fa-spinner fa-pulse animated week"></i></p>
                                <div i-scroll data-load-event="area.loadMoreAreaInfo()">
                                    <ul class="fz-7">
                                        <li ng-repeat="item in area.mlist">
                                            {{item.content}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="safe-insidemap-info" ng-if="bShowInfoCard">
        <div class="layout-full" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div ui-layout-container size="25px"></div>
            <div ui-layout-container class="safe-insidemap-info-panel" style="overflow:hidden;">
                <div class="safe-insidemap-info-panel-box safe-insidemap-info-panel-box-police layout-full">
                    <div class="layout-full safe-infocard-panel" safe-infocard-template
                         template-url="area.pInfocard.templateUrl" loadds ng-show="area.pInfocard.state == 'A'"></div>
                    <div class="layout-full" safe-info-card refresh-num="area.refreshPoliceCardCount"
                         ic-code="area.oucode" data-type="P" ng-show="area.pInfocard.state == 'D'"></div>
                    <div class="layout-full safe-infocard-panel-loading" ng-show="area.pInfocard.state == 'L'">
                        <div class="layout-full loading table safe-insidemap-loading">
                            <div class="table-cell" style="font-size:12px;"><i class="fa fa-spinner fa-pulse"></i>加载中……
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="safe-insidemap-info-panel-box safe-insidemap-info-panel-box-police layout-full" ng-show="area.pInfocard.state == 'A'">-->
                <!--<div class="layout-full safe-infocard-panel" infocard-template template-url="pInfocard.templateUrl" loadds></div>-->
                <!--</div>-->
                <!--<div class="safe-insidemap-info-panel-box safe-insidemap-info-panel-box-police layout-full" ng-show="area.pInfocard.state == 'D'">-->
                <!--<div class="layout-full" safe-info-card refresh-num="area.refreshPoliceCardCount" ic-code="area.oucode" data-type="P"></div>-->
                <!--</div>-->
            </div>
            <div ui-layout-container size="25px" style="overflow:hidden;">
                <div class="mapMoveBtn" hm-tap="toggleShowInfoCard()">
                    <div>收&nbsp;&nbsp;起</div>
                    <i class="fa fa-chevron-left mapMoveBtnLeft"></i>
                </div>
            </div>
            <div ui-layout-container class="safe-insidemap-info-panel" style="overflow:hidden;">
                <div class="safe-insidemap-info-panel-box safe-insidemap-info-panel-box-criminal layout-full">
                    <div class="layout-full safe-infocard-panel" safe-infocard-template
                         template-url="area.cInfocard.templateUrl" loadds ng-if="area.cInfocard.state == 'A'"></div>
                    <div class="layout-full" safe-infocard-position ic-code="area.oucode"
                         position-type="area.positionType" ng-if="area.cInfocard.state == 'AP'"></div>
                    <div class="layout-full" safe-info-card ic-code="area.oucode" data-type="C"
                         ng-show="area.cInfocard.state == 'D'"></div>
                    <div class="layout-full safe-infocard-panel-loading" ng-show="area.cInfocard.state == 'L'">
                        <div class="layout-full loading table safe-insidemap-loading">
                            <div class="table-cell" style="font-size:12px;"><i class="fa fa-spinner fa-pulse"></i>加载中……
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="safe-insidemap-info-panel-box safe-insidemap-info-panel-box-criminal layout-full" safe-info-card ic-code="area.oucode" data-type="C"></div>-->
            </div>
            <div ui-layout-container size="25px"></div>
        </div>
    </div>
    <div class="safe-insidemap-info-slider" ng-if="!bShowInfoCard" hm-tap="toggleShowInfoCard()">
        <div class="layout-full">
            <div>
                展开<i class="fa fa-chevron-circle-right"></i>
            </div>
        </div>
    </div>

    <div class="safe-insidemap-police-info" ng-if="policeInfo.showInfo">
        <div class="info-img-wrap">
            <div class="info-img-table-cell">
                <img ng-src="{{policeInfo.details.imgUrl}}" alt="">
            </div>
        </div>
        <div class="info-details-wrap">
            <div class="info-details-item">姓名: {{policeInfo.details.text.name}}</div>
            <div class="info-details-item">所在部门: {{policeInfo.details.text.department}}</div>
            <div class="info-details-item">职务: {{policeInfo.details.text.duties}}</div>
            <div class="info-details-item">警号: {{policeInfo.details.text.code}}</div>
            <div class="info-details-item">内网电话: {{policeInfo.details.text.innerPhone}}</div>
            <div class="info-details-item">警务通: {{policeInfo.details.text.jwt}}</div>
            <div class="info-details-item">移动电话: {{policeInfo.details.text.mobile}}</div>
        </div>
    </div>

    <div class="safe-insidemap-searchbox" safe-insidemap-searchbox search-list="searchList"
         ng-show="searchList.length > 0"></div>

    <div class="layout-full insidesafe-map-device-tag-box">
        <div class="layout-full">
            <div class="device-tag-box-actions safe-hardware-control-actions" hm-tap="mapDevice.hide($event)" i-scroll>
                <div class="mytable">
                    <div class="table-cell" style="padding: 50px;">
                        <div class="table-span" style="width: {{mapDevice.actionsWidth}}px;">
                            <div class="table-box" ng-repeat="item in mapDevice.actions track by $index"
                                 hm-tap="area.clickControlButton(item)">
                                <button class="layout-full mybutton">
                                    {{item.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="showCom" class="safe_personalprofile">
        <div class="wrap">
            <div class="back" ng-click="closeDetail()" hm-tap="closeDetail()">
            </div>
            <div class="detail">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">评价类型</label>
                        <div class="col-lg-3">
                            <select ng-model="saveCom.ctype" class="form-control">
                                <option value="" class="hidden"></option>
                                <option value="positive">正面评价</option>
                                <option value="negative">负面评价</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">评价内容</label>
                        <div class="col-lg-9">
                            <div style="background: rgba(0,0,0,0.3);">

                                <div i-scroll2 style="height: 500px;position:relative;">
                                    <div style="width: 100%">
                                        <div uib-accordion close-others="oneAtTime">

                                            <div uib-accordion-group class="panel-default accordion-toggle"
                                                 heading="{{row.content}}"
                                                 ng-repeat="row in commentingList|filter:saveCom.ctype">
                                                <!--{{group.content}}-->
                                                <!--<div ng-repeat="item in group.content">{{item}}</div>-->

                                                <div class="panel-item" ng-repeat="item in row.details"
                                                     ng-click="selectCom(item,$event)" hm-tap="selectCom(item,$event)"
                                                     ng-class="{'select':item.selected}">
                                                    <input type="checkbox" ng-model="item.selected"/>{{item.content}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">详细描述</label>
                        <div class="col-lg-9">
                            <textarea rows="3"
                                      style="resize:none;border-width: 0;background: #485563;color: white;width: 100%;padding: 8px 15px;"
                                      ng-model="saveCom.notes"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2 col-lg-offset-7">
                            <button class="btn btn-lg btn-success" ng-click="saveEvaluation()" hm-tap="saveEvaluation()"
                                    ng-disabled="saveCom.evaluationdetailfk==''||saveCom.evaluationdetailfk==null"
                                    style="width:100%">确定
                            </button>

                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-lg btn-danger" ng-click="closeDetail()" hm-tap="closeDetail()"
                                    style="width:100%">取消
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>



    <div ng-if="showInfoForm" class="InfoFormBackground safe-main-box">
        <button class="btn btn-default" ng-click="closeInfoForm()" title="返回"><i class="fa fa-reply-all"
                                                                               style="margin-right: 5px;"></i>返回
        </button>
        <div class="formBox">
            <table>
                <colgroup>
                    <col width="4%">
                    <col width="15%">
                    <col width="12%">
                    <col width="7%">
                    <col width="7%">
                    <col width="12%">
                    <col width="12%">
                    <col width="11%">
                    <col width="13%">
                </colgroup>
                <thead>
                    <tr class="strong">
                        <td class="text-center">序号</td>
                        <td class="text-center">编号</td>
                        <td class="text-center">姓名</td>
                        <td class="text-center ng-binding">监舍号</td>
                        <td class="text-center">床位号</td>
                        <td class="text-center">单位</td>
                        <td class="text-center">民族</td>
                        <td class="text-center">籍贯</td>
                        <td class="text-center ng-binding">罪名</td>
                    </tr>
                </thead>
            </table>
            <div class="items">
                <table>
                <colgroup>
                    <col width="4%">
                    <col width="15%">
                    <col width="12%">
                    <col width="7%">
                    <col width="7%">
                    <col width="12%">
                    <col width="12%">
                    <col width="11%">
                    <col width="13%">
                </colgroup>
                <tbody>
                <tr  ng-repeat="row in datas track by $index" class="item" ng-class="{'white': ($index%2) == 0,'black':($index%2) != 0}">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{row.name}}</td>
                    <td class="text-center">{{row.bm}}</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
