.iiw-system-daily-device-choose-container {
    position: relative;
}

.iiw-system-daily-syou-device-list-container {
    height:100%;
    width:50%;
    float:left;
    padding-right:5px;
}

.iiw-system-daily-syou-device-list-body {
    position: relative;
    background: rgba(0,0,0,0.3);
}

.iiw-system-daily-choose-device-list-container {
    height:100%;
    width:50%;
    float:left;
    padding-left:5px;
}

.iiw-system-daily-choose-device-list-body {
    position: relative;
    background: rgba(0,0,0,0.3);
}

.iiw-system-daily-syou-device-list-header {
    line-height: 40px;
    padding:10px 10px 0 10px;
    overflow:hidden;
}

.iiw-system-daily-syou-device-list-container .iiw-system-table-container tr,
.iiw-system-daily-choose-device-list-container .iiw-system-table-container tr {
    height:50px;
    line-height: 50px;
}

.iiw-system-daily-syou-device-list-header .iiw-system-daily-col {
    padding:0 0 10px 0;
    height:50px;
}

.iiw-system-daily-col select {
    background: rgba(0,0,0,0.1);
    height:40px;
}

.iiw-system-daily-col label,
.iiw-system-daily-col input {
    height:40px;
    line-height:40px;
}

.iiw-system-daily-col button {
    width:75%;
    height:40px;
    line-height: 40px;
    padding:0;
    float:left;
}

.modal .program-modal {
    height:600px;
    width:800px;
}

.program-modal .modal-dialog {
    width: 800px;
}

.program-modal .modal-body {
    width:100%;
    height:460px;
}

.iiw-system-daily-nav-tabs-container {
    padding:10px;
}

.iiw-system-daily-program-container {
    padding:0 10px 10px 10px;
}

.tab-content {
    width:100%;
    height:100%;
}

.tab-content .tab-pane {
    height:100%;
    width:100%;
    position: relative;
}

.iiw-system-daily-program-item {
    width: 22.50%;
    display: inline-block;
    padding: 12px 0;
    margin: 0 .9% 1em;
    vertical-align: top;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    position: relative;
}

.iiw-system-daily-program-item .fa {
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 32px;
    color: #fff;
}

.iiw-system-daily-program-item:hover {
    background-color: rgba(0, 0, 0, 0.10);
    text-decoration: none;
    cursor: pointer;
}

.iiw-system-daily-program-item-label {
    display: block;
    font-weight: 400;
    color: #d8d8d8;
}

.iiw-system-daily-program-choosed {
    background: rgba(0,181,0,0.5)!important;
}

.iiw-system-daily-syou-dropdown-list li {
    width:100%;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iiw-system-daily-syou-dropdown-list li i {
    padding:0 10px;
}

.iiw-system-daily-syou-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}