<div class="iiw-system-page-container" ui-view>
    <div ui-layout options="{dividerSize:'0'}">
        <div ui-layout-container size="47px" class="informationappear-header">
            <h2 class="page-title">{{title}}</h2>
        </div>
        <div class="informationappear-content" ui-layout-container style="background-color: rgba(0,0,0,0.3);">
            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                <div class="informationappear-content-header" ui-layout-container size="47px">
                    <button class="btn btn-success" ng-click="informationappear.addInformation()"><i class="fa fa-plus" style="padding-right: 5px;"></i>添加</button>
                    <button class="btn btn-warning" ng-click="informationappear.modInformation()"><i class="fa fa-edit" style="padding-right: 5px;"></i>修改</button>
                    <button class="btn btn-danger" ng-disabled="informationappear.delBtn" ng-click="informationappear.delInformation()"><i class="fa fa-minus" style="padding-right: 5px;"></i>删除</button>
                    <button class="btn btn-info" ng-click="informationappear.goConfig()"><i class="fa fa-gear" style="padding-right: 5px;"></i>配置关联</button>

                    <span>查看类型：</span>
                    <select class="informationappear-content-select" ng-model="informationappear.informationType" ng-change="informationappear.changeType()">
                        <option value="">全部</option>
                        <option value="criminal">{{dialectList.PTN_C}}</option>
                        <option value="police">{{dialectList.PTN_P}}</option>
                    </select>
                    <div class="input-group pull-right" style="width:250px;">
                        <input type="text" class="form-control" placeholder="请输入关键字查找!" ng-model="informationappear.filterValue"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="informationappear.getInformationItem()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div ui-layout-container size="61px" class="layout-full" style="overflow:hidden;padding: 15px;">
                    <table class="table iiw-system-table-container" style="margin: 0px;">
                        <colgroup><col width="4%"><col width="4%"><col width="25%"><col width="25%"><col width="25%"><col width="15%"/><col width="15%"/></colgroup>
                        <thead>
                            <tr>
                                <th><input style="width:20px;height:20px;" type="checkbox" ng-model="informationappear.selAll" ng-click="informationappear.selectAll()"/></th>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>内容</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div ui-layout-container class="layout-full" style="padding: 0 15px 15px 15px;">
                    <div class="layout-full" i-scroll2 data-load-event="nextPage()" style="position: relative;border: 1px solid rgba(0,0,0,0.3);">
                        <table class="table iiw-system-table-container table-hover" style="margin: 0px;width:1580px;">
                            <colgroup><col width="4%"><col width="4%"><col width="25%"><col width="25%"><col width="25%"><col width="15%"/><col width="15%"/></colgroup>
                            <tbody>
                                <tr ng-repeat="item in informationappear.list | limitTo: listSize || 20" ng-class="{'select': item.checked}" ng-click="informationappear.select($event, item)">
                                    <td><input type="checkbox" style="width:20px;height: 20px;" ng-model="item.checked"/></td>
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <div ng-if="item.add == true">
                                            <input type="text" ng-model="item.name" ng-class="{'errorMessage': item.name == ''}"/>
                                        </div>
                                        <div ng-if="item.mod == true">
                                            <input type="text" ng-model="item._name" ng-class="{'errorMessage': item._name == ''}"/>
                                        </div>
                                        <div ng-if="item.mod != true && item.add != true">{{item.name}}</div>
                                    </td>
                                    <td>
                                        <div ng-if="item.add == true">
                                            <select class="informationappear-content-select" ng-model="item.type">
                                                <option value="police">{{dialectList.PTN_P}}</option>
                                                <option value="criminal">{{dialectList.PTN_C}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="item.mod == true">
                                            <select class="informationappear-content-select" ng-model="item._type">
                                                <option value="police">{{dialectList.PTN_P}}</option>
                                                <option value="criminal">{{dialectList.PTN_C}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="item.mod != true && item.add != true">
                                            <span ng-if="item.type == 'criminal'">{{dialectList.PTN_C}}</span>
                                            <span ng-if="item.type == 'police'">{{dialectList.PTN_P}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="item.add == true">
                                            <input type="text" ng-model="item.content" ng-class="{'errorMessage': item.content == ''}"/>
                                        </div>
                                        <div ng-if="item.mod == true">
                                            <input type="text" ng-model="item._content" ng-class="{'errorMessage': item._content == ''}"/>
                                        </div>
                                        <div ng-if="item.mod != true && item.add != true">{{item.content}}</div>
                                    </td>
                                    <td>
                                        <a ng-if="item.mod == true || item.add == true" ng-click="informationappear.cancle(item, $index)" style="padding: 10px 20px;cursor: pointer;text-decoration: none;" class="btn-danger">取消</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ui-layout-container size="47px" style="background-color: rgba(0,0,0,0.4);padding: 4px;">
            <div class="pull-right">
                <button class="btn btn-success" ng-disabled="informationappear.showBtn" style="width:80px;" ng-click="informationappear.save()">保存</button>
                <button class="btn btn-danger pull-right" ng-disabled="informationappear.showBtn" ng-click="informationappear.cancleAll()" style="width:80px;margin-left: 5px;">取消</button>
            </div>
        </div>
    </div>
</div>