.safe-eventRegister{
    width: 100%;
    height: 100%;
}

.safe-eventRegister .transparent-table {
    table-layout: fixed;
    background-color: inherit;
    font-size:16px;
}

.safe-eventRegister .text-over-hide{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.safe-eventRegister-add,
.safe-eventRegister-list{
    margin: 20px 30px;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    background-size: 100% 100%;
    padding: 50px;
    overflow: hidden;
    position: relative;
}

/*头部过滤*/
.safe-eventRegister-list-header{
    width: 100%;
    height: 80px;
}

.safe-eventRegister-list-header-filter .btn-success{
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.safe-eventRegister-list-header-filter{
    width: 25%;
    height: 100%;
    float: left;
    line-height: 40px;
    color: #0477df;
}

.safe-eventRegister-list-header-filter-name{
    width: 30%;
    height: 100%;
    float: left;
    text-align: right;
}

.safe-eventRegister-list-header-filter-content{
    width: 70%;
    height: 100%;
    float: left;
}

.safe-eventRegister-list-header-filter-content input{
    float: left;
    border: 5px solid transparent;
}

/*日志列表*/
.safe-eventRegister-list-body{
    width: 100%;
    height: calc(100% - 80px);
}

.safe-eventRegister-list-body table{
    width: 100%;
    border-left: 2px solid rgba(100,100,100, .2);
    border-right: 2px solid rgba(100,100,100, .2);
}

.safe-eventRegister-list-body th,
.safe-eventRegister-list-body td{
    text-align: center;
}

.safe-eventRegister-list-body thead tr{
    background-color: #0477df;
    color: #fff;
}

.safe-eventRegister-list-body tr{
    height: 50px;
    color: #ddd;
    border-bottom: 1px solid rgba(150,150,150,.2);
}

.safe-eventRegister-list-body table tbody tr:hover{
    background-color: rgba(150,150,150,.2);
    cursor: pointer;
}

.safe-eventRegister-list-body tbody tr:nth-child(even){
    background-color: rgba(150,150,150,.1);
}

.safe-eventRegister-list-body tbody tr{
    color: #000;
}


/*添加日志*/
.safe-eventRegister-add{
    padding: 3% 20%;
}

.safe-eventRegister-add-form{
    padding: 15px 20px;
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.safe-eventRegister-add-form-submit{
    position: absolute;
    top: 0;
    left: 100%;
    width: 120px;
    height: 40px;
}

.safe-eventRegister-add-form textarea,
.safe-eventRegister-add-form input{
    resize: none;
}

.safe-eventRegister-add-form-name{
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.safe-eventRegister-add-submits button{
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.safe-eventRegister-add-submits{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 80px 20%;
    width: 100%;
    height: auto;
}

.safe-eventRegister-add-form-span{
    position: absolute;
    left: 100%;
    top: 0;
    width: 100px;
    color: #d55;
}

.safe-eventRegister-add-submits-submit{
    padding: 0 20px;
    width: 50%;
    height: auto;
    float: left;
}

/*分页*/
.safe-eventRegister-list-body-params{
    position: absolute;
    left: calc(50% - 300px);
    bottom: 0;
    width: 600px;
    height: auto;
    padding: 15px 0;
}

.safe-eventRegister .safe-eventRegister-list-body-params .pagination>li>a,
.safe-eventRegister .safe-eventRegister-list-body-params .pagination > .disabled > a{
    background-color: #eee;
    border: 1px solid rgba(0,0,0,.1);
    color: #000;
}

.safe-eventRegister .safe-eventRegister-list-body-params .pagination>li>a:hover{
    background-color: #aaa;
}

.safe-eventRegister .safe-eventRegister-list-body-params .pagination > .active > a{
    background-color: rgba(200,200,200,1);
}
