ul,ol,li{margin:0;padding:0;list-style: none;}
.system-scale-bar {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.system-scale-page-content {
    background-color: rgba(0, 0, 0, 0.3);
}
.system-question-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 40px 30px;
}
.system-question-container .scale-header {
    padding: 10px 0;
    border-bottom: 2px solid #eee;
}
.system-question-container .scale-header .title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.system-question-container .scale-header .subtitle{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.system-question-container .scale-header .describes{
    text-indent: 2em;
}

.iiw-system-form-button-layout-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .6);
}

.scale-add{
    width: 100%;
    padding: 30px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}
.scale-add .btn-add {
    width: 100%;
    height: 60px;
}
.scale-add #collapseAdd{
    border: 2px solid #df691a;
    border-bottom: none;
}
.scale-add #collapseAdd .add-option{
    padding: 20px;
    text-align: center;
}
.scale-add #collapseAdd .add-option button{margin-right: 50px;}

.scale-question {
}
.fieldset {
    padding: 10px 30px;
    border-bottom: 1px solid #eee;
}
.fieldset:hover {
    background-color: rgba(0, 0, 0,0.6);
}

.fieldset .field-controlgroup {
    padding: 0 3%;
}
.fieldset .field-toomuch{
    display: flex;
    flex-wrap: wrap;
}
.fieldset .field-toomuch .field-radio{
    margin-right: 30px;
}

.fieldset .field-input {
    padding: 0 3%;
}

.fieldset .field-input .input-text {
    padding: 0 15px;
    margin: 0 5px;
    border-bottom: 1px solid #000;
}
.fieldset .set {
    display: none;
}
.fieldset:hover .set{
    display: block;
}
.fieldset .set .setLeft{
    position: relative;
    width: 60%;
    padding: 8px 0 8px 30px;
    cursor: pointer;
}
.scale-insertQ {
    display: none;
    position: absolute;
    background: #f3f4f5;
    padding: 10px 20px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    color: #0a0a0a;
    z-index: 2;
}
.scale-insertQ em {
    display: block;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 45px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #D2D2D2 transparent;
    font-size: 0;
    line-height: 0;
}
.scale-insertQ span {
    display: block;
    border-width: 10px;
    position: absolute;
    top: -18px;
    left: 45px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #f3f4f5 transparent;
    font-size: 0;
    line-height: 0;
}
.fieldset .set .setLeft:hover .scale-insertQ{
    display: block;
}
.scale-insertQ .tip {margin-top: 10px;}

.question-set {
    position: relative;
    padding: 15px 0;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .6);
    border-top: 1px solid #eee;
}
.question-triangle{
    display: block;
    border-width: 15px;
    position: absolute;
    top: -30px;
    left: 10%;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #eee transparent;
    font-size: 0;
    line-height: 0;
}
.modal-wrapper .form-group .col-md-1 {
    width: 10%;
    padding-right: 0;
    word-wrap:break-word;
}
.question-table {
    max-height: 300px;
    margin-top: 15px;
    border: 1px solid #F0F0EE;
}
.question-table thead {
    background-color: #F0F0EE;
}
.question-table thead th {color: #0a0a0a;text-align: center;}
.question-table tbody tr td {text-align: center}
.question-table .label-box input {width: 60%;}
.question-table .input-attr input[type=number] {width: 50px;}
.question-table .form-group select {border: 1px solid rgba(255, 255, 255, 0.25);}
.question-table i.fa{
    font-size: 20px;
    cursor: pointer;
}
.question-table i.fa:hover{color: #00A8FF}
.question-option {margin-top: 15px;}
.question-option a {
    margin-right: 15px;
    color: #00A8FF;
    cursor: pointer;
}
.question-logic{
    margin-top: 15px;
    padding: 0 10px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    background-color: #F0F0EE;
    border: 1px dashed #DBDBDB;
    color: #0a0a0a;
}
.question-logic a{text-decoration: underline;cursor: pointer;color: #00A8FF}
.question-btn{
    width: 100%;
    margin: 15px 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 0;
    cursor: pointer;
    background-color: #00A8FF;
    border-radius: 4px;
}
