<div class="safe-doorControl-dialog">
    <div class="safe-doorControl-box">
        <div class="safe-doorControl-row">
            <div class="safe-doorControl-panel">
                <div class="button-box">
                    <button class="fbsd button button-glow button-rounded button-caution marb fz-5">防爆锁定</button>
                    <button class="yjcx button button-glow button-rounded button-primary fz-5 sub-btn" ng-click="cancel('keepDoorCloseDisable')">撤销封锁</button>
                </div>
                <div class="button-box">
                    <button class="jjts button button-glow button-rounded button-action marb fz-5">紧急逃生</button>
                    <button class="yjcx button button-glow button-rounded button-primary fz-5 sub-btn" ng-click="cancel('keepDoorOpenDisable')">撤销通行</button>
                </div>
                <div class="button-box lh">
                    <button class="mjyg button button-glow button-rounded button-primary fz-5">门禁严管(开)</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="safe-doorPassword-dialog">
    <div class="safe-doorPassword-box">
        <div class="safe-doorPassword-row">
            <div class="safe-doorPassword-panel">
                <h1>请输入密码，启动防爆锁定</h1>
                <div style="position: relative">
                    <input class="safe-doorPassword-field" type="password"/>
                    <span>密码错误</span>
                </div>
                <div class="numpad">
                    <div class="numbtn" ng-repeat="rows in [1, 2, 3]">
                        <button class="button button-raised button-circle button-jumbo" ng-click="inputPassword($event)">{{rows}}</button>
                    </div>
                    <div class="numbtn">
                        <button class="button button-raised button-box button-jumbo button-highlight" ng-click="inputPassword($event)" title="退格" other="back">←</button>
                    </div>
                    <div class="numbtn" ng-repeat="rows in [4, 5, 6]">
                        <button class="button button-raised button-circle button-jumbo" ng-click="inputPassword($event)">{{rows}}</button>
                    </div>
                    <div class="numbtn">
                        <button class="button button-raised button-box button-jumbo button-highlight" ng-click="inputPassword($event)" title="清空" other="clean">C</button>
                    </div>
                    <div class="numbtn" ng-repeat="rows in [7, 8, 9]">
                        <button class="button button-raised button-circle button-jumbo" ng-click="inputPassword($event)">{{rows}}</button>
                    </div>
                    <div class="numbtn">
                        <button class="button button-raised button-box button-jumbo button-caution" ng-click="inputPassword($event)" title="取消" other="close">X</button>
                    </div>
                    <div class="submit-button">
                        <button class="button button-glow button-rounded button-raised button-primary button-jumbo" ng-click="submitContent()">确　认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>