<div class="layout-full video-object-videotape">
    <i class="fa fa-circle faa-flash animated"></i>
    <div></div>
</div>

<div class="layout-full video-object-reply">
    <div class="video-object-reply-timeline" ng-mouseover="mouseover()" ng-mouseout="mouseout()"
         ng-mousemove="mousemove($event)">
        <div class="video-object-reply-timeline-step"><b>00:00:00</b></div>
        <div class="video-object-reply-timeline-mouseline"><b></b></div>
        <div class="video-object-reply-timeline-step-mask" ng-click="toolbar.fastReply.goTime($event)"></div>
    </div>
</div>



