<div class="iiw-safe-affairs-summarize-unusual">

    <div class="unusual-header">

        <div class="title pull-left">统计列表(有异常或有反馈内容的事务都将列出)</div>

        <button class="btn btn-info pull-right" ng-click="unusual.goBack()">返回</button>

    </div>

    <div class="unusual-body">

        <table class="table summarize-table" style="margin-bottom: 0;">
            <col width="5%"/>
            <col width="15%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
<!--            <col width="10%"/>-->
            <thead>
            <tr>
                <th>序号</th>
                <th>事务名称</th>
                <th>执行日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>执行方式</th>
                <th>完成情况</th>
                <th>反馈内容</th>
<!--                <th>其他操作</th>-->
            </tr>
            </thead>
        </table>
        <div class="iScroll2" i-scroll2>
            <table class="table summarize-table">
                <col width="5%"/>
                <col width="15%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
<!--                <col width="10%"/>-->
                <tbody>
                <tr ng-repeat="item in unusual.affairsList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.exedate}}</td>
                    <td>{{item.starttime}}</td>
                    <td>{{item.endtime}}</td>
                    <td>{{item.exetype == S ? '自动' : '手动'}}</td>
                    <td>{{(item.exemode == 0 || item.exemode == null) ? '未完成' : '完成'}}</td>
                    <td>{{item.notes}}</td>
<!--                    <td>-->
<!--                        <button class="btn btn-success" ><i class="fa fa-info-circle"></i> 查看详情</button>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>