ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.answer-list {
    margin-bottom: 20px;
}

.answer-list .title {
    font-size: 18px;
    font-weight: bold;
}

fieldset {
    display: block;
    padding: 10px 20px 0;
}

fieldset .field > b {
    font-weight: bold !important;
}

fieldset .field .field-classify,
fieldset .field .field-premise {
    font-weight: bold;
    margin-bottom: 5px;
}

fieldset .field .field-classify,
fieldset .field .field-premise,
fieldset .field .field-label {
    position: relative;
    word-break: break-word;
    padding-bottom: 5px;
}

fieldset .field .field-tip {
    color: gray;
    font-size: 12px;
    padding-bottom: 10px;
}

fieldset .field .field-controlgroup {
}

fieldset .field .field-input input[disabled]{}
fieldset .field .field-input .input-text{padding: 5px 15px 3px;margin: 0 5px;border-bottom: 1px solid rgba(255,255,255,.6);}

fieldset .field .field-input .special {
    position: relative;
}

fieldset .field .field-input .special i.fa {
    position: absolute;
    top: 7px;
    left: 5px;
    color: #000;
}

fieldset .field .field-input .special input {
    padding-left: 25px;
}

fieldset .field .field-select .text {
    margin-left: 30px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

fieldset .field .field-child {
    padding-left: 20px;
    padding-bottom: 10px;
}
