.ftapp-userinfo {
    padding: 0 0 15px;
}

.ftapp-userinfo .item {
}

.ftapp-userinfo .item span {
    display: inline-block;
}

.ftapp-userinfo .item span.underline {
    min-width: 50%;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.ftapp-userinfo .item span i {
    padding: 0 4px 0 2px;
    margin-right: 2px;
    border: 1px solid rgba(255,255,255,.3);
}

.usertype {
    margin-left: 20px;
}

.usertype i {
    margin-right: 5px;
}
