<div class="iiw-safe-affairs-summarize">
    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">

        <div class="summarize-header" style="overflow: hidden" size="52px">

            <!--当前单位名称-->
            <div class="pull-left header-text">当前单位：{{summarize.syouname}}</div>

            <!--当前单位下属单位-->
            <div class="pull-left header-text">
                请选择单位：
                <select class="form-control pull-right" ng-model="summarize.undername" ng-change="summarize.selectUnder()" style="width: 180px">
                    <option ng-show="false" value=""></option>
                    <option value="{{summarize.syouname}}">{{summarize.syouname}}</option>
                    <option value="{{item.name}}" ng-repeat="item in summarize.underList">{{item.name}}</option>
                </select>
            </div>

            <!--过滤时间-->
            <div class="input-group pull-left" style="width:250px;">
                <input type="text" class="form-control" safe-picker p!format="Y-m-d" p!timepicker="false" ng-model="summarize.searchtime" ng-change="summarize.getUnderAffairs(summarize.underfk)" placeholder="请选择过滤的时间!">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="summarize.getUnderAffairs(summarize.underfk)"><i class="fa fa-search"></i></button>
                </span>
            </div>

            <button class="btn btn-info pull-right" ng-click="summarize.goBack()">返回</button>
            <button class="btn btn-warning pull-right" ng-click="summarize.getUnusual()">异常统计</button>
        </div>

        <div class="summarize-body">

            <table class="table summarize-table" style="margin-bottom: 0;">
                <col width="5%"/>
                <col width="15%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
<!--                <col width="10%"/>-->
                <thead>
                <tr>
                    <th>序号</th>
                    <th>事务名称</th>
                    <th>执行单位</th>
                    <th>执行日期</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>执行方式</th>
                    <th>完成情况</th>
<!--                    <th>其他操作</th>-->
                </tr>
                </thead>
            </table>
            <div class="iScroll2" i-scroll2>
                <table class="table summarize-table">
                    <col width="5%"/>
                    <col width="15%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
<!--                    <col width="10%"/>-->
                    <tbody>
                    <tr ng-repeat="item in summarize.affairsList">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.syouname}}</td>
                        <td>{{item.exedate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{item.starttime}}</td>
                        <td>{{item.endtime}}</td>
                        <td>{{item.exetype == S ? '自动' : '手动'}}</td>
                        <td>{{item.exemode == 0 ? '未完成' : '完成'}}</td>
<!--                        <td>-->
<!--                            <button class="btn btn-success" ><i class="fa fa-info-circle"></i> 查看详情</button>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>



    </div>
</div>