<div class="layout-full">
    <div class="ui-layout-row iiw-system-preplan-layout-container" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
        <div class="ui-layout-container iiw-system-form-button-layout-container" size="60px" ui-layout-container>
            <button class="btn btn-info pull-left iiw-system-preplan-wizard-btn" ng-click="previous(1)" ng-disabled="wizardIndex == 1"><i class="fa fa-angle-double-left"></i>上一步</button>
            <button class="btn btn-info pull-right iiw-system-preplan-wizard-btn" ng-click="next(2)" ng-disabled="wizardIndex == 2"><i class="fa fa-angle-double-right"></i>下一步</button>
        </div>
        <div class="ui-layout-container iiw-system-preplan-form-container" ui-layout-container>
            <div class="layout-full"> <!-- i-scroll-->
                <div>
                    <form class="form-horizontal label-left" id="entityItemForm" name="entityItemForm" novalidate>
                        <fieldset ng-show="wizardIndex == 1">
                            <legend class="section">预案基本信息</legend>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">预案名称</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="entityItem.title" placeholder="请输入预案名称" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.title == null" style="color:red;">*预案名称不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">事件类型</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select ng-model="entityItem.sycodefk" class="col-md-5" required>
                                            <option value="" selected>请选择事件类型</option>
                                            <option value="{{event.id}}" ng-repeat="event in eventList">{{event.content}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.sycodefk == null" style="color:red;">*事件类型不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">作用单位</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select ng-model="entityItem.syoufk" class="col-md-5 syou-select-option" required>
                                            <option value="" selected>请选择编制单位</option>
                                            <option value="{{syou.id}}" ng-repeat="syou in syouList">{{syou.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.syoufk == null" style="color:red;">*作用单位不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">预案等级</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select ng-model="entityItem.lev" class="col-md-5 syou-select-option" required>
                                            <option value="" selected>请选择预案等级</option>
                                            <option value="一级">一级</option>
                                            <option value="二级">二级</option>
                                            <option value="三级">三级</option>
                                            <option value="四级">四级</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.lev == null" style="color:red;">*预案等级不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">编制人</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="entityItem.creuser" placeholder="请输入编制人" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.creuser == null" style="color:red;">*编制人不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">编制时间</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="entityItem.cretime" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="!entityItem.cretime" style="color:red;">*编制时间不能为空</lable>
                                </div>
                            </div>
                            <div class="control-group row">
                                <div class="col-md-2">
                                    <label class="control-label">预案备注</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea type="text" ng-model="entityItem.notes" placeholder="请输入预案备注" class="form-control" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <lable ng-show="entityItem.notes == null" style="color:red;">*预案备注不能为空</lable>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-show="wizardIndex == 2">
                            <legend class="section">预案步骤配置</legend>
                            <div class="row">
                                <div class="col-md-9 text-center">步骤内容</div>
                                <div class="col-md-1 text-center">执行时间(秒)</div>
                                <div class="col-md-2 text-center">操作</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-group iiw-system-preplan-step-container" ng-model="steps">
                                        <div class="panel" ng-repeat="step in entityItem.preplandtl">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-md-9 text-center">
                                                            <textarea ng-model="step.content">{{step.content}}</textarea>
                                                        </div>
                                                        <div class="col-md-1 text-center iiw-system-preplan-step-runtime-container"><input type="text" onkeyup="this.value=this.value.replace(/\D/g, '')" ng-keydown="isNumber($event, step)" ng-model="step.steptime"/></div>
                                                        <div class="col-md-2 text-center iiw-system-preplan-step-button-container">
                                                            <i class="fa fa-plus faa-pulse animated-hover" title="添加预案步骤" ng-click="addStep($index)"></i>
                                                            <i class="fa fa-minus faa-pulse animated-hover" title="删除预案步骤" ng-click="removeStep(step)"></i>
                                                            <i class="fa fa-cog faa-pulse animated-hover" title="配置调度资源" ng-click="setDevice(step)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="height: 0px;" class="panel-collapse collapse" id="collapse{{step.id}}">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li ng-repeat="device in currentStep.dispatchdevice">{{device.devicename}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui-layout-container iiw-system-form-button-layout-container" size="60px" ui-layout-container>
            <button class="btn btn-success btn-s-md" ng-disabled="entityItemForm.$invalid || entityItem.preplandtl[0].content == null" ng-click="save()">提交</button>
            <button class="btn btn-danger btn-s-md" ng-click="cancel()">取消</button>
        </div>
    </div>
    <system-preplan-device-dialog></system-preplan-device-dialog>
</div>
