<div class="safe-bid-box">
    <!--<safe-bid-loading></safe-bid-loading>-->
    <safe-bid-menu></safe-bid-menu>
    <div class="safe-bid-index">
        <div class="safe-bid-index-content">
            <div class="safe-bid-index-title">
                <div class="toolbar pull-left">
                    <div class="center">
                        <i-logo></i-logo>
                    </div>
                </div>
                <div class="safe-bid-top-menu-panel">
                    <div class="safe-bid-top-menu-bar-tabs">
                        <nav>
                            <ul>
                                <li ng-repeat="row in menuList" ng-class="{'safe-bid-top-menu-tab-current': row.isActived}"><a ng-click="goToModule(row)" class="fa {{row.icon}}"><span>{{row.name}}</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="buttons">
                    <button ng-show="userMessageInfo.type != 'JIANYU'" ng-click="layoutService.showNavigation()"><i class="fa fa-reply"></i> 返回导航</button>
                    <button i-exit><i class="fa fa-sign-out"></i>退　出</button>
                </div>
            </div>
            <div class="safe-bid-index-body">
                <div class="safe-bid-index-body-charts" safe-bid-chart></div>
                <div ng-if="!isHomePage" class="safe-bid-index-body-page-container">
                    <div class="layout-full" ui-view></div>
                </div>
            </div>
            <div class="safe-bid-index-body-modlues safe-bid-theme-bg">
                <div class="moduleBg">
                    <div class="moduleBox">
                        <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                            <div class="overflow-h" ui-layout-container size="80px">
                                <div class="safe-bid-index-title">
                                    <div class="layout-full safe-main-logo">
                                        <div>
                                            <i-logo></i-logo>
                                        </div>
                                    </div>
                                    <!--<div class="toolbar">
                                        <div class="center">
                                            <div>
                                                <span ng-repeat="name in layoutService.navigationTitles">{{name}}</span>
                                                <span>
                                                    {{layoutService.supertitle || ''}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="buttons">
                                        <button ng-click="layoutService.modules.close();layoutService.hideNavigation();"><i class="fa fa-reply"></i> 返回导航</button>
                                        <button i-exit><i class="fa fa-sign-out"></i>退　出</button>
                                    </div>
                                </div>
                            </div>
                            <div class="overflow-h" ui-layout-container>
                                <div class="safe-bid-view-box layout-full">
                                    <div class="safe-bid-view-loading layout-full">
                                        <div class="view-loading-table h1">
                                            <div class="view-loading-row"></div>
                                        </div>
                                    </div>
                                    <div class="safe-bid-view layout-full"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="safe-plugins-bid-cxfzry-detail-container">
        <div class="layout-full safe-plugins-bid-cxfzry-details-body">
            <div class="safe-plugins-bid-cxfzry-details-page-header">
                <div class="row no-margin">
                    <div class="col-md-12">
                        <div class="btn btn-danger pull-right" ng-click="closeDetailsPage()"><i class="fa fa-close"></i> 关闭</div>
                        <div class="input-group btn-search-group pull-right">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="输入查询条件" ng-keypress="keyPressEvent($event)">
                            <span class="input-group-addon alarm-search-panel" ng-click="searchPerson()"><i class="fa fa-search"> 搜索</i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="safe-plugins-bid-cxfzry-details-page-loading" ng-show="loading">
                <i class="fa fa-spinner faa-spin animated"></i>
            </div>
            <div class="safe-plugins-bid-cxfzry-details-page-body" ng-show="!loading">
                <div class="safe-plugins-bid-cxfzry-table-thead">
                    <table class="table safe-plugins-bid-cxfzry-table-first-title-thead">
                        <col width="5%"><col width="15%"><col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col />
                        <tr>
                            <td class="text-center">序号</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>出生日期</td>
                            <!--<td>籍贯</td>-->
                            <td>身份证号</td>
                            <td>释放单位</td>
                            <td>释放时间</td>
                            <td>重新犯罪时间</td>
                        </tr>
                    </table>
                    <div class="safe-bid-table-body">
                        <div>
                            <table class="table safe-plugins-bid-cxfzry-table-content">
                                <col width="5%"><col width="15%"><col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col />
                                <tr ng-repeat="row in detailList">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-left safe-plugins-bid-cxfzry-table-content-xm" ng-click="showCriminalFile(row)">{{row.xm}}</td>
                                    <td class="text-left" ng-click="showCriminalFile(row)">{{row.xbname}}</td>
                                    <td class="text-left" ng-click="showCriminalFile(row)">{{row.csrq}}</td>
                                    <td class="text-left" ng-click="showCriminalFile(row)">{{row.sfzh}}</td>
                                    <td class="text-left">{{row.dwname ? row.dwname : row.dwbm}}</td>
                                    <td class="text-left">{{row.ljrq}}</td>
                                    <td class="text-left">{{row.pjrq}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="safe-plugins-bid-cxfzry-details-page-footer">
                <span class="pull-left safe-plugins-bid-cxfzry-details-page-info">共 <label>{{pageInfo.totalSize}}</label> 条记录，共 <label>{{pageInfo.totalPage}}</label> 页</span>
                <div class="pagination pull-right">
                    <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" total-items="pageInfo.totalSize" ng-model="pageInfo.pageNo" ng-change="goPgaeNo()" previous-text="上一页" next-text="下一页" max-size="5" items-per-page="pageInfo.pageSize"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>