<div class="iiw-system-page-container yStyle commodity">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">{{commodity.title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="widget layout-full">
                    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div ui-layout-container size="47px">
                            <div class="layout-full system-role-bar">
                                <div class="layout-full">
                                    <button ng-disabled="commodity.addDis" class="btn btn-success pull-left" ng-click="commodity.addBtn()"><i class="fa fa-plus fa-fw"></i>增加</button>
                                    <button ng-disabled="commodity.modDis" class="btn btn-warning pull-left" ng-click="commodity.modBtn()"><i class="fa fa-edit fa-fw"></i>修改</button>
                                    <button ng-disabled="commodity.delDis" class="btn btn-danger pull-left" ng-click="commodity.delBtn()"><i class="fa fa-minus fa-fw"></i>删除</button>
                                    <span>商品类型：</span>
                                    <select ng-model="commodity.type" ng-change="commodity.setList()" ng-options="rows.id as rows.name for rows in commodity.commodityType"></select>
                                    <div class="input-group pull-right" ng-style="{width:180 + 'px'}">
                                        <input type="text" class="form-control" ng-model="commodity.filterValue" ng-keyup="commodity.filter()" placeholder="请输入关键字筛选"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content ui-layout-container" ui-layout-container>
                            <div class="layout-full" ng-style="{'overflow': 'auto'}">
                                <table class="table table-hover iiw-system-table-container">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" ng-style="{width:20 + 'px', height:20 + 'px'}" ng-model="commodity.checked" ng-click="commodity.chooce()">
                                            </th>
                                            <th>名称</th>
                                            <th>商品类型</th>
                                            <th>单位</th>
                                            <th>单价（元）</th>
                                            <th>限购数量</th>
                                            <th>库存数量</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rows in commodity.list | filter: filterValue" ng-click="commodity.chooce(rows)">
                                            <th class="text-center">
                                                <input type="checkbox" ng-style="{width:20 + 'px', height:20 + 'px'}" ng-model="rows.checked" ng-click="commodity.chooce(rows)">
                                            </th>
                                            <th>{{rows.name}}</th>
                                            <th>{{rows.typename}}</th>
                                            <th>{{rows.unit}}</th>
                                            <th>{{rows.price}}</th>
                                            <th>{{rows.limitnum}}</th>
                                            <th>{{rows.storenum}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination ui-layout-container pagination-layout-container" size="60px" ui-layout-container>
                <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="commodity.totalSize" ng-model="commodity.currentPage" ng-change=" getList()" items-per-page="commodity.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
            </div>
        </div>
    </div>

    <div class="window" ng-if="commodity.window">
        <div>
            <h2>{{commodity.state == 'add' && '添加商品' || commodity.state == 'mod' && '修改商品'}}</h2>
            <div class="col-lg-12">
                <div class="input-group col-lg-4">
                    <input type="text" class="form-control" placeholder="单位" aria-describedby="basic-addon1" ng-model="commodity.unit">
                    <span class="input-group-addon" ng-click="commodity.modAll('unit')">一键修改</span>
                </div>
                <div class="input-group col-lg-4">
                    <input type="number" class="form-control" placeholder="限购数量" aria-describedby="basic-addon1" ng-model="commodity.limit">
                    <span class="input-group-addon" ng-click="commodity.modAll('limit')">一键修改</span>
                </div>
                <div class="input-group col-lg-4">
                    <input type="number" class="form-control" placeholder="库存数量" aria-describedby="basic-addon1" ng-model="commodity.inventory">
                    <span class="input-group-addon" ng-click="commodity.modAll('inventory')">一键修改</span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div>序号</div>
                    <div>名称</div>
                    <div>商品类型</div>
                    <div>单位</div>
                    <div>单价（元）</div>
                    <div>限购数量</div>
                    <div>库存数量</div>
                    <div class="text-center">操作</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12" ng-form="list">
                        <div class="col-lg-12" ng-repeat="rows in commodity.submitList" >
                            <div>{{$index + 1}}</div>
                            <div>
                                <input class="form-control" ng-class="{'red': rows.name == null}" ng-model="rows.name" type="text" required/>
                            </div>
                            <div>
                                <div ng-if="commodity.state == 'mod'">{{rows.typename}}</div>
                                <select class="form-control" ng-class="{'red': rows.typeid == null}" ng-if="commodity.state == 'add'" ng-model="rows.typeid" ng-options="rows.id as rows.name for rows in commodity.submitType" required></select>
                            </div>
                            <div>
                                <input class="form-control" ng-class="{'red': rows.unit == null}" ng-model="rows.unit" type="text" required/>
                            </div>
                            <div>
                                <input class="form-control" ng-class="{'red': rows.price == null}" ng-model="rows.price" type="number" required/>
                            </div>
                            <div>
                                <input class="form-control" ng-class="{'red': rows.limitnum == null}" ng-model="rows.limitnum" type="number" required/>
                            </div>
                            <div>
                                <input class="form-control" ng-class="{'red': rows.storenum == null}" ng-model="rows.storenum" type="number" required/>
                            </div>
                            <div class="text-center" ng-if="commodity.state == 'add'">
                                <div class="ou-btn fa fa-plus-circle" ng-click="commodity.addCommodity()"></div>
                                <div class="ou-btn fa fa-times-circle" ng-click="commodity.closeCommodity($index)" ng-if="$index"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-right">
                <button class="btn btn-success" ng-click="commodity.submit()" ng-disabled="list.$invalid">提交</button>
                <button class="ben btn-danger" ng-click="commodity.closeWindow()">关闭</button>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除选中商品？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="commodity.delete()">确定</button>
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>