.debugger .navbar {
    color: #fff;
    border-radius: 0px;
}

.debugger .navbar-brand {
    color: #fff;
}

.debugger a {
    cursor: pointer;
}

.debugger .panel {
    margin: 0 10px;
}

.debugger .button {
    font-family: 'msyh';
}

.debugger .table-button {
    height: 34px;
    font-size: 14px;
}

.debugger i {
    margin: 0 5px;
}

.debugger-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.navbar{margin-bottom: 5px;}
.panel-body{padding: 0 15px;}