<div class="layout-full">
    <div class="safe-questionnaire-page-wrapper" ng-click="pageClick($event)">
        <div class="safe-questionnaire-page-inner">
            <div class="safe-questionnaire-page-head-container">
                <div class="row safe-questionnaire-table-header-row">
                    <div class="col-lg-12">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="col-lg-3 full-left no-margin">
                                    <div class="col-md-3 safe-questionnaire-search-filter-label">调查员</div>
                                    <div class="col-md-9 no-margin">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model="searchFilter.searchText" ng-keypress="keypress($event)"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 full-left no-margin">
                                    <div class="col-md-3 safe-questionnaire-search-filter-label">访谈对象</div>
                                    <div class="col-md-9 no-margin">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model="searchFilter.searchText" ng-keypress="keypress($event)"/>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-lg-3 full-left no-margin">-->
<!--                                    <div class="col-md-3 safe-questionnaire-search-filter-label">访谈单位</div>-->
<!--                                    <div class="col-md-9 no-margin">-->
<!--                                        <div class="form-group">-->
<!--                                            <input class="form-control" type="text" ng-model="searchFilter.searchText" ng-keypress="keypress($event)"/>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-lg-3 full-left no-margin">
                                    <div class="col-md-3 safe-questionnaire-search-filter-label">访谈所属</div>
                                    <div class="col-md-9 no-margin">
                                        <div class="form-group">
                                            <select class="safe-bigdata-time-select form-control pull-left" ng-model="searchFilter.content" ng-change="getRecordList()">
                                                <option value="{{row.value}}" ng-repeat="row in classList">{{row.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 full-left text-right no-margin">
                                    <button class="btn btn-warning" ng-click="resetFilter()"><i class="fa fa-undo"></i>重置</button>
                                    <button class="btn btn-success" ng-click="getRecordList()"><i class="fa fa-search"></i>查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row safe-questionnaire-table-header-row">
                    <div class="col-lg-12">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="col-lg-3 full-left no-margin" style="line-height: 39px;">
                                    <div style="padding: 0 5px;" class="col-md-3 safe-dataanalysis-search-filter-label safe-dataanalysis-search-label">访谈时间</div>
                                    <div class="col-md-9 no-margin form-group">
                                        <input class="form-control pull-left" style="width:calc((100% - 50px)/2);" type="text" ng-model="searchFilter.starttime" safe-picker p!format="Y-m-d H:i" p!timepicker="true" placeholder="开始时间" ng-change="getRecordList()">
                                        <span class="safe-dataanalysis-search-label pull-left col-md-2" style="width:50px;" >至</span>
                                        <input class="form-control pull-left" style="width:calc((100% - 50px)/2);"  type="text" ng-model="searchFilter.endtime" safe-picker p!format="Y-m-d H:i" p!timepicker="true" placeholder="结束时间" ng-change="getRecordList()">
                                    </div>
                                </div>

                                <div class="col-lg-3 full-left no-margin">
                                    <div class="col-md-3 safe-questionnaire-search-filter-label">访谈类型</div>
                                    <div class="col-md-9 no-margin">
                                        <div class="form-group">
                                            <select class="safe-bigdata-time-select form-control pull-left" ng-model="searchFilter.content" ng-change="getRecordList()">
                                                <option value="{{row.value}}" ng-repeat="row in typeList">{{row.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 full-left no-margin">
                                    <div class="col-md-3 safe-questionnaire-search-filter-label">审核情况</div>
                                    <div class="col-md-9 no-margin">
                                        <div class="form-group">
                                            <select class="safe-bigdata-time-select form-control pull-left" ng-model="searchFilter.status" ng-change="getRecordList()">
                                                <option value="{{row.value}}" ng-repeat="row in statusList">{{row.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="loading.isLoading" class="system-loading-toast" ng-class="loading.className">
                <div class="loading-toast">
                    <i class="loading-icon fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <p class="loading-content">{{loading.content}}...</p>
                </div>
            </div>
            <div class="safe-questionnaire-page-body-container">
                <div class="safe-questionnaire-table-container">
                    <div style="position: relative; height: 100%;">
                        <div class="safe-questionnaire-table-thead">
                            <table class="table table-hover table-bordered">
                                <col width="5%">
                                <col width="8%">
                                <col width="9%">
                                <col width="15%">
                                <col width="15%">
                                <col width="9%">
                                <col width="8%">
                                <col width="8%">
                                <col width="15%">
                                <col width="8%">
                                <col width="10%">
                                <tr>
                                    <td>序号</td>
                                    <td>调查员</td>
                                    <td>省份</td>
                                    <td>访谈开始时间</td>
                                    <td>访谈结束时间</td>
                                    <td>访谈对象</td>
                                    <td>访谈所属</td>
                                    <td>访谈类型</td>
                                    <td>问卷名称</td>
                                    <td>审核情况</td>
                                    <td>操作</td>
                                </tr>
                            </table>
                        </div>
                        <div class="safe-questionnaire-table-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-responsive">
                                    <col width="5%">
                                    <col width="8%">
                                    <col width="9%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="9%">
                                    <col width="8%">
                                    <col width="8%">
                                    <col width="15%">
                                    <col width="8%">
                                    <col width="10%">
                                    <tr ng-repeat="row in recordList">
                                        <td>{{$index+1}}</td>
                                        <td>{{row.interviewer}}</td>
                                        <td>{{row.sf}}</td>
                                        <td>{{row.starttime}}</td>
                                        <td>{{row.endtime}}</td>
                                        <td>{{row.xm}}</td>
                                        <td>{{row.typename}}</td>
                                        <td>{{ ({wjlx_ftwj:'问卷',wjlx_lb:'量表'}[row.nairetype]) }}</td>
                                        <td>{{row.nairename}}</td>
                                        <td style="font-size: 18px;" ng-style="{color: row.statusname === '待调查' ? '#f04124' : row.statusname === '待审核' ? '#f0ad4e' : row.statusname === '已审核' ? '#5cb85c' : '#a5a5a5'}">{{row.statusname}}</td>
                                        <td ng-if="row.statusname === '待调查'">待调查</td>
                                        <td ng-if="row.statusname === '待审核' && row.sign === '1'">
                                            <a class="btn btn-info" ng-click="check(row)" style="padding: 8px 16px;"><i class="fa fa-gavel fa-fw"></i>审核</a>
                                        </td>
                                        <td ng-if="row.statusname !== '待调查'">
                                            <a class="btn btn-success" ng-click="check(row)" style="padding: 8px 16px;"><i class="fa fa-eye fa-fw"></i>查看</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-questionnaire-table-footer pull-right">
                    <div class="safe-questionnaire-table-footer-record-info pull-left">
                        共 <span class="text-warning">{{params.totalSize||0}}</span> 条记录，
                        共 <span class="text-warning">{{params.totalPage||0}}</span> 页
                    </div>
                    <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="alarm-no-margin" total-items="params.totalSize" ng-model="params.pageNo" ng-change="getRecordList()" previous-text="上一页" next-text="下一页" max-size="5" items-per-page="params.pageSize"></uib-pagination>
                </div>
            </div>
            <div ng-show="!showCriminalFile" class="safe-questionnaire-page-body-container">
                <div class="safe-questionnaire-analysis-type-header-container">
                    <label>分析项</label>
                    <div class="btn btn-info" ng-class="{'actived': row.isActived}" ng-repeat="row in analysisType" ng-click="chooseType(row)">{{row.name}}</div>
                </div>
                <div class="safe-questionnaire-table-container" i-scroll ng-if="analysisTypeActive == 'qg'">
                    <div style="position: relative; height: 100%;">
                        <div class="safe-questionnaire-table-thead">
                            <table class="table table-hover table-bordered">
                                <col width="10%">
                                <col width="30%">
                                <col width="30%">
                                <col width="30%">
                                <tr>
                                    <td>序号</td>
                                    <td>年度</td>
                                    <td>新收押人数</td>
                                    <td>释放人数</td>
                                </tr>
                            </table>
                        </div>
                        <div class="safe-questionnaire-table-body">
                            <div>
                                <table class="table table-hover table-bordered">
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="30%">
                                    <col width="30%">
                                    <tr ng-repeat="row in resultList">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{row.code}}</td>
                                        <td class="text-right">{{row.nums}}</td>
                                        <td class="text-right">{{row.sfrs}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-questionnaire-table-container" ng-if="analysisTypeActive == 'provinceSf' || analysisTypeActive == 'provinceSy'">
                    <div style="position: relative; height: 100%;">
                        <div class="safe-questionnaire-table-thead">
                            <table class="table table-hover table-bordered">
                                <col width="50px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <tr>
                                    <td>序号</td>
                                    <td>省份/直属监狱</td>
                                    <td>2012</td>
                                    <td>2013</td>
                                    <td>2014</td>
                                    <td>2015</td>
                                    <td>2016</td>
                                    <td>2017</td>
                                    <td>2018</td>
                                </tr>
                            </table>
                        </div>
                        <div class="safe-questionnaire-table-body" i-scroll>
                            <div>
                                <table class="table table-hover table-bordered">
                                    <col width="50px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <col width="100px">
                                    <tr ng-repeat="row in resultList">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{row.name}}</td>
                                        <td class="text-right" ng-repeat="child in row.child">{{child.sfrs ? child.sfrs : child.value}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">合计</td>
                                        <td class="text-right" ng-repeat="child in totalList">{{child}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
