<div class="ui-layout-column addStyle" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
    <div class="ui-layout-row"  ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
        <div class="widget-content ui-layout-container" ui-layout-container ng-form="list">
            <div class="row"><p ng-style="{'margin': '10px 15px'}">当前电视墙：{{generateModel.bigmonitorName}}</p></div>
            <div class="row" ng-class="{'red': !generateModel.number}"><p>模式编号：</p><input class="form-control" ng-model="generateModel.number" type="text" required/></div>
            <div class="row" ng-class="{'red': !generateModel.name}"><p>模式名称：</p><input class="form-control" ng-model="generateModel.name" type="text" required/></div>
            <div class="col-lg-12">
                <div class="col-md-12 header">
                    <h4>行</h4>
                    <input max="99" min="1" ng-model="generateModel.row" type="number" ng-maxlength="2" ng-trim="true"/>
                    <h4>列</h4>
                    <input max="99" min="1" ng-model="generateModel.list" type="number" ng-maxlength="2"/>
                    <button class="btn btn-info" ng-click="generateMonitor(this, $event)" ng-disabled="!generateModel.test.button">生成模式</button>
                    <button ng-click="generateModel.test.begin()" ng-if="generateModel.test.button" class="btn btn-primary"><i class="fa fa-eye"></i>预览</button>
                    <button ng-click="generateModel.test.begin()" ng-if="!generateModel.test.button" class="btn btn-danger">返回编辑</button>
                </div>
                <div class="col-md-12 content">
                    <div class="table" ng-style="{height: 100 + '%','background-color': 'rgba(0,0,0,0)' }">
                        <div class="tr" ng-if="generateModel.test.button" ng-style="{height: generateModel.height + '%'}" ng-repeat="row in generateModel.theme">
                            <div class="td  {{generateModel.inputArry[this.$parent.$index][$index].preview}}" ng-style="{width: generateModel.width + '%'}" ng-repeat="list in row track by $index">
                                <div ng-mouseleave="generateModel.saveTheme(this)" ng-style="{'font-size': (generateModel.fontSize + 6) * 2 + 'px','line-height': generateModel.height * 4.85 + 'px'}">
                                    <p title="点击修改!" ng-if="generateModel.inputArry[this.$parent.$index][$index].change" ng-click="generateModel.inputCut(this)" class="{{generateModel.inputArry[this.$parent.$parent.$index][$index].color}}">{{list}}</p>
                                    <div ng-if="!generateModel.inputArry[this.$parent.$index][$index].change">
                                        <input ng-keydown="generateModel.saveTheme(this, $event)" class="getOrder"  ng-style="{width: 70 + '%','margin-left': -35 + '%', 'text-align': 'center'}" type="text" ng-model="list" ng-change="generateModel.updateTheme(this)" ng-maxlength="50"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table" ng-style="{height: 100 + '%','background-color': 'rgba(0,0,0,0)',position: relative }" ng-if="!generateModel.test.button">
                            <div ng-repeat="rows in generateModel.test.theme track by $index">
                                <div class="modelFruit" ng-repeat="cols in rows" ng-style="{
                                    height:{{cols.style.height}} + '%',
                                    width:{{cols.style.width}} + '%',
                                    position: 'absolute',
                                    left: {{cols.left}} * (cols.index - 1) + '%',
                                    top: {{cols.top}} * $parent.$index + '%',
                                    'line-height': {{cols.style.height}} * 4.85 + 'px',
                                    padding: 3 + 'px'
                                    }">
                                    <div ng-style="{
                                        'background-color': 'rgba(0,0,0,.3)',
                                        height: 100 + '%',
                                        'text-align': 'center',
                                        'font-size': 15 + (cols.style.height * cols.style.width) / 35 + 'px'}">{{cols.value}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 footer" ng-class="{'red': !generateModel.content }">
                <p class="animated {{generateModel.animated.content}}">请输入内容：<span ng-style="{color: 'white'}">（ 控制电视墙和解码器设备的相关参数, 格式：{"xx": "xx"}或{"xx": 11} ）</span></p>
                <textarea class="form-control" ng-model="generateModel.content" name="**" id="" cols="180" rows="3" required></textarea>
            </div>
        </div>
        <div class="widget-header ui-layout-container" size="50px" ui-layout-container>
            <button class="btn btn-success" ng-click="generateModel.submit()"  ng-disabled="list.$invalid">提交</button>
            <button class="btn btn-danger" ng-click="cancel()" ng-disabled="">取消</button>
        </div>
    </div>
</div>