.safe-bid-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.safe-bid-loading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.safe-bid-index {
    position: absolute;
    z-index: 21;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 100%;
    /*background: url('../img/background.jpg') 0/cover fixed;*/
    /*background: linear-gradient(135deg, #003073, #04037b);*/
    /*background-color: #001C69;
    background-image: linear-gradient(to bottom, #293c55, #000000);
    background-repeat: repeat-x;*/
    background: url('../img/background.png') 0/cover fixed;
}

.safe-bid-theme-bg {
    /*background-image: url('../img/bg.png');*/
    background-size: cover;
    background-position: center center;
}

.safe-bid-index-bg {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.safe-bid-index-bg-static {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: url('../img/bg.png') 0/cover fixed;*/
    background: url('../img/background.jpg') 0/cover fixed;
    opacity: 1;
    transition: opacity 1s;
}

.safe-bid-box.animationHight .safe-bid-index-bg-static {
    opacity: 0.9;
}

.safe-bid-index-bg-animation {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.safe-bid-box.animationHight .safe-bid-index-bg-animation {
    display: block;
}

.safe-bid-box.animationHight .safe-bid-index-bg-animation video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.safe-bid-index-bg.animation {
    animation: fadeIn 1s linear 0s;
    -webkit-animation: fadeIn 1s linear 0s;
}

.safe-bid-index-content {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.safe-bid-index-title {
    position: absolute;
    z-index: 23;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    /*background: rgb(14, 29, 97);*/
    background: rgba(2, 48, 100, 0.8);
}

.safe-bid-index-title.animation {
    animation: fadeInDown 1s linear 0s;
    -webkit-animation: fadeInDown 1s linear 0s;
}

.safe-bid-index-title .toolbar {
    position: relative;
    width: 560px;
    height: 80px;
    /*background: url('../img/top.png') no-repeat;
    background-size: 100% 100%;*/
}

.safe-bid-index-title .toolbar .center {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.safe-bid-index-title .toolbar .center .iiw-logo-panel h1 {
    /*color: #01defb;*/
    color: #ffffff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    letter-spacing: 1px;
    font-size: 24px;
}

.safe-bid-index-title .buttons {
    top: 0px;
    height: 80px;
    width: 400px;
    float: right;
    line-height: 80px;
    text-align: right;
}

.safe-bid-index-title .buttons button {
    width: 140px;
    height: 50px;
    margin-top: 0px;
    background: transparent;
    border: 0px;
    margin-left: 10px;
    position: relative;
    outline: none;
    color: #179cde;
}

.safe-bid-index-title .buttons > button.active,
.safe-bid-index-title .buttons > button:hover {
    color: #fff;
}

.safe-bid-index-title .buttons button i {
    margin-right: 10px;
}

.safe-bid-index-title .buttons .themes {
    position: absolute;
    top: 60px;
    z-index: 99;
    display: none;
}

.safe-bid-index-title .buttons .themes:hover,
.safe-bid-index-title .buttons .has-list:hover ~ .themes {
    display: block
}

.safe-bid-index-title .buttons .themes button:hover {
    text-shadow: 0 0 20px #cbeeff;
    color: #fe9d1c;
}

.safe-bid-index-title .buttons .global-search {
    position: relative;
    width: 126px;
    margin-top: 33px;
    float: left;
    transition: width 1s;
}

.safe-bid-index-title .buttons .global-search:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: skewX(-24deg);
    border-left: 1px solid #0754a6;
    border-right: 6px solid #0754a6;
    border-top: 2px solid #0754a6;
    border-bottom: 2px solid #0754a6;
}

.safe-bid-index-title .buttons .global-search input {
    height: 36px;
    color: #fff;
    background: transparent;
    padding: 5px 35% 5px 12px;
}

.safe-bid-index-title .buttons .global-search i {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
}

.safe-bid-index-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.safe-bid-index-body.animationHide {
    display: block;
    animation: fadeOutDown 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: fadeOutDown 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.safe-bid-index-body.animationShow {
    display: block;
    animation: fadeInUp 0.5s;
    -webkit-animation: fadeInUp 0.5s;
}

.safe-bid-index-body-map {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.safe-bid-index-body-supermap {
    position: absolute;
    z-index: 3;
    left: 384px;
    top: 120px;
    width: 1100px;
    height: 562px;
}

.safe-bid-index-body-map.ng-hide-add {
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
}

.safe-bid-index-body-map.ng-hide-remove {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.safe-bid-index-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: url('../img/bottom.png') no-repeat;
    background-size: 100% 100%;
    z-index: 5;
    overflow: hidden;
}

.safe-bid-index-body-modlues {
    position: absolute;
    z-index: 12;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    display: none;
    /*background-image: url('../img/bg.png');*/
    background-size: cover;
    background-position: center bottom;
}

.safe-bid-index-body-modlues.animationShow {
    display: block;
    /*animation: fadeInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: fadeInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
    animation: fadeInUp 0.5s;
    -webkit-animation: fadeInUp 0.5s;
}

.safe-bid-index-body-modlues.animationHide {
    display: block;
    animation: fadeOutDown 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: fadeOutDown 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.safe-bid-index-body-modlues .moduleBg {
    width: 100%;
    height: 100%;
    /*padding: 10px;*/
}

.safe-bid-index-body-modlues .moduleBox {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background: url('../img/bg.jpg') 0/cover fixed;*/
    box-shadow: 0 0 15px #000;
    /*border-radius: 15px;*/
    /*padding: 15px;*/
}

.safe-bid-index-body-modlues .moduleTitle {
    width: 100%;
    height: 72px;
    line-height: 72px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.safe-bid-index-body-modlues .moduleTitle .h3 {
    line-height: 72px;
    font-weight: bold;
}

.safe-bid-index-body-modlues .moduleTitle .fa-caret-right {
    font-size: 26px;
    padding: 0px 10px 0px 20px;
}

.safe-bid-index-body-modlues .moduleClose {
    float: left;
    outline: none;
    /*border: 0px;*/
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 15px 0 0 10px;
    padding: 0px;
    /*background: #ebebeb;*/
    border-radius: 46px 0 0 46px;
    font-weight: bolder;
    /*color: #4f7f9b;*/
}

.safe-bid-index-body-modlues .moduleClose .fa {
    padding: 0 10px;
}

.safe-bid-index-body-modlues .moduleClose:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
    text-shadow: 0 0 10px #fff;
}

.safe-bid-index-body-modlues .moduleClose:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.75);
    text-shadow: 0 0 10px #fff;
}

.safe-bid-view-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.safe-bid-view-loading {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}

.safe-bid-view-loading .view-loading-table {
    display: table;
    width: 100%;
    height: 100%;
}

.safe-bid-view-loading .view-loading-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    text-shadow: 0 0 50px #000;
}

.safe-bid-view {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*padding: 0px 20px 10px 20px;*/
}

.safe-bid-view > div {
    position: relative;
}

.safe-bid-setting {
    width: 100%;
    height: 100%;
}

.safe-bid-setting p {
    margin: 30px 0;
}

.safe-bid-setting p input {
    vertical-align: -1px;
}

.safe-bid-setting-themes {
    margin-left: -20px;
    width: 600px;
    height: 220px;
}

.safe-bid-setting-themes > div {
    float: left;
    margin: 0 0 20px 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.safe-bid-setting-themes > div.onSelect {
    box-shadow: 0 0 20px #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.safe-bid-setting-themes > div img {
    width: 100%;
    height: 100%;
}

.safe-main-mainbar {
    position: static;
    height: 40px;
    line-height: 40px;
    margin-top: 18px;
}

.safe-main-mainbar .button {
    position: absolute;
    top: 21px;
    right: 3px;
    border-radius: 30px;
    width: 120px;
    height: 34px;
    opacity: 0.75;
    padding: 0px;
    font-family: msyh;
    line-height: 0px;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.safe-main-mainbar .button:hover {
    opacity: 1;
}

.safe-main-mainbar .button.ng-hide-add {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.safe-main-mainbar .button.ng-hide-remove {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.safe-bid-background-music {
    position: absolute;
    z-index: 9999;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 36px;
    font-size: 20px;
    opacity: 0.25;
    transition: opacity 0.5s, color 0.5s;
    cursor: pointer;
}

.safe-bid-background-music:hover {
    opacity: 1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.safe-bid-background-music:active {
    color: #000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.safe-bid-index-body-modlues .safe-bid-index-title {
    display: block;
}

.safe-bid-index-body-modlues .safe-bid-index-title .toolbar .center > div {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.safe-bid-index-body-modlues .safe-bid-index-title .toolbar .center > div span {
    padding: 0 40px;
    position: relative;
    letter-spacing: 8px;
}

.safe-bid-index-body-modlues .safe-bid-index-title .toolbar .center > div span::after {
    content: '\f0da';
    position: absolute;
    left: -8px;
    top: 2px;
    font-family: 'FontAwesome';
}

.safe-bid-index-body-modlues .safe-bid-index-title .toolbar .center > div span:first-child::after {
    content: '';
}

.safe-bid-index-body-modlues .safe-bid-index-title .toolbar .center > div span:last-child {
    color: orange;
}

.safe-bid-box .column_bg{
    background: url(../img/hologram/column_bg.png) no-repeat left top;
    background-size: 100% 100%;
}

.safe-bid-box .btn-tech-icon{
    background: url(../img/hologram/button.png) no-repeat left top;
    background-size: 100% 100%;
}

.safe-bid-chart-container-head-title {
    border-image: url('../img/line.png');
    background-size: 100% 100%;
    text-align: left;
}


.safe-bid-index-body-page-container {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    left: 0;
    z-index: 2;
    /*background: #0a213e;*/
    /*background: #002f53;*/
    /*background: rgba(4,98,170,1);*/
}