.safe-bid-menu {
    position: absolute;
    z-index: 21;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*display: none;*/
}

.safe-bid-menu .safe-bid-menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url('../img/menu/bg.png') no-repeat;*/
    background: url('../img/navigate.png') no-repeat;
    background-size: cover;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title {
    position: absolute;
    z-index: 11;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    padding: 0;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .toolbar {
    position: relative;
    width: 100%;
    height: 80px;
    /*background: url('../img/menu/top.png') no-repeat;*/
    background-size: 100% 100%;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .toolbar .center {
    width: 35%;
    height: 100%;
    margin: 0 auto;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .toolbar .center .iiw-logo-panel h1 {
    /*color: #01defb;*/
    color: #ffffff;
    font-size: 38%;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .buttons {
    position: absolute;
    right: 20px;
    top: 0px;
    height: 100px;
    margin: 0 0 0 40px;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .buttons button {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 0px;
    margin-left: 10px;
    position: relative;
    outline: none;
    color: #179cde;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .buttons > button.active,
.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .buttons > button:hover {
    color: #fff;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-index-title .buttons button i {
    margin-right: 10px;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-menu-body {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 2000px;
    transform-style: preserve-3d;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-menu-body .bg-round {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 2;
}

.safe-bid-menu .safe-bid-menu-container .safe-bid-menu-body .bg-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 3;
}

.safe-bid-menu-body .basic {
    position: relative;
    width: 90%;
    height: 80%;
    top: 13%;
    left: 5%;
    transform-style: preserve-3d;
    z-index: 4;
}

.safe-bid-menu-container .safe-bid-menu-body .box {
    position: absolute;
    left: 0;
    top: 0;
    /*width: 316px;
    height: 200px;*/
    width: 361px;
    height: 163px;
    border: 0px;
    outline: none;
    z-index: 3;
}

.safe-bid-menu-container .safe-bid-menu-body .box > button {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: none;
}

/*.safe-bid-menu-container .safe-bid-menu-body .box > button .inner {
    position: absolute;
    left: 68px;
    bottom: 35px;
    width: 179px;
    height: 107px;
    z-index: 1;
    background: url('../img/menu/cricle_inner.png') no-repeat;
    background-size: 100% 100%;
}*/

.safe-bid-menu-container .safe-bid-menu-body .box > button .outer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 361px;
    height: 163px;
    background: url('../img/menu/menu_bg.png') no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

.safe-bid-menu-container .safe-bid-menu-body .box > button .text {
    position: relative;
    font-size: 20px;
    /*text-shadow: 0 0 10px #01defb;*/
    text-align: left;
    width: 140px;
    float: right;
    padding-right: 10px;
    font-weight: bold;
}

.safe-bid-menu-container .safe-bid-menu-body .box.znaf > button .text {
    position: relative;
    font-size: 20px;
    text-align: left;
    width: 160px;
    float: right;
    padding-right: 10px;
    font-weight: bold;
}

.safe-bid-menu-container .safe-bid-menu-body .box > button:hover {
    text-shadow: 0 0 10px #ffffff;
}

/*
.safe-bid-menu-container .safe-bid-menu-body .box > button::before {
    content: '';
    position: absolute;
    left: 103px;
    top: 30px;
    width: 110px;
    height: 89px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
}*/

.safe-bid-menu-container .safe-bid-menu-body .box.znyw {
    left: 5%;
    top: 20%;
}

/*.safe-bid-menu-container .safe-bid-menu-body .box.znyw > button::before {
    background-image: url('../img/menu/ball_znyw.png');
}*/

.safe-bid-menu-container .safe-bid-menu-body .box.sjyp {
    left: 74%;
    top: 20%;
}

/*.safe-bid-menu-container .safe-bid-menu-body .box.sjyp > button::before {
    background-image: url('../img/menu/ball_sjyp.png');
}*/

.safe-bid-menu-container .safe-bid-menu-body .box.znaf {
    left: 45%;
    top: 84%;
}

/*
.safe-bid-menu-container .safe-bid-menu-body .box.znaf > button::before {
    background-image: url('../img/menu/ball_znaf.png');
}
*/

@keyframes safe-menu-basic-round {
    0%  { transform: rotate(0deg) ;  }
    100%{ transform: rotate(360deg); }
}

@keyframes safe-menu-box-round {
    0%  { transform: rotate(360deg) ;  }
    100%{ transform: rotate(0deg); }
}


/*************************************topmenu**************************************************/
.safe-bid-top-menu-bar-tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
    height: 100%;
}

.safe-bid-top-menu-bar-tabs nav {
    text-align: center;
    display: block;
    height: 100%;
}

.safe-bid-top-menu-bar-tabs nav ul {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
}

.safe-bid-top-menu-bar-tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    flex: 1;
    height: 100%;
    width: 200px;
}

.safe-bid-top-menu-bar-tabs nav ul li:hover {
    cursor: pointer;
}

.safe-bid-top-menu-bar-tabs nav li.safe-bid-top-menu-tab-current {
    text-shadow: 0 0 5px;
}

.safe-bid-top-menu-bar-tabs nav ul li.safe-bid-top-menu-tab-current a {
    color: #fff;
}

.safe-bid-top-menu-bar-tabs nav li.safe-bid-top-menu-tab-current a {
    color: #74777b;
}

.safe-bid-top-menu-bar-tabs nav ul li a {
    border-right: 1px solid  #0a213e;
    line-height: 80px;
    transition: color 0.3s;
    backface-visibility: hidden;
    height: 100%;
}

.safe-bid-top-menu-bar-tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 80px;
}

.safe-bid-top-menu-bar-tabs nav a:hover, .safe-bid-top-menu-bar-tabs nav a:focus {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 5px;
}

.safe-bid-top-menu-bar-tabs nav ul li a:hover::after {
    border: 1px solid #0a213e;
    background: #0a213e;
    transform: translate3d(0,0,0);
}

.safe-bid-top-menu-bar-tabs a {
    color: #eee;
    text-decoration: none;
    outline: none;
}

.safe-bid-top-menu-bar-tabs nav ul li.safe-bid-top-menu-tab-current a span, .safe-bid-top-menu-bar-tabs li.safe-bid-top-menu-tab-current .fa::before {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

.safe-bid-top-menu-bar-tabs .fa::before {
    display: block;
    margin: 0;
    height: 20px;
}

.safe-bid-top-menu-bar-tabs nav ul li a span, .safe-bid-top-menu-bar-tabs .fa::before {
    transition: transform 0.5s;
    transform: translate3d(0,-10px,0);
}

.safe-bid-top-menu-bar-tabs nav ul li a span {
    font-size: 18px;
}

.safe-bid-top-menu-bar-tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.safe-bid-top-menu-bar-tabs nav ul li.safe-bid-top-menu-tab-current a::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.safe-bid-top-menu-bar-tabs nav ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    height: calc(100% + 1px);
    border: 1px solid #0a213e;
    background: #0a213e;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.safe-bid-top-menu-panel {
    width: calc(100% - 1120px);
    height: 100%;
    float: left;
    display: none;
}
