.safe-notice-push {
    width: 100%;
    height: 100%;
}

.safe-notice-push .notice-title {
    width: 100%;
    height: 7.5%;
    line-height: 55px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.safe-notice-push .menu-button {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.safe-notice-push .menu-button button {
    border-radius: 3px;
}

.safe-notice-push .menu-button button .fa {
    margin-right: 5px;
}

.safe-notice-push .back-btn {

}

.safe-notice-push .search-btn {
    float: right;
    padding-top: 9px;
    width: 270px;
    padding-right: 5px;
}

.safe-notice-push .notice-body {
    width: 100%;
    height: 85%;
}

.safe-notice-push .notice-table {
    font-size: 16px;
    position: relative;
    table-layout: fixed;
}

.safe-notice-push .notice-table thead tr th,
.safe-notice-push .notice-table tbody tr td {
    height: 55px;
    vertical-align: middle;
}

.safe-notice-push .notice-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.safe-notice-push .notice-table tbody tr:hover, .safe-notice-push .notice-table tbody tr.select {
    box-shadow: 0 0 15px 1px rgba(30, 190, 253, 0.8) inset;
}

.safe-notice-push .notice-table .noticeSelect {
    background: rgba(91, 192, 222, 0.9) !important;
}

.safe-notice-push .notice-table .td-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.safe-notice-push .notice-table .td-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.safe-notice-push .notice-footer {
    width: 100%;
    height: 7.5%;
    line-height: 55px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.safe-notice-push .notice-footer label {
    height: 40px;
    line-height: 40px;
    padding-top: 4px;
}

.safe-notice-push .notice-footer .pagination {
    height: 35px;
    margin: 10px 5px;
}

/* add-page */
.safe-notice-push-add {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.safe-notice-push-add .padding-15 {
    padding: 0 15px;
}

.safe-notice-push-add .padding-30 {
    padding: 0 30px;
}

.safe-notice-push-add .bg-3 {
    background: rgba(0, 0, 0, .3);
}

.safe-notice-push-add .btn-left {
    margin: 0 5px 0 15px
}

.safe-notice-push-add .index-number {
    background: orange;
    color: #fff;
    height: 21px;
    line-height: 21px;
    width: 21px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.safe-notice-push-add .title-bar {
    height: 6.5%;
    line-height: 55px;
}

.safe-notice-push-add .main-body {
    height: 93.5%;
    width: 100%;
    padding: 0 150px;
    position: relative;
}

.safe-notice-push-add .main-body[i-scroll2] > div[i-resize] {
    width: calc(100% - 300px);
}

.safe-notice-push-add .main-body .row-wrapper {
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
}

.safe-notice-push-add .main-body .row-wrapper input {
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    box-shadow: 0px 0px 10px #0880d7;
}

.safe-notice-push-add .main-body .row-wrapper select {
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0880d7;
}

.safe-notice-push-add .main-body .row-info-wrapper {
    margin: 5px 0;
    padding: 5px 0;
}

.safe-notice-push-add .main-body .row-info-wrapper .row-info {
    line-height: 55px;
}

.safe-notice-push-add .main-body .row-info-wrapper .row-info.row-info-text {
    line-height: 40px;
}

.safe-notice-push-add .main-body .row-info-wrapper .row-info input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    /*box-shadow: 0px 0px 10px #0880d7;*/
}

.safe-notice-push-add .main-body .row-info-wrapper .row-btn .btn {
    margin-left: 5px;
}

.safe-notice-push-add .main-body .row-info-wrapper .input-margin {
    margin: 0 10px;
}

.safe-notice-push-add .main-body .sign-color {
    color: orange;
}

.safe-notice-push-add .main-body .single-line {
    padding: 0 30px;
}

.safe-notice-push-add .btn-back {
    margin-right: 5px;
}

.safe-notice-push-add .editorToolContainer {
    width: 100%;
    height: 333px;
    z-index: 1000;
    position: relative;
}

.safe-notice-push-add .input-record-text {
    outline: none;
    background: none;
    border: none;
    color: #fff;
    width: 90%;
}

.zjs a {
    width: 80px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

#noticeModal {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    overflow: hidden;
}

#noticeModal .notice-add {
    width: 100%;
    height: 100%;
    padding: 0 25%;
}

/*#filesModal input, #filesModal select {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    border: 3px solid #0880d7;
    outline: none;
    background: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px #0880d7;
}*/

.informationlinkage-ou-item {
    height: 150px;
    line-height: 150px;
    float: left;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.informationlinkage-ou-item-border {
    border: 1px solid #fff;
    border-radius: 8px;
    position: relative;
}

.informationlinkage-ou-item-border .fa {
    position: absolute;
    lweft: 0;
    right: 0;
    top: -10px;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    font-size: 120px;
}

/*system-monitorpatrol-item*/
.system-monitorpatrol-item {
    position: relative;
}

.system-monitorpatrol-item-container {
    background-color: rgba(0,0,0,0.3);
}

.ztree li span.button.ouIcon_ico_open,
.ztree li span.button.ouIcon_ico_close,
.ztree li span.button.ouIcon_ico_docu {
    background:url('../img/star.png');
    background-size: cover;
}
.ztree li span.button.mapIcon_ico_open,
.ztree li span.button.mapIcon_ico_close,
.ztree li span.button.mapIcon_ico_docu {
    background:url('../img/area.png');
    background-size: cover;
}
.ztree li span.button.cameraIcon_ico_docu {
    background:url('../img/camera.png');
    background-size: cover;
}
.ztree li span.button.userIcon_ico_docu {
    background:url('../img/user.png');
    background-size: cover;
}
.system-announcementItem-userTree-body {
    height: 600px;
    overflow: auto;
}

/*files*/
.notice-files {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.notice-files .item {
    min-width: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}
.notice-files .item:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.8), 0 0 10px 2px rgba(255, 255, 255, 1);
    cursor: pointer;
}
.notice-files .item .fa {
    font-size: 100px;
    padding: 15px 0 10px;
}
.notice-files .item img {
    display: block;
    width: 85px;
    height: 100px;
    background: url("../img/picture.png") no-repeat center/cover;
    margin: 0 auto;
}
.notice-files .item .name {
    font-size: 20px;
    padding-bottom: 10px;
}
/*reply*/
.reply-list {margin-bottom: 10px;}
.reply-list .square{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #e2eff9;
    vertical-align: top;
    transform: rotate(15deg);
    margin-left: 30px;
    color: #333;
    text-align: center;
    padding: 10px;
}
.reply-list .content{
    display: inline-block;
    width: 80%;
    position: relative;
    left: 30px;
    background-color: #e2eff9;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-word;
    color: #333;
}

.reply-list .content:hover{
    /*text-shadow: 1px 1px 1px gray;*/
}

.reply-list .content:after{
    content: "\00a0";
    display: block;
    position:absolute;
    top:5px;
    left: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0px;
    border-color: transparent #e2eff9 transparent transparent;
}
