<div class="layout-full system-infocard">
    <div ui-layout options="{dividerSize:'0'}">
        <div ui-layout-container size="65px">
            <h2 class="page-title">信息牌模板</h2>
        </div>
        <div ui-layout-container>
            <div class="layout-full bcb-opacity3">
                <div ui-layout options="{dividerSize:'0'}">
                    <div ui-layout-container size="47px">
                        <div class="layout-full bcb-opacity3 system-infocard-bar">
                            <div>
                                <a class="btn btn-warning pull-left" ng-click="back()"><i class="fa fa-sign-out fa-flip-horizontal fa-fw"></i>返回</a>
                            </div>
                            <div ng-if="template.type == 'list'">
                                <a class="btn btn-success pull-left" ng-click="template.list.add()"><i class="fa fa-plus fa-fw"></i>添加</a>
                                <a class="btn btn-warning pull-left" ng-disabled="(template.list.items | filter:{select:true}).length > 1 || (template.list.items | filter:{select:true}).length == 0" ng-click="template.list.mod()"><i class="fa fa-edit fa-fw"></i>修改</a>
                                <a class="btn btn-primary pull-left" ng-disabled="(template.list.items | filter:{select:true}).length > 1 || (template.list.items | filter:{select:true}).length == 0" ng-click="template.list.copy()"><i class="fa fa-copy fa-fw"></i>复制</a>
                                <a class="btn btn-danger pull-left" ng-click="template.list.del()"><i class="fa fa-minus fa-fw"></i>删除</a>
                            </div>
                            <div ng-if="template.type == 'relation'">
                                <a class="btn btn-warning pull-left" ng-click="template.type='list'"><i class="fa fa-list fa-fw"></i>返回模板列表</a>
                            </div>
                            <div class="form-group pull-right" style="width:250px;margin:0;">
                                <input type="text" class="form-control" ng-model="template.list.filterValue" placeholder="输入信息牌标题过滤"/>
                            </div>
                            <div class="form-group pull-right" style="width:100px;margin:2px 20px 0 0;">
                                <select class="form-control format-select" ng-model="template.typeItem" ng-change="template.list.getList()" ng-options="item.name for item in template.typeList"></select>
                            </div>
                            <div class="pull-right" style="width:100px;height:40px;line-height:40px;">信息牌类型：</div>
                        </div>
                    </div>
                    <div ui-layout-container>
                        <div class="layout-full system-infocard-content">
                            <div class="system-infocard-list-item" id="template{{item.id}}" ng-repeat="item in template.list.items" ng-hide="template.list.filterValue && item.name.indexOf(template.list.filterValue) == -1">
                                <div class="infocard-list-item-mask" ng-if="template.type == 'list'" ng-click="template.list.select(item)">
                                    <i ng-if="item.select" class="fa fa-check text-success infocard-list-item-mask-select"></i>
                                </div>
                                <div class="infocard-list-item-title bcb-opacity1">
                                    {{item.name}}
                                </div>
                                <div class="infocard-list-item-body safe-infocard-panel" id="list_{{item.id}}" infocard-template loadds template-url="item.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>