<div class="safe-rollcall-add-search-dialog">
    <div class="safe-rollcall-add-search-main">
        <div class="form-group pull-left" style="margin-right: 8px; line-height: 40px;">
            <label>姓名:</label>
        </div>
        <div class="form-group pull-left" style="width:250px;margin-right: 15px;">
            <div class="input-group">
                <input type="text" class="form-control" style="height: 37px;" ng-model="policeFieldSearchingXm" placeholder="请输入查询条件" autofocus/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="searchFilterList('police',policeFieldSearchingXm)"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group pull-left" style="margin-right: 8px; line-height: 40px;">
            <label>编号:</label>
        </div>
        <div class="form-group pull-left" style="width:250px;">
            <div class="input-group">
                <input type="text" class="form-control" style="height: 37px;" ng-model="policeFieldSearchingBm" placeholder="请输入查询条件" autofocus/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="searchFilterList('police',policeFieldSearchingBm)"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="safe-rollcall-add-search-main">
        <table class="table safe-rollcall-add-search-detail-table" style="margin-bottom: 0;">
            <col width="10%"/><col width="25%"/><col width="25%"/><col/>
            <thead>
                <tr>
                    <th class="text-center" style="border-top: 1px solid #666;">序号</th>
                    <th class="text-center" style="border-top: 1px solid #666;">警号</th>
                    <th class="text-center" style="border-top: 1px solid #666;">姓名</th>
                    <th class="text-center" style="border-top: 1px solid #666;">单位</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="safe-shiftclasses-submit-dialog-content safe-rollcall-add-search-main">
        <table class="table safe-rollcall-add-search-detail-table">
            <col width="10%"/><col width="25%"/><col width="25%"/><col/>
            <tbody>
                <tr ng-repeat="item in searchPoliceList" ng-click="selectSearchPolice(item,'police')" ng-class="{'action': item.action}">
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="text-center">{{item.coding}}</td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center">{{item.ouname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="iiw-safe-alarm-gxexecute-select-police-params text-center">
        <uib-pagination boundary-links="true"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        total-items="policeParams.totalSize"
                        ng-model="policeParams.pageNo"
                        ng-change="searchFilterList('police')"
                        items-per-page="policeParams.pageSize"
                        previous-text="上一页" next-text="下一页"
                        max-size="5"></uib-pagination>
    </div>
</div>
