.safe-questionnairecheck-page-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    z-index: 2;
    position: relative;
    left: 0;
    background: url(../img/background.png);
    background-size: 100% 100%;
    padding: 20px 10px;
}

.safe-questionnairecheck-page-wrapper .safe-questionnairecheck-page-inner {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.safe-questionnairecheck-page-wrapper .safe-questionnairecheck-page-body-container {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
    padding: 0 20%;
    overflow: hidden;
}

.safe-questionnairecheck-page-wrapper .safe-questionnairecheck-page-footer-container {
    width: 100%;
    height: 60px;
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.questionnairecheck-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20%;
}

.scale-container {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*color: #000;*/
    overflow: auto;
}

.scale-container::-webkit-scrollbar {
    background-color: rgba(0, 168, 255, .3)
}

.scale-container::-webkit-scrollbar-thumb {
    background-color: #00A8FF;
}


.scale-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.scale-subtext {
    font-size: 20px;
    margin-bottom: 10px;
}

.score-table tbody tr.select,
.score-table.table tbody tr.select {
    background-color: rgba(223, 105, 26, 0.6);
}

.score-table > tbody > tr:hover,
.score-table > tbody > tr:focus,
.score-table.table > tbody > tr:hover,
.score-table.table > tbody > tr:focus {
    /*background:rgba(0,0,0,0.3);*/
    background-color: rgba(223, 105, 26, 0.8);
}

.score-table > tbody > tr > td,
.score-table.table > tbody > tr > td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.score-table > thead {
    background: rgba(0, 141, 255, .3);
}

.score-table tr {
    height: 40px;
    line-height: 40px;
}

.score-table tr th,
.score-table tr td {
    text-align: center;
}

.score-table > thead > tr > th, .score-table.table > thead > tr > th {
    padding: 0;
    vertical-align: middle;
}

table > thead > tr > th, .table > thead > tr > th, table > tbody > tr > th, .table > tbody > tr > th, table > tfoot > tr > th, .table > tfoot > tr > th, table > thead > tr > td, .table > thead > tr > td, table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > td, .table > tfoot > tr > td {
    border-color: rgba(255, 255, 255, .3)
}

.scale-answerlist {
    padding: 0 22%;
}

.field-controlgroup, .field-input {
    padding: 0 9%;
}

.field-input .input-text {
    padding: 0 15px;
    margin: 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
