<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="layout-full" ui-view style="overflow: auto;">
                    <div class="ui-layout-row system-wjmanage-page-content" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="ui-layout-container" size="47px" ui-layout-container>
                            <div class="system-wjmanage-bar layout-full">
                                <div class="col-md-6">
                                    <a data-backdrop="false" data-target="#newwjModal" data-toggle="modal" class="btn btn-primary" style="padding: 8px 16px;"><i class="fa fa-plus fa-fw"></i>创建问卷</a>
                                </div>
                                <div class="col-md-2 select-group">
                                    <label>问卷类型: </label>
                                    <select class="form-control" ng-change="getList()" ng-model="filter.content">
                                        <option value="">全部</option>
                                        <option value="wjlx_ftwj">问卷</option>
                                        <option value="wjlx_lb">量表</option>
                                    </select>
                                </div>
                                <div class="col-md-2 select-group">
                                    <label>发布状态: </label>
                                    <select class="form-control" ng-change="getList()" ng-model="filter.content">
                                        <option value="">全部</option>
                                        <option value="P">已发布</option>
                                        <option value="N">未发布</option>
                                    </select>
                                </div>
                                <div class="input-group pull-right" style="width:247px;">
                                    <input type="text" class="system-wjmanage-search" placeholder="{{keyword}}" ng-keypress="getList()" ng-model="filter.name"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="getList()"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="ui-layout-container" ui-layout-container>
                            <div class="layout-full system-wjmanage-container" style="position: relative; display:inline-block;">
                                <div class="layout-full" style="border: 1px solid rgba(0, 0, 0, 0.2);">
                                    <div ng-if="loading.isLoading" class="system-loading-toast" ng-class="loading.className">
                                        <div class="loading-toast">
                                            <i class="loading-icon fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                                            <p class="loading-content">{{loading.content}}...</p>
                                        </div>
                                    </div>
                                    <div class="wj-list">
                                        <div class="wj-item" ng-repeat="row in wjList">
                                            <div class="item-top clearfix">
                                                <div class="pull-left">
                                                    <div class="item-name">{{row.name}}</div>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="pull-left item-id">ID：{{row.id}}</div>
                                                    <div class="pull-left item-sheet">类型：<span style="color: red;">{{row.typename}}</span></div>
                                                    <div class="pull-left" ng-class="row.status === 'P' ? 'item-release': 'item-stop'">
                                                        <i class="fa fa-circle" style="font-size: 10px;margin-right: 5px;"></i>{{row.status === 'P' ? '已发布' : '未发布'}}
                                                    </div>
                                                    <!-- <div class="pull-left item-sheet">答卷：<i ng-style="{color: row.answerNum > 0 ? '#0085ff' : '#262626'}">{{row.answerNum}}</i></div> -->
                                                    <div class="pull-left item-date">{{row.cretime | date: 'yyyy-MM-dd hh:mm'}}</div>
                                                </div>
                                            </div>
                                            <div class="item-bot clearfix">
                                                <div class="process-box pull-left">
                                                    <div class="pull-left process-item process-1" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false">
                                                        <i class="icon icon-design"></i>
                                                        <span>设计问卷</span>
                                                        <ul class="spinner-list" ng-class="{'on': hover1}">
                                                            <li class="spinner-item" data-backdrop="false" data-target="#wjconfigModal" data-toggle="modal" ng-click="edit('mod', row)">问卷设置</li>
                                                            <li class="spinner-item" ng-click="question(row)">编辑问卷</li>
                                                            <li class="spinner-item" ng-if="row.content === 'wjlx_ftwj'" ng-click="directory(row)">目录设置</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pull-left process-item process-2" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false">
                                                        <i class="icon icon-chart"></i>
                                                        <span>分析&下载</span>
                                                        <ul class="spinner-list" ng-class="{'on': hover2}">
                                                            <li class="spinner-item">统计&分析</li>
                                                            <li class="spinner-item">下载</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="operation-box pull-right">
                                                    <div class="pull-left item-running">
                                                        <i class="fa" ng-class="row.status === 'P' ? 'fa-pause': 'fa-play-circle'"></i>
                                                        <span class="vam">{{row.status === 'P' ? '停止' : '发布'}}</span>
                                                    </div>
                                                    <span class="splitline"></span>
                                                    <div class="pull-left item-control" data-backdrop="false" data-target="#wjconfigModal" data-toggle="modal" ng-click="edit('copy', row)">
                                                        <i class="fa fa-copy"></i>
                                                        <span class="vam">复制</span>
                                                    </div>
                                                    <div class="pull-left item-control">
                                                        <i class="fa fa-trash-o"></i>
                                                        <span class="vam">删除</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination ui-layout-container pagination-layout-container" size="49px" ui-layout-container>
                            <label class="col-lg-3 pull-right" style="height:50px; line-height: 50px;text-align: right;">统计信息：每页{{params.pageSize}}行， 共{{params.totalSize||0}}行， 共{{params.totalPage||0}}页</label>
                            <uib-pagination style="padding: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-left" total-items="params.totalSize" ng-model="params.pageNo" ng-change="getList()" items-per-page="params.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="newwjModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-remove"></i></button>
                                <h4 class="modal-title">创建问卷</h4>
                            </div>
                            <div class="modal-body">
                                <div class="widget-content">
                                    <div class="modal-wrapper" style="height: 500px;">
                                        <div class="module-box">
                                            <div class="figure" ng-repeat="row in wjTypes">
                                                <div class="figure-top clearfix">
                                                    <i class="fa pull-left" ng-class="row.icon"></i>
                                                    <div class="details-wrapper">
                                                        <div class="details-title">{{row.name}}</div>
                                                        <div class="details-info">{{row.info1}}</div>
                                                        <div class="details-info">{{row.info2}}</div>
                                                    </div>
                                                </div>
                                                <div class="figure-bot">
                                                    <div class="btn-new" data-backdrop="false" data-target="#wjconfigModal" data-toggle="modal" ng-click="edit('add', row.type)">创建</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal" ng-click="cancel()">取消</button>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="wjconfigModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-remove"></i></button>
                                <h4 class="modal-title">问卷设置</h4>
                            </div>
                            <div class="modal-body">
                                <div class="widget-content">
                                    <div class="modal-wrapper">
                                        <div class="config-box" ng-if="hasEdit">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">问卷标题</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" ng-model="wjDetails.name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">问卷副标题</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" ng-model="wjDetails.subtitle">
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="wjDetails.content === 'wjlx_lb'">
                                                    <label class="col-md-1 control-label">问卷编号</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" ng-model="wjDetails.code">
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label class="col-md-1 control-label">是否发布</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" ng-model="wjDetails.status">
                                                            <option value="P">是</option>
                                                            <option value="N">否</option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                                <div class="form-group" ng-if="wjDetails.content === 'wjlx_lb'">
                                                    <label class="col-md-1 control-label">附加题选择</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" ng-model="wjDetails.question">
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="wjDetails.content === 'wjlx_lb'">
                                                    <label class="col-md-1 control-label">是否公用</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" ng-model="wjDetails.iscommon">
                                                            <option value="0">是</option>
                                                            <option value="1">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="wjDetails.content === 'wjlx_lb'">
                                                    <label class="col-md-1 control-label">是否统计分数</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" ng-model="wjDetails.istotal">
                                                            <option value="Y">是</option>
                                                            <option value="N">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-1 control-label">问卷说明</label>
                                                    <div class="col-md-10">
                                                        <kind-editor ng-model="wjDetails.describes"></kind-editor>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label class="col-md-1 control-label">访谈员自我介绍</label>
                                                    <div class="col-md-10">
                                                        <kind-editor ng-model="wjDetails.answersituation"></kind-editor>
                                                    </div>
                                                </div> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-lg btn-larger" data-dismiss="modal" ng-click="cancelEdit()">取消</button>
                            <button class="btn btn-primary btn-lg btn-larger" ng-click="saveWj()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
