.command-rollcall-add {
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #333;
    text-shadow: -1px 1px 5px rgba(255, 255, 255, .8);
}

.command-rollcall-add-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1);
    z-index: 1;
}

.command-rollcall-add-container {
    padding: 40px 5% 0 5%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.command-rollcall-add-container input,
.command-rollcall-add-container select,
.command-rollcall-add-container textarea {
    color: #333;
    resize: none;
    background-color: #fff;
    box-shadow: -2px 2px 5px 1px rgba(100, 100, 100, .1);
    font-size: 16px;
    border-radius: 0;
    height: 100%;
}

.command-rollcall-add-container input:disabled,
.command-rollcall-add-container select:disabled,
.command-rollcall-add-container textarea:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, .6);
}

.command-rollcall-add-container-form {
    width: 33%;
    height: 90px;
    float: left;
    padding: 20px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.command-rollcall-add-container-form-name {
    width: 35%;
    height: 100%;
    font-size: 22px;
    font-weight: 600;
    float: left;
}

.command-rollcall-add .textarea-style {
    height: 250px;
}

.command-rollcall-add .textarea-style textarea {
    height: 210px;
}

.command-rollcall-add .command-rollcall-add-container-form-content {
    width: 65%;
    height: 100%;
    float: left;
    margin: 0;
}

.command-rollcall-add .command-rollcall-add-container-form-hr {
    width: 100%;
    height: 1px;
    background-color: #00A8FF;
}

.command-rollcall-add-container-form-required {
    position: absolute;
    top: 20px;
    width: 10px;
    height: auto;
    color: red;
    left: 100%;
}

.command-rollcall-add-container-form-search {
    position: absolute;
    top: 20px;
    width: 10px;
    height: auto;
    left: 90%;
}

.command-rollcall-add-container-form.file {
    height: 250px;
}

.command-rollcall-add-container-form.file .command-rollcall-add-container-form-content {
    height: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, .3);
    position: relative;
    bottom: 0;
    transition: .3s;
    line-height: 200px;
    font-size: 22px;
}

.command-rollcall-add-container-form.file .command-rollcall-add-container-form-content .fa {
    font-size: 60px;
}

.command-rollcall-add-container-form.file .command-rollcall-add-container-form-content:hover {
    bottom: 5px;
    box-shadow: -2px 7px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.command-rollcall-add-container-form-content img {
    max-height: 100%;
    max-width: 100%;
}

.command-rollcall-add-container-form-files {
    width: 65%;
    height: 200px;
    position: absolute;
    top: calc(100% - 10px);
    left: calc(35% - 5px);
    padding: 0 10px;
    overflow-y: scroll;
}

.command-rollcall-add-container-form-files-file {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, .5);
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
}

.command-rollcall-add-container-form-files-file.file-index:hover {
    z-index: 10;
}

.command-rollcall-add-container-form-files-file-upload,
.command-rollcall-add-container-form-files-file-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    color: rgba(0, 0, 0, .1);
    text-align: center;
    transition: .3s;
}

.command-rollcall-add-container-form-files-file-close:hover {
    color: #dd6666;
    background-color: rgba(0, 0, 0, .1);
}

.command-rollcall-add-container-form-files-file-upload {
    width: 20px;
    font-size: 16px;
}

.command-rollcall-add-container-form-files-file-upload .fa-check {
    color: #44aa44;
}

.command-rollcall-add-container-form-files-file-upload .fa-close {
    color: #aa4444;
}

.command-rollcall-add-container-form-files-file-upload .fa-spinner {
    color: rgba(0, 0, 0, .8);
}

.command-rollcall-add .command-rollcall-add-container-form.half {
    width: 50%;
}

/*.command-rollcall-add .command-rollcall-add-container-form.quarter .command-rollcall-add-container-form-name {*/
/*    font-size: 20px;*/
/*}*/
/*.command-rollcall-add .command-rollcall-add-container-form.quarter .command-rollcall-add-container-form-content {*/
/*    width: 60%;*/
/*}*/

/*提交按钮*/
.command-rollcall-add-submits {
    width: 100%;
    height: auto;
    padding: 1% 5%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}

.command-rollcall-add-submits-submit,
.command-rollcall-add-submits-reset {
    width: 50%;
    height: auto;
    float: left;
    padding: 15px 0;
    text-align: right;
}

.command-rollcall-add-submits button {
    border-radius: 5px;
    width: calc(100% - 10%);
}

.command-rollcall-add-notes {
    width: 99%;
}

.command-rollcall-add-notes-link {
    border-bottom: 1px solid red;
}

.command-rollcall-add-notes-name {
    width: 10%;
}

.command-rollcall-add .command-rollcall-add-notes-content {
    width: 90%;
}

.safe-rollcall-add-search-dialog {
    width: 1440px;
    height: 618px;
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-table thead tr {
    height: 45px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-table tbody tr td {
    line-height: 30px;
    font-size: 14px;
}


.safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table thead tr th {
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #666;
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table thead tr {
    height: 45px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table tbody tr td {
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #666;
}

.safe-rollcall-add-search-dialog .safe-rollcall-add-search-main .safe-rollcall-add-search-detail-table .action {
    background-color: rgba(255, 255, 255, 0.3);
}
