.iiw-system-timeline-device-choose-container {
    position: relative;
}

.iiw-system-timeline-syou-device-list-container {
    height:100%;
    width:50%;
    float:left;
    padding-right:5px;
}

.iiw-system-timeline-syou-device-list-body {
    position: relative;
    background: rgba(0,0,0,0.3);
}

.iiw-system-timeline-choose-device-list-container {
    height:100%;
    width:50%;
    float:left;
    padding-left:5px;
}

.iiw-system-timeline-choose-device-list-body {
    position: relative;
    background: rgba(0,0,0,0.3);
}

.iiw-system-timeline-syou-device-list-header {
    line-height: 40px;
    padding:10px 10px 0 10px;
    overflow:hidden;
}

.iiw-system-timeline-syou-device-list-container .iiw-system-table-container tr,
.iiw-system-timeline-choose-device-list-container .iiw-system-table-container tr {
    height:50px;
    line-height: 50px;
}

.iiw-system-timeline-syou-device-list-header .iiw-system-timeline-col {
    padding:0 0 10px 0;
    height:50px;
}

.iiw-system-timeline-col select {
    background: rgba(0,0,0,0.1);
    height:40px;
}

.iiw-system-timeline-col label,
.iiw-system-timeline-col input {
    height:40px;
    line-height:40px;
}

.iiw-system-timeline-col button {
    width:75%;
    height:40px;
    line-height: 40px;
    padding:0;
    float:left;
}

.modal .program-modal {
    height:600px;
    width:800px;
}

.program-modal .modal-dialog {
    width: 800px;
}

.program-modal .modal-body {
    width:100%;
    height:460px;
}

.iiw-system-timeline-nav-tabs-container {
    padding:10px;
}

.iiw-system-timeline-program-container {
    padding:0 10px 10px 10px;
}

.tab-content {
    width:100%;
    height:100%;
}

.tab-content .tab-pane {
    height:100%;
    width:100%;
    position: relative;
}

.iiw-system-timeline-program-item {
    width: 22.50%;
    display: inline-block;
    padding: 12px 0;
    margin: 0 .9% 1em;
    vertical-align: top;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    position: relative;
}

.iiw-system-timeline-program-item .fa {
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 32px;
    color: #fff;
}

.iiw-system-timeline-program-item:hover {
    background-color: rgba(0, 0, 0, 0.10);
    text-decoration: none;
    cursor: pointer;
}

.iiw-system-timeline-program-item-label {
    display: block;
    font-weight: 400;
    color: #d8d8d8;
}

.iiw-system-timeline-program-choosed {
    background: rgba(0,181,0,0.5)!important;
}

.iiw-system-timeline-syou-dropdown-list li {
    width:100%;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iiw-system-timeline-syou-dropdown-list li i {
    padding:0 10px;
}

.iiw-system-timeline-syou-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*选择单位文本显示*/
.timeline .layout-full .row{
    margin: 0;
    padding: 0 40px;
}

.timeline .layout-full .row.ouname > .col-md-8{
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.247059);
    padding: 0;
    position: relative;
}

.timeline .layout-full .row.ouname > .col-md-8.title{
    background-color: rgba(0,0,0,.7);
    padding: 0 20px;
}

.timeline .layout-full .row.ouname > .col-md-8.title:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.8);
}

.timeline .layout-full .row.ouname > .col-md-8.title > span{
    line-height: 32px;
}

.timeline .layout-full .row.ouname > .col-md-8.title > span + p {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    transition: .3s;
    transform: rotate(-90deg);
}

.timeline .affairs .col-md-8{
    height: 70px;
}

.timeline .border-top-bottom,
.timeline .border-top-bottom:focus{
    border: 2px solid #38f;
}

.timeline input,
.timeline select{
    z-index: 1;
}

.timeline .device-args > div{
    position: absolute;
    left: 10px;
    bottom: 53px;
    height: 10px;
    background-color: #dfdfdf;
    border: 1px solid rgba(0,0,0,.2);
    z-index: 3;
    border-radius: 5px;
    opacity: 0;
    display: none;
}

.timeline .device-args > div > div{
    height: 30px;
    color: #333;
    line-height: 30px;
}

.timeline .device-args > div > div:hover{
    background-color: #cfcfcf;
    cursor: pointer;
}


/*选择单位窗口*/
.timeline .listBG{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.timeline #OUnameFrame{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.timeline #OUnameFrame > .col-lg-12{
    padding: 5px;
    background-color: #393939;
    z-index: 5;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div{
    padding: 7px 20px;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div:hover{
    background-color: rgb(220, 130, 30);
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div{
    background-color: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
    padding: 3px 10px;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div > p{
    margin: 5px 0;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div > input{
    margin: 10px 5px;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div > input,
.timeline #OUnameFrame > .col-lg-12 > .col-lg-12 > div > div > p{
    float: left;
}

.timeline #orange.orange{
    background-color: rgba(223, 105, 26,0.8);
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12:nth-child(1){
    overflow-y: auto;
    padding: 0;
}

.timeline #OUnameFrame > .col-lg-12 > .col-lg-12:nth-child(2){
     position: absolute;
     bottom: 8px;
}

.timeline #OUnameFrame .text-right.col-lg-12 div{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
}

.timeline #OUnameFrame .text-right.col-lg-12 p{
    width: 60px;
    height: 38px;
    background-color: rgba(0,0,0,.3);
    margin: 0 13px;
    float: left;
    border: 1px solid rgba(0,0,0,.3);
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}

.timeline #OUnameFrame .text-right.col-lg-12 p:hover{
    background-color: rgb(220, 130, 30);
}




/*事务样式*/
.timeline .control-group.row:not(:nth-child(2)) > div select,
.timeline .control-group.row:not(:nth-child(2)) > div input{
    width: 100%;
}

.timeline .add > .ui-layout-container.iiw-system-form-container.ng-isolate-scope.stretch{
    background-color: rgba(0,0,0,.3);
}

select:disabled{
    background-color: rgba(255,255,255,.3)!important;
}

.timeline #entityItemForm{
    position: relative;
    overflow: hidden;
    padding: 0 200px;
}

.timeline #entityItemForm fieldset{
    border: 1px solid rgba(0,0,0,.3);
    position: relative;
}

.timeline #entityItemForm fieldset > .title:nth-child(6){
    margin-top: 20px;
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12:nth-child(1) > .col-md-12{
    background-color: rgba(0,0,0,.6);
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12:nth-child(even):not(:nth-child(1)) > .col-md-12{
    background-color: rgba(0,0,0,.2);
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12:nth-child(odd):not(:nth-child(1)) > .col-md-12{
    background-color: rgba(0,0,0,.4);
}

.timeline .faCircle{
    width: 40px;
    height: 40px;
    font-size: 33px;
    cursor: pointer;
    margin: 8px;
    color: #eee;
}

.timeline .delete{
    position: absolute;
    top: -20px;
    right: -27px;
    color: #f44;
    font-size: 28px;
}

.timeline .delete:hover{
    color: #f66;
    cursor: pointer;
}

.timeline .device-message input,
.timeline .device-message select{
    width: 100%;
    line-height: 30px;
    margin: 13px auto;
    height: 40px;
}

.timeline .device-message .col-md-2 > i{
    margin: 5px;
    font-size: 30px;
    color: #eee;
    line-height: 55px;
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12 > div,
.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12 > div > div{
    padding: 0;
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12 > div > .form-group{
    margin: 0;
    padding: 0 10px;
    position: relative;
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12 > div:not(.col-md-2){
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.timeline #entityItemForm fieldset > .col-md-12 > .col-md-12:nth-child(1) > div:not(.col-md-2){
    height: 50px;
    line-height: 50px;
}

.timeline #entityItemForm fieldset > .title{
    background-color: rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.4);
    margin: 0 0 30px 0;
    padding: 5px 10px;
    font-size: 18px;
}

.timeline .orange{
    background-color: rgb(223, 105, 26)!important;
}

div::-webkit-scrollbar{
    width: 6px;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, .7);
    border-radius: 50px;
}

.timeline .add-time-line{
    width: 100%;
    margin: 0; height: 100%;
    overflow-y: scroll;
    padding: 0 0 10px 0;
    position: relative;
}

.timeline .add-time-line .btn-right{
    right: 5px;
}

.timeline .add-time-line .btn-left{
    left: 5px;
}

.timeline .opacity{
    display: none;
}

.timeline .affairs{
    float: left;
}

.timeline .iiw-system-form-button-layout-container .text-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    padding: 8px;
}

.timeline .iiw-system-form-button-layout-container ul{
    height: 50px;
    margin: 0;
}

.timeline #entityItemForm fieldset > .col-md-12{
    padding: 0 60px 0 60px;
}

.timeline fieldset .device-message .top-bottom > div{
    font-size: 18px;
    color: #999;
}

.timeline fieldset .device-message .top-bottom > div:first-child{
    padding-top: 5px;
    height: 30px;
    line-height: 30px;
}

.timeline fieldset .device-message .top-bottom > div:last-child{
    height: 25px;
    line-height: 25px;
}

.timeline fieldset .device-message .top-bottom > div > .mouseOver{
    color: #eee;
}

.timeline fieldset .device-message .top-bottom > div > .mouseOver:hover{
    cursor: pointer;
    text-shadow: 0 0 5px #eee;
}

.timeline .device-message .top-bottom{
    position: absolute;
    top: 0;
    left: -25px;
}

.timeline .close-event{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #ff4444;
    line-height: 30px;
    text-align: center;
}

.timeline .close-event:hover{
    color: #ff6666;
    cursor: pointer;
}


/*选择设备*/
.timeline .deviceRight .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

.timeline select,
.timeline input{
    z-index: 1;
}

/*选择设备—过滤条件*/
.timeline .deviceRight{
    width: 48%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(0,0,0,.1);
}

.timeline .deviceRight .filter{
    width: 100%;
    height: 70px;
    padding-top: 20px;
}

.timeline .deviceRight .filter > .col-md-4{
    height: 40px;
}

.timeline .deviceRight .filter .col-md-8{
    padding: 0 10px;
}

.timeline .deviceRight .filter div{
    padding: 0;
    text-align: center;
    line-height: 35px;
}

.timeline .deviceRight .filter input,
.timeline .deviceRight .filter select{
    width: 100%;
}



/*选择设备—列表*/
.timeline .deviceRight .list{
    width: 100%;
    height: 600px;
}

 .timeline .deviceRight .list .col-md-12{
     position: absolute;
     left: 0;
     bottom: 0;
 }

.timeline .deviceRight .list ul{
    margin: 0;
}

.timeline .deviceRight .list table{
    width: 100%;
    font-size: 13px;
}

.timeline .deviceRight .list table thead tr{
    height: 40px;
    background-color: rgba(0,0,0,.5);
}

.timeline .deviceRight .list table tbody tr{
    height: 40px;
}

.timeline .deviceRight .list table tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,.1);
}

.timeline .deviceRight .list table tbody tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}

.timeline .deviceRight .list table thead tr th:first-child,
.timeline .deviceRight .list table tbody tr td:first-child{
    padding-left: 5px;
}

.timeline .deviceRight .list table tbody tr:hover{
    cursor: pointer;
    background-color: rgb(220, 130, 30);
}

.timeline .color-red{
    color: #ff5555!important;
}

.timeline .border-red{
    border: 1px solid #ff5555!important;
}

.modal-timeline .modal-lg{
    width: 1200px;
}

.modal-timeline .modal-header .col-md-4{
    padding: 5px 0;
    line-height: 40px;
}

.modal-timeline .modal-header select,
.modal-timeline .modal-header input{
    width: 80%;
    height: 40px;
}

.modal-timeline .modal-body{
    height: 600px;
    padding: 0;
}

.modal-timeline .modal-body thead{
    background-color: rgba(0,0,0,.3);
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}

.modal-timeline .modal-body tbody tr{
    height: 40px;
    line-height: 40px;
}

.modal-timeline .modal-body tbody tr:nth-child(even){
    background-color: rgba(0,0,0,.1);
}

.modal-timeline .modal-body tbody tr:hover{
    background-color: rgba(223, 105, 26,0.8);
    cursor: pointer;
}

.modal-timeline .modal-body tr td:first-child,
.modal-timeline .modal-body tr th:first-child{
    padding-left: 10px;
}

.modal-timeline .modal-footer ul{
    margin: 0;
}

.iiw-system-timeline .chooseTimeContainer{
    background-color: rgba(0,0,0,0.3);
    width: 90%;
    height: 200px;
    padding: 10px;
    overflow: auto;
}
.iiw-system-timeline .chooseTimeContainer-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    background: rgba(0,0,0,0.3)
}
.iiw-system-timeline .chooseTimeContainer-box-header {
    position: absolute;
    top: -8px;
    right:7px;
    cursor: pointer;
}
.iiw-system-timeline .chooseWeekContainer {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 80px;
    padding: 10px;
}