<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="iiw-system-mapping-container layout-full" ui-view style="overflow: auto;">
                    <div class="ui-layout-row system-syuser-page-content" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div ui-layout-container size="47px" class="iiw-system-mapping-container-header layout-full">
                            <div class="pull-left">
                                <button ng-click="mapping.add()" ng-disabled="showAddBtn" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i>添加数据</button>
                                <button ng-click="mapping.mod()" ng-disabled="showModBtn" type="button" class="btn btn-warning"><i class="fa fa-edit fa-fw"></i>修改</button>
                                <button ng-click="mapping.del()" ng-disabled="showDelBtn" type="button" class="btn btn-danger"><i class="fa fa-minus fa-fw"></i>删除</button>
                            </div>
                        </div>
                        <div ui-layout-container size="56px" style="overflow: hidden;">
                            <div class="layout-full" style="padding: 10px 10px 0px 10px">
                                <table class="table table-hover iiw-system-table-container">
                                    <colgroup><col width="50px"><col width="300px"><col width="400px"><col width="400px"><col width="400px"><col></colgroup>
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <input type="checkbox" ng-model="mapping.selectAll" ng-click="mapping.selAll()" style="width:20px;height:20px;"/>
                                        </th>
                                        <th>类型</th>
                                        <th>源地址</th>
                                        <th>映射地址</th>
                                        <th>请求地址</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div ui-layout-container class="iiw-system-mapping-container-body">
                            <div class="layout-full addScroll" id="myformtable" style="border:1px solid rgba(0,0,0,0.2);" ng-form="mytable">
                                <table class="table table-hover iiw-system-table-container">
                                    <colgroup><col width="50px"><col width="300px"><col width="400px"><col width="400px"><col width="400px"><col></colgroup>
                                    <tbody>
                                    <tr ng-repeat="item in mappingList" ng-class="{'select':item.checked}" ng-click="mapping.select(item, $event)">
                                        <td class="text-center">
                                            <input class="text-center" type="checkbox" ng-model="item.checked" style="width:20px;height:20px;"/>
                                        </td>
                                        <td>
                                            <div ng-if="item.status != 'mod' && item.status != 'add'">{{item.type}}</div>
                                            <div ng-if="item.status == 'mod'">
                                                <select class="input-transparent" ng-model="item._type" ng-options="type.name as type.name for type in types" onclick="window.event.stopPropagation()"></select>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="item.status != 'mod' && item.status != 'add'">{{item.srcaddress}}</div>
                                            <div ng-if="item.status == 'mod'"><input type="text" ng-model="item._srcaddress" maxlength="15" ng-pattern="/^(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){2}(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)|(\*\.))(?:(?:1[0-9][0-9])|(?:2[0-4][0-9])|(?:25[0-5])|(?:[1-9][0-9])|(?:[0-9])|\*)$/" /></div>
                                        </td>
                                        <td>
                                            <div ng-if="item.status != 'mod' && item.status != 'add'">{{item.mappingadd}}</div>
                                            <div ng-if="item.status == 'mod'"><input type="text" ng-model="item._mappingadd" maxlength="15" ng-pattern="/^(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){2}(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)|(\*\.))(?:(?:1[0-9][0-9])|(?:2[0-4][0-9])|(?:25[0-5])|(?:[1-9][0-9])|(?:[0-9])|\*)$/" /></div>
                                        </td>
                                        <td>
                                            <div ng-if="item.status != 'mod' && item.status != 'add'">{{item.reqaddress}}</div>
                                            <div ng-if="item.status == 'mod'"><input type="text" ng-model="item._reqaddress" maxlength="15" ng-pattern="/^(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){2}(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)|(\*\.))(?:(?:1[0-9][0-9])|(?:2[0-4][0-9])|(?:25[0-5])|(?:[1-9][0-9])|(?:[0-9])|\*)$/" /></div>
                                        </td>
                                        <td>
                                            <button ng-if="item.status == 'mod'" type="button" class="btn btn-danger" ng-click="cancleMod(item)">取消修改</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ui-layout-container size="47px" class="iiw-system-mapping-container-footer"  ng-if="modBtn">
                            <div class="layout-full">
                                <button type="button" class="btn btn-danger pull-right" ng-click="cancle()">取消</button>
                                <button type="button" ng-disabled="mytable.$invalid"  class="btn btn-success pull-right" ng-click="save()">保存</button>
                            </div>
                        </div>
                        <div class="pagination ui-layout-container pagination-layout-container" size="49px" ui-layout-container>
                            <label class="col-lg-3" style="height:50px; line-height: 50px;">统计信息：每页{{pages.pageSize}}行， 共{{pages.totalSize||0}}行， 共{{pages.totalPage||0}}页</label>
                            <uib-pagination style="padding: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="pages.totalSize" ng-model="pages.pageNo" ng-change="pageChanged()" items-per-page="pages.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
