<div class="layout-full system-insidemapsetting-map">
    <div class="layout-full" ui-layout options="{dividerSize:'0'}">
        <!--图层区域-->
        <div class="insidemapsetting-mapbar" ui-layout-container size="50px">
            <div class="layout-full insidemapsetting-mapbox-mask" ng-show="map.resources.pageDevice.onView || map.resources.pageMonitor.onView || map.resources.pageSingleDevice.onView || map.resources.pageMap.onView"></div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" ng-class="{'select':map.navigate.object==item}" ng-click="map.navigate.select(item)" ng-repeat="item in map.navigate.list">{{item.name}}</a>
            </div>
        </div>
        <div class="insidemapsetting-mapbox" ui-layout-container>
            <div class="layout-full" ui-layout="{ flow:'column'}" options="{dividerSize:'0'}">
                <!--地图区域-->
                <div ui-layout-container>
                    <div class="layout-full" style="position: relative; overflow: hidden;">
                        <div class="insidemapsetting-mapbox-fastmap" ng-if="map.maps.length > 1">
                            <button class="button button-square button-small" title="{{item.name}}" ng-click="map.changeMap(item)" style="margin-right:5px;" ng-class="{'button-primary':item.id == map.object.id}" ng-repeat="item in map.maps">{{$index+1}}</button>
                        </div>
                        <div class="insidemapsetting-mapbox-location">x:0,y:0</div>
                        <div class="layout-full insidemapsetting-mapbox-map" insidemap-setting-map data="map.object" layer="map.navigate" shape="map.control.object" running-shape="map.control.runningObject"></div>
                        <div class="layout-full insidemapsetting-mapbox-devicepage" ng-if="map.resources.pageDevice.onView">
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container size="40px">
                                    <div class="layout-full" ui-layout="{flow:'column'}" options="{dividerSize:'0'}">
                                        <!--设备类型筛选条件-->
                                        <div ui-layout-container size="250px">
                                            <div class="form-group">
                                                <label style="height:40px;line-height:40px;margin:0;text-align:right;" class="col-md-3">类型</label>
                                                <div class="col-md-9">
                                                    <select class="form-control format-select" ng-model="map.resources.pageDevice.typeItem" ng-change="map.resources.pageDevice.typeChange()" ng-options="(item.name + '--' + item.count) for item in map.resources.pageDevice.typeList"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--设备厂商筛选条件-->
                                        <div ui-layout-container size="250px">
                                            <div class="form-group">
                                                <label style="height:40px;line-height:40px;margin:0;text-align:right;" class="col-md-3">厂商</label>
                                                <div class="col-md-9">
                                                    <select class="form-control format-select" ng-model="map.resources.pageDevice.companyItem" ng-change="map.resources.pageDevice.change()">
                                                        <option value="">所有厂商</option>
                                                        <option ng-repeat="company in map.resources.pageDevice.typeItem.child track by $index" value="{{company.id}}">{{company.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--过滤搜索-->
                                        <div ui-layout-container size="250px">
                                            <div class="input-group col-lg-12">
                                                <input type="text" class="form-control" ng-model="map.resources.pageDevice.searchText" ng-keyup="map.resources.pageDevice.getListByKeybroad($event)" placeholder="请输入过滤条件"/>
                                                <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageDevice.getList()">搜索</button></span>
                                            </div>
                                        </div>
                                        <div ui-layout-container>
                                            <div class="col-lg-3 pull-right">
                                                <a class="btn btn-success pull-right" ng-click="map.resources.pageDevice.hide()">完成选择</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container style="overflow-x:hidden;">
                                    <div class="layout-full" style="overflow-y:auto;overflow-x:hidden;">
                                        <table class="insidemapsetting-mapbox-table table table-hover iiw-system-table-container">
                                            <thead>
                                            <tr>
                                                <th class="iiw-system-table-header-container">
                                                    <input type="checkbox" ng-model="map.resources.pageDevice.selectAll" hm-tap="map.resources.pageDevice.selAll()">
                                                </th>
                                                <th>序号</th>
                                                <th>设备名称</th>
                                                <th>所属单位</th>
                                                <th>类  型</th>
                                                <th>IP地址</th>
                                                <th>端口</th>
                                            </tr>
                                            </thead>
                                            <tbody ui-sortable="map.resources.pageDevice.sortableOptions" ng-model="map.resources.pageDevice.list">
                                            <tr ng-class="{'select':item.checked}" ng-repeat="item in map.resources.pageDevice.list" ng-click="map.resources.pageDevice.click(item)">
                                                <td class="iiw-system-table-header-container">
                                                    <input type="checkbox" hm-tap="map.resources.pageDevice.click(item)" ng-model="item.checked" class="rowCheck">
                                                </td>
                                                <td>{{$index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.syouname}}</td>
                                                <td>{{item.typename}}</td>
                                                <td>{{item.ip}}</td>
                                                <td>{{item.port}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ui-layout-container size="49px">
                                    <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;">统计信息： 每页{{map.resources.pageDevice.pageSize}}行， 共{{map.resources.pageDevice.totalSize||0}}行， 共{{map.resources.pageDevice.totalPage||0}}页</label>
                                    <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="false" boundary-link-numbers="true" rotate="false" total-items="map.resources.pageDevice.totalSize" ng-model="map.resources.pageDevice.currentPage" ng-change="map.resources.pageDevice.change()" items-per-page="map.resources.pageDevice.pageSize" max-size="10"></uib-pagination>
                                    <!--<uib-pagination style="margin: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="map.resources.pageDevice.totalSize" ng-model="map.resources.pageDevice.currentPage" ng-change="map.resources.pageDevice.change()" items-per-page="map.resources.pageDevice.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>-->
                                </div>
                            </div>
                        </div>
                        <div class="layout-full insidemapsetting-mapbox-devicepage" ng-if="map.resources.pageSingleDevice.onView">
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container size="40px">
                                    <div class="layout-full" ui-layout="{flow:'column'}" options="{dividerSize:'0'}">
                                        <!--设备类型筛选条件-->
                                        <div ui-layout-container size="250px">
                                            <div class="form-group">
                                                <label style="height:40px;line-height:40px;margin:0;text-align:right;" class="col-md-3">类型</label>
                                                <div class="col-md-9">
                                                    <select class="form-control format-select" ng-model="map.resources.pageSingleDevice.typeItem" ng-change="map.resources.pageSingleDevice.getList()" ng-options="(item.name + '--' + item.count) for item in map.resources.pageSingleDevice.typeList"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--过滤搜索-->
                                        <div ui-layout-container size="250px">
                                            <div class="input-group col-lg-12">
                                                <input type="text" class="form-control" ng-model="map.resources.pageSingleDevice.searchText" ng-keyup="map.resources.pageSingleDevice.getListByKeybroad($event)" placeholder="请输入过滤条件"/>
                                                <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageSingleDevice.getList()">搜索</button></span>
                                            </div>
                                        </div>
                                        <div ui-layout-container>
                                            <div class="col-lg-3 pull-right">
                                                <a class="btn btn-success pull-right" ng-click="map.resources.pageSingleDevice.hide()">取消</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container style="overflow:hidden;">
                                    <div class="layout-full" i-scroll>
                                        <table class="table table-hover iiw-system-table-container" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>设备名称</th>
                                                <th>所属单位</th>
                                                <th>类  型</th>
                                                <th>{{map.resources.pageSingleDevice.typeItem.type != 'telephone' ? 'IP地址' : '电话号码'}}</th>
                                                <th>{{map.resources.pageSingleDevice.typeItem.type != 'telephone' ? '端口' : ' '}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in map.resources.pageSingleDevice.list" ng-click="map.resources.pageSingleDevice.click(item)">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.syouname}}</td>
                                                <td>{{item.typename}}</td>
                                                <td>{{map.resources.pageSingleDevice.typeItem.type != 'telephone' ? item.ip : item.phone}}</td>
                                                <td>{{item.port}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ui-layout-container size="49px">
                                    <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;">统计信息： 每页{{map.resources.pageSingleDevice.pageSize}}行， 共{{map.resources.pageSingleDevice.totalSize||0}}行， 共{{map.resources.pageSingleDevice.totalPage||0}}页</label>
                                    <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="false" boundary-link-numbers="true" rotate="false" total-items="map.resources.pageSingleDevice.totalSize" ng-model="map.resources.pageSingleDevice.currentPage" ng-change="map.resources.pageSingleDevice.change()" items-per-page="map.resources.pageSingleDevice.pageSize" max-size="10"></uib-pagination>
                                    <!--<uib-pagination style="margin: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="map.resources.pageSingleDevice.totalSize" ng-model="map.resources.pageSingleDevice.currentPage" ng-change="map.resources.pageSingleDevice.change()" items-per-page="map.resources.pageSingleDevice.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>-->
                                </div>
                            </div>
                        </div>
                        <div class="layout-full insidemapsetting-mapbox-devicepage" ng-if="map.resources.pageMonitor.onView">
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container size="40px">
                                    <div class="layout-full" ui-layout="{flow:'column'}" options="{dividerSize:'0'}">
                                        <!--过滤搜索-->
                                        <div ui-layout-container size="20px"></div>
                                        <div ui-layout-container size="250px">
                                            <div class="input-group col-lg-12">
                                                <input type="text" class="form-control" ng-model="map.resources.pageMonitor.searchText" ng-keyup="map.resources.pageMonitor.getListByKeybroad($event)" placeholder="请输入过滤条件"/>
                                                <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageMonitor.getList()">搜索</button></span>
                                            </div>
                                        </div>
                                        <div ui-layout-container>
                                            <div class="col-lg-3 pull-right">
                                                <a class="btn btn-success pull-right" ng-click="map.resources.pageMonitor.hide()">取消</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ui-layout-container size="5px"></div>
                                <div ui-layout-container>
                                    <div class="layout-full" i-scroll>
                                        <table class="table table-hover iiw-system-table-container" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>设备名称</th>
                                                <th>所属单位</th>
                                                <th>类  型</th>
                                                <th>IP地址</th>
                                                <th>端口</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in map.resources.pageMonitor.list" ng-click="map.resources.pageMonitor.click(item)">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.syouname}}</td>
                                                <td>{{item.typename}}</td>
                                                <td>{{item.ip}}</td>
                                                <td>{{item.port}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ui-layout-container size="49px">
                                    <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;">统计信息： 每页{{map.resources.pageMonitor.pageSize}}行， 共{{map.resources.pageMonitor.totalSize||0}}行， 共{{map.resources.pageMonitor.totalPage||0}}页</label>
                                    <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="false" boundary-link-numbers="true" rotate="false" total-items="map.resources.pageMonitor.totalSize" ng-model="map.resources.pageMonitor.currentPage" ng-change="map.resources.pageMonitor.change()" items-per-page="map.resources.pageMonitor.pageSize" max-size="10"></uib-pagination>
                                    <!--<uib-pagination style="margin: 5px;" boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="map.resources.pageMonitor.totalSize" ng-model="map.resources.pageMonitor.currentPage" ng-change="map.resources.pageMonitor.change()" items-per-page="map.resources.pageMonitor.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>-->
                                </div>
                            </div>
                        </div>
                        <div class="layout-full insidemapsetting-mapbox-devicepage" ng-if="map.resources.pageMap.onView">
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container size="50px">
                                    <div class="layout-full" ui-layout="{flow:'column'}" options="{dividerSize:'0'}" style="padding: 5px 0;">
                                        <!--<div class="col-lg-3">-->
                                        <!--</div>-->
                                        <div class="col-lg-6 pull-right">
                                            <a class="btn btn-success pull-right" ng-click="map.resources.pageMap.hide()">取消</a>
                                            <a class="btn btn-warning pull-right" ng-click="map.resources.pageMap.showEnterUrl()" style="margin-right:20px;">输入外部链接地址</a>
                                        </div>
                                    </div>
                                </div>
                                <div ui-layout-container style="overflow:hidden;">
                                    <div class="layout-full" i-scroll2>
                                        <ul mapsetting-tree data="map.resources.pageMap.data" id="test" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--信息区域-->
                <div class="insidemapsetting-mapbox-info-container" ui-layout-container size="350px">
                    <div class="layout-full insidemapsetting-mapbox-mask" ng-show="map.resources.pageDevice.onView || map.resources.pageMonitor.onView || map.resources.pageSingleDevice.onView || map.resources.pageMap.onView"></div>
                    <div class="layout-full" ng-if="map.control.modes.mode.name == 'none'" options="{dividerSize:'0'}">
                        <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                            <div ui-layout-container class="layout-full insidemapsetting-mapbox-tips" size="30px">{{map.control.modes.mode.value}}</div>
                            <div ui-layout-container>
                                <div class="layout-full insidemapsetting-mapbox-btn">
                                    <div class="layout-full mapbox-btn-multiple" ng-if="map.control.modes.mode.name == 'none'" i-scroll2>
                                        <!--<div style="position: absolute;">-->
                                            <div ng-click="map.control.add(map.shapes.room)" ng-show="map.navigate.object.type == 'safe' || map.navigate.object.type == 'health'"><i class="fa fa-square fa-fw"></i>房间区域</div>
                                            <div ng-click="map.control.add(map.shapes.aisle)" ng-show="map.navigate.object.type == 'safe'"><i class="fa fa-square fa-fw"></i>走廊区域</div>
                                            <div ng-click="map.control.add(map.shapes.inclosure)" ng-show="map.navigate.object.type == 'safe'"><i class="fa fa-square fa-fw"></i>围墙区域</div>
                                            <div ng-click="map.control.add(map.shapes.area)" ng-show="map.navigate.object.type == 'safe'"><i class="fa fa-square fa-fw"></i>单位区域</div>
                                            <div ng-click="map.control.add(map.shapes.dutypolice)" ng-show="map.navigate.object.type == 'dutypolice'"><i class="fa fa-square fa-fw"></i>值班区域</div>
                                            <div ng-click="map.control.add(map.shapes.lift)" ng-show="map.navigate.object.type == 'safe'"><i class="fa fa-square fa-fw"></i>楼梯区域</div>
                                            <div ng-click="map.control.add(map.tags.monitor)" ng-show="map.navigate.object.type == 'safe'"><i class="fa fa-tag fa-fw"></i>视频标签</div>
                                            <div ng-click="map.control.add(map.tags.device)" ng-show="map.navigate.object.type == 'device'"><i class="fa fa-tag fa-fw"></i>设备标签</div>
                                            <div ng-click="map.control.add(map.shapes.initarea)" ng-show="map.navigate.object.type == 'config'"><i class="fa fa-square fa-fw"></i>初始化聚焦区域</div>
                                            <div ng-click="map.control.add(map.shapes.guides)" ng-show="map.navigate.object.type == 'config'"><i class="fa fa-square fa-fw"></i>参考线</div>
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-full" ng-if="map.control.modes.mode.name != 'none'" ng-form="mapInfoForm" ui-layout options="{dividerSize:'0'}">
                        <!--表单区域-->
                        <div ui-layout-container>
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container class="layout-full insidemapsetting-mapbox-tips" size="30px">{{map.control.object.typename}}</div>
                                <div ui-layout-container>
                                    <div class="layout-full insidemapsetting-mapbox-mask" ng-if="map.control.modes.mode.name != 'add' && map.control.modes.mode.name != 'edit' && map.control.modes.mode.name != 'none'"></div>
                                    <div class="layout-full insidemapsetting-mapbox-status" ng-if="map.control.modes.mode.name == 'none'"></div>
                                    <div class="layout-full insidemapsetting-mapbox-info" ng-if="map.control.modes.mode.name != 'none'">
                                        <div class="layout-full" i-scroll2>
                                            <div style="position:absolute;">
                                                <fieldset>
                                                    <div class="form-group" ng-if="map.formData.coordinate.state < 4">
                                                        <label style="width:100%;">*形状</label>
                                                        <input style="display:none;" name="pointList" type="text" class="form-control" ng-model="map.control.runningObject.style.pointList" required/>
                                                        <a class="btn btn-default" ng-click="map.formData.coordinate.doclick()">{{map.formData.coordinate.state != 3 ? map.formData.coordinate.state == 1 ? '开始绘制' : '重新绘制' : '结束绘制'}}</a>
                                                        <a class="btn btn-default" ng-click="map.formData.coordinate.copyShape()" ng-if="map.control.runningObject.style.pointList.length > 0">复制形状</a>
                                                        <a class="btn btn-default pull-right" ng-click="map.formData.coordinate.parseShape()" ng-if="map.formData.coordinate.copyPointList">黏贴形状</a>
                                                        <div ng-messages="mapInfoForm.pointList.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未绘制形状</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.formData.coordinate.state >= 4">
                                                        <label style="width:100%;">*坐标</label>
                                                        <input style="display:none;" name="point" type="text" class="form-control" ng-model="map.control.runningObject.style.x" required/>
                                                        <a class="btn btn-default" ng-disabled="map.formData.coordinate.state == 5" ng-click="map.formData.coordinate.doclick()">标注坐标</a>
                                                        <div ng-messages="mapInfoForm.point.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未标注坐标</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype">
                                                        <label>*名称</label>
                                                        <input name="title" type="text" class="form-control" ng-model="map.formData.name.value" required/>
                                                        <label>*副标题</label>
                                                        <input name="subTitle" type="text" class="form-control" ng-model="map.formData.subtitle.value" />
                                                        <div ng-messages="mapInfoForm.title.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">名称不能为空</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype && map.control.object.type != 'initarea'">
                                                        <label>字体大小</label>
                                                        <div class="input-group format-input-group">
                                                            <input name="textSize" type="text" class="form-control" ng-model="map.formData.textSize.value"/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.formData.textSize.test()">模拟</button></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype">
                                                        <label>区域颜色</label>
                                                        <div class="colorSelector" color-picker o-color-picker="map.formData.shapeColorFn" color="{{map.control.object.style.color||'#8B0000'}}" style="height:36px;display:inline;margin-left:20px;">
                                                            <div style="background-color:{{map.control.object.style.color||'#8B0000'}};top:-3px;"></div>
                                                        </div>
                                                        <a class="btn btn-default pull-right" ng-click="map.formData.shapeColorFn.removeColor()">取消设置</a>
                                                        <label class="text-info" style="width:100%;">设置后，将代替默认区域安全的绿色</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'aisle' || map.control.object.type == 'inclosure'">
                                                        <label>图形比例</label>
                                                        <div class="input-group format-input-group">
                                                            <input name="blowscale" type="text" class="form-control" ng-model="map.formData.blowscale.value" required/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.formData.blowscale.test()">模拟</button></span>
                                                        </div>
                                                        <div ng-messages="mapInfoForm.blowscale.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">图形比例不能为空</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'initarea'">
                                                        <div class="input-group format-input-group">
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.formData.blowscale.test2()" style="margin-left:10px;">模拟聚焦</button></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'aisle' || map.control.object.type == 'inclosure'">
                                                        <label>序号</label>
                                                        <input name="idx" type="text" class="form-control" ng-model="map.formData.idx.value" required/>
                                                        <div ng-messages="mapInfoForm.idx.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">序号不能为空</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area' || map.control.object.type == 'lift'">
                                                        <label>*跳转点</label>
                                                        <div class="input-group format-input-group">
                                                            <input type="text" class="form-control" name="jumpname" ng-model="map.formData.jump.item.name" readonly disabled required/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageMap.show()">选择</button></span>
                                                        </div>
                                                        <div ng-messages="mapInfoForm.jumpname.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未选择跳转点</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'room'">
                                                        <label>房间号</label>
                                                        <input type="text" class="form-control" ng-model="map.formData.roomnum.value"/>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'room'">
                                                        <label>床位总数</label>
                                                        <input type="text" class="form-control" ng-model="map.formData.bedsum.value"/>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'room'">
                                                        <label>标记房间{{dialect['PTN_C']}}</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.count.item" ng-options="item.name for item in map.formData.count.list"></select>
                                                        <label class="text-info">设置为标记后，在房间名称左侧显示标记是否存在{{dialect['PTN_C']}}的图标</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area'">
                                                        <label>重点区域</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.important.item" ng-options="item.name for item in map.formData.important.list"></select>
                                                        <label class="text-info">设置为重点区域后，安全标签将会统计地图所在单位的关押人数</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area'">
                                                        <label>自定义统计类型</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.customStatistics.item" ng-options="item.name for item in map.formData.customStatistics.list" ng-change="map.formData.customStatistics.change()"></select>
                                                        <label class="text-info">设置为自定义后，警察和{{dialect['PTN_C']}}统计类型可自定义选择</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area'&& !map.formData.customStatistics.item.value">
                                                        <label>警察统计类型</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.policeStat.item" ng-options="item.name for item in map.formData.policeStat.list"></select>
                                                        <label class="text-info">·　门禁进出统计，统计门禁（有统计属性）进入的警察数量</label>
                                                        <label class="text-info">·　信息上报，统计单位信息上报的警察数量</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area' && map.formData.customStatistics.item.value">
                                                        <label style="width:100%;">警察统计类型</label>
                                                        <a class="btn btn-default" ng-click="map.formData.customPoliceStat.status = 'add'"><i class="fa fa-plus"></i></a>
                                                        <div ng-if="map.formData.customPoliceStat.status == 'add'" class="row" style="margin-top: 5px;">
                                                            <div class="col-md-6">
                                                                <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.customPoliceStat._syou" ng-options="row.name for row in map.resources.syou.list | orderBy: 'lvlcode'"  ng-change="map.resources.informationType.init('police')"></select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.customPoliceStat._information" ng-options="row.name for row in map.resources.informationType.list.police"></select>
                                                            </div>
                                                            <div class="col-md-12 text-right" style="margin-top: 5px;">
                                                                <a class="btn btn-success btn-sm" ng-click="map.formData.customPoliceStat.add()" ng-disabled="map.formData.customPoliceStat._syou == null || map.formData.customPoliceStat._information == null">添加</a>
                                                                <a class="btn btn-default btn-sm" ng-click="map.formData.customPoliceStat.status = ''">取消</a>
                                                            </div>
                                                        </div>
                                                        <table class="table with-bordered" ng-if="map.formData.customPoliceStat.list.length > 0">
                                                            <colgroup><col width="140px"><col width="140px"><col width="80px"></colgroup>
                                                            <tbody>
                                                            <tr ng-repeat="item in map.formData.customPoliceStat.list">
                                                                <td>{{ item.syouname }}</td>
                                                                <td>{{ item.informationname }}</td>
                                                                <td><a class="btn btn-danger btn-xs" ng-click="map.formData.customPoliceStat.delete(item, $index)" style="width: 100%;">删除</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area' && !map.formData.customStatistics.item.value">
                                                        <label>{{dialect['PTN_C']}}统计类型</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.criminalStat.item" ng-options="item.name for item in map.formData.criminalStat.list"></select>
                                                        <label class="text-info">·　信息上报，统计单位信息上报的{{dialect['PTN_C']}}在押数量</label>
                                                        <label class="text-info">·　实时信息统计，统计数据库中{{dialect['PTN_C']}}表的在押数量</label>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'area' && map.formData.customStatistics.item.value">
                                                        <label style="width:100%;">{{dialect['PTN_C']}}统计类型</label>
                                                        <a class="btn btn-default" ng-click="map.formData.customCriminalStat.status = 'add'"><i class="fa fa-plus"></i></a>
                                                        <div ng-if="map.formData.customCriminalStat.status == 'add'" class="row" style="margin-top: 5px;">
                                                            <div class="col-md-6">
                                                                <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.customCriminalStat._syou" ng-options="row.name for row in map.resources.syou.list | orderBy: 'lvlcode'" ng-change="map.resources.informationType.init('criminal')"></select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.customCriminalStat._information" ng-options="row.name for row in map.resources.informationType.list.criminal"></select>
                                                            </div>
                                                            <div class="col-md-12 text-right" style="margin-top: 5px;">
                                                                <a class="btn btn-success btn-sm" ng-click="map.formData.customCriminalStat.add()" ng-disabled="map.formData.customCriminalStat._syou == null || map.formData.customCriminalStat._information == null">添加</a>
                                                                <a class="btn btn-default btn-sm" ng-click="map.formData.customCriminalStat.status = ''">取消</a>
                                                            </div>
                                                        </div>
                                                        <table class="table with-bordered" ng-if="map.formData.customCriminalStat.list.length > 0">
                                                            <colgroup><col width="140px"><col width="140px"><col width="80px"></colgroup>
                                                            <tbody>
                                                            <tr ng-repeat="item in map.formData.customCriminalStat.list">
                                                                <td>{{ item.syouname }}</td>
                                                                <td>{{ item.informationname }}</td>
                                                                <td><a class="btn btn-danger btn-xs" ng-click="map.formData.customCriminalStat.delete(item, $index)" style="width: 100%;">删除</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.type == 'tag'">
                                                        <label>方向</label>
                                                        <select class="form-control format-select" ng-disabled="map.control.object.tagtype == 'device'" ng-model="map.formData.direction.item" ng-change="map.formData.direction.change()" ng-options="item.name for item in map.formData.direction.list"></select>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype && map.control.object.type != 'area'">
                                                        <label>起始方位</label>
                                                        <select class="form-control format-select" ng-model="map.formData.lookdir.item" ng-change="map.formData.lookdir.change()" ng-options="item.name for item in map.formData.lookdir.list"></select>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.tagtype == 'monitor'">
                                                        <label>*所属区域</label>
                                                        <div class="input-group format-input-group">
                                                            <input type="text" class="form-control format-input" name="belongArea" ng-model="map.formData.belongArea.item.params.style.text" required readonly disabled/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.formData.belongArea.select()">选择</button></span>
                                                        </div>
                                                        <div ng-messages="mapInfoForm.belongArea.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未选择所属区域</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.tagtype == 'monitor'">
                                                        <label>*监控</label>
                                                        <div class="input-group format-input-group">
                                                            <input type="text" class="form-control" name="monitorname" ng-model="map.formData.monitor.item.name" readonly disabled required/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageMonitor.show()">选择</button></span>
                                                        </div>
                                                        <div ng-messages="mapInfoForm.monitorname.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未选择监控</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.tagtype == 'device'">
                                                        <label>*设备</label>
                                                        <div class="input-group format-input-group">
                                                            <input type="text" class="form-control" name="devicename" ng-model="map.formData.device.item.name" readonly disabled required/>
                                                            <span class="input-group-btn"><button class="btn btn-transparent" type="button" ng-click="map.resources.pageSingleDevice.show()">选择</button></span>
                                                        </div>
                                                        <div ng-messages="mapInfoForm.devicename.$error">
                                                            <label ng-message="required" class="control-label animated tada text-danger">未选择设备</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="map.control.object.tagtype == 'device' && map.formData.device.item.type == 'monitor'">
                                                        <label>监控设备类型</label>
                                                        <select class="form-control insidemapsetting-mapbox-info-select" ng-model="map.formData.monitorType.item" ng-change="map.formData.monitorType.change()" ng-options="item.name for item in map.formData.monitorType.list"></select>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype">
                                                        <label style="width:100%;">关联设备</label>
                                                        <a class="btn btn-default" ng-click="map.resources.pageDevice.show()">选择关联设备</a>
                                                        <table class="table table-striped">
                                                            <col width="50px"><col><col width="50px">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in map.control.object.devices">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>{{item.name}}</td>
                                                                    <td><a class="btn btn-danger btn-xs" ng-click="map.resources.pageDevice.removeDevice(item, $index)">删除</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype">
                                                        <label>简介标题</label>
                                                        <input name="title" type="text" class="form-control" ng-model="map.formData.summarytitle.value"/>
                                                        <label class="text-info">若不填写则区域名称代替</label>
                                                    </div>
                                                    <div class="form-group" ng-if="!map.control.object.tagtype">
                                                        <label>简介内容</label>
                                                        <textarea class="form-control" ng-model="map.formData.summary.value" style="width:100%;height:150px;"></textarea>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--按钮区域-->
                        <div ui-layout-container size="100px">
                            <div class="layout-full" ui-layout options="{dividerSize:'0'}">
                                <div ui-layout-container class="layout-full insidemapsetting-mapbox-tips" size="30px">{{map.control.modes.mode.value}}</div>
                                <div ui-layout-container>
                                    <div class="layout-full insidemapsetting-mapbox-btn">
                                        <div class="btn-group btn-group-justified" ng-if="map.control.modes.mode.name == 'add'">
                                            <a class="btn btn-success" ng-click="map.control.saveData()" ng-disabled="mapInfoForm.$invalid"><i class="fa fa-floppy-o"></i> 保存</a>
                                            <a class="btn btn-default" ng-click="map.control.cancel()">取消</a>
                                        </div>
                                        <div class="btn-group btn-group-justified" ng-if="map.control.modes.mode.name == 'edit'">
                                            <a class="btn btn-success" ng-click="map.control.saveData()" ng-disabled="mapInfoForm.$invalid"><i class="fa fa-floppy-o"></i> 保存</a>
                                            <a class="btn btn-danger" ng-click="map.control.del()"><i class="fa fa-times"></i> 删除</a>
                                            <a class="btn btn-default" ng-click="map.control.cancel()">取消</a>
                                        </div>
                                        <div class="btn-group btn-group-justified" ng-if="map.control.modes.mode.name == 'del'">
                                            <a class="btn btn-danger animated shake" ng-click="map.control.delData()"><i class="fa fa-check"></i> 确认删除</a>
                                            <a class="btn btn-success" ng-click="map.control.cancelDel()">取消</a>
                                        </div>
                                        <div class="btn-group btn-group-justified" ng-if="map.control.modes.mode.name == 'editCoordinate'">
                                            <a class="btn btn-success" ng-click="map.control.saveData()" ng-disabled="mapInfoForm.$invalid"><i class="fa fa-floppy-o"></i> 保存</a>
                                            <a class="btn btn-danger" ng-click="map.control.delCoordinate()" ng-show="map.formData.coordinate.item"><i class="fa fa-check"></i> 删除坐标点</a>
                                            <a class="btn btn-default" ng-click="map.control.cancelEditCoordinate()">取消</a>
                                        </div>
                                        <div class="btn-group btn-group-justified" ng-if="map.control.modes.mode.name == 'selectShape'">
                                            <a class="btn btn-default" ng-click="map.formData.belongArea.selectDone()">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>