<div class="widget-header">
    <span>添加单位映射</span>
</div>
<div class="widget-content">
    <form method="post" class="form-horizontal" id="mappingform" name="mappingform" novalidate>
        <fieldset>
            <div class="control-group">
                <div class="col-md-3">
                    <label class="control-label">映射类型</label>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <select ng-model="mapping.obj.type" name="mapping_type" id="mapping_type" ng-options="type.tag as type.name for type in types" style="width: 100%;"></select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-3">
                    <label class="control-label">平台单位</label>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" ng-model="mapping.obj.name" placeholder="点击选择平台单位" class="form-control" name="mapping_syouname" required ng-click="mapping.modal.show()" />
                    </div>
                </div>
                <div class="col-md-2">
                    <lable ng-show="mappingform.mapping_syouname.$invalid" style="color:red;">*请选择单位</lable>
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-3">
                    <label class="control-label">映射单位</label>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" ng-model="mapping.obj.oubm" placeholder="输入映射单位" class="form-control" required id="mapping_oubm" name="mapping_oubm" maxlength="15" />
                    </div>
                </div>
                <div class="col-md-2">
                    <lable ng-show="mappingform.mapping_oubm.$invalid" style="color:red;">*映射单位不能为空</lable>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div>
                <button class="btn btn-s-md btn-primary" type="button" ng-click="mapping.save()" ng-disabled="mappingform.$invalid">保     存</button>
                <button class="btn btn-s-md btn-default" type="button" ng-click="back()">返     回</button>
            </div>
        </div>
    </form>
</div>

<!-- 单位选择 -->
<div class="modal fade" id="ouTreeModal" tabindex="-1" role="dialog" aria-labelledby="ouTreeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 560px; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择单位</h4>
            </div>
            <div class="modal-body" style="height: 510px;">
                <div class="col-lg-12 widget-content iiw-system-treeview-container" style="padding: 0px;">
                    <div style="width:100%;height:100%;overflow: hidden;position: relative;" i-scroll>
                        <div>
                            <ul system-tree-view ng-model="ou" id="sycodeTreeview" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal" ng-click="mapping.modal.close()">取消</button>
            <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="mapping.selectOu()">确定</button>
        </div>
    </div>
</div>