.safe-sjposition-menu-header {
	overflow:hidden;
	padding:10px;
	background-color: rgba(0,0,0,0.5);
}
.safe-sjposition-menu-content {
	padding: 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.3);
}
.safe-sjposition-menu-item{
	height:65px;
	font-size:18px;
	padding:7px;
	cursor: pointer;
	transition: 1.3s;
}
#map {
	border: 1px solid #3473b7;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
#menu {
	background: #ffffff;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #3473b7;
}
.alarmAnimation {
    width:35px;
    height:35px;
    background:red;
    border-radius: 50%;
    opacity: 1;
    animation:alarmAnimation 1.5s infinite;
}
@keyframes alarmAnimation
{
    from {opacity: 1; transform: translate(-25%, -25%);}
    to {height:150px;width: 150px;opacity: 0.1; transform: translate(-40%, -45%);}
}
.smPopupCloseBox {
    height: 30px !important;
    width: 30px !important;
    background: url(../lib/images/close.gif) no-repeat !important;
    background-size: 100% 100% !important;
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
}
.safe-sjposition-header-btn{
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 20px;
}
.safe-sjposition-header-btn:hover {
	text-decoration: none;
	color: #f6b894;
}
.safe-sjposition-header-active {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border-bottom: 5px solid #a8cbcd;
}
.safe-sjposition-menu-content  ul {
	margin: 5px 0 !important;
}
.safe-sjposition-menu-content ul  li {
	margin: 5px 0 !important;;
}
.ztree * {
	font-size: 16px !important;
	font-family: '微软雅黑';
}
.ztree li span.button.ico_open,
.ztree li span.button.ico_close {
	background: url(../lib/images/1.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.ztree li span.button.ico_docu {
	background: url(../lib/images/2.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.safe-sjposition-content-header {
	border-bottom: 1px solid #38c2e8;
	color: #3abbfe;
	height: 47px;
}
.safe-sjposition-content {
	width: 100%;
	height: calc(100% - 47px);
}
.safe-sjposition-content table tr th,
.safe-sjposition-content table tr td{
	font-size: 20px;
}
.safe-sjposition-title {
	width: 100%;
	height: 50px;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	color: #38c2e8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.safe-sjposition-content-main {
	height: 100%;
	width: 100%;
	overflow: auto;
}
.safe-sjposition-criminalInfo {
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
	overflow: hidden;
}
.safe-sjposition-content-main table tr:nth-child(odd) {
	background-color: rgba(8, 177, 254, 0.1);
}
.safe-sjposition-content-main table tr {
	cursor: pointer;
}
.safe-sjposition-content-main table tr:hover {
	box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.8) inset;
	background-color: rgba(58, 137, 204, 0.5);
}

.safe-gis-place-icon-number {
	position: absolute;
	top: -30px;
	color: black;
	width: 200px;
	height: 30px;
	left: -75px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 5px;
}

.safe-gis-map-page-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.safe-gis-layout-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.safe-gis-map-menu-bar-container {
	width: 120px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 10px;
	/*overflow: hidden;*/
	z-index: 1;
	background: rgba(0,0,0,0.85);
}

.safe-gis-map-tool-bar-container {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	padding: 5px 0;
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	transition-duration: 0.3s;
	transition-property: transform;
}

.safe-gis-map-tool-bar-container:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 5px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
	transition-duration: 0.3s;
	transition-property: transform, opacity;
}
.safe-gis-map-tool-bar-container:hover, .safe-gis-map-tool-bar-container:focus, .safe-gis-map-tool-bar-container:active {
	transform: translateY(-5px);
	cursor: pointer;
}
.safe-gis-map-tool-bar-container:hover:before, .safe-gis-map-tool-bar-container:focus:before, .safe-gis-map-tool-bar-container:active:before {
	opacity: 1;
	transform: translateY(5px);
}

.safe-gis-map-tool-bar-container img {
	width: 64px;
	height: 64px;
}

.safe-gis-map-bar-icon-container {
	height: 80px;
	width: 80px;
	float: left;
}

.safe-gis-map-tool-bar-container i {
	font-size: 80px;
	color: rgba(20,20,20,0.75);
}

.safe-gis-map-bar-icon-container:hover {
	cursor: pointer;
	text-shadow: 0 0 5px white;
	background: rgba(0,0,0,0.5);
}

.safe-gis-map-container {
	width: 100%;
	height: 100%;
}

.safe-gis-layout-container .safe-gis-sitution-plot-type-item:hover,
.safe-gis-layout-container .safe-gis-sitution-plot-icon-item:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, .6);
}

.safe-gis-map-plot-container {
	position: absolute;
	width: 350px;
	height: 100%;
	z-index: 6;
	top: 0;
	right: 0;
}

.safe-gis-map-plot-container-header {
	height: 12%;
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 20px;
	background: rgba(7, 22, 40, 0.8);
	line-height: 36px;
	padding: 5px 10px 5px 10px;
}

.safe-gis-map-plot-container-header i {
	font-size: 36px;
	margin: 0;
}

.safe-gis-map-plot-container-header i:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

.safe-gis-map-plot-type-container {
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
	border-bottom: 2px solid rgba(255,255,255,0.5);
}

.safe-gis-map-plot-type-container .row {
	margin: 0;
	padding: 10px 0px 0 10px;
	position: relative;
}

.safe-gis-map-plot-type-container .safe-gis-map-plot-type-item-panel {
	padding: 0 10px 0 0;
	margin-bottom: 10px;
	height: 30px;
}

.safe-gis-map-plot-icon-container .safe-gis-map-plot-icon-item-panel {
	padding: 0 10px 0 0;
	margin-bottom: 10px;
	height: 60px;
}

.safe-gis-sitution-plot-type-item {
	display: inline-table;
	position: relative;
}

.safe-gis-sitution-plot-symbol-item {
	display: inline-table;
	position: relative;
}

.safe-gis-layout-container .safe-gis-sitution-plot-symbol-item:hover,
.safe-gis-layout-container .safe-gis-sitution-plot-symbol-item:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, .6);
}

.safe-gis-sitution-plot-symbol-item img {
	width: 40px;
	height: 40px;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: white;
}

.safe-gis-sitution-plot-type-title {
	width: 100%;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
}

.safe-gis-sitution-plot-symbol-title {
	float: left;
	width: 100%;
	height: 20px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
}

.safe-gis-map-plot-icon-container {
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
}

.safe-gis-layout-container .safe-gis-map-plot-icon-panel {
	margin: 0;
	padding: 10px 10px 0 10px;
	position: relative;
}

.safe-gis-layout-container .safe-gis-map-plot-icon-panel-body {
	padding: 0;
	background: rgba(7, 22, 40, 0.7);
	margin-bottom: 5px;
	height: 64px;
}

.safe-gis-sitution-plot-type-item-active {
	background: rgba(231, 102, 9, 0.8)!important;
}

#videoPopupPanel, #videoPopupPanel2 {
	background: transparent!important;
}

#videoPopupPanel .smPopupContent {
	overflow: hidden;
}

.safe-gis-event-info-container {
	width: 300px;
	height: 230px;
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 10px;
	background: rgba(0,0,0,0.3);
}

.safe-gis-event-info-body-container {
	height:230px;
	width:100%;
	position:relative;
}

.safe-gis-video-container {
	width: 300px;
	height: 230px;
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 250px;
	background: rgba(0,0,0,0.3);
}

.safe-gis-right-container {
	position: absolute;
	right: 10px;
	top: 0;
	width: 300px;
	height: 100%;
	z-index: 10;
	padding: 10px 10px 10px 0;
}

.safe-gis-communication-container {
	position: relative;
	background: rgba(0, 0, 0, 0.6);
	width: 300px;
	height: 230px;
}

.safe-gis-call-person-item {
	height: 30px;
	line-height: 30px;
	width: 100%;
	display: inline-block;
}

.safe-gis-communication-header {
	height: 20%;
	width: 100%;
	position: relative;
	float: left;
	padding:5px 10px;
	text-align: center;
	font-size: 20px;
	background: rgba(7, 22, 40, 0.8);
	line-height: 40px;
}

.safe-gis-communication-header i {
	font-size: 40px;
	margin: 0;
}

.safe-gis-communication-call-list {
	height: 60%;
	width: 100%;
	float: left;
	position: relative;
	background: rgba(0,0,0,0.6);
	padding: 10px;
}

.safe-gis-preplan-container {
	width: 300px;
	height: 740px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: rgba(7, 22, 40, 0.8);
	z-index: 10;
}

.safe-gis-map-plot-panel-body {
	width: 100%;
	height: 100%;
	position: relative;
	background: rgba(0,0,0,0.6);
}

.safe-gis-map-place-search-container {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 350px;
	z-index: 10;
}

.safe-gis-map-map-search-result-container {
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
	padding: 10px 10px 10px 10px;
}

.safe-gis-map-map-search-result-container .safe-gis-place-item-panel {
	margin: 0 0 10px 0;
	padding: 0;
	height: 100px;
	width: 100%;
	background: rgba(255,255,255,0.1);
	padding: 10px 0 0 10px;
}

.safe-gis-place-item-panel:hover {
	text-shadow: 0 0 5px;
	cursor: pointer;
	box-shadow: 0 0 10px;
}

.safe-gis-place-icon-number {
	position: absolute;
	top: -30px;
	color: black;
	width: 200px;
	height: 30px;
	left: -75px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 5px;
}

.safe-gis-message-bar-contaier {
	position: absolute;
	width: 400px;
	height: 40px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	bottom: 0px;
	border-radius: 10px 10px 0 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 2;
	display: none;
	font-size: 14px;
	color: white;
}

.safe-gis-message-info-box {
	padding-left: 10px;
}

.safe-gis-message-bar-contaier h3 {
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 18px;
}

.safe-gis-message-bar-contaier h3 {
	-webkit-animation: show-animation 0.4s both;
	animation: show-animation 0.4s both;
}

.safe-gis-message-bar-contaier h3 {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes show-animation {
	0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes show-animation {
	0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

.safe-gis-map-search-container-header {
	padding: 10px 10px 0 10px;
}

.safe-gis-map-plot-container.ng-hide-add,
.safe-gis-map-place-search-container.ng-hide-add {
	-webkit-animation: fadeOutRight 0.5s;
	animation: fadeOutRight 0.5s;
}

.safe-gis-map-plot-container.ng-hide-remove,
.safe-gis-map-place-search-container.ng-hide-remove {
	-webkit-animation: fadeInRight 0.5s;
	animation: fadeInRight 0.5s;
}

/************************标注弹出框样式******************************/
.safe-gis-marker-dialog-container {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.safe-gis-marker-dialog-form-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.safe-gis-marker-form-row{
	width: 100%;
	height: auto;
	padding: 15px;
	float: left;
	font-size: 20px;
	position: relative;
}

.safe-gis-marker-dialog-bottom-container{
	height: 80px;
	float: left;
	line-height: 80px;
	text-align: center;
	width: 100%;
}

.safe-gis-marker-dialog-bottom-container button{
	width: 100px;
	height: 60px;
	font-size: 20px;
}

.safe-gis-map-menu-bar-body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: overlay;
}

.safe-gis-map-top-bar-container {
	z-index: 2;
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 200px 0 200px;
}

.safe-gis-map-top-bar-panel {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
}

.safe-gis-layout-container .safe-gis-map-place-search {
	width: 350px;
	height: 45px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}

.safe-gis-map-place-search input {
	height: 45px;
}

.safe-gis-map-place-search .input-group-addon {
	background: #6262ea;
}

.safe-gis-layout-container .safe-gis-map-container {
	border: 0;
}

.safe-gis-map-common-toolbar-container {
	width: 400px;
	height: 42px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	padding: 5px 0 0 0px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	background: rgba(0,0,0,0.8);
}

.safe-gis-map-common-toolbar-container .safe-gis-map-toolbar-img {
	width: 32px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	transition-duration: 0.3s;
	transition-property: transform;
}

.safe-gis-map-toolbar-img:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
	transition-duration: 0.3s;
	transition-property: transform, opacity;
}
.safe-gis-map-toolbar-img:hover, .safe-gis-map-toolbar-img:focus, .safe-gis-map-toolbar-img:active {
	transform: translateY(-5px);
	cursor: pointer;
}
.safe-gis-map-toolbar-img:hover:before, .safe-gis-map-toolbar-img:focus:before, .safe-gis-map-toolbar-img:active:before {
	opacity: 1;
	transform: translateY(5px);
}

.safe-gis-place-item-panel h5 {
	margin: 0;
}

.safe-gis-place-item-panel h5 img {
	width: 24px;
	float: left;
}

.safe-gis-place-item-panel h6 {
	padding-left: 10px;
}

.safe-gis-detailTable {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	display: table;
	z-index: 10;
}

.safe-gis-detailTableCell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.safe-gis-detailBox {
	height: 800px;
	width: 1440px;
	background-color: #4e5d6c;
	border-radius: 5px;
	box-shadow: 0 0 20px #000;
	margin: auto;
}
.safe-gis-detailBox-header {
	height: 60px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	padding: 7px;
	border-bottom: 1px solid #2b3e50;
}
.safe-gis-detailBox-main {
	height: calc(100% - 120px);
	width: 100%;
	padding: 10px;
}
.safe-gis-detailBox-tableFoolter {
	height: 60px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	padding: 7px;
	border-bottom: 1px solid #2b3e50;
}
.safe-gis-detailBox-tableHeader {
	background-color: rgba(0,0,0,0.5);
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.3);
}
.safe-gis-detailBox-tableHeader table tr th {
	line-height: 38px;
}
.safe-gis-detailBox-tableBody {
	height: calc(100% - 50px);
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.safe-gis-detailBox-tableBody-select{
	background-color: rgba(255,255,255,0.3) !important;
}
.safe-gis-detailBox-tableBody table tbody tr:hover {
	background-color: rgba(255,255,255,0.3)
}
.safe-gis-detailBox-tableBody table tr:nth-child(even) {
	background-color: rgba(0,0,0,0.3);
}