<div class="command-rollcall-list" ui-view>

    <div class="command-rollcall-list-list" ng-style="{'background-image': 'url('+ rollcall.path +'/img/listImg_01.png)'}">
        <div class="command-rollcall-list-list-header">

            <div class="command-rollcall-list-list-header-filter">
                <div class="command-rollcall-list-list-header-filter-name">
                    模糊过滤 ：
                </div>
                <div class="command-rollcall-list-list-header-filter-content">
                    <input type="text"
                           ng-model="rollcall.filter.searchText"
                           class="form-control"
                           ng-keyup="rollcall.keyup($event)"
                           ng-blur="list.getList()"
                           ng-style="{'border-image': 'url('+ rollcall.path +'/img/input.png) 5 5 round'}"
                           placeholder="请输入关键字筛选！（按回车键搜索）"/>
                </div>
            </div>

            <div class="command-rollcall-list-list-header-filter">
            </div>

            <div class="command-rollcall-list-list-header-filter">
                <div class="command-rollcall-list-list-header-filter-name">
                    搜索时间 ：
                </div>
                <div class="command-rollcall-list-list-header-filter-content">
                    <input type="text"
                           ng-model="rollcall.filter.starttime"
                           c-picker p!format="Y-m-d"
                           p!timepicker="false"
                           ng-change="rollcall.getList()"
                           ng-style="{'width': '45%', 'float': 'left', 'border-image': 'url('+ rollcall.path +'/img/input.png) 5 5 round'}"
                           class="form-control"/>
                    <div class="corner">~</div>
                    <input type="text"
                           ng-model="rollcall.filter.endtime"
                           c-picker p!format="Y-m-d"
                           p!timepicker="false"
                           ng-change="rollcall.getList()"
                           ng-style="{'width': '45%', 'float': 'left', 'border-image': 'url('+ rollcall.path +'/img/input.png) 5 5 round'}"
                           class="form-control"/>
                </div>

            </div>

            <div class="command-rollcall-list-list-header-filter" ng-style="{'padding-left': '50px'}">
                <button class="btn btn-success pull-left" ng-click="rollcall.add()">登记</button>
            </div>
        </div>
        <div class="command-rollcall-list-list-body">
            <table ng-if="rollcall.syouname === '新康监狱'" class="table-responsive">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>登记时间</th>
                    <th>本监罪犯</th>
                    <th>住院罪犯</th>
                    <th>在押嫌疑人</th>
                    <th>新收押陪护犯 (男)</th>
                    <th>新收押陪护犯 (女)</th>
                    <th>新收押病犯 (男)</th>
                    <th>新收押病犯 (女)</th>
                    <th>新收押嫌疑人 (男)</th>
                    <th>新收押嫌疑人 (女)</th>
                    <th>释放 (男)</th>
                    <th>释放 (女)</th>
                    <th>狱内执勤警力</th>
                    <th>监管秩序 是否正常</th>
                    <th>报告人姓名</th>
                    <th>报告人职务</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rows in rollcall.list">
                    <td>{{$index + 1}}</td>
                    <td>{{rows.dutytime}}</td>
                    <td>{{rows.prisoncriminal}}</td>
                    <td>{{rows.hospitalcriminal}}</td>
                    <td>{{rows.suspect}}</td>
                    <td>{{rows.newescortmale}}</td>
                    <td>{{rows.newescortfemale}}</td>
                    <td>{{rows.newsickmale}}</td>
                    <td>{{rows.newsickfemale}}</td>
                    <td>{{rows.newsuspectmale}}</td>
                    <td>{{rows.newsuspectfemale}}</td>
                    <td>{{rows.releasemale}}</td>
                    <td>{{rows.releasefemale}}</td>
                    <td>{{rows.police}}</td>
                    <td>{{rows.isorder}}</td>
                    <td>{{rows.reportername}}</td>
                    <td>{{rows.reporterduty}}</td>
                    <td>{{rows.note}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="rollcall.mod(rows)">修改</button>
                        <button class="btn btn-warning" ng-click="rollcall.del(rows)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <table ng-if="rollcall.syouname !== '新康监狱'" class="table-responsive">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>登记时间</th>
                    <th>押犯总数</th>
                    <th>在押人数</th>
                    <th>暂予监外 执行人数</th>
                    <th>监外住院 (新康住院)</th>
                    <th>监外住院 (社会医院)</th>
                    <th>总新收押犯</th>
                    <th>总释放人数</th>
<!--                    <th>新收押犯 11时</th>-->
<!--                    <th>新收押犯 16时</th>-->
<!--                    <th>释放人数 11时</th>-->
<!--                    <th>释放人数 16时</th>-->
                    <th>狱内执勤警力</th>
                    <th>监管秩序 是否正常</th>
                    <th>报告人姓名</th>
                    <th>报告人职务</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rows in rollcall.list">
                    <td>{{$index + 1}}</td>
                    <td>{{rows.dutytime}}</td>
                    <td>{{rows.total}}</td>
                    <td>{{rows.inmates}}</td>
                    <td>{{rows.outcriminal}}</td>
                    <td>{{rows.newcon}}</td>
                    <td>{{rows.social}}</td>
<!--                    <td>{{rows.allnewin}}</td>-->
<!--                    <td>{{rows.allrelease}}</td>-->
<!--                    <td>{{rows.newin11}}</td>-->
<!--                    <td>{{rows.newin16}}</td>-->
                    <td>{{rows.release11}}</td>
                    <td>{{rows.release16}}</td>
                    <td>{{rows.police}}</td>
                    <td>{{rows.isorder}}</td>
                    <td>{{rows.reportername}}</td>
                    <td>{{rows.reporterduty}}</td>
                    <td>{{rows.note}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="rollcall.mod(rows)">修改</button>
                        <button class="btn btn-warning" ng-click="rollcall.del(rows)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="command-rollcall-list-body-params text-center">
                <uib-pagination boundary-links="true"
                                first-text="&laquo;"
                                last-text="&raquo;"
                                total-items="list.params.totalSize"
                                ng-model="list.params.pageNo"
                                ng-change="list.getList()"
                                items-per-page="list.params.pageSize"
                                previous-text="上一页"
                                next-text="下一页"
                                max-size="5"></uib-pagination>
            </div>
        </div>
    </div>

</div>
