.iiw-safe-affairs-summarize {
    width: 100%;
    height: 100%;
}

.iiw-safe-affairs-summarize .summarize-header {
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.iiw-safe-affairs-summarize .summarize-header button {
    margin: 0 10px;
}

.iiw-safe-affairs-summarize .summarize-header .header-text {
    height: 100%;
    margin-right: 30px;
    line-height: 42px;
}

.iiw-safe-affairs-summarize .summarize-body {
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, .2);
}

.iiw-safe-affairs-summarize .summarize-body .summarize-table {
    font-size: 16px;
    position: relative;
    table-layout: fixed;
}

.iiw-safe-affairs-summarize .summarize-body .summarize-table th{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.iiw-safe-affairs-summarize .summarize-body .summarize-table tr{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.iiw-safe-affairs-summarize .summarize-body .summarize-table td{
    height: 40px;
    line-height: 40px;
}

.iiw-safe-affairs-summarize .summarize-body .iScroll2 {
    overflow: hidden;
    height: 91%;
    position: relative;
}

.iiw-safe-affairs-summarize-unusual {
    height: 100%;
}

.iiw-safe-affairs-summarize-unusual .unusual-header {
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 52px;
    line-height: 42px;
}

.iiw-safe-affairs-summarize-unusual .unusual-header button {
    margin: 0 10px;
}

.iiw-safe-affairs-summarize-unusual .unusual-body {
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, .2);
}

.iiw-safe-affairs-summarize-unusual .unusual-body .summarize-table {
    font-size: 16px;
    position: relative;
    table-layout: fixed;
}

.iiw-safe-affairs-summarize-unusual .unusual-body .summarize-table th{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.iiw-safe-affairs-summarize-unusual .unusual-body .summarize-table tr{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.iiw-safe-affairs-summarize-unusual .unusual-body .summarize-table td{
    height: 40px;
    line-height: 40px;
}