safe-map-select-panel {
    overflow: hidden;
}

.safe-map-select-boxs {
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.safe-map-select-boxs .box-image {
    width: 100%;
    height: 170px;
    text-align: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.safe-map-select-boxs .box-image i {
    margin-top: 20px;
    font-size: 150px;
    color: #666;
}

.safe-map-select-boxs .box-image .text {
    position: absolute;
    top: 75px;
    left: 110px;
    text-align: left;
}

.safe-map-select-boxs .box-text {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.safe-map-select-title {
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.safe-map-select-title ol {
    background: none;
}

.safe-map-select-title ol li {
    cursor: pointer;
}

.safe-map-select-title ol li button {
    font-family: msyh;
}

.safe-map-select-title ol li:before {
    margin: 0 15px;
}

.safe-map-select-title ol li i {
    margin-right: 5px;
}