.safe-main-mask-high {
    position: absolute;
    z-index: 102;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
}

.safe-main-mask-high > div {
    position: relative;
}

.safe-main-user-password {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 450px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    background-color: #000;
    margin: auto;
}

.safe-main-user-password > div {
    padding: 20px;
}

.safe-main-user-password > div button {
    margin-right: 10px;
}

.safe-main-user-password-mask {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}