<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="55px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="layout-full" ui-view style="overflow: auto;">
                    <div class="ui-layout-row system-questionnairecheck-page-content" ui-layout="{ flow: 'row'}"
                         options="{dividerSize:'0'}">
                        <div class="ui-layout-container" ui-layout-container>
                            <div class="layout-full system-questionnairecheck-container">
                                <div ng-if="loading.isLoading" class="system-loading-toast" ng-class="loading.className">
                                    <div class="loading-toast">
                                        <i class="loading-icon fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                                        <p class="loading-content">{{loading.content}}...</p>
                                    </div>
                                </div>
                                <div class="questionnairecheck-container">
                                    <div class="questionnaire-header">
                                        <div class="questionnaire-name">{{wjData.name}}</div>
                                        <div class="questionnaire-time">{{wjData.describe}}</div>
                                        <div class="ftapp-userinfo">
                                            <div class="row">
                                                <div class="col-md-5 item">
                                                    <label>访谈员编号：</label>
                                                    <span ng-if="userDetails.interviewercode.length"><i ng-repeat="(i, num) in userDetails.interviewercode track by i">{{num}}</i></span>
                                                    <span ng-if="!userDetails.interviewercode.length"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
                                                </div>
                                                <div class="col-md-3 item">
                                                    <label>访谈员姓名：</label>
                                                    <span class="underline">{{userDetails.interviewername}}</span>
                                                </div>
                                                <div class="col-md-4 item">
                                                    <label>联系方式：</label>
                                                    <span class="underline">{{userDetails.phone}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 item">
                                                    <label>督导员编号：</label>
                                                    <span ng-if="userDetails.supervisorcode.length"><i ng-repeat="(i, num) in userDetails.supervisorcode track by i">{{num}}</i></span>
                                                    <span ng-if="!userDetails.supervisorcode.length"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
                                                </div>
                                                <div class="col-md-3 item">
                                                    <label>督导员姓名：</label>
                                                    <span class="underline">{{userDetails.supervisor}}</span>
                                                </div>
                                                <div class="col-md-4 item">
                                                    <label>联系方式：</label>
                                                    <span class="underline">{{userDetails.supervisorphone}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 item">
                                                    <label>被访谈人员编号：</label>
                                                    <span ng-if="userDetails.bm.length"><i ng-repeat="(i, num) in userDetails.bm track by i">{{num}}</i></span>
                                                    <span ng-if="!userDetails.bm.length"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
                                                </div>
                                                <div class="col-md-3 item">
                                                    <label>被访谈人员姓名：</label>
                                                    <span class="underline">{{userDetails.criminalname}}</span>
                                                </div>
                                                <div class="col-md-4 item">
                                                    <label>被访谈人员身份证：</label>
                                                    <span class="underline">{{userDetails.zjhm}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    被访谈人员类型：
                                                    <span class="usertype"><i class="fa fa-square" ng-class="{'fa-check-square': wjData.usertype === '0'}"></i>初犯</span>
                                                    <span class="usertype"><i class="fa fa-square" ng-class="{'fa-check-square': wjData.usertype === '1'}"></i>重犯</span>
                                                    <span class="usertype"><i class="fa fa-square" ng-class="{'fa-check-square': wjData.usertype === '2'}"></i>刑罚执行完毕后未重新犯罪者</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 item">
                                                    <label>访谈日期：</label>
                                                    <span class="underline">{{userDetails.starttime | date: 'yyyy年MM月dd日'}}</span>
                                                </div>
                                            </div>
                                            <div class="questionnaire-subtext">访谈员自我介绍</div>
                                            <div class="questionnaire-subtext">【指导语】</div>
                                            <p>{{wjData.introduce}}</p>
                                        </div>
                                    </div>
                                    <div class="answer-content">
                                        <ul>
                                            <li class="answer-list" ng-repeat="(type, group) in answerList track by type">
                                                <div class="title">{{group.type}}、{{group.name}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ui-layout-container size="60px">
                            <div class="layout-full" style="background-color: rgba(0, 0, 0, 0.25); padding: 10px;">
                                <button ng-if="record.status === 'O'" class="btn btn-warning col-md-4" type="button"ng-click="questionnairecheck.reinvestigation()">重新调查</button>
                                <button ng-if="record.status === 'O'" class="btn btn-success col-md-4" type="button"ng-click="questionnairecheck.audit()">审核通过</button>
                                <button ng-if="record.status === 'O'" class="btn btn-danger col-md-4" type="button" ng-click="questionnairecheck.back()">返回</button>
                                <button ng-if="record.status !== 'O'" class="btn btn-danger col-md-6" type="button" ng-click="questionnairecheck.back()" style="position: absolute;left: 25%;">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
