<div class="info-title">
    <h3>
        <i class="safe-icon safe-icon-criminal"></i>
        <b editable>罪犯信息牌</b>
    </h3>
</div>
<div class="info-content safe-infocard-content" i-scroll>
    <div class="container-fluid">
        <div class="row">
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>在押数</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>现押数</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>出工</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>监仓</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>学习</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>会见</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>狱内就医</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>保外就医</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>离监就医</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>集训管理</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>禁闭</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>隔离审查</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>住医托管</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>学习托管</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>外监区托管</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
            <data>
                <div class="col-xs-3 info-label"><i class="fa fa-angle-right"></i><b editable>重点犯</b></div>
                <div class="col-xs-3 info-label info-value" datasource></div>
            </data>
        </div>
    </div>
</div>