<div class="info-title">
    <h3>
        <i class="safe-icon safe-icon-police"></i>
        <b editable>监狱警察信息牌</b>
    </h3>
</div>
<div class="info-content safe-infocard-content" i-scroll>
    <div class="container-fluid">
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>值班组组长</b></div>
            <div class="info-right" datasource></div>
        </div>
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>值班组副组长</b></div>
            <div class="info-right" datasource></div>
        </div>
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>值班组成员</b></div>
            <div class="info-right" datasource></div>
        </div>
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>监狱指挥中心值班人员</b></div>
            <div class="info-right" datasource></div>
        </div>
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>机关备勤人员</b></div>
            <div class="info-right" datasource></div>
        </div>
        <div class="info-row">
            <div class="info-left"><i class="fa fa-angle-right"></i><b editable>值班人数</b></div>
            <div class="info-right" datasource></div>
        </div>

    </div>
</div>