<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="50px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="layout-full" ui-view style="overflow: auto;">
                    <div class="ui-layout-row system-scale-page-content" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="ui-layout-container" ui-layout-container>
                            <div class="layout-full system-scale-container" style="position: relative; display:inline-block;">
                                <div class="layout-full">
                                    <div ng-if="loading.isLoading" class="system-loading-toast" ng-class="loading.className">
                                        <div class="loading-toast">
                                            <i class="loading-icon fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                                            <p class="loading-content">{{loading.content}}...</p>
                                        </div>
                                    </div>
                                    <div class="system-question-container">
                                        <div class="scale-header">
                                            <div class="title">{{scaleData.name}}</div>
                                            <div class="subtitle">{{scaleData.subtitle}}</div>
                                            <div class="describes">{{scaleData.describes}}</div>
                                        </div>
                                        <div class="scale-question">
                                            <fieldset class='fieldset' ng-repeat="(qnumber, question) in questionList track by qnumber">
                                                <div class='field' topic='question.idx' type='question.type' ng-click="editQ(questionList, $index)">
                                                    <div ng-if="question.qpremise" class='field-premise'>{{question.qpremise}}</div>

                                                    <div class='field-label'>{{$index+1}}. {{question.name}}</div>

                                                    <div ng-if="question.qtip" class='field-tip'>{{question.qtip}}</div>

                                                    <div class="field-controlgroup" ng-class="question.option.length > 10 ? 'field-toomuch' : ''" ng-if="question.type === '1'">
                                                        <div class="field-radio" ng-repeat="(idx, radio) in question.option track by idx">
                                                            <i class="fa" ng-class="{'fa-circle': !radio.isChecked, 'fa-check-circle': radio.isChecked}"></i>
                                                            <label>{{radio.label}}</label>
                                                        </div>
                                                    </div>

                                                    <div ng-if="question.type !== '1'" class="field-input">
                                                    <span ng-repeat="(idx, input) in question.option track by idx">
                                                        {{input.prefix}}<b class="input-text">{{input.content}}</b>{{input.suffix}}
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="set clearfix" ng-show="!question.editing">
                                                    <div class="col-md-4">
                                                        <div class="setLeft">
                                                            <a ng-click="">在此题后插入新题</a>
                                                            <div class="scale-insertQ">
                                                                <em></em>
                                                                <span></span>
                                                                <div class="insertQ-type">
                                                                    <button class="btn btn-sm btn-primary" ng-click="addQ($index, 1)">量表题</button>
                                                                    <button class="btn btn-sm btn-primary" ng-click="addQ($index, 2)">填空题</button>
                                                                </div>
                                                                <!-- <div class="tip"><b>提示：</b>如需添加其他题型，请联系开发人员进行开发。</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="btn btn-success" ng-click="editQ(questionList, $index)"><i class="fa fa-edit fa-fw"></i>编辑</a>
                                                        <a class="btn btn-primary" ng-click="copy($index)"><i class="fa fa-copy fa-fw"></i>复制</a>
                                                        <a class="btn btn-danger" ng-click="del(questionList, $index, 'question')"><i class="fa fa-trash-o fa-fw"></i>删除</a>
                                                        <a class="btn btn-info" ng-click="moveUp(questionList, $index, 'question')"><i class="fa fa-arrow-up fa-fw"></i>上移</a>
                                                        <a class="btn btn-info" ng-click="moveDown(questionList, $index, 'question')"><i class="fa fa-arrow-down fa-fw"></i>下移</a>
                                                    </div>
                                                </div>
                                                <div ng-if="question.editing">
                                                    <div class="question-set">
                                                        <div class="question-triangle"></div>
                                                        <kind-editor ng-model="question.name"></kind-editor>
                                                        <div ng-if="question.type === '1'">
                                                            <div class="table-responsive question-table">
                                                                <table class="table table-responsive">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>选项文字</th>
                                                                        <th>分数</th>
                                                                        <th>上移下移</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr ng-repeat="row in question.option">
                                                                        <td class="label-box">
                                                                            <input type="text" class="choicetxt" ng-model="row.label">
                                                                            <i class="fa fa-plus-circle fa-fw" ng-click="addOption(question.option, $index)" title="在此选项下面插入一个新的选项"></i>
                                                                            <i class="fa fa-minus-circle fa-fw" ng-click="del(question.option, $index, 'option')" title="删除当前选项（最少保留2个选项）"></i>
                                                                        </td>
                                                                        <td class="score-box">
                                                                            <input type="text" class="choicetxt" ng-model="row.score">
                                                                        </td>
                                                                        <td>
                                                                            <i class="fa fa-arrow-circle-up fa-fw" ng-click="moveUp(question.option, $index, 'option')" title="将当前选项上移一个位置"></i>
                                                                            <i class="fa fa-arrow-circle-down fa-fw" ng-click="moveDown(question.option, $index, 'option')" title="将当前选项下移一个位置"></i>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="question-option clearfix">
                                                                <div class="col-md-6">
                                                                    <a ng-click="addOption(question.option, question.option.length - 1)"><i class="fa fa-plus-square-o"></i>添加选项</a>
                                                                    <a ng-click="setQ($index)" data-backdrop="false" data-target="#optionModal" data-toggle="modal" title="批量添加选项">
                                                                        <i class="fa fa-object-ungroup"></i>批量增加
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-6"></div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="question.type !== '1'">
                                                            <div class="table-responsive question-table">
                                                                <table class="table table-responsive">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>填空</th>
                                                                        <th>填空类型</th>
                                                                        <th>填空属性</th>
                                                                        <th>选项提示</th>
                                                                        <th>操作</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr ng-repeat="row in question.option">
                                                                        <td>填空{{$index + 1}}</td>
                                                                        <td>
                                                                            <select ng-model="row.type" class="form-control">
                                                                                <option ng-repeat="(key, type) in inputTypes track by key" value="{{type.type}}">{{type.typename}}</option>
                                                                            </select>
                                                                        </td>
                                                                        <td class="input-attr">
                                                                            <form class="form-inline">
                                                                                <div class="form-group">
                                                                                    <label for="prefix">前缀:</label>
                                                                                    <input type="text" ng-model="row.prefix" class="form-control" id="prefix">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="suffix">后缀:</label>
                                                                                    <input type="text" ng-model="row.suffix" class="form-control" id="suffix">
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.type === '0' || row.type === '1'">
                                                                                    <label for="minwords">最小字符:</label>
                                                                                    <input type="number" ng-model="row.minwords" class="form-control" id="minwords">
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.type === '0' || row.type === '1'">
                                                                                    <label for="maxwords">最大字符:</label>
                                                                                    <input type="number" ng-model="row.maxwords" class="form-control" id="maxwords">
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.type === '2' || row.type === '3'">
                                                                                    <label for="maxnumber">最小范围:</label>
                                                                                    <input type="number" ng-model="row.maxnumber" class="form-control" id="maxnumber">
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.type === '2' || row.type === '3'">
                                                                                    <label for="minnumber">最大范围:</label>
                                                                                    <input type="number" ng-model="row.minnumber" class="form-control" id="minnumber">
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.type === '6'">
                                                                                    <label>时间格式:</label>
                                                                                    <select ng-model="row.format" class="form-control">
                                                                                        <option value="1">年</option>
                                                                                        <option value="2">年月</option>
                                                                                        <option value="3">年月日</option>
                                                                                    </select>
                                                                                </div>
                                                                            </form>
                                                                        </td>
                                                                        <td>
                                                                            <form class="form-inline">
                                                                                <div class="form-group">
                                                                                    <label>是否提示:</label>
                                                                                    <select ng-model="row.isdesc" class="form-control">
                                                                                        <option value="0">不加提示</option>
                                                                                        <option value="1">普通提示</option>
                                                                                        <option value="2">弹窗提示</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="form-group" ng-if="row.isdesc !== 0">
                                                                                    <label for="descr">提示内容:</label>
                                                                                    <input type="text" ng-model="row.descr" class="form-control" id="descr">
                                                                                </div>
                                                                            </form>
                                                                        </td>
                                                                        <td>
                                                                            <i class="fa fa-plus-circle fa-fw" ng-click="addInput(question.option, $index)" title="在此选项下面插入一个新的选项"></i>
                                                                            <i class="fa fa-minus-circle fa-fw" ng-click="del(question.option, $index, 'option')" title="删除当前选项（最少保留2个选项）"></i>

                                                                            <i class="fa fa-arrow-circle-up fa-fw" ng-click="moveUp(question.option, $index, 'option')" title="将当前选项上移一个位置"></i>
                                                                            <i class="fa fa-arrow-circle-down fa-fw" ng-click="moveDown(question.option, $index, 'option')" title="将当前选项下移一个位置"></i>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="question-logic">
                                                            <span>逻辑设置：</span>
                                                            <a ng-click="setQ($index)" data-backdrop="false" data-target="#jumpModal" data-toggle="modal" title="通过配合设置其他题目的“按选项跳题”实现更复杂的跳题逻辑">跳题逻辑</a>
                                                        </div>
                                                        <div class="question-btn" ng-click="question.editing = false">完成编辑</div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="scale-add">
                                            <div class="collapse" id="collapseAdd">
                                                <div class="add-option">
                                                    <button class="btn btn-lg btn-primary" ng-click="addQ(questionList.length-1, 1)">量表题</button>
                                                    <button class="btn btn-lg btn-primary" ng-click="addQ(questionList.length-1, 2)">填空题</button>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-add" type="button" data-toggle="collapse" data-target="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd"><i class="fa fa-plus"></i>添加问题</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="optionModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-remove"></i></button>
                                <h4 class="modal-title">批量添加选项</h4>
                            </div>
                            <div class="modal-body">
                                <div class="widget-content">
                                    <div class="modal-wrapper">
                                        提示：将每个选项按顺序填写，中间用英文逗号 , 隔开。举例输入 选项一,选项二,选项三
                                        <textarea class="form-control" rows="5" ng-model="batchOptions"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-lg btn-larger" data-dismiss="modal" ng-click="cancel()">取消</button>
                            <button class="btn btn-primary btn-lg btn-larger" ng-click="saveOption()">保存</button>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="jumpModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-remove"></i></button>
                                <h4 class="modal-title">跳题逻辑</h4>
                            </div>
                            <div class="modal-body">
                                <div class="widget-content">
                                    <div class="jump-wrapper" style="height: 500px;">
                                        <div ng-if="question.type === '1'">
                                            <div class="radio" ng-click="setJump(question, 1)">
                                                <label>
                                                    <i class="fa" ng-class="{'fa-square-o': question.jumpway !== '1', 'fa-check-square-o': question.jumpway === '1'}"></i>
                                                    <b>按选项跳题</b>
                                                </label>
                                            </div>
                                            <div class="opjump" ng-if="question.jumpway === '1'">
                                                <div class="table-responsive question-table">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>选项</th>
                                                            <th>跳转到</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="row in question.option">
                                                            <td>选择</td>
                                                            <td>选项{{$index}}</td>
                                                            <td>
                                                                <select ng-model="row.jumpto" class="form-control" style="display: inline-block;width: 85%;">
                                                                    <option value="">不跳转，按顺序填写下一题</option>
                                                                    <option ng-repeat="(idx, question) in jumpQlist track by idx" value="{{question.idx}}">{{question.idx}}.{{question.name}}</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="radio" ng-click="setJump(question, 2)">
                                                <label>
                                                    <i class="fa" ng-class="{'fa-square-o': question.jumpway !== '2', 'fa-check-square-o': question.jumpway === '2'}"></i>
                                                    <b>无条件跳题</b>
                                                </label>
                                            </div>
                                            <div class="anyjump" ng-if="question.jumpway === '2'">
                                                <div class="form-group clearfix">
                                                    <label>填写此题后跳转到: </label>
                                                    <select ng-model="question.anyjump" class="form-control" style="display: inline-block;width: 85%;">
                                                        <option value="">请选择要跳转到的题目</option>
                                                        <option ng-repeat="(idx, question) in jumpQlist track by idx" value="{{question.idx}}">{{question.idx}}.{{question.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-lg btn-larger" data-dismiss="modal" ng-click="cancel()">取消</button>
                            <button class="btn btn-primary btn-lg btn-larger" ng-click="saveOption()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-layout-container iiw-system-form-button-layout-container" size="60px" ui-layout-container style="background-color: rgba(0, 0, 0, .6);">
                <button class="btn btn-success col-md-4" ng-click="save()"><i class="fa fa-check fa-fw"></i>完成编辑</button>
                <button class="btn btn-danger col-md-4" ng-click="back()"><i class="fa fa-mail-reply-all fa-fw"></i>返回</button>
            </div>
        </div>
    </div>
</div>
