<div class="safe-notice-push" style="position: relative" ng-show="showList">
    <div class="notice-title">
        <div class="menu-button" ng-click="notice.showNoticeItem('add', '')" ng-if="role">
            <button class="btn btn-primary" title="添加">
                <i class="fa fa-plus-square-o"></i>添加
            </button>
        </div>
        <!--        <div class="menu-button" ng-click="notice.look()">-->
        <!--            <button class="btn btn-success" title="查看">-->
        <!--                <i class="fa fa-eye"></i>查看-->
        <!--            </button>-->
        <!--        </div>-->
        <div class="menu-button" ng-click="notice.del()" ng-if="role">
            <button class="btn btn-danger" title="删除">
                <i class="fa fa-minus"></i>删除
            </button>
        </div>
        <!--        <div class="menu-button" ng-click="notice.uploadFile()">-->
        <!--            <button class="btn btn-info" title="上传附件">-->
        <!--                <i class="fa fa-cloud-upload"></i>上传附件-->
        <!--            </button>-->
        <!--            <input type="file" accept="*" multiple="multiple" id="taxFiles" style="display: none;">-->
        <!--        </div>-->
        <div class="menu-button search-btn">
            <div class="input-group">
                <input type="text" class="form-control"
                       ng-keydown="$event.keyCode == 13 && notice.getNotices()"
                       ng-model="notice.filter.searchText" placeholder="搜索"/>
                <span class="input-group-addon" style="cursor: pointer;" ng-click="notice.getNotices()"><i
                        class="fa fa-search"></i></span>
            </div>
        </div>
    </div>

    <div class="notice-body">
        <table class="table notice-table">
            <col width="5%"/>
            <col width="5%"/>
            <col width="17%"/>
            <col width="12%"/>
            <col width="35%"/>
            <col width="8%"/>
            <col width="8%"/>
            <col width="10%"/>
            <thead>
            <tr>
                <th class="text-center">
                    <input type="checkbox" style="width:20px;height:20px;"
                           ng-model="notice.selectAll" ng-change="notice.selAll()"/>
                </th>
                <th>序号</th>
                <th>标题</th>
                <th>时间</th>
                <th>内容</th>
                <th>是否有附件</th>
                <th>已处理</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in notice.noticeList" ng-click="notice.select(item, $event)"
                style="cursor: pointer;"
                ng-class="{'select':item.checked}">
                <td class="text-center">
                    <input type="checkbox" ng-model="item.checked"
                           style="width:20px;height:20px;"/>
                </td>
                <td>{{$index + 1}}</td>
                <td class="td-title">
                    {{item.title}}
                </td>
                <td>{{item.cretime}}</td>
                <td>{{item.content.substr(0, 100)}}...</td>
                <td>{{item.files.length ? '有' : '无'}}</td>
                <td ng-if="role">{{item.done}}</td>
                <td ng-if="!role">{{item.sign === '0' ? '未处理':'已处理'}}</td>
                <td>
                    <button ng-if="role || item.sign === '1'" ng-click="notice.showNoticeItem('look', item)" class="btn btn-success" title="查看"><i class="fa fa-eye"></i>查看</button>
                    <button ng-if="!role && item.sign === '0'" ng-click="notice.showNoticeItem('reply', item)" class="btn btn-info" title="回复"><i class="fa fa-commenting"></i>回复</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="notice-footer">
        <uib-pagination class="pagination pull-right" items-per-page="notice.params.pageSize"
                        ng-change="notice.getNotices()"
                        ng-model="notice.params.currentPage"
                        total-items="notice.params.totalSize" boundary-links="true"
                        previous-text="上一页" next-text="下一页" first-text="&laquo;" last-text="&raquo;"
                        max-size="10"></uib-pagination>
    </div>

</div>


<div class="fullH fullW safe-notice-push-add " id="noticeModal" ng-show="showNotice">
    <div class="notice-add">
        <div class="layout-full" i-Scroll>
            <form name="noticeForm">
                <fieldset>
                    <div class="form-group" style="margin-top: 20px;">
                        <label>*标题</label>
                        <input id="noticeFormTitle" name="title" type="text" class="form-control" ng-model="noticeItem.notice.title" ng-disabled="operate === 'look'" required/>
                        <label class="control-label text-danger" ng-show="noticeItem.notice.title.$error.required">标题不能为空</label>
                    </div>

                    <div class="form-group" ng-if="operate === 'add'">
                        <label>*选择接收公告人员</label>
                        <textarea rows="3" ng-click="noticeItem.userTree.show()"
                                  name="syusername" ng-model="syusername" placeholder="点击选择接收公告的用户"
                                  style="padding-top: 10px;" class="form-control" ng-disabled="!role" required></textarea>
                        <label class="control-label text-danger" ng-show="syusername.$error.required">人员信息不能为空</label>
                    </div>
                    <div class="form-group" ng-if="operate === 'look'">
                        <label>*接收公告人员</label>
                        <textarea rows="3" style="padding-top: 10px;" class="form-control" disabled>{{noticeItem.notice.syusers}}</textarea>
                    </div>

                    <div class="form-group" ng-if="operate === 'add'">
                        <label>可添加附件说明：  </label>
                        <button class="btn btn-info" title="上传附件" ng-click="noticeItem.upload()">
                            <i class="fa fa-cloud-upload"></i>上传附件
                        </button>
                        <input type="file" accept="*" style="display: none;" onchange="angular.element(this).scope().noticeItem.uploading(this)" multiple="multiple" id="taxFile"/>

                        <div class="notice-files" ng-if="noticeItem.filesList.length">
                            <div class="item" ng-repeat="item in noticeItem.filesList">
                                <i class="fa" ng-class="item.icon"></i>
                                <div class="name">{{item.name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="operate !== 'add' && noticeItem.notice.files.length">
                        <label>附件</label>
                        <div class="notice-files">
                            <div class="item" ng-repeat="item in noticeItem.notice.filesList" title="点击下载附件" ng-click="noticeItem.download(item.url)">
                                <i class="fa" ng-class="item.icon" ng-if="item.icon !== 'fa-file-image-o'"></i>
                                <img ng-src="{{item.url}}" ng-if="item.icon === 'fa-file-image-o'" alt="">
                                <div class="name">{{item.name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                    <textarea rows="10" name="content" ng-model="noticeItem.notice.content"
                              placeholder="请输入要发布的内容" style="padding-top: 10px;" class="form-control" ng-disabled="operate === 'look'"
                              required></textarea>
                        <label class="control-label text-danger" ng-show="noticeItem.notice.content.$error.required">发布内容不能为空</label>
                    </div>

                    <div class="form-group" ng-if="role && operate === 'look'">
                        <label>回复</label>
                        <div class="reply-list" ng-repeat="user in noticeItem.notice.syuser">
                            <div class="square">{{user.name}}</div>
                            <div class="content">{{user.reply ? user.reply : '暂未回复'}}</div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="!role">
                    <textarea rows="10" name="reply" ng-model="noticeItem.notice.reply"
                              placeholder="请输入要回复的内容" style="padding-top: 10px;" class="form-control" ng-disabled="noticeItem.notice.sign === '1'"
                              required></textarea>
                        <label class="control-label text-danger" ng-show="noticeItem.notice.reply.$error.required">回复内容不能为空</label>
                    </div>
                </fieldset>
                <div class="form-actions" style="padding: 30px 0 200px;">
                    <div>
                        <button class="btn btn-success" type="button" ng-if="operate === 'add'"
                                ng-disabled="noticeForm.$invalid" ng-click="noticeItem.save()">
                            保存
                        </button>
                        <button class="btn btn-info" type="button" ng-if="operate === 'reply'"
                                ng-disabled="noticeForm.$invalid" ng-click="noticeItem.save()">
                            回复
                        </button>
                        <button class="btn btn-danger" type="button" ng-click="noticeItem.cancel()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="userTreeDialog.html">
<div class="modal-header">
    <h3 class="modal-title">用户树</h3>
</div>
<div class="modal-body system-announcementItem-userTree-body">
    <ul monitorpatrol-tree data="userTree" class="ztree"></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">确认选择</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
</script>
