<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="60px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="row layout-full">
                    <div class="col-lg-3 widget-content iiw-system-treeview-container">
                        <div class="layout-full" i-scroll>
                            <div>
                                <ul system-tree-view ng-model="selectNode" id="sycodeTreeview" class="ztree"></ul>
                            </div>
                            <div ng-if="!treeNodes.zNodes.length" style="text-align: center;">暂无目录，请添加</div>
                        </div>
                    </div>
                    <div class="col-lg-9 iiw-system-form-container">
                        <div class="layout-full iiw-system-form-body-container">
                            <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                                <div class="ui-layout-container" size="60px" ui-layout-container>
                                    <div class="iiw-system-form-button-layout-container">
                                        <button class="btn btn-s-md btn-primary" ng-disabled = "entityItem.parentTId" ng-click="add()" ><i class="fa fa-plus"></i>添加</button>
                                        <button class="btn btn-s-md btn-success" ng-disabled = "entityItem.id == null && entityItem.parentid == null" ng-click="mod()" ><i class="fa fa-edit"></i>修改</button>
                                        <button class="btn btn-s-md btn-danger" ng-disabled = "entityItem.id == null && entityItem.parentid == null" ng-click="delete()"><i class="fa fa-minus"></i>删除</button>
                                        <button class="btn btn-s-md btn-danger pull-right" ng-click="back()"><i class="fa fa-mail-reply-all"></i>返回</button>
                                    </div>
                                </div>
                                <div class="ui-layout-container iiw-system-form-container-layout" ui-layout-container>
                                    <form class="form-horizontal" id="entityItemForm" name="entityItemForm" novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">父级节点</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.parentname" class="form-control" disabled/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">父节点编号</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.parentcode" class="form-control" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (entityItemForm.entityItem.primaryid.$invalid)}" style="display: none;">
                                                <div class="col-md-3">
                                                    <label class="control-label">主   键</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.primaryid" placeholder="请输入ID" class="form-control" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="control-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">编   号</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.code" placeholder="请输入编号,一级目录为大写字母排序,二级目录为数字排序" class="form-control" system-input-verify required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.code == null && m_sCode != null" style="color:red;">*编号不能为空</lable>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (entityItemForm.entityItem.name.$invalid)}">
                                                <div class="col-md-3">
                                                    <label class="control-label">目录名称</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.name" placeholder="请输入目录名称" class="form-control" system-input-verify required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.name == null && m_sCode != null" style="color:red;">*目录内容不能为空</lable>
                                                </div>
                                            </div>
                                            <!-- <div class="control-group" ng-class="{'has-error' : (entityItemForm.entityItem.type.$invalid)}">
                                                <div class="col-md-3">
                                                    <label class="control-label">目录类型</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.type" placeholder="输入目录类型" class="form-control" system-input-verify required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.type == null && m_sCode != null" style="color:red;">*目录类型不能为空</lable>
                                                </div>
                                            </div> -->
                                            <div class="control-group">
                                                <div class="col-md-3">
                                                    <label class="control-label">目录标题内容</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.subtitle" placeholder="目录标题内容" class="form-control" system-input-verify required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="!entityItem.subtitle && m_sCode != null" style="color:red;">*目录类型不能为空</lable>
                                                </div>
                                            </div>
                                            <!-- <div class="control-group" ng-class="{'has-error' : (entityItemForm.devicecode.status.$invalid)}">
                                                <div class="col-md-3">
                                                    <label class="control-label">状   态</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select ng-model="entityItem.status" placeholder="请选择状态" class="col-md-5 syou-select-option" system-input-verify required>
                                                            <option value="P" selected>启用</option>
                                                            <option value="H">禁用</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </fieldset>
                                        <div class="form-actions">
                                            <div>
                                                <button class="btn btn-s-md btn-primary" type="button" ng-click="save()" ng-disabled="entityItemForm.$invalid || m_sMode == 'view'">保     存</button>
                                                <button class="btn btn-s-md btn-default" type="button" ng-disabled="m_sMode == 'view'" ng-click="cancel()">取     消</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>{{confirmMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="confirm()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
