<div class="layout-full" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
	<div ui-layout-container size="500px">
		<div class="layout-full" ui-layout options="{dividerSize:'0'}">
			<div ui-layout-container size="50px">
				<a class="safe-sjposition-header-btn col-md-6" ng-class="{'safe-sjposition-header-active': showView == 'sjry'}" ng-click="changeView('sjry')"><i class="fa fa-home" style="margin-right: 10px;"></i>单位列表</a>
				<a class="safe-sjposition-header-btn col-md-6" ng-class="{'safe-sjposition-header-active': showView == 'alarm'}" ng-click="changeView('alarm')"><i class="fa fa-bell" style="margin-right: 10px;"></i>报警记录</a>
			</div>
			<div ui-layout-container>
				<div class="safe-sjposition-menu-content layout-full">
					<div class="layout-full" ng-show="showView == 'sjry'" style="overflow:auto;">
						<safe-position-tree class="ztree"></safe-position-tree>
						<!--<ul id="treeViewDom" class="ztree"></ul>-->
					</div>
					<div class="layout-full" ng-show="showView == 'alarm'">
						<div ui-layout options="{dividerSize:'0'}">
							<div ui-layout-container>
								<div class="safe-sjposition-content">
									<div class="safe-sjposition-content-header">
										<table class="table" style="margin-bottom: 0;">
											<colgroup><col width="14%"/><col width="20%"/><col width="35%"/><col/></colgroup>
											<thead>
											<tr>
												<th class="text-center">序号</th>
												<th class="text-center">姓名</th>
												<th class="text-center">时间</th>
												<th class="text-center">报警原因</th>
											</tr>
											</thead>
										</table>
									</div>
									<div class="safe-sjposition-content-main">
										<table class="table">
											<colgroup><col width="14%"/><col width="20%"/><col width="35%"/><col/></colgroup>
											<tbody>
											<tr ng-repeat="item in alarm.list">
											<!--<tr ng-repeat="item in alarmList" ng-click="clickAlarmMark(item)">-->
												<td class="text-center">{{$index + 1}}</td>
												<td class="text-center">{{item.xm}}</td>
												<td class="text-center">{{item.wgsj}}</td>
												<td class="text-center">{{item.wglx}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div ui-layout-container size="65px" style="padding: 5px;">
								<uib-pagination style="margin: 0;" class="pagination pull-right" total-items="alarm.pages.totalSize" ng-model="alarm.pages.pageNo" ng-change="alarm.pages.getData()" items-per-page="alarm.pages.pageSize" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div ui-layout-container>
				<div class="layout-full" ng-if="showView == 'sjry'">
					<div class="layout-full" ui-layout options="{dividerSize:'0'}">
						<div ui-layout-container size="65px" class="safe-sjposition-menu-header">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="criminal.filter.text" ng-keypress="criminal.search($event)" placeholder="请输入关键字进行搜索!">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="criminal.search()"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
						<div ui-layout-container class="safe-sjposition-menu-content">
							<div class="safe-sjposition-content">
								<div class="safe-sjposition-content-header">
									<table class="table" style="margin-bottom: 0;">
										<colgroup><col width="14%"/><col width="23%"/><col width="47%"/><col/></colgroup>
										<thead>
										<tr>
											<th class="text-center">序号</th>
											<th class="text-center">姓名</th>
											<th class="text-center">单位</th>
										</tr>
										</thead>
									</table>
								</div>
								<div class="safe-sjposition-content-main">
									<table class="table">
										<colgroup><col width="14%"/><col width="23%"/><col width="47%"/><col/></colgroup>
										<tbody>
										<tr ng-repeat="item in criminal.list" ng-click="clickMark(item, $index)">
											<td class="text-center">{{$index + 1}}</td>
											<td class="text-center">{{item.xm}}</td>
											<td class="text-center">{{item.syouname}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div ui-layout-container size="60px" class="safe-sjposition-menu-header">
							<uib-pagination style="margin: 0;" class="pagination pull-right" direction-links="true" boundary-links="true" boundary-link-numbers="true" rotate="false" total-items="criminal.pages.totalSize" ng-model="criminal.pages.pageNo" ng-change="criminal.getData()" items-per-page="criminal.pages.pageSize" max-size="5" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
						</div>
					</div>
				</div>
				<div class="layout-full" ng-if="showView == 'alarm'" style="padding: 40px;">
					<div safe-sj-alarm-echart style="width: 400px;height: 330px;"></div>
				</div>
			</div>

		</div>
	</div>
	<div ui-layout-container>
		<!--<div id="map"></div>-->
		<safe-gx-tdt></safe-gx-tdt>
		<!--<div class="safe-gis-map-menu-bar-container">
			<div class="safe-gis-map-menu-bar-body">
				<div class="safe-gis-map-tool-bar-container text-center" ng-repeat="menu in mapMenu">
					<div ng-if="menu.action && menu.type == 'ljfx'" class="layout-full" ng-click="transportation(menu, menu.type)">
						<i class="fa fa-check" style="color:#51a351;margin-top: -12px;"></i>
						<p>确&nbsp;&nbsp;&nbsp;&nbsp;认</p>
					</div>
					<div ng-if="menu.action && menu.type == 'lxsfx'" class="layout-full" ng-click="transportation(menu, menu.type)">
						<i class="fa fa-check" style="color:#51a351;margin-top: -12px;"></i>
						<p>确&nbsp;&nbsp;&nbsp;&nbsp;认</p>
					</div>
					<div ng-if="menu.action && menu.type == 'zjss'" class="layout-full" ng-click="transportation(menu, menu.type)">
						<i class="fa fa-check" style="color:#51a351;margin-top: -12px;"></i>
						<p>确&nbsp;&nbsp;&nbsp;&nbsp;认</p>
					</div>
					<div ng-if="menu.action && menu.type == 'fwqfx'" class="layout-full" ng-click="transportation(menu, menu.type)">
						<i class="fa fa-check" style="color:#51a351;margin-top: -12px;"></i>
						<p>确&nbsp;&nbsp;&nbsp;&nbsp;认</p>
					</div>
					<div ng-if="!menu.action" class="layout-full" ng-click="menuClick(menu)">
						<img ng-src="{{filePath + menu.icon}}">
						<p>{{menu.name}}</p>
					</div>
				</div>
			</div>
		</div>-->
		<div ng-show="showPlotPanel" class="safe-gis-map-plot-container safe-gis-left-panel">
			<div class="safe-gis-map-plot-panel-body">
				<div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" class="ui-layout-row">
					<div size="46px" ui-layout-container class="ui-layout-container safe-gis-map-plot-container-header">
						<i class="fa fa-flag-checkered pull-left"></i> 态势标绘 <i class="fa fa-arrow-circle-o-right pull-right" ng-click="hidePlotPanel()"></i>
					</div>
					<div size="300px" ui-layout-container class="ui-layout-container">
						<div class="safe-gis-map-plot-type-container" i-scroll>
							<div>
								<div class="row">
									<div class="cell col-md-4 safe-gis-map-plot-type-item-panel" ng-repeat="item in plotType">
										<div class="layout-full safe-gis-sitution-plot-type-item" ng-class="{'safe-gis-sitution-plot-type-item-active':plotTypeItem.id == item.id}" ng-click="typeSwitch(item)">
											<div class="safe-gis-sitution-plot-type-title">{{item.name}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ui-layout-container class="ui-layout-container">
						<div class="safe-gis-map-plot-icon-container" i-scroll>
							<div>
								<div class="row" style="margin: 0px; padding: 10px 0 0 10px;">
									<div class="cell col-md-4 safe-gis-map-plot-icon-item-panel" ng-repeat="item in iconList" ng-click="startPloting(item)">
										<div class="layout-full safe-gis-sitution-plot-symbol-item" title="{{item.symbolName}}">
											<div style="width:100%;height:40px;float:left;position: relative;"><img class="pull-left" ng-src="{{item.icon}}"/></div>
											<h5 class="safe-gis-sitution-plot-symbol-title">{{item.symbolName}}</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div ng-show="showSearchPanel" class="safe-gis-map-place-search-container safe-gis-right-panel">
			<div class="safe-gis-map-plot-panel-body">
				<div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" class="ui-layout-row">
					<div size="46px" ui-layout-container class="ui-layout-container safe-gis-map-plot-container-header">
						<i class="fa fa-search-plus pull-left"></i> 地图人员查询<i class="fa fa-arrow-circle-o-right pull-right" ng-click="hideSearchPanel()"></i>
					</div>
					<div size="49px" class="safe-gis-map-search-container-header" ui-layout-container class="ui-layout-container">
						<div class="input-group btn-search-group pull-left">
							<input type="text" class="form-control" ng-model="searchMapCriminal" placeholder="请输入查询条件" ng-keypress="mapSearchKeyPressEvent($event)">
							<span class="input-group-addon alarm-search-panel" style="cursor:pointer;" ng-click="mapSearch()"><i class="fa fa-search">搜索</i></span>
						</div>
					</div>
					<div ui-layout-container class="ui-layout-container">
						<div class="safe-gis-map-map-search-result-container">
							<div class="layout-full" style="position: relative;">
								<div class="layout-full" i-scroll>
									<div>
										<div class="row safe-gis-place-item-panel" hm-tap="moveToThisPlace(row)" ng-repeat="row in placeList">
											<h5><img ng-src="{{filePath}}/image/marker/marker.png">{{row.index}}{{row.data.NAME}}</h5>
											<h6><i class="fa fa-phone" ng-show="row.data.TELEPHONE"></i> {{row.data.TELEPHONE ? row.data.TELEPHONE : ''}}</span></h6>
											<h6><i class="fa fa-thumb-tack" ng-show="row.data.NAME_1"></i> {{row.data.NAME_1}}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>

<div class="layout-full safe-gis-detailTable" ng-if="showDialogDetail" ng-click="hideDetailBox($event)">
	<div class="safe-gis-detailTableCell">
		<div class="safe-gis-detailBox">
			<div class="safe-gis-detailBox-header">
				<button class="btn btn-success pull-left" ng-click="release()"><i class="fa fa-plus" style="margin-right: 10px;"></i>派发</button>
				<div class="input-group pull-right" style="width:250px;margin-right:10px;">
					<input type="text" class="form-control" ng-model="police.filter.text" placeholder="请输入查找的关键字!" ng-keypress="police.search($event)">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="police.search()"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
			<div class="safe-gis-detailBox-main">
				<div class="safe-gis-detailBox-tableHeader">
					<table class="table" style="margin-bottom: 0;">
						<colgroup><col width="5%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col></colgroup>
						<thead>
						<tr>
							<th class="text-center"><input type="checkbox" style="width:20px;height: 20px;"/></th>
							<th class="text-center">序号</th>
							<th class="text-center">警号</th>
							<th class="text-center">姓名</th>
							<th class="text-center">性别</th>
							<th class="text-center">民族</th>
							<th class="text-center">工作单位</th>
						</tr>
						</thead>
					</table>
				</div>
				<div class="safe-gis-detailBox-tableBody">
					<table class="table">
						<colgroup><col width="5%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col></colgroup>
						<tbody>
						<tr ng-repeat="item in police.list" ng-class="{'safe-gis-detailBox-tableBody-select':item.checked}" ng-click="select($event, item)">
							<td class="text-center">
								<input type="checkbox" style="width:20px;height: 20px;" ng-model="item.checked"/>
							</td>
							<td class="text-center" style="line-height: 42px;">{{$index + 1}}</td>
							<td class="text-center" style="line-height: 42px;">
								{{item.coding}}
							</td>
							<td class="text-center">
								<div style="line-height: 42px;">{{item.name}}</div>
							</td>
							<td class="text-center">
								<div style="line-height: 42px;">{{item.sex}}</div>
							</td>
							<td class="text-center">
								<div style="line-height: 42px;">{{item.nation}}</div>
							</td>
							<td class="text-center">
								<div style="line-height: 42px;">{{item.syouname}}</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="safe-gis-detailBox-tableFoolter">
					<uib-pagination class="pagination" style="margin: 0;" items-per-page="police.pages.pageSize" total-items="police.pages.totalSize" ng-model="police.pages.pageNo" ng-change="police.getData()" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="&laquo;" last-text="&raquo;" max-size="5"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>