<div class="safe-dataSynchronous-view">
    <div class="layout-full" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div ui-layout-container size="450px">
            <div class="safe-dataSynchronous-view-modules">
                <div class="safe-dataSynchronous-modules-list">
                    <div class="layout-full">
                        <div class="general">
                            <div class="item-name">同步机制</div>
                            <div class="module-name">监控平台的监控通道</div>
                            <button type="button" class="btn btn-danger back" ng-click="back()" style="height: 40px;"><i class="fa fa-mail-reply-all" style="margin-right: 5px;"></i>返回</button>
                        </div>
                        <div class="ous">
                            <div class="item-name">同步日志</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-layout-container size="20px"></div>

        <div ui-layout-container>
            <div class="layout-full safe-dataSynchronous-view-wrapper">
                <div class="safe-dataSynchronous-view-left">
                    <div class="safe-dataSynchronous-search-bar" style="justify-content: space-between;">
                        <a data-backdrop="false" data-target="#mySyncModal" data-toggle="modal" class="btn btn-s-md btn-primary" ng-click="channel.syncBatch()"><i class="fa fa-plus"></i>同步通道</a>
                        <input type="text" ng-model="channel.searchDeviceTitle" placeholder="" ng-keyup="channel.keyup($event)" ng-change="channel.getMonitorDeviceItem()"/>
                    </div>
                    <div class="safe-dataSynchronous-channel-table table-responsive">
                        <table class="table transparent-table table-striped table-hover table-responsive">
                            <col width="10%"/>
                            <col width="30%"/>
                            <col width="20%"/>
                            <col width="40%"/>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>设备名称</th>
                                <th>IP地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rows in channel.list">
                                <td style="padding-top: 12px;">{{$index + 1}}</td>
                                <td ng-click="channel.showMonitorInfo($index)" style="padding-top: 12px;">{{rows.name}}</td>
                                <td ng-click="channel.showMonitorInfo($index)" style="padding-top: 12px;">{{rows.ip}}</td>
                                <td>
                                    <a data-backdrop="false" data-toggle="modal" class="btn btn-sm btn-primary" ng-click="channel.singleSync($index)">同步</a>
                                    <a data-backgrop="false" data-toggle="modal" class="btn btn-sm btn-success" ng-click="channel.singleSync($index, 'same')">更新同名监控</a>
                                    <a class="btn btn-sm btn-info" ng-click="channel.singleSync($index, 'ouinfo', true)">同步单位及监控</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="safe-dataSynchronous-view-right">
                    <div class="safe-dataSynchronous-search-bar">
                        <input type="text" ng-model="monitor.filter.searchtext" placeholder="" ng-keyup="monitor.keyup($event)" ng-change="monitor.getMonitorChannelItem()"/>
                    </div>
                    <div class="safe-dataSynchronous-table">
                        <table class="table transparent-table table-striped table-hover">
                            <col width="10%"/>
                            <col width="60%"/>
                            <col width="30%"/>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>通道名称</th>
                                <th>IP地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rows in monitor.list">
                                <td class="text-over-hide">{{$index + 1}}</td>
                                <td class="text-over-hide" title="{{rows.name}}">{{rows.name}}</td>
                                <td class="text-over-hide" title="{{rows.ip}}">{{rows.ip}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="safe-dataSynchronous-pagination text-center">
                        <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" total-items="monitor.params.totalSize" ng-model="monitor.params.pageNo" ng-change="monitor.getMonitorChannelItem()" items-per-page="monitor.params.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="mySyncModal">
    <div class="modal-dialog" style="margin:30px 440px;">
        <div class="modal-content" style="height: 768px; width:1024px;" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                <h4 class="modal-title">批量同步</h4>
            </div>
            <div class="modal-body" style="height: 618px; overflow-y:auto;">
                <div ng-if="channel.isBatchSnycing == 0" class="widget-content" >
                    <label>通道名称正在同步中，请等待...</label>
                </div>
                <div ng-if="channel.isBatchSnycing == 1" class="widget-content" ng-repeat="zrow in channel.syncAllEntityItem">
                    <div>
                        <div class="col-md-4">
                            <label for="normal-field" class="control-label">设备名称：</label>
                            <label for="normal-field" class="control-label">{{zrow.devicename}}</label>
                        </div>
                        <div class="col-md-4">
                            <label for="normal-field" class="control-label">设备IP：</label>
                            <label for="normal-field" class="control-label">{{zrow.deviceip}}</label>
                        </div>
                        <div class="col-md-4">
                            <label for="normal-field" class="control-label">通道数：</label>
                            <label for="normal-field" class="control-label">{{zrow.count}}</label>
                        </div>
                    </div>
                </div>
                <div ng-if="channel.isBatchSnycing == 2" class="widget-content">暂无需同步通道数据</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="channel.saveBatchChannel()">保存</button>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="singleSyncModel">
    <div class="modal-dialog" style="margin:30px 350px;">
        <div class="modal-content" style="height: 818px; width:1367px;" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="channel.cancel()"><i class="fa fa-remove"></i></button>
                <h4 class="modal-title">通道同步</h4>
            </div>
            <div class="modal-body" style="height: 668px;">
                <div class="widget-content">
                    <div>
                        <div class="col-md-6">
                            <label for="normal-field" class="control-label">设备名称：</label>
                            <label for="normal-field" class="control-label">{{channel.syncEntityItem.devicename}}</label>
                        </div>
                        <div class="col-md-6">
                            <label for="normal-field" class="control-label">设备IP：</label>
                            <label for="normal-field" class="control-label">{{channel.syncEntityItem.deviceip}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <div class="col-md-6">
                            <label for="normal-field" class="control-label">通道数：</label>
                            <label for="normal-field" class="control-label">{{channel.syncEntityItem.count}}</label>
                        </div>
                    </div>
                </div>
                <div class="widget-content" style="padding: 0px;">
                    <!--                    <div class="search clearfix" style="margin-left: 80%; margin-bottom: 5px; background: none; border: 0;">-->
                    <!--                        <button class="btn btn-default pull-right" ng-click="criminal.search()"><i class="fa fa-search"></i></button>-->
                    <!--                        <input type="text" class="form-control pull-right" ng-model="syncEntityItem.filterText" placeholder="请输入查询条件" style="width: 80%;" />-->
                    <!--                    </div>-->
                    <div class="layout-full">
                        <div class="widget-content-panel" ng-if="channel.syncMode == ''">
                            <div class="content-panel-title">
                                <i class="fa fa-plus"></i> 新增
                            </div>
                            <div class="content-panel-body">
                                <div class="table-panel">
                                    <div class="table-header">
                                        <table class="table table-hover iiw-system-table-container" style="margin: 0;width: 100%;">
                                            <col width="60px">
                                            <col width="108px">
                                            <col width="228px">
                                            <thead>
                                            <tr>
                                                <th class="iiw-system-table-header-container">
                                                    <input id="checkAllInsert" type="checkbox" ng-model="channel.selectAllInsert" ng-change="channel.selChannel('insert')" ng-disabled="channel.syncEntityItem.insert.length > 1000">
                                                </th>
                                                <th>序号</th>
                                                <th>通道名称</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-content">
                                        <div class="layout-full" i-scroll2>
                                            <table class="table table-hover iiw-system-table-container">
                                                <col width="60px">
                                                <col width="108px">
                                                <col width="228px">
                                                <tbody>
                                                <tr ng-repeat="zrow in channel.syncEntityItem.insert | filter: {name: channel.syncEntityItem.filterText} track by $index">
                                                    <td class="iiw-system-table-header-container">
                                                        <system-row-check ng-model="zrow.checked" class="rowCheck"></system-row-check>
                                                    </td>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{zrow.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-panel-footer clearfix" ng-if="channel.syncEntityItem.insert.length > 1000">
                                <div class="pull-left">
                                    <button class="btn btn-sm btn-default" ng-click="channel.selChannelByNum(1000, 'insert')">选择1000条数据</button>
                                </div>
                                <div class="pull-right">共 {{channel.syncEntityItem.insert.length}} 条数据</div>
                            </div>
                        </div>
                        <div class="widget-content-panel" ng-style="{'width': channel.syncMode != '' ? '100%' : ''}">
                            <div class="content-panel-title">
                                <i class="fa fa-edit"></i> 修改
                            </div>
                            <div class="content-panel-body">
                                <div class="table-panel">
                                    <div class="table-header">
                                        <table class="table table-hover iiw-system-table-container" style="margin: 0;width: 100%;">
                                            <col width="60px">
                                            <col width="108px">
                                            <col width="228px">
                                            <thead>
                                            <tr>
                                                <th class="iiw-system-table-header-container">
                                                    <input id="checkAllUpdate" type="checkbox" ng-model="channel.selectAllUpdate" ng-change="channel.selChannel('update')" ng-disabled="channel.syncEntityItem.update.length > 1000">
                                                </th>
                                                <th>序号</th>
                                                <th>通道名称</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-content">
                                        <div class="layout-full" i-scroll2>
                                            <table class="table table-hover iiw-system-table-container">
                                                <col width="60px">
                                                <col width="108px">
                                                <col width="228px">
                                                <tbody>
                                                <tr ng-repeat="zrow in channel.syncEntityItem.update | filter: {name: channel.syncEntityItem.filterText} track by $index">
                                                    <td class="iiw-system-table-header-container">
                                                        <system-row-check ng-model="zrow.checked" class="rowCheck"></system-row-check>
                                                    </td>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{zrow.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-panel-footer clearfix" ng-if="channel.syncEntityItem.update.length > 1000">
                                <div class="pull-left">
                                    <button class="btn btn-sm btn-default" ng-click="channel.selChannelByNum(1000, 'update')">选择1000条数据</button>
                                </div>
                                <div class="pull-right">共 {{channel.syncEntityItem.update.length}} 条数据</div>
                            </div>
                        </div>
                        <div class="widget-content-panel" style="width: 40%;" ng-if="channel.syncMode == ''">
                            <div class="content-panel-title">
                                <i class="fa fa-trash"></i> 删除
                            </div>
                            <div class="content-panel-body">
                                <div class="table-panel">
                                    <div class="table-header">
                                        <table class="table table-hover iiw-system-table-container" style="margin: 0;width: 100%;">
                                            <col width="60px">
                                            <col width="60px">
                                            <col width="120px">
                                            <col width="145px">
                                            <col width="145px">
                                            <thead>
                                            <tr>
                                                <th class="iiw-system-table-header-container">
                                                    <input id="checkAllDelete" type="checkbox" ng-model="channel.selectAllDelete" ng-change="channel.selChannel('del')" ng-disabled="channel.syncEntityItem.del.length > 1000">
                                                </th>
                                                <th>序号</th>
                                                <th>通道名称</th>
                                                <th>区域</th>
                                                <th>地图</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-content">
                                        <div class="layout-full" i-scroll2>
                                            <table class="table table-hover iiw-system-table-container">
                                                <col width="60px">
                                                <col width="60px">
                                                <col width="120px">
                                                <col width="145px">
                                                <col width="145px">
                                                <tbody>
                                                <tr ng-repeat="zrow in channel.syncEntityItem.del | filter: {name: channel.syncEntityItem.filterText} track by $index">
                                                    <td class="iiw-system-table-header-container">
                                                        <system-row-check ng-model="zrow.checked" class="rowCheck"></system-row-check>
                                                    </td>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{zrow.name}}</td>
                                                    <td>{{zrow.dtlname}}</td>
                                                    <td>{{zrow.mapname}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-panel-footer clearfix" ng-if="channel.syncEntityItem.del.length > 1000">
                                <div class="pull-left">
                                    <button class="btn btn-sm btn-default" ng-click="channel.selChannelByNum(1000, 'del')">选择1000条数据</button>
                                </div>
                                <div class="pull-right">共 {{channel.syncEntityItem.del.length}} 条数据</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg btn-larger" ng-click="channel.cancel()">取消</button>
                <button class="btn btn-default btn-lg btn-larger" ng-click="channel.saveChannel()">保存</button>
            </div>
        </div>
    </div>
</div>
