<div class="system-tax-ebook layout-full">
    <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" class="system-tax-ebook-container">
        <div ui-layout-container size="60px" style="overflow:hidden;">
            <h2 class="page-title">{{title}}</h2>
        </div>
        <div ui-layout-container style="overflow:hidden;" ui-view>
            <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" style="background-color: rgba(0,0,0,0.3);">
                <div class="system-tax-ebook-header" ui-layout-container size="54px">
                    <button class="btn btn-success" ng-click="taxEbook.add()"><i class="fa fa-plus"></i>添加</button>
                    <div class="input-group pull-right" style="width:250px;">
                        <input type="text" class="form-control" ng-model="taxEbook.filterValue" placeholder="输入查找书名!"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="taxEbook.getList()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="system-tax-ebook-main" ui-layout-container style="padding: 10px;">
                    <div class="layout-full">
                        <div class="row">
                            <div class="col-sm-6 col-md-3" ng-repeat="item in taxEbook.list track by $index">
                                <div class="thumbnail" style="background: rgba(0,0,0,0.3);">
									<div class="name">{{item.name}}</div>
                                    <img ng-src="{{item.first}}" style="width:100%;height: 250px;">
                                    <div class="caption">
                                        <div style="width:210px;height: 100%;margin:auto;">
                                            <button class="btn btn-primary" ng-click="taxEbook.showBook(item)">查看</button>
                                            <button class="btn btn-warning" ng-click="taxEbook.mod(item)">修改</button>
                                            <button class="btn btn-danger" ng-click="taxEbook.del(item)">删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="system-tax-ebook-footer" ui-layout-container size="60px">
                    <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;">统计信息： 每页{{taxEbook.pageSize}}行， 共{{taxEbook.totalSize||0}}行， 共{{taxEbook.totalPage||0}}页</label>
                    <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="true" boundary-links="true" boundary-link-numbers="true" rotate="false" total-items="taxEbook.totalSize" ng-model="taxEbook.pageNo" ng-change="taxEbook.getList()" items-per-page="taxEbook.pageSize" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="system-tax-ebook-flipbook" ng-if="toggleEbook">
    <div style="position: absolute;top: 10px;right: 40px;width: 30px;height: 30px;line-height: 30px;font-size: 62px;cursor: pointer;" ng-click="taxEbook.hideBook($event)">
        <i class="fa fa-close"></i>
    </div>
    <div class="flipbook-viewport">
        <div class="container">
            <div class="flipbook">
                <img class="system-tax-ebook-flipbook-page" ng-repeat="item in taxEbook.bookDetail" style="width: 100px;height: 100px;" ng-src="{{item.photoPath}}" alt=""/>
                <!--<div class="system-tax-ebook-flipbook-page" ng-repeat="item in taxEbook.bookDetail" style="background-image:url({{item.path}})"></div>-->
            </div>
        </div>
    </div>
</div>


