<div class="widget-header">
    <span>注册用户</span>
</div>
<div class="widget-content">
    <div class="layout-full">
        <div style="width:70%;" class="pull-left">
            <form method="post" class="form-horizontal" id="ftappuserfrom" name="ftappuserfrom" novalidate>
                <fieldset>
                    <div class="control-group" ng-class="{'has-error' : (ftappuserfrom.ftappUserItem.name.$invalid)}">
                        <div class="col-md-3">
                            <label for="normal-field" class="control-label">姓   名</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" ng-model="ftappUserItem.name" placeholder="输入姓名" class="form-control input-transparent" required id="syuser_name" name="syuser_name" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <lable ng-show="ftappUserItem.name == null" style="color:red;">*请输入姓名</lable>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="col-md-3">
                            <label for="normal-field" class="control-label">身份证号</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" ng-model="ftappUserItem.realname" placeholder="输入身份证号" class="form-control input-transparent" id="syuser_realname" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{'has-error' : (ftappuserfrom.ftappUserItem.pwd.$invalid)}">
                        <div class="col-md-3">
                            <label for="password-field" class="control-label">密码</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" ng-model="ftappUserItem.pwd" placeholder="输入密码" class="form-control" id="syuser_password" ng-change="checkpwd()" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <lable ng-show="ftappUserItem.pwd == null" style="color:red;">*请输入密码</lable>
                            <lable ng-show="ftappUserItem.pwd != null && !regPwd" style="color:red;">*密码不能包含特殊字符!</lable>
                            <lable ng-show="ftappUserItem.pwd.length != null && ftappUserItem.pwd.length < 8" style="color:red;">*密码长度不能少于8位!</lable>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{'has-error' : (ftappuserfrom.ftappUserItem.password3.$invalid || pwdcheckfalg == 1)}">
                        <div class="col-md-3">
                            <label for="password-field" class="control-label">确认密码</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password"  ng-model="ftappUserItem.password3" placeholder="再次输入密码"  class="form-control" ng-change="checkpwd()" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <lable ng-show="ftappUserItem.password3 == null" style="color:red;">*请输入确认密码</lable>
                            <lable ng-show="pwdcheckfalg == 1" style="color:red;">*两次密码不正确，请重输入！</lable>
                            <lable ng-show="ftappUserItem.password3 != null && !regPwd" style="color:red;">*密码不能包含特殊字符!</lable>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{'has-error' : (ftappuserfrom.ftappUserItem.syoufk.$invalid)}">
                        <div class="col-md-3">
                            <label for="hint-field" class="control-label">所属单位</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="ftappUserItem.syouname" placeholder="选择单位" id="syuser_syoufk" ng-click="showOuTree()" required/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <lable ng-show="ftappUserItem.syoufk == null" style="color:red;">*请选择单位</lable>
                            <label ng-model="ftappUserItem.syoufk" class="hidden"></label>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{'has-error' : (ftappuserfrom.ftappUserItem.syrole.$invalid)}">
                        <div class="col-md-3">
                            <label for="normal-field" class="control-label">用户权限</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select id="syuser_syrole" ng-model="ftappUserItem.syrole" placeholder="请选择用户权限" class="col-md-6 syuser-select-option" required>
                                    <option value="">--选择用户权限--</option>
                                    <option value="{{row.id}}" ng-repeat="row in userRoleList" >{{row.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <lable ng-show="ftappUserItem.syrole == null" style="color:red;">*请选择用户权限</lable>
                        </div>
                    </div>
                    <div class="control-group" >
                        <div class="col-md-3">
                            <label for="normal-field" class="control-label">职   位</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text"  ng-model="ftappUserItem.duty" placeholder="输入职位" class="form-control input-transparent" id="syuser_duty" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="form-actions">
        <div>
            <button class="btn btn-s-md btn-primary" type="button" ng-click="save()" ng-disabled="ftappuserfrom.$invalid || regPwd == '' || ftappUserItem.pwd.length < 8 || pwdcheckfalg == 1">注     册</button>
            <button class="btn btn-s-md btn-default" type="button" ng-click="back()">返     回</button>
        </div>
    </div>
</div>
