<div class="safe-workLog" ui-view>

    <div class="safe-workLog-list" ng-style="{'background-image': 'url('+ worklog.path +'/img/listImg_01.png)'}">
        <div class="safe-workLog-list-header">

            <div class="safe-workLog-list-header-filter">
                <div class="safe-workLog-list-header-filter-name">模糊过滤</div>
                <div class="safe-workLog-list-header-filter-content">
                    <input class="form-control"
                           ng-model="worklog.filter.searchText"
                            ng-keyup="worklog.keyup($event)"
                            ng-blur="worklog.getList()"
                            ng-style="{'border-image': 'url('+ worklog.path +'/img/input.png) 5 5 round'}"
                           placeholder="请输入登記人筛选！（按回车键搜索）" />
                </div>
            </div>

            <div class="safe-workLog-list-header-filter">
                <div class="safe-workLog-list-header-filter-name">事件类型</div>
                <div class="safe-workLog-list-header-filter-content">
                    <select ng-change="worklog.getList()" ng-model="worklog.filter.type" class="form-control safe-backlog-filter-select"
                            ng-style="{'border-image': 'url('+ worklog.path +'/img/input.png) 5 5 round'}" style="height: 46px">
                        <option value="">全部</option>
                        <option ng-repeat="(key, type) in worklog.types track by key" value="{{type.content}}">{{type.name}}</option>
                    </select>
                </div>
            </div>

            <div class="safe-workLog-list-header-filter">
                <div class="safe-workLog-list-header-filter-name">时间过滤</div>
                <div class="safe-workLog-list-header-filter-content">
                    <input class="form-control"
                           ng-model="worklog.filter.dutytime"
                           ng-change="worklog.getList()"
                           p!timepicker="false"
                           safe-picker p!format="Y-m-d"
                           ng-style="{'width': '45%', 'border-image': 'url('+ worklog.path +'/img/input.png) 5 5 round'}"
                           placeholder="请输入事件时间" />
                </div>
            </div>

            <div class="safe-workLog-list-header-filter text-right" ng-style="{'padding-right': '20px'}">
                <button class="btn btn-primary" ng-click="worklog.state('safe.workLog.add')">登记</button>
                <button class="btn btn-success" ng-click="worklog.state('safe.workLog.detail')">导出</button>
				<button class="btn btn-danger" ng-click="worklog.back()">返回</button>
            </div>
        </div>
        <div class="safe-workLog-list-body">
            <table class="transparent-table">
                <col width="3%"/>
                <col width="7%"/>
                <col width="8%"/>
                <col width="9%"/>
                <col width="20%"/>
                <col width="5%"/>
                <col width="5%"/>
                <col width="8%"/>
                <col width="8%"/>
                <col width="7%"/>
                <col width="10%"/>
                <col width="10%"/>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>汇报人</th>
                    <th>事件单位</th>
                    <th>事件类型</th>
                    <th>事件内容</th>
                    <th>罪犯数量</th>
                    <th>民警配备</th>
                    <th>持续事件</th>
                    <th>活动区域</th>
                    <th>登记人</th>
                    <th>上报时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rows in worklog.list">
                    <td>{{$index + 1}}</td>
                    <td title="{{rows.reporter}}">{{rows.reporter}}</td>
                    <td title="{{rows.syouname}}">{{rows.syouname}}</td>
                    <td title="{{rows.typename}}">{{rows.typename}}</td>
                    <td title="{{rows.content}}">{{rows.content}}</td>
                    <td title="{{rows.criminalnum}}">{{rows.criminalnum}}</td>
                    <td title="{{rows.policenum}}">{{rows.policenum}}</td>
                    <td title="{{rows.durationtime}}">{{rows.durationtime}}</td>
                    <td title="{{rows.movementarea}}">{{rows.movementarea}}</td>
                    <td title="{{rows.registrar}}">{{rows.registrar}}</td>
                    <td title="{{rows.creadate}}">{{rows.creadate}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="worklog.state('safe.workLog.add', rows)">修改</button>
                        <button class="btn btn-danger" ng-click="worklog.del(rows.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="safe-workLog-list-body-params text-center">
                <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" total-items="worklog.params.totalSize" ng-model="worklog.params.pageNo"
                                ng-change="worklog.getList()" items-per-page="worklog.params.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
            </div>
        </div>
    </div>

</div>
