<div class="layout-full">
    <div class="layout-full" ng-show="type == 'P'">
        <div class="layout-full overflow-h safe-infocard-panel">
            <div class="info-title">
                <h3><i class="safe-icon safe-icon-police"></i><b
                        title="{{$parent.area.ouname}}{{dialect['PTN_P']}}信息">{{$parent.area.ouname}}
                    <i-lang>PTN_P</i-lang>
                    信息</b></h3>
            </div>
            <div class="info-content" i-scroll>
                <div>
                    <div class="info-row" ng-repeat="row in plist">
                        <div class="info-left" title="{{row.name}}"><i class="fa fa-angle-right"></i><b>{{row.name}}</b>
                        </div>
                        <div class="info-right" ng-if="row.inputtype == 'set'">
                            <button class="info-items" ng-repeat="item in row.value" coding={{item.coding}}
                                    ng-mouseover="mouseover(item.coding);" ng-mouseout="mouseleave()"
                                    ng-click="showPolice(item)" ng-class="{'value-completion':item.name.length=='2'}"
                                    title="{{item.name}}">{{item.name}}
                            </button>
                        </div>
                        <div style="padding-left: 10px;" class="info-right" ng-if="row.inputtype == 'string'">
                            {{row.value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-full" ng-show="type == 'C'">
        <div class="layout-full overflow-h safe-infocard-panel" ng-show="!showDetails">
            <div class="info-title">
                <h3><i class="safe-icon safe-icon-criminal"></i><b
                        title="{{$parent.area.ouname}}{{dialect['PTN_C']}}信息统计">{{$parent.area.ouname}}
                    <i-lang>PTN_C</i-lang>
                    信息统计</b></h3>
            </div>
            <div class="info-content" i-scroll>
                <div class="info-table container-fluid">
                    <div class="row">
                        <data ng-repeat="item in clist">
                            <div class="col-xs-3 info-label" title="{{item.name}}"><i class="fa fa-angle-right"></i><b>{{item.name}}</b>
                            </div>
                            <div class="col-xs-3 info-label info-value" ng-if="item.name != '实到' && item.name != '未到'">
                                {{item.value}}
                            </div>
                            <div class="col-xs-3 info-label info-value safe-infocard-panel-info-value"
                                 ng-if="item.name == '实到' && item.syrole == '1'" hm-tap="showCriminalList('1')">
                                {{item.value}}
                            </div>
                            <div class="col-xs-3 info-label info-value safe-infocard-panel-info-value"
                                 ng-if="item.name == '未到' && item.syrole == '1'" hm-tap="showCriminalList('0')">
                                {{item.value}}
                            </div>
                            <div class="col-xs-3 info-label info-value" ng-if="item.name == '实到' && item.syrole == '0'">
                                {{item.value}}
                            </div>
                            <div class="col-xs-3 info-label info-value" ng-if="item.name == '未到' && item.syrole == '0'">
                                {{item.value}}
                            </div>
                        </data>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-full overflow-h safe-infocard-panel" ng-show="showDetails">
            <div class="info-title" ng-click="showCriminalCount()">
                <h3><i class="fa fa-users"></i><b
                        title="{{$parent.area.ouname}}{{typeName}}{{$parent.dialect['PTN_C']}}信息">{{$parent.area.ouname}}{{typeName}}
                    <i-lang>PTN_C</i-lang>
                    信息</b></h3>
            </div>
            <div class="info-content" i-scroll>
                <div class="info-table container-fluid">
                    <div class="row">
                        <div class="info-row">
                            <div class="info-right">
                                <button class="info-items" ng-repeat="item in criminalList"
                                        ng-click="showCriminal(item)">{{item.xm}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>