<div class="layout-full iiw-system-tax-3dphoto-add">
    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
        <div class="ui-layout-container iiw-system-form-container" ui-layout-container>
            <div class="layout-full">
                <div class="col-lg-12">
                    <legend class="section">上传3D图片（上传3D图片必须十二张，当前{{data.saveObject.list.length}}张）</legend>
                </div>


                <div class="control-group row" style="margin: 0;">
                    <div class="col-md-2">
                        <label class="control-label">名称</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" ng-model="data.saveObject.name" placeholder="请输入名称" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <lable ng-show="data.saveObject.name == null" style="color: red;">*名称不能为空</lable>
                    </div>
                </div>

                <div class="images" style="">
                    <div class="image" ng-repeat="rows in data.saveObject.list">
                        <img ng-src="{{rows.photo}}" alt="" />

                        <div class="name" title="{{rows.name}}">
                            <input type="text" ng-model="rows.name" class="form-control" style="color: #fff"/>
                        </div>

                        <!--<div class="image-look animated">-->
                            <!--<i class="fa fa-eye"></i>-->
                        <!--</div>-->

                        <div class="image-close" ng-click="deleteImg($index)">
                            <i class="fa fa-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-layout-container iiw-system-form-button-layout-container" size="60px" ui-layout-container>
            <button class="btn btn-success btn-s-md" ng-disabled="list.$invalid || data.saveObject.list.length == 0" ng-click="save()">提交</button>
            <button class="btn btn-danger btn-s-md" ng-click="cancel()">取消</button>
            <button class="btn btn-primary btn-s-md" ng-click="upload()">上传新3D图片</button>
            <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().uploading(this)" multiple="multiple" id="tax3dPhoto"/>
        </div>
    </div>
</div>
