<div>
    <div class="safe-record-download-fly"><div><div class="permission-percentage">{{permission.allDownloadPercentage}}</div></div></div>
    <div class="safe-record-download-permission">
        <div>
            <div class="permission-list">
                <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" >
                    <div class="overflow-h permission-navigate" ui-layout-container size="60px">
                        <div class="permission-navigate-item" ng-class="{'select':navigate.url == 'list'}" ng-click="navigate.go('list')">下载列表</div>
                        <div class="permission-navigate-item" ng-class="{'select':navigate.url == 'history'}" ng-click="navigate.go('history')">下载历史记录</div>
                        <button class="pull-right button button-glow button-rounded button-caution" ng-click="permission.closePermissionListPanel()" style="margin-top:20px;margin-right:20px;">关　闭</button>
                    </div>
                    <div class="overflow-h permission-container" ui-layout-container>
                        <div class="layout-full permission-container-list" ng-if="navigate.url == 'list'">
                            <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" >
                                <div ui-layout-container size="45px" class="overflow-h bcb-opacity6 safe-permission-list-head" style="padding-top:2px;">
                                    <div>录像下载存储路径：</div>
                                    <input class="path" ng-model="permission.downloadPath" type="text" id="importFile" style="width:400px;">
                                    <button class="button button-small button-rounded button-action" title="路径只保存在本地" ng-click="permission.saveDownloadPath()" style="margin-left:10px;margin-top:6px;">选择保存路径</button>
                                </div>
                                <div ui-layout-container size="42px">
                                    <table class="bcb-opacity8 safe-permission-list-table-head">
                                        <col width="200px"><col width="300px"><col><col width="200px"><col width="200px"><col width="250px"><col width="100px">
                                        <thead>
                                        <tr>
                                            <th class="text-center">状态</th>
                                            <th>存储路径</th>
                                            <th>文件名</th>
                                            <th class="text-center">录像开始时间</th>
                                            <th class="text-center">录像结束时间</th>
                                            <th class="text-center">进度</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div ui-layout-container class="bcb-opacity7">
                                    <div class="layout-full" i-scroll>
                                        <table class="safe-permission-list-table-body">
                                            <col width="200px"><col width="300px"><col><col width="200px"><col width="200px"><col width="250px"><col width="100px">
                                            <tbody>
                                            <tr class="safe-permission-list-table-row" ng-repeat="item in permission.downloadList">
                                                <td class="text-center" ng-class="{'text-info':item.status==3,'text-success':item.status==5,'text-danger':item.status==6}">{{item.statusName}}</td>
                                                <td>{{item.path}}</td>
                                                <td>{{item.name}}</td>
                                                <td class="text-center">{{item.start | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td class="text-center">{{item.end | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td class="text-center">
                                                    <div ng-if="item.percentage > 0"  class="progress progress-striped active text-center" style="height:40px;margin:0">
                                                        <div class="progress-bar progress-bar-success" ng-style="{width:(item.percentage+'%')}" style="line-height:40px;">{{item.percentage}}%</div>
                                                    </div>
                                                    <div ng-if="item.status != 6 && item.percentage <= 0" class="text-warning">
                                                        正在下载
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div ng-if="(item.status > 0 && item.status < 5)">
                                                        <button title="停止下载" class="button button-tiny button-rounded button-circle text-danger" ng-click="permission.stopDownload(item)"><i class="fa fa-stop"></i></button>
                                                    </div>
                                                    <div ng-if="item.status == 6">
                                                        <button title="重新下载" class="button button-tiny button-rounded button-circle text-info" ng-click="permission.reDownload(item)"><i class="fa fa-rotate-left"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-full permission-container-list" ng-if="navigate.url == 'history'">
                            <div ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}" >
                                <div ui-layout-container size="45px" class="overflow-h bcb-opacity6 safe-permission-list-head" style="padding-top:2px;">
                                    <form class="form-inline">
                                        <div class="form-group" style="padding-left:20px;">
                                            <label>开始时间：</label>
                                            <input class="form-control" type="text" ng-model="history.starttime" safe-picker p!format="Y-m-d 00:00:00" p!timepicker="false" placeholder="开始时间">
                                        </div>
                                        <div class="form-group" style="padding-left:20px;">
                                            <label>结束时间：</label>
                                            <input class="form-control" type="text" ng-model="history.endtime" safe-picker p!format="Y-m-d 23:59:59" p!timepicker="false" placeholder="结束时间">
                                        </div>
                                        <div class="form-group" style="padding-left:20px;">
                                            <label>筛选：</label>
                                            <input class="form-control" type="text" ng-model="history.filterValue" placeholder="可过滤录像文件名和下载用户名" style="width:250px;">
                                        </div>
                                        <button class="button button-rounded button-action" ng-click="history.getList()" style="margin-left:20px;">查询</button>
                                    </form>
                                </div>
                                <div ui-layout-container size="42px">
                                    <table class="bcb-opacity8 safe-permission-list-table-head">
                                        <col width="80px"><col><col width="200px"><col width="200px"><col width="250px"><col width="250px">
                                        <thead>
                                        <tr>
                                            <th class="text-center">序号</th>
                                            <th>录像文件</th>
                                            <th class="text-center">录像开始时间</th>
                                            <th class="text-center">录像结束时间</th>
                                            <th class="text-center">下载用户</th>
                                            <th class="text-center">下载用户单位</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div ui-layout-container class="bcb-opacity7">
                                    <div class="layout-full" i-scroll>
                                        <table class="safe-permission-list-table-body">
                                            <col width="80px"><col><col width="200px"><col width="200px"><col width="250px"><col width="250px">
                                            <tbody>
                                            <tr class="safe-permission-list-table-row" ng-repeat="item in history.list">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td class="text-center">{{item.starttime}}</td>
                                                <td class="text-center">{{item.endtime}}</td>
                                                <td class="text-center">{{item.dealuser}}</td>
                                                <td class="text-center">{{item.syouname}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ui-layout-container size="49px" class="overflow-h">
                                    <label class="col-lg-3" style="height:40px;line-height:40px;padding-top:4px;color:gray;">统计信息： 每页{{history.pageSize}}行， 共{{history.totalSize||0}}行， 共{{history.totalPage||0}}页</label>
                                    <uib-pagination style="margin: 5px;" class="pagination pull-right" direction-links="true" boundary-links="true" boundary-link-numbers="true" rotate="false" total-items="history.totalSize" ng-model="history.currentPage" ng-change="history.change()" items-per-page="history.pageSize" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="safe-record-download-permission-mask"></div>
    <div class="safe-record-download-camera"></div>
</div>
