<div class="layout-full safe-video-box">
    <div class="layout-full safe-video-panel" i-resize="safePanelResize">
        <safe-video-tool class="video-panel-toolbox" i-resize="safeToolResize"></safe-video-tool>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full"></safe-video>
        <safe-video class="layout-full" ng-repeat="row in maxArray track by $index"></safe-video>
    </div>
    <div class="safe-videos"></div>
    <div style="position: absolute;z-index:3;padding: 2px;" class="layout-full" ng-show="showContinuationPhotograph">
        <img ng-repeat="item in snapImageList" ng-src="{{item}}" style="height: 300px;width: 20%" alt=""/>
        <div class="form-group">
            <button class="btn btn-success pull-left col-md-6" ng-click="continuationPhotographSave()">保存</button>
            <button class="btn btn-danger pull-left col-md-6" ng-click="continuationPhotographCancel()">取消</button>
        </div>
    </div>
    <safe-scrawl-edit-widget class="layout-full" ng-if="snapImageShow"></safe-scrawl-edit-widget>
</div>