<div class="modal-header">
    <div class="col-lg-4">
        <div class="col-lg-4">模糊过滤：</div>
        <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="polling.filter.searchText"/>
        </div>
    </div>
</div>
<div class="modal-body">
    <table>
        <col width="150px"/>
        <col/>
        <col width="250px"/>
        <col width="150px"/>
        <thead>
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">名称</th>
            <th class="text-center">类型</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rows in polling.list | filter: polling.filter.searchText">
            <td class="text-center">{{$index + 1}}</td>
            <td class="text-center">{{rows.name}}</td>
            <td class="text-center">{{rows.typename}}</td>
            <td class="text-center">
                <button class="btn btn-success" ng-if="!rows.inlist" ng-click="polling.addList(rows)">选择</button>
                <button class="btn btn-danger" ng-if="rows.inlist" ng-click="polling.delList(rows)">取消</button>
            </td>
        </tr>
        </tbody>
    </table>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="polling.close()">关闭</button>
</div>