.system-wjmanage-bar {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.system-wjmanage-bar .select-group {
    text-align: center;
}

.system-wjmanage-bar .select-group label {
    margin-right: 10px;
}

.system-wjmanage-bar .select-group select {
    display: inline-block;
    width: 50%;
    /*background-color: rgba(0, 0, 0, .3);*/
    /*color: #fff;*/
    /*border: 1px solid #fff;*/
}

.system-wjmanage-page-content {
    background-color: rgba(0, 0, 0, 0.3);
}

.system-wjmanage-search {
    width: 200px;
    height: 39px;
}

.system-wjmanage-container {
    padding: 15px;
}

.iiw-system-table-container tr {
    height: 30px;
    line-height: 30px;
}

.iiw-system-table-container tr th,
.iiw-system-table-container tr td {
    text-align: center;
}
/*问卷列表*/
.wj-list {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.wj-list .wj-item {
    position: relative;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 0px #F0F0F0;
    border: 1px solid #E6E6E6;
}

.wj-list .wj-item .item-top {
    padding: 13px 24px 0;
    font-size: 16px;
    color: #262626;
}

.wj-list .wj-item .item-top .item-name {
    overflow: hidden;
    max-width: 510px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 7px;
    color: #1F1F1F;
}

.wj-list .wj-item .item-top .item-id {
    margin-right: 20px;
    font-size: 12px;
}

.wj-list .wj-item .item-top .item-release {
    margin-right: 20px;
    font-size: 12px;
    color: #0095ff;
}

.wj-list .wj-item .item-top .item-stop {
    margin-right: 20px;
    font-size: 12px;
}

.wj-list .wj-item .item-top .item-stop i {
    color: #bfbfbf;
}

.wj-list .wj-item .item-top .item-sheet {
    margin-right: 20px;
    font-size: 12px;
}

.wj-list .wj-item .item-top .item-date {
    font-size: 12px;
}

.wj-list .wj-item .item-bot {
    margin: 13px 24px 0;
    padding: 15px 0 15px;
    border-top: 1px solid #f5f5f5;
}

.wj-list .wj-item .item-bot .process-box .process-item {
    position: relative;
    color: #7a7a7a;
    padding-right: 20px;
    cursor: pointer;
}

.wj-list .wj-item .item-bot .process-box .process-item:hover span {
    color: #0085ff;
}

.wj-list .wj-item .item-bot .process-box .process-item .icon {
    display: inline-block;
    width: 22px;
    height: 28px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-design {
    background-image: url("../img/design.png")
}

.icon-chart {
    background-image: url("../img/chart.png")
}
.wj-list .wj-item .item-bot .process-box .process-item .spinner-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    list-style: none;
    width: 100%;
    padding: 6px 0;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}
.wj-list .wj-item .item-bot .process-box .process-item .spinner-list.on {
    display: block;
}
.wj-list .wj-item .item-bot .process-box .process-item .spinner-list .spinner-item {
    padding: 5px 0;
}

.wj-list .wj-item .item-bot .process-box .process-item .spinner-list .spinner-item:hover {
    background-color: #eee;
}
.wj-list .wj-item .item-bot .operation-box {
    margin-top: 5px;
}

.wj-list .wj-item .item-bot .operation-box > div {
    font-size: 12px;
    color: #7a7a7a;
    margin-left: 20px;
}

.wj-list .wj-item .item-bot .operation-box > div:hover {
    color: #333;
}

.splitline {
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top: -2px;
    width: 1px;
    height: 22px;
    background: #F0F0F0;
    background: linear-gradient(180deg, rgba(240, 240, 240, 1) 0%, rgba(200, 200, 200, 1) 55%, rgba(240, 240, 240, 1) 100%);
}

.wj-list .wj-item .item-bot .operation-box .item-running i {
    color: #404040;
    font-size: 20px;
    vertical-align: middle;
}

.wj-list .wj-item .item-bot .operation-box .item-running:hover i {
    color: #0085ff;
}
/*创建问卷模拟框*/
.module-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.module-box .figure{
    background: #fff;
    position: relative;
    width: 308px;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid transparent;
    border: 2px solid #dedfe0 \9;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    background-color: #fff \9;
    color: #808080;
}
.module-box .figure:hover {
    border: 2px solid rgba(48, 166, 245, 1);
    border: 2px solid #30a6f5 \9;
    -moz-box-shadow: 0 0 10px rgba(48, 166, 245, 1);
    -webkit-box-shadow: 0 0 10px rgba(48, 166, 245, 1);
    box-shadow: 0 0 10px rgba(48, 166, 245, 1);
}

.module-box .figure .figure-top {
    padding: 10px 15px;
    border-bottom: 1px solid #dbdbdb;
}
.module-box .figure .figure-top i.fa{
    font-size: 80px;
}
.module-box .figure:hover .figure-top i.fa{color: #30a6f5;}
.module-box .figure .figure-top .details-wrapper .details-title{
    overflow: hidden;
    color: #333333;
    font-size: 20px;
}
.module-box .figure .figure-bot {
    text-align: center;
    padding: 10px;
}
.module-box .figure .figure-bot .btn-new{
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 6px;
    color: #1ea0fa;
    border: 1px solid #1ea0fa;
    background-color: #fff;
}
.module-box .figure .figure-bot .btn-new:hover {
    color: #fff;
    border: 1px solid #1ea0fa;
    background-color: #1ea0fa;
}
/*问卷设置*/
.config-box .form-group .col-md-1 {
    width: 11%;
    padding-right: 0;
    word-wrap:break-word;
}
