<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="60px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container>
                <div class="row layout-full">
                    <div class="col-lg-2 widget-content iiw-system-treeview-container" i-scroll>
                        <div>
                            <ul system-tree-view ng-model="selectNode" id="sycodeTreeview" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="col-lg-10 iiw-system-form-container">
                        <div class="layout-full iiw-system-form-body-container">
                            <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                                <div class="ui-layout-container" size="60px" ui-layout-container>
                                    <div class="iiw-system-form-button-layout-container">
                                        <button class="btn btn-s-md btn-primary" ng-click="add()" ><i class="fa fa-plus"></i>添加</button>
                                        <button class="btn btn-s-md btn-success" ng-disabled = "entityItem.id == null && entityItem.parentid == null" ng-click="mod()" ><i class="fa fa-edit"></i>修改</button>
                                        <button class="btn btn-s-md btn-danger" ng-disabled = "entityItem.id == null && entityItem.parentid == null" ng-click="delete()"><i class="fa fa-minus"></i>删除</button>
                                    </div>
                                </div>
                                <div class="ui-layout-container iiw-system-form-container-layout" ui-layout-container>
                                    <form method="post" class="form-horizontal" id="syouform" name="syouform" novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">上级单位</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.parentname" class="form-control" id="syou_parent" name="syou_parent" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.codeid.$invalid)}" style="display: none;">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">编   号</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.codeid" placeholder="输入编号" class="form-control" required id="syou_codeid" name="syou_codeid" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">

                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.code.$invalid || addfalg == 1)}">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">编   号</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.code" ng-disabled="m_sMode == 'view'" placeholder="输入编号" class="form-control" required id="syou_code" name="syou_code"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.code == null" style="color:red;">*输入编号</lable>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.name.$invalid)}">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">单位名称</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.name" ng-disabled="m_sMode == 'view'" placeholder="输入单位名称" class="form-control" required id="syou_name" name="syou_name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.name == null" style="color:red;">*输入单位名称</lable>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.alias.$invalid)}">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">单位简称</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <input type="text" ng-model="entityItem.alias" ng-disabled="m_sMode == 'view'" placeholder="输入单位简称" class="form-control" required id="syou_alias" name="syou_alias" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.alias == null" style="color:red;">*输入单位简称</lable>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.status.$invalid)}">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">状   态</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select  ng-model="entityItem.status" ng-disabled="m_sMode == 'view'" placeholder="请选择状态" class="col-md-5 syou-select-option" id="syou_status" required>
                                                            <option value="">请选择状态</option>
                                                            <option value="P">启用</option>
                                                            <option value="C">禁用</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.status == null" style="color:red;">*请选择状态</lable>
                                                </div>
                                            </div>
                                            <!--<div class="control-group">-->
                                                <!--<div class="col-md-3">-->
                                                    <!--<label for="normal-field" class="control-label">值班领导</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<input type="text" ng-model="entityItem.lead" placeholder="输入值班领导" class="form-control" id="syou_lead" name="syou_lead" />-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="control-group">-->
                                                <!--<div class="col-md-3">-->
                                                    <!--<label for="normal-field" class="control-label">值班领导电话</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<input type="text" ng-model="entityItem.leadphone" placeholder="输入值班领导电话" class="form-control" id="syou_leadphone" name="syou_leadphone" />-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="control-group">-->
                                                <!--<div class="col-md-3">-->
                                                    <!--<label for="normal-field" class="control-label">分控值班人员</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<input type="text" ng-model="entityItem.leads" placeholder="输入分控值班人员" class="form-control" id="syou_leads" name="syou_leads" />-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="control-group">-->
                                                <!--<div class="col-md-3">-->
                                                    <!--<label for="normal-field" class="control-label">分控室电话</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<div class="form-group">-->
                                                        <!--<input type="text" ng-model="entityItem.leadphones" placeholder="输入分控室电话" class="form-control" id="syou_leadphones" name="syou_leadphones" />-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--
                                            <div class="control-group" ng-class="{'has-error' : (syouform.entityItem.type.$invalid)}">
                                                <div class="col-md-3">
                                                    <label for="normal-field" class="control-label">是否监区</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <select  ng-model="entityItem.type" placeholder="请选择是否监区类型" class="col-md-5 syou-select-option" id="syou_type" required>
                                                            <option value="">请选择类型</option>
                                                            <option value="JQ">是</option>
                                                            <option value="NJQ">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <lable ng-show="entityItem.type == null" style="color:red;">*请选择是否监区类型</lable>
                                                </div>
                                            </div>-->
                                        </fieldset>
                                    </form>
                                </div>
                                <div ui-layout-container size="60px" style="overflow:hidden;">
                                    <div class="layout-full" style="background-color: rgba(0, 0, 0, 0.25); padding: 10px;">
                                        <button class="btn btn-s-md btn-primary" type="button" ng-click="save()" ng-disabled="syouform.$invalid">保     存</button>
                                        <button class="btn btn-s-md btn-default" type="button" ng-click="cancel()">取     消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>{{confirmMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="confirm()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>