.system-tax-ebook {
    position: relative;
}
.system-tax-ebook-header {
    background-color: rgba(0,0,0,0.2);
    padding: 7px;
    overflow: hidden;
}
.system-tax-ebook-footer {
    background-color: rgba(0,0,0,0.2);
    padding: 6px;
    overflow: hidden;
}
.system-tax-ebook .inputBorderInvalid{
    border: 1px solid #d45959;
}
.system-tax-ebook .select{
    background-color: rgba(223, 105, 26,0.8);
}
.system-tax-ebook-main {
    overflow-x: hidden;
}
.system-tax-ebook-flipbook {
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

.system-tax-ebook-main .thumbnail {
	position: relative;
}

.system-tax-ebook-main .thumbnail .name {
	position: absolute;
	width: calc(100% - 4px);
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}