<div class="layout-full overflow-h" ui-view>
    <div class="layout-full overflow-h safe-hardware">
        <div class="container-fluid layout-full safe-hardware-list" safe-hardware-list i-scroll>
            <div class="row">

				<div class="col-xs-4 safe-hardware-listbox" ng-repeat="module in moduleList" hm-tap="showModule(module)" ng-show="module.role">
					<div class="bcb-opacity4 layout-full safe-hardware-listbox-content">
						<p class="fz-3 safe-hardware-listbox-content-title">{{module.name}}<i class="fa fa-caret-left safe-hardware-listbox-content-arrow"></i></p>
						<div class="safe-hardware-listbox-content-text fz-6">
                            <p>
                                在线：
                                <b>{{module.on}}</b>
                            </p>
                            <p>
                                离线：
                                <b class="text-danger">{{module.off}}</b>
                            </p>
                        </div>
						<i class="fa fa-{{module.icon}} safe-hardware-listbox-content-icon"></i>
					</div>
				</div>

                <div class="col-xs-4 safe-hardware-listbox" ng-repeat="hardware in hardwareList" hm-tap="goList(hardware)">
                    <div class="bcb-opacity4 layout-full safe-hardware-listbox-content">
                        <p class="fz-3 safe-hardware-listbox-content-title">{{hardware.name}}<i class="fa fa-caret-left safe-hardware-listbox-content-arrow"></i></p>
                        <div class="safe-hardware-listbox-content-text fz-6">
                            <p>
                                在线：
                                <b ng-class="{'fa fa-spinner fa-pulse': !hardware.on}">{{hardware.on}}</b>
                            </p>
                            <p>
                                离线：
                                <b ng-class="{'fa fa-spinner fa-pulse': !hardware.off}" class="text-danger">{{hardware.off}}</b>
                            </p>
                        </div>
                        <i class="fa fa-{{hardware.icon}} safe-hardware-listbox-content-icon"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>