.safe-tdt-map-page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.safe-tdt-layout-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.safe-tdt-map-menu-bar-container {
    width: 120px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    overflow: hidden;
    z-index: 2;
    background: rgba(0,0,0,0.85);
}

.safe-tdt-map-tool-bar-container {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

.safe-tdt-map-tool-bar-container:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 5px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}
.safe-tdt-map-tool-bar-container:hover, .safe-tdt-map-tool-bar-container:focus, .safe-tdt-map-tool-bar-container:active {
    transform: translateY(-5px);
    cursor: pointer;
}
.safe-tdt-map-tool-bar-container:hover:before, .safe-tdt-map-tool-bar-container:focus:before, .safe-tdt-map-tool-bar-container:active:before {
    opacity: 1;
    transform: translateY(5px);
}

.safe-tdt-map-tool-bar-container img {
    width: 64px;
    height: 64px;
}

.safe-tdt-map-bar-icon-container {
    height: 80px;
    width: 80px;
    float: left;
}

.safe-tdt-map-tool-bar-container i {
    font-size: 80px;
    color: rgba(20,20,20,0.75);
}

.safe-tdt-map-bar-icon-container:hover {
    cursor: pointer;
    text-shadow: 0 0 5px white;
    background: rgba(0,0,0,0.5);
}

.safe-tdt-map-container {
    width: 100%;
    height: 100%;
}

.safe-tdt-layout-container .safe-tdt-sitution-plot-type-item:hover,
.safe-tdt-layout-container .safe-tdt-sitution-plot-icon-item:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .6);
}

.safe-tdt-map-plot-container {
    position: absolute;
    width: 350px;
    height: 100%;
    z-index: 6;
    top: 0;
    right: 0;
}

.safe-tdt-map-plot-container-header {
    height: 12%;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 20px;
    background: rgba(7, 22, 40, 0.8);
    line-height: 36px;
    padding: 5px 10px 5px 10px;
}

.safe-tdt-map-plot-container-header i {
    font-size: 36px;
    margin: 0;
}

.safe-tdt-map-plot-container-header i:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.safe-tdt-map-plot-type-container {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}

.safe-tdt-map-plot-type-container .row {
    margin: 0;
    padding: 10px 0px 0 10px;
    position: relative;
}

.safe-tdt-map-plot-type-container .safe-tdt-map-plot-type-item-panel {
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    height: 30px;
}

.safe-tdt-map-plot-icon-container .safe-tdt-map-plot-icon-item-panel {
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    height: 60px;
}

.safe-tdt-sitution-plot-type-item {
    display: inline-table;
    position: relative;
}

.safe-tdt-sitution-plot-symbol-item {
    display: inline-table;
    position: relative;
}

.safe-tdt-layout-container .safe-tdt-sitution-plot-symbol-item:hover,
.safe-tdt-layout-container .safe-tdt-sitution-plot-symbol-item:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .6);
}

.safe-tdt-sitution-plot-symbol-item img {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.safe-tdt-sitution-plot-type-title {
    width: 100%;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
}

.safe-tdt-sitution-plot-symbol-title {
    float: left;
    width: 100%;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

.safe-tdt-map-plot-icon-container {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}

.safe-tdt-layout-container .safe-tdt-map-plot-icon-panel {
    margin: 0;
    padding: 10px 10px 0 10px;
    position: relative;
}

.safe-tdt-layout-container .safe-tdt-map-plot-icon-panel-body {
    padding: 0;
    background: rgba(7, 22, 40, 0.7);
    margin-bottom: 5px;
    height: 64px;
}

.safe-tdt-sitution-plot-type-item-active {
    background: rgba(231, 102, 9, 0.8)!important;
}

#videoPopupPanel, #videoPopupPanel2 {
    background: transparent!important;
}

#videoPopupPanel .smPopupContent {
    overflow: hidden;
}

.safe-tdt-event-info-container {
    width: 300px;
    height: 230px;
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    background: rgba(0,0,0,0.3);
}

.safe-tdt-event-info-body-container {
    height:230px;
    width:100%;
    position:relative;
}

 .safe-tdt-video-container {
     width: 300px;
     height: 230px;
     position: absolute;
     z-index: 10;
     left: 10px;
     top: 250px;
     background: rgba(0,0,0,0.3);
 }

.safe-tdt-right-container {
    position: absolute;
    right: 10px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 10;
    padding: 10px 10px 10px 0;
}

.safe-tdt-communication-container {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 230px;
}

.safe-tdt-call-person-item {
    height: 30px;
    line-height: 30px;
    width: 100%;
    display: inline-block;
}

.safe-tdt-communication-header {
    height: 20%;
    width: 100%;
    position: relative;
    float: left;
    padding:5px 10px;
    text-align: center;
    font-size: 20px;
    background: rgba(7, 22, 40, 0.8);
    line-height: 40px;
}

.safe-tdt-communication-header i {
    font-size: 40px;
    margin: 0;
}

.safe-tdt-communication-call-list {
    height: 60%;
    width: 100%;
    float: left;
    position: relative;
    background: rgba(0,0,0,0.6);
    padding: 10px;
}

.safe-tdt-preplan-container {
    width: 300px;
    height: 740px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(7, 22, 40, 0.8);
    z-index: 10;
}

.safe-tdt-map-plot-panel-body {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0.6);
}

.safe-tdt-map-place-search-container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 350px;
    z-index: 10;
}

.safe-tdt-map-map-search-result-container {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    padding: 10px 10px 10px 10px;
}

.safe-tdt-map-map-search-result-container .safe-tdt-place-item-panel {
    margin: 0 0 10px 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    padding: 10px 0 0 10px;
}

.safe-tdt-place-item-panel:hover {
    text-shadow: 0 0 5px;
    cursor: pointer;
    box-shadow: 0 0 10px;
}

.safe-tdt-place-icon-number {
    position: absolute;
    top: -30px;
    color: black;
    width: 200px;
    height: 30px;
    left: -75px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
}

.safe-tdt-message-bar-contaier {
    position: absolute;
    width: 400px;
    height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    border-radius: 10px 10px 0 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    display: none;
    font-size: 14px;
    color: white;
}

.safe-tdt-message-info-box {
    padding-left: 10px;
}

.safe-tdt-message-bar-contaier h3 {
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 18px;
}

.safe-tdt-message-bar-contaier h3 {
    -webkit-animation: show-animation 0.4s both;
    animation: show-animation 0.4s both;
}

.safe-tdt-message-bar-contaier h3 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes show-animation {
    0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes show-animation {
    0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

.safe-tdt-map-search-container-header {
    padding: 10px 10px 0 10px;
}

.safe-tdt-map-plot-container.ng-hide-add,
.safe-tdt-map-place-search-container.ng-hide-add {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}

.safe-tdt-map-plot-container.ng-hide-remove,
.safe-tdt-map-place-search-container.ng-hide-remove {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

/************************标注弹出框样式******************************/
.safe-tdt-marker-dialog-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.safe-tdt-marker-dialog-form-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.safe-tdt-marker-form-row{
    width: 100%;
    height: auto;
    padding: 15px;
    float: left;
    font-size: 20px;
    position: relative;
}

.safe-tdt-marker-dialog-bottom-container{
    height: 80px;
    float: left;
    line-height: 80px;
    text-align: center;
    width: 100%;
}

.safe-tdt-marker-dialog-bottom-container button{
    width: 100px;
    height: 60px;
    font-size: 20px;
}

.safe-tdt-map-menu-bar-body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.safe-tdt-map-top-bar-container {
    z-index: 2;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 200px 0 200px;
}

.safe-tdt-map-top-bar-panel {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

.safe-tdt-layout-container .safe-tdt-map-place-search {
    width: 350px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.safe-tdt-map-place-search input {
    height: 45px;
}

.safe-tdt-map-place-search .input-group-addon {
    background: #6262ea;
}

.safe-tdt-layout-container .safe-tdt-map-container {
    border: 0;
}

.safe-tdt-map-common-toolbar-container {
    width: 400px;
    height: 42px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 5px 0 0 0px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    background: rgba(0,0,0,0.8);
}

.safe-tdt-map-common-toolbar-container .safe-tdt-map-toolbar-img {
    width: 32px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

.safe-tdt-map-toolbar-img:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}
.safe-tdt-map-toolbar-img:hover, .safe-tdt-map-toolbar-img:focus, .safe-tdt-map-toolbar-img:active {
    transform: translateY(-5px);
    cursor: pointer;
}
.safe-tdt-map-toolbar-img:hover:before, .safe-tdt-map-toolbar-img:focus:before, .safe-tdt-map-toolbar-img:active:before {
    opacity: 1;
    transform: translateY(5px);
}

.safe-tdt-place-item-panel h5 {
    margin: 0;
}

.safe-tdt-place-item-panel h5 img {
    width: 24px;
    float: left;
}

.safe-tdt-place-item-panel h6 {
    padding-left: 10px;
}
