.iiw-door-control {
    position: absolute;
    z-index: 9000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.iiw-door-control .table {
    display: table;
    width: 100%;
    height: 100%;
}

.iiw-door-control .table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
}

.iiw-door-control-panel {
    background-color: rgba(0, 0, 0, 0.9);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin: 0 auto;
    padding: 35px;
}

.iiw-door-control-panel p {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.iiw-door-control-buttons {
    margin-top: 60px;
    text-align: center;
}

.iiw-door-control-buttons button {
    width: 180px;
    height: 80px;
    margin: 0 15px;
    font-family: msyh;
}

.iiw-door-control-buttons .iiw-door-control-status {
    height:60px;
    line-height: 60px;
    width:100%;
    float: left;
}