.safe-tree-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.safe-tree-child {
    padding-left: 24px;
}

.safe-tree-node {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #ddd;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding-left: 54px;
}

.safe-tree-node div[data-ripple] {
    overflow: visible;
}

.safe-tree-node.hasCheck {
    padding-left: 80px;
}

.safe-tree-node .icon {
    float: left;
    width: 26px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #adadad;
    position: absolute;
    top: 0px;
    left: 0px;
}

.safe-tree-node .icon.tree-checkbox > input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 10px 0 0;
}

.safe-tree-node .icon.hasCheck {
    left: 26px;
}

.safe-tree-node .icon.tree-logo {
    /*color: #bd9662;*/
    /*left: 26px;*/
    left: -26px;
}

.safe-tree-node .icon.tree-logo.hasCheck {
    /*left: 52px;*/
    left: -26px;
}

.safe-tree-node .floder-no-camera {
    /*left: 52px;*/
    left: -26px;
}