.iiw-system-menu-bar-container {
    height:100%;
    width:40%;
    float:left;
    padding:10px 10px 10px 0;
}

.iiw-system-menu-bar-container >a {
    height:40px;
    line-height: 40px;
    padding: 0;
    font-size: 14px;
}

.iiw-system-menu-bar-container .fa {
    padding-right:10px;
}

.iiw-system-menu-bar-container button {
    margin-right:10px;
}

.iiw-system-search-bar-container {
    height:100%;
    width:60%;
    float:left;
    padding:10px 0;
}

.iiw-system-search-bar-container label {
    margin:0;
    height:40px;
}

.iiw-system-search-bar-container > label > input {
    width:300px;
    height:40px;
}

.iiw-system-table-header-container {
    width:60px;
}

.iiw-system-table-header-container input[type='checkbox'] {
    width:20px;
    height:20px;
}

.clearfix::before, .clearfix::after {
    display: table;
    content: " ";
}

.clearfix::after {
    clear: both;
}

.iiw-system-table-container {
    margin:0;
}

.iiw-system-table-container tbody tr.select,
.iiw-system-table-container.table tbody tr.select {
    background-color: rgba(223, 105, 26,0.6);
}

.iiw-system-table-container > tbody > tr:hover,
.iiw-system-table-container > tbody > tr:focus,
.iiw-system-table-container.table > tbody > tr:hover,
.iiw-system-table-container.table > tbody > tr:focus {
    /*background:rgba(0,0,0,0.3);*/
    background-color: rgba(223, 105, 26,0.8);
}

.iiw-system-table-container > thead {
    background:rgba(0,0,0,0.3);
}

.iiw-system-table-container > thead > tr > th,
.iiw-system-table-container.table > thead > tr > th {
    border-bottom: 2px solid rgba(0,0,0,0.3);
    font-size: 14px;
    padding:8px 10px;
}

.iiw-system-table-container > tbody > tr > td,
.iiw-system-table-container.table > tbody > tr > td {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    padding:10px;
    vertical-align: middle;
    cursor: pointer;
}

.widget-header span {
    line-height:60px;
}

.iiw-system-page-container .pagination-layout-container {
    margin:0;
    overflow: hidden;
    line-height: 60px;
    background:rgba(0,0,0,0.3);
    border-radius: 0;
}

.pagination-layout-container ul {
    margin:0;
    padding:10px;
}

.pagination-layout-container>ul>li>a {
    height:40px;
    line-height: 40px;
    padding-top:0;
    padding-bottom:0;
}

.iiw-system-table-body-container {
    position: relative;
}

.iiw-system-table-container-row-selected {
    background:#E5603B!important;
}

.iiw-system-table-container tr:nth-child(2n) {
    background:rgba(0,0,0,0.3);
}

.iiw-system-table-container tr:nth-child(2n+1) {
    background:transparent;
}

.iiw-system-table-container tr {
    height:40px;
    line-height: 40px;
}