<div ui-layout options="{dividerSize:'0'}">
    <div ui-layout-container size="47px" class="informationappear-config-header">
        <h2 class="page-title">{{title}}</h2>
    </div>
    <div ui-layout-container class="layout-full" style="background-color: rgba(0,0,0,0.3)">
        <div class="informationappear-config-main" ui-layout options="{dividerSize:'0'}">
            <div class="informationappear-config-ouTree layout-full col-md-2" ng-style="{height: '730px'}">
                <ul monitorpatrol-tree data="ouTree" id="ouTree" class="ztree"></ul>
            </div>
            <div class="informationappear-config-content layout-full col-md-10">
                <div class="layout-full" style="padding: 15px;overflow:hidden;">
                    <div ui-layout-container size="47px" class="informationappear-config-content-header layout-full">
                        <span style="margin-left: 15px;">查看类型：</span>
                        <select class="informationappear-config-content-select" ng-model="informationappearconfig.informationType" ng-change="informationappearconfig.changeType()">
                            <option value="">全部</option>
                            <option value="police">{{dialectList.PTN_P}}</option>
                            <option value="criminal">{{dialectList.PTN_C}}</option>
                        </select>

                        <span style="margin-left: 15px;">操作类型：</span>
                        <select class="informationappear-config-content-select" style="width:200px;" ng-model="informationappearconfig.changeInputtype" ng-change="informationappearconfig.selectInputType()">
                            <option value="">--快速修改所有操作类型--</option>
                            <option value="set">选择</option>
                            <option value="string">输入</option>
                        </select>

                        <div class="input-group pull-right" style="width:250px;">
                            <input type="text" class="form-control" ng-model="informationappearconfig.filterValue" placeholder="请输入关键字查找!"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="informationappearconfig.getInformationItem()"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ui-layout-container size="47px" class="layout-full" style="overflow:hidden;">
                        <table class="table iiw-system-table-container" style="margin: 0px;">
                            <colgroup><col width="2%"><col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"></colgroup>
                            <thead>
                            <tr>
                                <th><input style="width:20px;height:20px;" type="checkbox" ng-model="informationappearconfig.selAll" ng-click="informationappearconfig.selectAll()"/></th>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>内容</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div ui-layout-container class="layout-full" size="636px">
                        <div class="layout-full" i-scroll2 data-load-event="nextPage()" style="position: relative;">
                            <table class="table iiw-system-table-container table-hover" style="border: 1px solid rgba(0,0,0,0.3);">
                                <colgroup><col width="2%"><col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"></colgroup>
                                <tbody>
                                <tr ng-repeat="item in informationappearconfig.list | limitTo: listSize || 20" ng-click="informationappearconfig.select($event, item)" ng-class="{'select': item.checked}">
                                    <td><input style="width:20px;height:20px;" ng-model="item.checked" type="checkbox"/></td>
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <div ng-if="item.mod != true">{{item.name}}</div>
                                        <div ng-if="item.mod == true"><input type="text" ng-model="item._name"/></div>
                                    </td>
                                    <td>
                                        <div ng-if="item.type == 'police'">{{dialectList.PTN_P}}</div>
                                        <div ng-if="item.type == 'criminal'">{{dialectList.PTN_C}}</div>
                                    </td>
                                    <td>{{item.content}}</td>
                                    <td>
                                        <select class="informationappear-config-content-select" ng-model="item.inputtype" style="height:30px;">
                                            <option value="set">选择</option>
                                            <option value="string">输入</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-layout-container size="47px" style="background-color: rgba(0,0,0,0.4);padding: 4px;">
        <div class="pull-right">
            <button class="btn btn-info" style="width:80px;" ng-click="informationappearconfig.save()">关联</button>
            <button class="btn btn-danger pull-right" style="width:80px;margin-left: 5px;" ng-click="informationappearconfig.back()">返回</button>
        </div>
    </div>
</div>