<div class="safe-decision-add" ng-style="{'background-image': 'url('+ add.path +'/img/listImg_02.png)'}" ng-form="list">
    <div class="safe-decision-add-scroll">

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">事件名称</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="add.save.content" disabled/>
            </div>
        </div>

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">事件级别</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="add.save.lvlname" disabled/>
            </div>
        </div>

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">事件时间</div>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="add.save.datetime" disabled/>
            </div>
        </div>

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">处置方案</div>
            <div class="col-lg-6">
                <textarea cols="30" class="form-control" rows="5" placeholder="请输入事件内容" ng-model="add.save.extra.lessons"></textarea>
            </div>
        </div>

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">处置建议</div>
            <div class="col-lg-6">
                <textarea cols="30" class="form-control" rows="5" placeholder="请输入事件内容" ng-model="add.save.extra.suggestion"></textarea>
            </div>
        </div>

        <div class="safe-decision-add-form">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 safe-decision-add-form-name">经验总结</div>
            <div class="col-lg-6">
                <textarea cols="30" class="form-control" rows="5" placeholder="请输入事件内容" ng-model="add.save.extra.content"></textarea>
            </div>
        </div>


    </div>
    <div class="safe-decision-add-submits">
        <div class="safe-decision-add-submits-submit">
            <button class="btn btn-success" ng-click="add.submit()" ng-disabled="list.$invalid">提交</button>
        </div>
        <div class="safe-decision-add-submits-submit">
            <button class="btn btn-danger" ng-click="add.cancel()">取消</button>
        </div>
    </div>
</div>
