<div class="widget layout-full add-reaction">
    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
        <div class="widget-content ui-layout-container" ng-style="{'overflow-y': 'scroll'}" ui-layout-container>
            <div ng-style="{'position': 'absolute', 'height': 'auto'}" class="layout-full">
                <div class="col-lg-12 content" ng-form="list">

                    <div class="col-lg-12 add-reaction-devices">
                        <div class="col-lg-2" ng-class="{'color-red': deviceAction.triggerDevice.length == 0}">触发设备：</div>
                        <div class="col-lg-8"
                             ng-class="{'border-red': deviceAction.triggerDevice.length == 0}">
                            <div class="col-lg-12 content">
                                <div class="col-lg-3" ng-repeat="rows in deviceAction.triggerDevice">
                                    <div>
                                        <i ng-if="!deviceAction.mod" class="fa fa-close" ng-click="deviceAction.closeDevice($index)"></i>
                                        <div class="col-lg-12"><i class="fa fa-desktop"></i>{{rows.name}}</div>
                                        <div class="col-lg-12"><i class="fa fa-tags"></i>{{rows.typename}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 footer text-right">
                                <button class="btn btn-success" ng-click="deviceAction.deviceFocus('trigger')" ng-disabled="deviceAction.mod">添加</button>
                                <button class="btn btn-danger" ng-click="deviceAction.closeDevice('clear')" ng-disabled="deviceAction.mod">清空</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 add-reaction-action" ng-class="{'red': !deviceAction.submitValue.trigger}">
                        <div class="col-lg-2" ng-class="{'color-red': deviceAction.submitValue.trigger == ''}">触发事件：</div>
                        <div class="col-lg-8">
                            <select class="form-control"
                                    ng-class="{'border-red': deviceAction.submitValue.trigger == ''}"
                                    ng-style="{'width': '100%', 'height': '40px', 'color': '#eee'}"
                                    ng-model="deviceAction.submitValue.trigger"
                                    ng-options="rows.action as rows.name for rows in deviceAction.trigger" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2" ng-style="{'padding': '30px 20px'}">执行动作：</div>
                    <div class="col-lg-8 proceed-event">

                        <div class="col-lg-12">
                            <div>执行步骤</div>
                            <div>执行设备</div>
                            <div>执行事件</div>
                            <div>执行参数</div>
                            <div>关联类型</div>
                        </div>

                        <div class="col-lg-12 order" ng-repeat="rows in deviceAction.submitValue.action">

                            <div>
                                <div class="col-lg-4">
                                    <i ng-class="{'shift-action': $index}" ng-click="deviceAction.direction($index, 'top')" class="fa fa-chevron-circle-up"></i>
                                </div>
                                <div class="col-lg-4">{{$index + 1}}</div>
                                <div class="col-lg-4">
                                    <i ng-class="{'shift-action': $index != deviceAction.submitValue.action.length - 1}" ng-click="deviceAction.direction($index, 'bottom')" class="fa fa-chevron-circle-down"></i>
                                </div>
                            </div>

                            <div ng-class="{'red': !rows.devices.name}">
                                <input ng-model="rows.devices.name"
                                       ng-focus="deviceAction.deviceFocus($index, rows.device.id)" required/>
                            </div>
                            <div ng-class="{'red': !rows.event}">
                                <select ng-model="rows.event"
                                        ng-options="rows.action as rows.name for rows in rows.actionTrigger" required></select>
                            </div>

                            <div class="device-args">
                                <input ng-model="rows.parameter"
                                       ng-focus="deviceAction.remindArgs($index, 'focus')"
                                       ng-blur="deviceAction.remindArgs($index, 'blur')"
                                        class="input{{$index}}"/>
                                <div class="args{{$index}}">
                                    <div class="col-lg-12"
                                         ng-repeat="line in deviceAction.argsList"
                                         ng-mousedown="deviceAction.getArgs(rows, line.value)">{{line.name}}</div>
                                </div>
                            </div>

                            <div>
                                <select ng-model="rows.relateType"
                                        ng-click="deviceAction.selectRelateType($index)" required>
                                    <option value="current">触发事件设备</option>
                                    <option value="relation">关联设备</option>
                                </select>
                            </div>

                            <div>
                                <div class="ou-btn addEvent fa fa-plus-circle" ng-click="deviceAction.addEvent()"></div>
                                <div class="ou-btn addEvent fa fa-times-circle" ng-click="deviceAction.delEvent($index)"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-layout-container size="47px">
            <div class="layout-full system-role-bar">
                <div class="layout-full text-right">
                    <button class="btn btn-success" ng-click="deviceAction.submit()" ng-disabled="list.$invalid"><i class="fa fa-edit fa-fw"></i>提交</button>
                    <button class="btn btn-danger" ng-click="deviceAction.cancel()"><i class="fa fa-minus fa-fw"></i>取消</button>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="deviceAction.deviceWindow" class="choiceDevice">
        <span ng-click="deviceAction.cancelWindow('cancel')" ng-style="{'position': 'fixed', 'left': 0, 'top': 0, 'width': '100%', 'height': '100%'}"></span>
        <div>

            <p class="col-lg-12">选择执行设备</p>
            <i ng-click="deviceAction.cancelWindow('cancel')" class="fa fa-close"></i>

            <div class="col-lg-12">

                <div class="col-lg-3 pull-left" ng-class="{'red': !deviceAction.submitValue.type}">
                    <p class="pull-left">设备类型：</p>
                    <select ng-model="deviceAction.submitValue.type"
                            ng-change="deviceAction.input('type')"
                            ng-options="rows.type as rows.name for rows in deviceAction.type"
                            ng-disabled="deviceAction.triggerDevice.length > 0 && deviceAction.scDevice.index == 'trigger'">
                    </select>
                </div>

                <div class="col-lg-3 pull-left">
                    <p class="pull-left">所在地图：</p>
                    <select ng-model="deviceAction.submitValue.map"
                            ng-change="deviceAction.inquiry()"
                            ng-options="rows.name as rows.name for rows in deviceAction.map">
                        <option value="">全部地图</option>
                    </select>
                </div>

                <div class="col-lg-3 pull-left">
                    <p class="pull-left">所在区域：</p>
                    <select ng-model="deviceAction.submitValue.area"
                            ng-change="deviceAction.inquiry()"
                            ng-options="rows.name as rows.name for rows in deviceAction.area">
                        <option value="">全部区域</option>
                    </select>
                </div>

                <div class="col-lg-3 pull-right" style="width:250px;">
                    <input type="text" class="form-control" ng-model="deviceAction.inquire" placeholder="输入设备名称过滤"/>
                </div>

            </div>

            <div class="col-lg-3">

                <div class="col-lg-12">已选择触发设备</div>
                <div class="col-lg-12">

                    <div>
                        <div class="col-lg-12" ng-repeat="rows in deviceAction.triggerDevice">
                            <i ng-if="!deviceAction.mod" class="fa fa-close" ng-click="deviceAction.closeDevice($index)"></i>{{rows.name}}
                        </div>
                    </div>

                    <div class="col-lg-12 text-right">
                        <button ng-disabled="deviceAction.mod" class="btn btn-danger" ng-click="deviceAction.closeDevice('clear')">清空</button>
                    </div>

                </div>

            </div>
            <div class="col-lg-9">

                <div class="col-lg-12">
                    <div class="col-lg-1">序号</div>
                    <div class="col-lg-3">设备名称</div>
                    <div class="col-lg-2">设备类型</div>
                    <div class="col-lg-2">所在地图</div>
                    <div class="col-lg-2">所在区域</div>
                    <div class="col-lg-2">操作</div>
                </div>

                <div class="col-lg-12" ng-style="{'overflow-y': 'scroll'}">
                    <div class="col-lg-12">
                        <div class="col-lg-12"
                             ng-repeat="rows in deviceAction.temporaryList | filter: deviceAction.inquire">
                            <div class="col-lg-1">{{$index + 1}}</div>
                            <div class="col-lg-3">{{rows.name}}</div>
                            <div class="col-lg-2">{{rows.typename}}</div>
                            <div class="col-lg-2" title="{{rows.mapname}}">{{(rows.mapnameTemp || rows.mapname)}}</div>
                            <div class="col-lg-2" title="{{rows.mapdtlname}}">{{(rows.mapdtlnameTemp || rows.mapdtlname)}}</div>
                            <div class="col-lg-2">
                                <button class="btn btn-success" ng-click="deviceAction.confirmDevice(rows, $index)">选择</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>