<div class="layout-full overflow-h safe-hardware-control">
    <div class="layout-full overflow-h bcb-opacity4 safe-hardware-control-box">
        <div class="layout-full overflow-h" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div ui-layout-container size="190px">
                <div class="layout-full overflow-h" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
                    <div class="safe-monitorcenter-imgpanel cursor-p" ui-layout-container size="270px" style="overflow:hidden;" safe-monitorcenter-map-touch data-show="true" data-touch="left">
                        <div ng-style="map.select" ng-show="map.select.type == 'map'"></div>
                        <i class="fa fa-windows fa-flip-horizontal" ng-show="map.select.type != 'map'" style="margin-top: 15px;"></i>
						<p>点击选择单位</p>
                    </div>
                    <div class="safe-hardware-control-box-title" ui-layout-container size="350px">
                        <h3><b>当前区域：{{map.select.name}}</b></h3>
                        <p>
                            <input type="checkbox" safe-switch checked ng-model="cascade" ng-change="setCascade()" data-on-text="是" data-off-text="否" data-on="info" data-off-color="default" data-label-text="包含下级" data-handle-width="64"/>
                        </p>
                        <div class="safe-hardware-control-box-title-bottom">
                            <h4><b>在线：{{map.select.on2 || map.select.on || 0}}</b></h4>
                            <h4><b>离线：{{map.select.off2 || map.select.off || 0}}</b></h4>
                        </div>
                    </div>
                    <div class="safe-hardware-control-box-title sep" ui-layout-container>
                        <h3><b>
                            批量操作：
                            <i ng-if="!isrun && selectCount">（已选中 {{selectCount}}）</i>
                            <i ng-if="isrun && selectCount">（{{runCount}} / {{selectCount}}）</i>
                        </b></h3>
                        <p ng-if="!selectCount" class="text-warning">
                            <i>（请在下表中选择需要批量操作的设备）</i>
                        </p>
                        <div class="safe-hardware-control-box-title-buttons">
                            <div class="safe-hardware-control-box-table-control" ng-repeat="c in controlButtons">
                                <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="controls(c)" ng-disabled="isrun" ng-if="c.actionstr != 'setDeviceVolume'">{{c.name}}</button>
                                <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="setBroadcastVolume.show(c, null, 'multi')" ng-disabled="isrun" ng-if="c.actionstr == 'setDeviceVolume'">{{c.name}}</button>
                            </div>
                            <div class="safe-hardware-control-box-table-control" ng-class="{'margin-top': !selectCount}">
                                <button class="btn btn-group layout-full" ng-click="goHardwareGroup()">设备分组</button>
                            </div>
                        </div>


                        <div class="iiw-safe-hardware-filter-container">
                            <div class="col-lg-5" ng-if="hardware.company.length > 1">
                                <div class="col-lg-3">厂商：</div>
                                <div class="col-lg-9">
                                    <select class="form-control" ng-change="search()" ng-model="hardware.filter.company" ng-options="rows.id as rows.name for rows in hardware.company">
                                        <option value="">全部厂商</option>
                                    </select>
                                </div>
                            </div>
							<div class="col-lg-4" ng-if="hardware.company.length >= 1">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="hardware.filter.searchFilter" ng-keypress="getHardWareList($event)" placeholder="请输入查询条件"/>
									<span class="input-group-btn">
									  <button class="btn btn-default" ng-click="search()" style="margin-top: -1px;"><i class="fa fa-search"></i></button>
									</span>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="safe-hardware-control-box-title-exit" ui-layout-container size="200px">
                        <i class="fa fa-arrow-circle-right" hm-tap="exit()"></i>
                    </div>
                </div>
            </div>
            <div ui-layout-container size="40px" ng-if="hardwareType !== 'door' && hardwareType !== 'talk'">
                <table class="layout-full bcb-opacity4 safe-hardware-control-box-table-title" cellpadding="0" cellspacing="0">
                    <col width="51px"/><col width="50px"/><col width="12%"/><col width="12%"/><col width="12%"/><col width="10%"/><col width="200px" ng-if="ycSpecial"/><col/><col width="10%"/>
                    <thead>
                        <tr>
                            <th class="text-center" style="position: relative">
                                <a class="safe-hardware-control-box-table-checkmask" ng-click="allcheck = !allcheck"></a>
                                <input type="checkbox" safe-hardware-list-check checkEvent="checkall" ng-model="allcheck"/>
                            </th>
                            <th>编号</th>
                            <th class="cursor-p" ng-click="orderList('name')">
                                名称
                                <i ng-show="listOrderValue == 'name' && !listOrderReverse" class="fa fa-caret-up"></i>
                                <i ng-show="listOrderValue == 'name' && listOrderReverse" class="fa fa-caret-down"></i>
                            </th>
                            <th class="cursor-p" ng-click="orderList('syouname')">
                                所属单位
                                <i ng-show="listOrderValue == 'syouname' && !listOrderReverse" class="fa fa-caret-up"></i>
                                <i ng-show="listOrderValue == 'syouname' && listOrderReverse" class="fa fa-caret-down"></i>
                            </th>
                            <th class="cursor-p" ng-click="orderList('mapname')">
                                所属区域
                                <i ng-show="listOrderValue == 'mapname' && !listOrderReverse" class="fa fa-caret-up"></i>
                                <i ng-show="listOrderValue == 'mapname' && listOrderReverse" class="fa fa-caret-down"></i>
                            </th>
                            <th class="cursor-p" ng-click="orderList('status')">
                                状态
                                <i ng-show="listOrderValue == 'status' && !listOrderReverse" class="fa fa-caret-up"></i>
                                <i ng-show="listOrderValue == 'status' && listOrderReverse" class="fa fa-caret-down"></i>
                            </th>
                            <th ng-if="ycSpecial">是否在线</th>
                            <th>操作</th>
                            <th class="cursor-p" ng-click="orderList('result')">
                                结果
                                <i ng-show="listOrderValue == 'result' && !listOrderReverse" class="fa fa-caret-up"></i>
                                <i ng-show="listOrderValue == 'result' && listOrderReverse" class="fa fa-caret-down"></i>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div ui-layout-container class="overflow-h">
<!--                <div class="layout-full safe-hardware-control-box-table-load" ng-if="loadState == 'O'">-->
<!--                    <div>-->
<!--                        <i class="fa fa-spinner fa-pulse"></i>数据加载中，请稍后……-->
<!--                    </div>-->
<!--                </div>-->
                <div class="layout-full safe-hardware-control-box-table-load" ng-if="loadState == 'P' && !list.length">
                    <div>
                        没有记录
                    </div>
                </div>
                <div class="layout-full">
                    <div class="layout-full" i-scroll data-load-event="nextPage()">
                        <div style="position: absolute; width: 100%;">
                            <table style="width: 100%;" cellpadding="0" cellspacing="0" ng-if="hardwareType !== 'door' && hardwareType !== 'talk'">
                                <col width="51px"/><col width="50px"/><col width="12%"/><col width="12%"/><col width="12%"/><col width="10%"/><col width="200px" ng-if="ycSpecial"/><col/><col width="10%"/>
                                <tbody>
                                    <tr class="safe-hardware-control-box-table-row {{row.check ? 'select' : ''}}" ng-repeat="row in list | filter: globalSearchFilter | orderBy : listOrderValue : listOrderReverse" hm-tap="clickRow($event, row)">
                                        <td class="text-center">
                                            <div class="safe-hardware-control-box-table-checkmask"></div>
                                            <input type="checkbox" safe-hardware-list-check ng-model="row.check" />
                                        </td>
                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            {{row.name}}
                                        </td>
                                        <td>
                                            {{row.syouname}}
                                        </td>
                                        <td>
                                            {{row.mapname}}
                                        </td>
                                        <td>
                                            {{row.status}}
                                        </td>
                                        <td class="text-success" ng-if="row.islink == 'Y'&&ycSpecial">
                                            <i class="fa fa-toggle-on" aria-hidden="true"></i>&nbsp;在线
                                        </td>
                                        <td class="text-warning" ng-if="row.islink == 'N'&&ycSpecial">
                                            <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;离线
                                        </td>
                                        <td>
                                            <div class="safe-hardware-control-box-table-control" ng-repeat="c in row.actions">
                                                <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="control(c, row)" ng-disabled="row.isrun" ng-if="c.actionstr != 'setDeviceVolume'">{{c.name}}</button>
                                                <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="setBroadcastVolume.show(c, row, 'single')" ng-disabled="row.isrun" ng-if="c.actionstr == 'setDeviceVolume'">{{c.name}}</button>
                                            </div>
                                            &nbsp;
                                        </td>
                                        <td ng-class="{ 'text-muted': row.state == 'W', 'text-info': row.state == 'R', 'text-success': row.state == 'S', 'text-danger': row.state == 'E' }" title="{{row.title}}">
                                            <any ng-switch="row.state">
                                                <any ng-switch-when="W"><i class="fa fa-circle-o-notch fa-spin"></i></any>
                                                <any ng-switch-when="R"><i class="fa fa-spinner fa-pulse"></i></any>
                                                <any ng-switch-when="S"><i class="fa fa-check"></i></any>
                                                <any ng-switch-when="E"><i class="fa fa-times"></i></any>
                                            </any>
                                            {{row.result}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--<div class="iiw-safe-hardware-load-icon" ng-if="list.length > 15 && !page.last">
                                加载中<i class="fa fa-spinner fa-pulse"></i>
                            </div>

                            <div class="iiw-safe-hardware-NoLoad-icon" ng-if="page.last &&  list.length > 15 && hardwareType !== 'door' && hardwareType !== 'talk'">
                                加载完成.....
                            </div>-->
                            <div class="iiw-safe-door-wrapper" ng-if="hardwareType === 'door' || hardwareType === 'talk'">
                                <div class="door-floor" ng-repeat="group in group | filter: globalSearchFilter | orderBy : listOrderValue : listOrderReverse">
                                    <div class="floor-name" ng-click="group.active ? group.active = false : group.active = true">
                                        {{group.mapname}}
                                        <i class="fa" ng-class="{'fa-caret-up': !group.active, 'fa-caret-down': group.active}"></i>
                                    </div>
                                    <ul class="door-list" ng-show="!group.active">
                                        <li class="door-item {{item.check ? 'select' : ''}}" ng-repeat="item in group.data | filter: globalSearchFilter | orderBy : listOrderValue : listOrderReverse" hm-tap="clickRow($event, item)">
                                        <div class="door">
<!--                                            <div class="box" ng-style="{backgroundColor: item.status === '关门' ? '#390' : 'red'}">-->
                                            <div class="box">
                                                <div class="room">
                                                    <div class="num">{{item.alias}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control" ng-repeat="c in item.actions" ng-if="c.name !== '关门'">
                                            <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="control(c, item)" ng-disabled="item.isrun" ng-if="c.actionstr != 'setDeviceVolume'">{{c.name}}</button>
                                            <button class="btn btn-{{listStyle[$index]}} layout-full" ng-click="setBroadcastVolume.show(c, item, 'single')" ng-disabled="item.isrun" ng-if="c.actionstr == 'setDeviceVolume'">{{c.name}}</button>
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="safe-hardware-control-actions" ng-show="isactions" hm-tap="toggleDoAction($event)" i-scroll>
    <div class="mytable">
        <div class="table-cell" style="padding: 50px;">
            <div class="table-span" style="width: {{actionsWidth}}px;">
                <div class="table-box" ng-repeat="control in actions" ng-click="doActions($event, control)">
                    <button class="layout-full mybutton">
                        {{control.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="safe-monitorcenter-map-panel"></div>
<div class="safe-monitorcenter-map-mask layout-full" safe-monitorcenter-map-touch data-hide="true" data-touch="right"></div>
