.system-commenting-bar{
    padding: 4px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}
.system-commenting-page-content{
    background-color: rgba(0,0,0,0.3);
}
.system-commenting-search{
    width: 200px;
    height: 39px;
}

.system-commenting-container{
    padding: 15px;
}

.form-horizontal .col-lg-4{
    margin-bottom: 15px;
}
.form-horizontal .col-lg-4 .form-group:last-of-type{
    margin-bottom: 0;
}
.wrap-top label{
    font-size: 16px;
    width: 100%;
}

.wrap-content{
    height: calc(100% - 94px);
    position: relative;
    width: 100%;
}

.ou-btn-group{
    /*position: absolute;*/
    /*top: -7px;*/
    /*right:0;*/
    font-size: 34px;
}

.ou-btn-group > .ou-btn.remove {
    opacity: 0.3;
}

.ou-btn-group > .ou-btn.remove:hover {
    /*color: rgba(255, 255, 255, 1);*/
    opacity: 1;
    cursor: pointer;
}

.iiw-safe-comments div[i-scroll2]>div{
    width: 100%;
}


.iiw-safe-comments table th,
.iiw-safe-comments table td{
    text-align: center;
    /*border-bottom:1px solid white;*/
    /*border-right:1px solid white;*/
}

.iiw-safe-comments table td input{
    width: 100%;
}

.rotate{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transition:-webkit-transform .3s linear;
    transition:transform .3s linear;
}

.back{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:-webkit-transform .3s linear;
    transition:transform .3s linear;
}

