<div class="iiw-system-page-container">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="60px" ui-layout-container>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="widget layout-full">
                    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div class="widget-header ui-layout-container" size="60px" ui-layout-container>
                            <div class="iiw-system-menu-bar-container">
                                <system-menu-bar></system-menu-bar>
                            </div>
                            <div class="iiw-system-search-bar-container">
                                <label class="pull-right">
                                    <input type="text" id="searchTitle" ng-model="search.name" placeholder="{{keyword}}" ng-keypress="searchPreplan($event)"/>
                                </label>
                            </div>
                        </div>
                        <div class="widget-content ui-layout-container" i-scroll ui-layout-container>
                            <div class="layout-full">
                                <table class="table table-hover iiw-system-table-container">
                                    <thead>
                                        <tr>
                                            <th class="iiw-system-table-header-container">
                                                <input id="checkAll" type="checkbox" ng-model="search.selectAll" ng-change="selAll()">
                                            </th>
                                            <th>预案名称</th>
                                            <th>事件类型</th>
                                            <th>作用单位</th>
                                            <th>预案等级</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in preplanList" ng-click="chooseRow(row)">
                                            <td class="iiw-system-table-header-container">
                                                <system-row-check ng-model="row.checked" class="rowCheck"></system-row-check>
                                            </td>
                                            <td>{{row.title}}</td>
                                            <td>{{row.content}}</td>
                                            <td>{{row.syouname}}</td>
                                            <td>{{row.lev}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pagination ui-layout-container pagination-layout-container" size="60px" ui-layout-container>
                            <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="totalSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>{{confirmMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="confirmDelete()">确定</button>
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>