<div class="iiw-system-page-container yStyle shopping">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">{{shopping.title}}</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="widget layout-full">
                    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div ui-layout-container size="47px">
                            <div class="layout-full system-role-bar">
                                <div class="layout-full">
                                    <button ng-disabled="shopping.modDis" class="btn btn-warning pull-left" ng-click="shopping.modBtn()"><i class="fa fa-edit fa-fw"></i>修改</button>
                                    <button ng-disabled="shopping.delDis" class="btn btn-danger pull-left" ng-click="shopping.delBtn()"><i class="fa fa-minus fa-fw"></i>删除</button>
                                    <div class="input-group pull-right" ng-style="{width:180 + 'px'}">
                                        <input type="text" class="form-control" ng-model="shopping.filterValue" ng-keyup="shopping.filter()" placeholder="请输入关键字筛选"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content ui-layout-container" ui-layout-container>
                            <div class="layout-full" ng-style="{'overflow': 'auto'}">
                                <table class="table table-hover iiw-system-table-container">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" ng-style="{width:20 + 'px', height:20 + 'px'}" ng-model="shopping.checked" ng-click="shopping.chooce()">
                                            </th>
                                            <th>序号</th>
                                            <th>姓名</th>
                                            <th>账号</th>
                                            <th>密码</th>
                                            <th>余额</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rows in shopping.list | filter: filterValue" ng-click="shopping.chooce(rows)">
                                            <th class="text-center">
                                                <input type="checkbox" ng-style="{width:20 + 'px', height:20 + 'px'}" ng-model="rows.checked" ng-click="shopping.chooce(rows)">
                                            </th>
                                            <th>{{$index + 1}}</th>
                                            <th>{{rows.xm}}</th>
                                            <th>{{rows.account}}</th>
                                            <th>{{rows.password}}</th>
                                            <th>{{rows.surplus}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination ui-layout-container pagination-layout-container" size="60px" ui-layout-container>
                <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="pagination pull-right" total-items="shopping.totalSize" ng-model="shopping.currentPage" ng-change=" getList()" items-per-page="shopping.pageSize" previous-text="上一页" next-text="下一页" max-size="5"></uib-pagination>
            </div>
        </div>
    </div>

    <div class="window" ng-if="shopping.window" ng-mousemove="shopping.shift($event.clientX, $event.clientY)">
        <div class="shadow" ng-style="shopping.shadowStyle" ng-mouseup="shopping.mouseClick($event)" ng-if="shopping.move"></div>
        <div ng-style="shopping.style" ng-form="lise">
            <i class="fa fa-close" title="关闭" ng-click="shopping.closeWindow()"></i>
            <h2 class="text-center" ng-mousedown="shopping.mouseClick($event)">添加账号</h2>
            <div class="input-group">
                <span class="input-group-addon">名字</span>
                <input ng-disabled="true" ng-model="shopping.submitList.xm" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">账号</span>
                <input ng-model="shopping.submitList.account" type="text" class="form-control" aria-describedby="basic-addon1" required>
                <i class="fa fa-user"></i>
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input ng-model="shopping.submitList.password" type="{{(shopping.state == 'show' && 'text' || 'password')}}" class="form-control" aria-describedby="basic-addon1" required>
                <i class="fa fa-eye{{(shopping.state != 'show' && '-slash' || '')}}" ng-click="shopping.toggle()"></i>
            </div>
            <div class="input-group">
                <span class="input-group-addon">确认密码</span>
                <input ng-model="shopping.again" ng-style="shopping.affirmPass" ng-focus="shopping.cancelColor()" type="{{(shopping.state == 'show' && 'text' || 'password')}}" class="form-control" aria-describedby="basic-addon1" required>
                <i class="fa fa-eye{{(shopping.state != 'show' && '-slash' || '')}}" ng-click="shopping.toggle()"></i>
            </div>
            <div class="input-group">
                <span class="input-group-addon">余额</span>
                <input ng-model="shopping.submitList.surplus" type="number" class="form-control" placeholder="上限为9位数" aria-describedby="basic-addon1" required>
                <i class="fa fa-cny"></i>
            </div>
            <div class="col-lg-12 text-right">
                <button class="btn btn-success" ng-click="shopping.submit()" ng-disabled="lise.$invalid">提交</button>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除选中的账号？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="shopping.delete()">确定</button>
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>