.system-loading-toast {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.system-loading-toast .loading-toast {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.system-loading-toast .loading-toast .loading-icon {
    font-size: 8em;
    margin: 50px 0 0;
}

.system-loading-toast .loading-toast .loading-content {
    margin-top: 20px;
    font-size: 20px;
}
