<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-table-container">
                    <div class="safe-bid-table-thead">
                        <table class="table table-bordered">
                            <col width="5%"><col width="30%"><col width="30%"><col />
                            <tr>
                                <td>序号</td>
                                <td>字段名称</td>
                                <td>字段描述</td>
                                <td>字段类型</td>
                            </tr>
                        </table>
                    </div>
                    <div class="safe-bid-table-body" i-scroll>
                        <div>
                            <table class="table table-hover table-bordered">
                                <col width="5%"><col width="30%"><col width="30%"><col />
                                <tr ng-repeat="row in detailsInfo">
                                    <td>{{$index + 1}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.description}}</td>
                                    <td>{{row.type}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-footer pull-right">
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-s-md btn-danger" type="button" ng-click="back()"><i class="fa fa-reply"></i>返     回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>