<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <form method="post" ng-style="{'padding-bottom': '50px'}" class="form-horizontal" id="pageForm" name="pageForm" novalidate>
                    <fieldset>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-12">
                                <div class="widget-content">
                                    <div class="control-group" ng-class="{'has-error' : (deviceform.entityItem.name.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">名   称：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.name" placeholder="输入名称" class="form-control" id="entityItem_name" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.name == null" style="color:red;">*请输入适配器名称</lable>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">适配器类型：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select ng-model="type" placeholder="请选择适配器类型" class="col-md-12" id="entityItem_type" required>
                                                        <option ng-repeat="row in typeList" value="{{row.id}}" content="">{{row.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="companyID == null" style="color:red;">*请选择适配器类型</lable>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group" ng-class="{'has-error' : (deviceform.entityItem.status.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">状   态：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select  ng-model="entityItem.status" placeholder="请选择状态" class="col-md-12 syrole-select-option" id="entityItem_status" required>
                                                        <option value="">请选择状态</option>
                                                        <option value="P">启用</option>
                                                        <option value="C">禁用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">备注：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.notes" placeholder="输入备注信息目" class="form-control" id=""/>
                                                </div>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-s-md btn-success" type="button" ng-click="save()" ng-disabled="pageForm.$invalid"><i class="fa fa-save"></i>保     存</button>
                            <button class="btn btn-s-md btn-danger" type="button" ng-click="back()"><i class="fa fa-reply"></i>返     回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>