<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="row">
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 监狱库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">40 ,886,200</h1>
                                <div class="safe-bid-box-stat-percent text-success">数据完整度：98% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 社矫信息库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">275,800</h1>
                                <div class="safe-bid-box-stat-percent text-danger">数据完整度：20% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 安置帮教信息库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">106,120</h1>
                                <div class="safe-bid-box-stat-percent text-danger">数据完整度：44% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 公安信息库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">80,600</h1>
                                <div class="safe-bid-box-stat-percent text-danger">数据完整度：38% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 检察院信息库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">106,120</h1>
                                <div class="safe-bid-box-stat-percent text-danger">数据完整度：44% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <!--<span class="safe-bid-box-label pull-right"><i class="fa fa-arrow-circle-right"></i> 查看明细</span>-->
                                <h5><i class="fa fa-database"></i> 法院信息库</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">80,600</h1>
                                <div class="safe-bid-box-stat-percent text-danger">数据完整度：38% <i class="fa fa-pie-chart"></i></div>
                                <small>数据总量</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row safe-bid-chart-body">
                    <div safe-bid-data-quality-chart>
                        <div class="safe-bid-data-quality-chart-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>