<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div safe-bid-data-ranking-chart class="layout-full">
                    <div class="safe-bid-data-ranking-chart-panel layout-full"></div>
                </div>
            </div>
        </div>
    </div>
</div>