<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-table-header">
                    <div class="row safe-bid-table-header-row">
                        <div class="col-md-4 safe-bid-table-header-row">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <span>{{dbname}}</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>{{tbname}}</span>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-8 safe-bid-table-header-search-group safe-bid-table-header-row">
                            <div class="btn btn-sm btn-info pull-right" title="导出记录"><i class="fa fa-file-excel-o"></i> 导出记录</div>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-container" i-scroll data-config="{&quot;scrollX&quot;: true, &quot;scrollY&quot;: false, &quot;mouseWheel&quot;: true, &quot;scrollbars&quot;: true, &quot;fadeScrollbars&quot;: true}">
                    <div style="position: relative; height: 100%;" ng-style="tableWidth">
                        <div class="safe-bid-table-thead">
                            <table class="table table-bordered">
                                <col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px">
                                <tr>
                                    <td>序号</td>
                                    <td>姓名</td>
                                    <td>性别</td>
                                    <td>出生年月</td>
                                    <td>国籍</td>
                                    <td>籍贯</td>
                                    <td>家庭住址</td>
                                    <td>罪名</td>
                                    <td>所在单位</td>
                                    <td>文化程度</td>
                                    <td>职业</td>
                                    <td>刑期</td>
                                    <td>刑期起日</td>
                                    <td>刑期止日</td>
                                    <td>是否累犯</td>
                                    <td>健康状况</td>
                                    <td>是否重点犯</td>
                                </tr>
                            </table>
                        </div>
                        <div class="safe-bid-table-body">
                            <div>
                                <table class="table table-hover table-bordered">
                                    <col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px">
                                    <tr ng-repeat="row in prisonList">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-left">{{row.name}}</td>
                                        <td class="text-left">{{row.xb}}</td>
                                        <td class="text-left">{{row.csny}}</td>
                                        <td class="text-left">{{row.gj}}</td>
                                        <td class="text-left">{{row.jg}}</td>
                                        <td class="text-left">{{row.jtzz}}</td>
                                        <td class="text-left">{{row.zm}}</td>
                                        <td class="text-left">{{row.szdw}}</td>
                                        <td class="text-left">{{row.whcd}}</td>
                                        <td class="text-left">{{row.zy}}</td>
                                        <td class="text-left">{{row.xq}}</td>
                                        <td class="text-left">{{row.xqqr}}</td>
                                        <td class="text-left">{{row.xqzr}}</td>
                                        <td class="text-left">{{row.sflf}}</td>
                                        <td class="text-left">{{row.jkzk}}</td>
                                        <td class="text-left">{{row.sfzdf}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-footer text-right">
                    <button class="btn btn-s-md btn-danger" type="button" ng-click="goToTablePage()"><i class="fa fa-reply"></i>返     回</button>
                </div>
            </div>
        </div>
    </div>
</div>