<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-table-header">
                    <div class="row safe-bid-table-header-row">
                        <div class="col-md-4 safe-bid-table-header-row">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <span>{{dbname}}</span>
                                </li>
                                <li class="breadcrumb-item">
                                    <span>{{tbname}}</span>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-8 safe-bid-table-header-search-group safe-bid-table-header-row">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入关键字进行查询">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">查询</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-container">
                    <div class="safe-bid-table-thead">
                        <table class="table table-bordered">
                            <col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col />
                            <tr>
                                <td>序号</td>
                                <td>表名</td>
                                <td>表描述</td>
                                <td>所属数据库</td>
                                <td>数据总量</td>
                                <td>字段总量</td>
                                <td>操作</td>
                            </tr>
                        </table>
                    </div>
                    <div class="safe-bid-table-body" i-scroll>
                        <div>
                            <table class="table table-hover table-bordered">
                                <col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col />
                                <tr ng-repeat="row in tableDetailList">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-left">{{row.name}}</td>
                                    <td class="text-left">{{row.notes}}</td>
                                    <td class="text-left">{{row.dbname}}</td>
                                    <td class="text-left">{{row.totalRecord}}</td>
                                    <td class="text-left">{{row.columnTotal}}</td>
                                    <td class="text-center"><a ng-click="showTableDetail(row)"><i class="fa fa-hand-o-right faa-passing animated"></i> 更多</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-footer pull-right">
                    <button class="btn btn-s-md btn-danger" type="button" ng-click="back()"><i class="fa fa-reply"></i>返     回</button>
                </div>
            </div>
        </div>
    </div>
</div>