<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-table-header">
                    <div class="row safe-bid-table-header-row">
                        <div class="col-md-4 safe-bid-table-header-row"></div>
                        <div class="col-md-8 safe-bid-table-header-search-group safe-bid-table-header-row">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入关键字进行查询">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">查询</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-data-dynasis-analysis-container">
                    <div class="safe-bid-table-thead">
                        <table class="table table-bordered">
                            <col width="5%"><col width="30%"><col width="30%"><col />
                            <tr>
                                <td class="text-center">序号</td>
                                <td>数据库名称</td>
                                <td>新增数据量</td>
                                <td>删除数据量</td>
                            </tr>
                        </table>
                    </div>
                    <div class="safe-bid-table-body" i-scroll>
                        <div>
                            <table class="table table-hover table-bordered">
                                <col width="5%"><col width="30%"><col width="30%"><col />
                                <tr ng-repeat="row in dataUpdateInfoList">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-left">{{row.dbname}}</td>
                                    <td class="text-left">{{row.addnum}}</td>
                                    <td class="text-left">{{row.delnum}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div safe-bid-data-dynamic-analysis-chart class="safe-bid-data-dynamic-analysis-chart-container">
                    <div class="safe-bid-data-dynamic-analysis-chart-panel"></div>
                </div>
            </div>
        </div>
    </div>
</div>