<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-log-filter-nav-bar"></div>
                <div safe-bid-log-manager-chart class="safe-bid-log-manager-chart-container pull-left">
                    <div class="safe-bid-log-manager-chart-panel"></div>
                </div>
            </div>
        </div>
    </div>
</div>