<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <form method="post" ng-style="{'padding-bottom': '50px'}" class="form-horizontal" id="pageForm" name="pageForm" novalidate>
                    <fieldset>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-12">
                                <div class="widget-content">
                                    <div class="control-group" ng-class="{'has-error' : (deviceform.entityItem.name.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">节点名称：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.name" placeholder="请输入节点名称" class="form-control" id="entityItem_name" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.name == null" style="color:red;">*请输入节点名称</lable>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">服务器IP：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.ip" placeholder="请输入服务器IP" class="form-control" id="entityItem_ip" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.ip == null" style="color:red;">*请输入服务器IP</lable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="safe-bid-page-hr-line-dashed"></div>
                                    <div class="control-group" ng-class="{'has-error' : (deviceform.entityItem.status.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">端口号：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.port" placeholder="请输入服务器端口号" class="form-control" id="entityItem_port" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.port == null" style="color:red;">*请输入服务器端口号</lable>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">关联机构：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.unit" placeholder="请输入关联机构" class="form-control" id="entityItem_unit" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.unit == null" style="color:red;">*请输入关联机构</lable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="safe-bid-page-hr-line-dashed"></div>
                                    <div class="control-group" ng-class="{'has-error' : (deviceform.entityItem.status.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label class="control-label">节点描述：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" ng-model="entityItem.notes" placeholder="请输入节点描述" class="form-control" id="entityItem_notes" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="entityItem.notes == null" style="color:red;">*请输入节点描述</lable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-s-md btn-success" type="button" ng-click="save()" ng-disabled="pageForm.$invalid"><i class="fa fa-save"></i>保     存</button>
                            <button class="btn btn-s-md btn-danger" type="button" ng-click="back()"><i class="fa fa-reply"></i>返     回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>