<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="row">
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box">
                            <div class="safe-bid-box-title">
                                <h5><i class="fa fa-file-video-o"></i> 镜像</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">4</h1>
                                <div class="safe-bid-box-stat-percent text-success"></div>
                                <small>数量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <h5><i class="fa fa-gear"></i> 应用</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">27</h1>
                                <div class="safe-bid-box-stat-percent text-danger"></div>
                                <small>数量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 safe-bid-box-container">
                        <div class="safe-bid-box ">
                            <div class="safe-bid-box-title">
                                <h5><i class="fa fa-cloud"></i> 服务</h5>
                            </div>
                            <div class="safe-bid-box-content">
                                <h1 class="no-margins">10</h1>
                                <div class="safe-bid-box-stat-percent text-danger"></div>
                                <small>数量</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row safe-bid-chart-body">
                    <div safe-bid-network-status-chart class="safe-bid-data-quality-chart-container pull-left">
                        <div class="safe-bid-network-status-chart-panel"></div>
                    </div>
                    <div safe-bid-hard-disk-status-chart class="safe-bid-data-hard-disk-chart-container pull-left">
                        <div class="safe-bid-hard-disk-status-chart-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>