<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-page-details-container">
                    <div class="safe-bid-widget-user">
                        <div class="safe-bid-widget-user-header bg-info">
                            <div class="safe-bid-widget-user-image">
                                <img class="img-circle elevation-2" src="{{imgPath + detailsInfo.photo}}">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="safe-bid-widget-user-username">{{detailsInfo.bftry.name}}</h3>
                            <h5 class="safe-bid-widget-user-desc">被访谈人员</h5>
                        </div>
                        <div class="safe-bid-widget-user-card-body">
                            <strong><i class="fa fa-file-text-o mr-1"></i> 出生年月</strong>
                            <p class="safe-bid-text-muted">{{detailsInfo.bftry.birthday}}</p>
                            <hr>
                            <strong><i class="fa fa-pencil mr-1"></i> 部门</strong>
                            <p class="safe-bid-text-muted">{{detailsInfo.bftry.ouname}}</p>
                            <hr>
                            <strong><i class="fa fa-pencil mr-1"></i> 罪名</strong>
                            <p class="safe-bid-text-muted">{{detailsInfo.bftry.zm}}</p>
                            <hr>
                            <strong><i class="fa fa-pencil mr-1"></i> 刑期</strong>
                            <p class="safe-bid-text-muted">{{detailsInfo.bftry.xqq}} -- {{detailsInfo.bftry.xqz}}</p>
                        </div>
                    </div>
                    <div class="safe-bid-widget-user">
                        <div class="safe-bid-widget-user-header bg-info">
                            <div class="safe-bid-widget-user-image">
                                <img class="img-circle elevation-2" src="{{imgPath + detailsInfo.photo2}}">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="safe-bid-widget-user-username">{{detailsInfo.ftry.name}}</h3>
                            <h5 class="safe-bid-widget-user-desc">访谈人员</h5>
                        </div>
                        <div class="safe-bid-widget-user-card-body">
                            <strong><i class="fa fa-file-text-o mr-1"></i> 所在单位</strong>
                            <p class="safe-bid-text-muted">{{detailsInfo.ftry.ouname}}</p>
                        </div>
                    </div>
                    <div class="safe-bid-widget-question-container">

                    </div>
                </div>
                <div class="safe-bid-table-footer pull-right">
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-s-md btn-danger" type="button" ng-click="back()"><i class="fa fa-reply"></i>返     回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>