<div class="layout-full">
    <div class="safe-bid-page-wrapper">
        <div class="safe-bid-page-inner">
            <div class="safe-bid-page-head-container">
                <h1 class="safe-bid-page-head-line">{{moudleTitle}}</h1>
            </div>
            <div class="safe-bid-page-body-container">
                <div class="safe-bid-table-header">
                    <div class="row safe-bid-table-header-row">
                        <div class="col-md-4 safe-bid-table-header-row"></div>
                        <div class="col-md-8 safe-bid-table-header-search-group safe-bid-table-header-row">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入关键字进行查询">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">查询</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-container">
                    <div class="safe-bid-table-thead">
                        <table class="table table-bordered">
                            <col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="25%"><col width="10%">
                            <tr>
                                <td class="text-center">序号</td>
                                <td>问卷名称</td>
                                <td>访谈人员</td>
                                <td>被访谈人员</td>
                                <td>访谈时间</td>
                                <td>答题情况</td>
                                <td>操作</td>
                            </tr>
                        </table>
                    </div>
                    <div class="safe-bid-table-body" i-scroll>
                        <div>
                            <table class="table table-hover table-bordered">
                                <col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="15%"><col width="25%"><col width="10%">
                                <tr ng-repeat="row in questionList">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.ftry.name}}</td>
                                    <td>{{row.bftry.name}}</td>
                                    <td>{{row.time}}</td>
                                    <td>{{row.result}}</td>
                                    <td>
                                        <!--<div class="btn btn-info" ng-click="showQuestionDetail(row)"><i class="fa fa-angle-double-right "></i> 查看明细</div>-->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="safe-bid-table-footer pull-right">
                    <uib-pagination boundary-links="true" first-text="&laquo;" last-text="&raquo;" class="alarm-no-margin" total-items="totalSize" ng-model="currentPage" ng-change="goPgaeNo()" previous-text="上一页" next-text="下一页" max-size="5" items-per-page="historyPageSize"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>