<div class="layout-full bigmonitortheme-alarmrelation">
    <div ui-layout options="{dividerSize:'0'}">
        <div ui-layout-container class="bigmonitortheme-alarmrelation-head text-center" size="50px">
            {{obj.name}}<label>【{{bigmonitorName}}】</label>
        </div>
        <div ui-layout-container class="bigmonitortheme-alarmrelation-body">
            <div class="layout-full">
                <div ng-repeat="rows in obj.themeShow track by $index">
                    <div class="modelFruit" ng-repeat="cols in rows" ng-style="{
                                                height:{{cols.style.height}} + '%',
                                                width:{{cols.style.width}} + '%',
                                                position: 'absolute',
                                                left: {{cols.style.left}} * (cols.index - 1) + '%',
                                                top: {{cols.style.top}} * $parent.$index + '%',
                                                'display': 'table',
                                                padding: 2 + 'px'}" ng-click="toggleRelated(cols.value)" title="点击设置默认联动监控窗格">
                        <div ng-style="{
                                                    'background-color': 'rgba(0,0,0,.3)',
                                                    height: 100 + '%',
                                                    width: 100 + '%',
                                                    'text-align': 'center',
                                                    'display': 'table-cell',
                                                    'vertical-align': 'middle',
                                                    'font-size': {{cols.style.height * cols.style.width}} / 50 + 'px'}">
                            {{cols.value}}
                        </div>
                        <i ng-if="oRelated[cols.value]" class="fa fa-link fa-flip-horizontal text-success" ng-style="{'font-size': {{cols.style.height * cols.style.width}} / 20 + 'px'}"></i>
                    </div>
                </div>
                <div class="layout-full bigmonitortheme-alarmrelation-loading" ng-if="loadingRelation">
                    <i class="fa fa-spinner fa-pulse"></i>
                </div>
            </div>
        </div>
        <div ui-layout-container class="bigmonitortheme-alarmrelation-foot" size="50px">
            <div ui-layout="{ flow:'column'}" options="{dividerSize:'0'}">
                <div ui-layout-container class="text-success" style="padding: 13px 0 0 20px;">
                    <i class="fa fa-link fa-flip-horizontal text-success"></i>：报警联动电视墙模式后，将报警设备关联的监控切换至已关联的窗格上。
                </div>
                <div ui-layout-container size="100px" style="padding-top:5px;">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-success" ng-click="save(roleForm.$invalid)" ng-disabled="roleForm.$invalid">保存</a>
                    </div>
                </div>
                <div ui-layout-container size="5px"></div>
                <div ui-layout-container size="100px" style="padding-top:5px;">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-danger" ng-click="back()">取消</a>
                    </div>
                </div>
                <div ui-layout-container size="5px"></div>
            </div>
        </div>
    </div>
</div>