<p style="margin-top: 30px;">
    <span style="margin-left: 13px;">行业操作:</span>
    <select ng-model="selectBusiness" ng-change="selectBusinessValue(selectBusiness)" style="width:292px; height:30px; border: 1px solid rgba(255, 255, 255, 0.25); background-color: rgba(53,53,53,0.9)">
        <option value="0">新增</option>
        <option value="1">删除</option>
    </select>
</p>
<p ng-if="selectBusiness == '0'">
    <span style="margin-left: 13px;">字母简称:</span>
    <input type="text" ng-model="addName" id="addName" style="background-color: rgba(255,255,255,0.1); width:292px; padding: 0"/>
</p>
<p ng-if="selectBusiness == '0'">
    <span style="margin-left: -1px;">新增行业名:</span>
    <input type="text" ng-model="addBsinessName" id="addBsinessName" style="background-color: rgba(255,255,255,0.1); width:292px; padding: 0"/>
</p>
<p ng-if="selectBusiness == '1'">
    <span style="margin-left: -1px;">删除行业名:</span>
    <select ng-options="item.content as item.name for item in businessList" ng-model="delBusinessName" ng-change="delBusiness(delBusinessName)" style="width:292px; height:30px; border: 1px solid rgba(255, 255, 255, 0.25); background-color: rgba(53,53,53,0.9)">
    </select>
</p>