<div class="iiw-system-page-container ystyle">
    <div class="stretch ui-layout-column" ui-layout="{ flow: 'column'}" options="{dividerSize:'0'}">
        <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
            <div class="ui-layout-container iiw-system-module-title-container" size="65px" ui-layout-container>
                <h2 class="page-title">通讯黑名单—列表</h2>
            </div>
            <div class="ui-layout-container" ui-layout-container ui-view>
                <div class="widget layout-full">
                    <div class="ui-layout-row" ui-layout="{ flow: 'row'}" options="{dividerSize:'0'}">
                        <div ui-layout-container size="47px">
                            <div class="layout-full system-role-bar">
                                <div class="layout-full">
                                    <button ng-disabled="blacklist.addDis" class="btn btn-success pull-left" ng-click="blacklist.addRole()"><i class="fa fa-plus fa-fw"></i>增加</button>
                                    <button ng-disabled="blacklist.modDis" class="btn btn-warning pull-left" ng-click="blacklist.modRole()"><i class="fa fa-edit fa-fw"></i>修改</button>
                                    <button ng-disabled="blacklist.delDis" class="btn btn-danger pull-left" ng-click="blacklist.remRole()"><i class="fa fa-minus fa-fw"></i>解除</button>
                                    <div class="input-group pull-right" style="width:250px;">
                                        <input type="text" class="form-control" ng-model="filterValue" placeholder="请输入关键字筛选"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content ui-layout-container" ui-layout-container>
                            <div class="layout-full">
                                <table class="table table-hover iiw-system-table-container">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" ng-style="{width:20 + 'px', height:20 + 'px'}" ng-model="blacklist.inputChooce" ng-click="blacklist.allChooce()">
                                            </th>
                                            <th>序号</th>
                                            <th>号码</th>
                                            <th>归属地</th>
                                            <th>加入时间</th>
                                            <th>到期时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rows in poneblacklist | filter: filterValue" ng-click="blacklist.chooce(this)">
                                            <th class="text-center">
                                                <input type="checkbox" ng-model="rows.bSelectAll" ng-style="{width:20 + 'px', height:20 + 'px'}"  ng-click="blacklist.chooce(this)">
                                            </th>
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <p ng-if="!rows.add">{{rows.callnumber}}</p>
                                                <div ng-if="rows.add" ng-class="{'red': !rows.callnumber}">
                                                    <input class="inputAddress form-control" type="text" ng-model="rows.callnumber"/>
                                                </div>
                                            </td>
                                            <td>
                                                <p>{{rows.belongarea}}</p>
                                            </td>
                                            <td>{{rows.cretime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td>
                                                <p ng-if="!(rows.mod || rows.add)" >{{rows.duetime | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                                                <div ng-if="rows.mod || rows.add" ng-class="{'red': !rows._duetime}">
                                                    <input class="inputAddress form-control" type="text" safe-picker p!format="Y-m-d H:i:s" p!timepicker="true" ng-model="rows._duetime" placeholder="若输入非日期格式则取当前系统时间！"/>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ui-layout-container size="47px">
                            <div class="layout-full system-role-bar text-right">
                                <button ng-disabled="blacklist.modBtn" class="btn btn-success" ng-click="blacklist.save()"><i class="fa fa-edit fa-fw"></i>保存</button>
                                <button ng-disabled="blacklist.modBtn" class="btn btn-danger" ng-click="blacklist.cancel()"><i class="fa fa-minus fa-fw"></i>取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
                    <h4 class="modal-title">消息提醒</h4>
                </div>
                <div class="modal-body">
                    <p>是否解除选中黑名单？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg btn-larger" data-dismiss="modal" ng-click="blacklist.delete()">确定</button>
                    <button class="btn btn-primary btn-lg btn-larger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


















