<div class="row">
    <div class="col-lg-12 ">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-align-left"></i>
                <h3>导出设备模板</h3>
            </div>
            <div class="widget-content">
                <form method="post" class="form-horizontal" id="exportform" name="exportform" novalidate>
                    <fieldset>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-12">
                                <div class="widget-content">
                                    <div class="control-group" ng-class="{'has-error' : (exportform.hardwaretype.$invalid || exportform.companyID.$invalid)}">
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label for="normal-field" class="control-label">设备类型：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select  ng-model="hardwaretype" class="col-md-12 device-select-option" id="hardwaretype" ng-options="obj.name for obj in entityHardItem" required></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="hardwaretype == null" style="color:red;">*请选择设备类型</lable>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 full-left">
                                            <div class="col-md-2">
                                                <label for="normal-field" class="control-label">设备厂商：</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select ng-model="companyID" placeholder="请选择设备厂商" class="col-md-12 device-select-option" id="entityItem_company" ng-change="showItmeProperties(this)" required>
                                                        <option ng-repeat="companyItem in hardwaretype.child" value="{{companyItem.id}}" content="">{{companyItem.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <lable ng-show="companyID == null" style="color:red;">*请选择设备厂商</lable>
                                            </div>
                                        </div>
                                        <!--<div class="col-lg-6 full-left">-->
                                            <!--<div class="col-md-2">-->
                                                <!--<label for="normal-field" class="control-label">所属单位：</label>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-6">-->
                                                <!--<div class="form-group">-->
                                                    <!--<input type="text" ng-model="entityItem.syouname" placeholder="选择单位名称" class="form-control" id="entityItem.syoufk" ng-click="showOuTree()" required/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<lable ng-show="entityItem.syoufk == null" style="color:red;">*请选择单位名称</lable>-->
                                                <!--<label ng-model="entityItem.syoufk" class="hidden"></label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div>
                            <button class="btn btn-s-md btn-primary" type="button" ng-click="exportExcel()" ng-disabled="exportform.$invalid">导  出</button>
                            <button class="btn btn-s-md btn-default" type="button" ng-click="back()">返     回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>