<div class="safe-tdt-layout-container">
    <div class="safe-tdt-map-container">
        <!-- 地图类型 -->
        <!-- <div class="maptype">
            <div class="maptype-card vector" ng-click="tdt.toggleMaptype('Vector')">
                <div class="name">矢量</div>
            </div>
            <div class="maptype-card image" ng-click="tdt.toggleMaptype('Image')">
                <div class="name">影像</div>
            </div>
        </div> -->
        <!-- 地图 -->
        <div id="tdtmap" class="map-container"></div>
    </div>
</div>

