<div class="safe-gis-marker-dialog-container">
    <div class="safe-gis-marker-dialog-form-container" ng-form="list">
        <div class="safe-gis-marker-form-row">
            <div class="col-lg-4">卡点名称</div>
            <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="form.name" required/>
            </div>
        </div>
        <div class="safe-gis-marker-form-row">
            <div class="col-lg-4">标注时间</div>
            <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="form.preplanTitle" required/>
            </div>
        </div>
        <div class="safe-gis-marker-form-row">
            <div class="col-lg-4">标注时间
                </div>
            <div class="col-lg-8">
                <input type="text" class="form-control" ng-model="form.preplanTitle" required/>
            </div>
        </div>
        <div class="safe-gis-marker-dialog-bottom-container">
            <button class="btn btn-success" ng-click="saveMarker()" ng-disabled="list.$invalid">保存</button>
            <button class="btn btn-danger" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>